[Desktop Entry]
X-KDE-Library=ktexteditor_exporter
X-KDE-PluginKeyword=ktexteditor_exporter
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-Email=mail@milianw.de
X-KDE-PluginInfo-Name=ktexteditorexporter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=ktexteditorexporter
Name=Exporter
Name[bg]=Изнасяне
Name[bs]=Izvozni program
Name[ca]=Exportador
Name[ca@valencia]=Exportador
Name[cs]=Exportér
Name[da]=Eksport
Name[de]=Exporter
Name[el]=Εξαγωγέας
Name[en_GB]=Exporter
Name[es]=Exportador
Name[et]=Eksport
Name[eu]=Esportatzailea
Name[fi]=Vienti
Name[fr]=Exportation
Name[ga]=Easpórtálaí
Name[gl]=Exportador
Name[he]=מייצא
Name[hu]=Exportálás
Name[ia]=Exportator
Name[it]=Esportazione
Name[ja]=エクスポーター
Name[kk]=Экспорттау
Name[km]=កម្មវិធី​នាំចេញ​
Name[ko]=내보내기
Name[lt]=Eksportuotojas
Name[lv]=Eksportētājs
Name[mr]=निर्यात करणारा
Name[nb]=Eksporterer
Name[nds]=Exporteren
Name[nl]=Exportprogramma
Name[pa]=ਐਕਸਪੋਰਟਰ
Name[pl]=Eksporter
Name[pt]=Exportação
Name[pt_BR]=Exportação
Name[ro]=Exportator
Name[ru]=Экспорт
Name[si]=අපනයකය
Name[sk]=Exportér
Name[sl]=Izvoznik
Name[sr]=Извозник
Name[sr@ijekavian]=Извозник
Name[sr@ijekavianlatin]=Izvoznik
Name[sr@latin]=Izvoznik
Name[sv]=Export
Name[tg]=Содиркунанда
Name[tr]=Dışa Aktarıcı
Name[ug]=چىقارغۇچ
Name[uk]=Інструмент експортування
Name[wa]=Ebagueu
Name[x-test]=xxExporterxx
Name[zh_CN]=导出器
Name[zh_TW]=匯出器
Comment=Export highlighted document to HTML
Comment[bg]=Изнасяне на избраните документи към HTML
Comment[bs]=Izvezi označeni dokument u HTML
Comment[ca]=Exporta el document ressaltat a HTML
Comment[ca@valencia]=Exporta el document ressaltat a HTML
Comment[cs]=Exportovat zvýrazněný dokument do HTML
Comment[da]=Eksportér fremhævet dokument til HTML
Comment[de]=Hervorgehobenes Dokument nach HTML exportieren
Comment[el]=Εξάγει το τονισμένο έγγραφο σε HTML
Comment[en_GB]=Export highlighted document to HTML
Comment[es]=Exportar como HTML el documento resaltado
Comment[et]=Esiletõstetud dokumenti eksport HTML-i
Comment[eu]=Esportatu nabarmendutako dokumentua HTMLra
Comment[fi]=Vie korostetun tiedoston HTML-muodossa
Comment[fr]=Exporte le document surligné en HTML
Comment[ga]=Easpórtáil an cháipéis aibhsithe mar HTML
Comment[gl]=Exportar o documento realzado a HTML
Comment[he]=מייצא מסמך עם הדגשת תחביר אל HTML
Comment[hu]=A kiemelt dokumentum exportálása HTML formátumba
Comment[ia]=Exporta le documento evidentiate a HTML
Comment[it]=Esporta i documenti evidenziati in HTML
Comment[kk]=Белгіленген құжатты HTML-ге экспорттау
Comment[km]=នាំចេញ​ឯកសារ​ដែល​​រំលេច​​ទៅកាន់​​ HTML
Comment[ko]=구문 강조된 문서를 HTML로 내보내기
Comment[lt]=Eksportuoti pažymėtą dokumentą į HTML
Comment[lv]=Eksportēt izcelto dokumentu HTML formātā
Comment[mr]=ठळक केलेल दस्तऐवज HTML मध्ये निर्यात करा
Comment[nb]=Eksporter fremhevede dokumenter til HTML
Comment[nds]=Syntaxmarkeert Dokment as HTML exporteren
Comment[nl]=Geaccentueerd document exporteren naar HTML
Comment[pa]=ਹਾਈਲਾਈਟ ਕੀਤਾ ਡੌਕੂਮੈਂਟ HTML ਐਕਸਪੋਰਟ ਕਰੋ
Comment[pl]=Eksportuj podświetlony dokument do HTML
Comment[pt]=Exportar o documento com realce para HTML
Comment[pt_BR]=Exporta o documento selecionado para HTML
Comment[ro]=Exportă documentul evidențiat în HTML
Comment[ru]=Экспорт документов в HTML
Comment[si]=උපුටාගත් ලේඛනය HTML වෙත අපනයනය කරයි
Comment[sk]=Exportovať zvýraznený dokument do HTML
Comment[sl]=Izvozite poudarjen dokument v HTML
Comment[sr]=Извози документе са истицањем у ХТМЛ
Comment[sr@ijekavian]=Извози документе са истицањем у ХТМЛ
Comment[sr@ijekavianlatin]=Izvozi dokumente sa isticanjem u HTML
Comment[sr@latin]=Izvozi dokumente sa isticanjem u HTML
Comment[sv]=Exportera markerat dokument till HTML
Comment[tg]=Ҳуҷҷати интихобшуда ба HTML содир кунед
Comment[tr]=Vurgulanan belgeyi HTML olarak dışa aktar
Comment[ug]=يورۇتۇلغان پۈتۈكنى HTML گە چىقار
Comment[uk]=Експорт позначеного документа до HTML
Comment[wa]=Ebaguer l' documint metou e sorbriyance èn HTML
Comment[x-test]=xxExport highlighted document to HTMLxx
Comment[zh_CN]=将高亮的文档导出成 HTML
Comment[zh_TW]=將突顯的文件匯出為 HTML
