[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekonsoleplugin
X-Kate-Version=2.8
Name=Terminal tool view
Name[de]=Werkzeugansicht für Terminal
Name[el]=Προβολή εργαλείου τερματικού
Name[et]=Terminali tööriistavaade
Name[fr]=Vue des outils pour le terminal
Name[it]=Strumento visivo per terminale
Name[ja]=ターミナルツールビュー
Name[nl]=Terminalweergave
Name[pt]=Área de ferramentas do terminal
Name[pt_BR]=Área de ferramentas do terminal
Name[sr]=Приказ терминала
Name[sr@latin]=Prikaz terminala
Name[sv]=Terminalverktygsvy
Name[uk]=Вигляд засобу термінала
Name[x-test]=xxTerminal tool viewxx
Name[zh_CN]=终端工具视图
Name[zh_TW]=終端機工具檢視
Comment=Toolview embedding a terminal widget
Comment[de]=Werkzeugansicht, die ein Terminalelement einbettet
Comment[el]=Προβολή εργαλείου που ενσωματώνει ένα συστατικό τερματικού
Comment[et]=Terminalividinat põimiv tööriistavaade
Comment[fr]=Vue des outils intégrant un élément graphique (widget) pour le terminal
Comment[it]=Strumento visivo per incorporare un terminale
Comment[ja]=ターミナルウィジェットを埋め込んだツールビュー
Comment[nl]=Weergave met ingebedde terminal
Comment[pt]=Área de ferramentas que incorpora uma consola
Comment[pt_BR]=Área de ferramentas que incorpora um console
Comment[sr]=Алатка угњежденог терминала
Comment[sr@latin]=Alatka ugnježdenog terminala
Comment[sv]=Verktygsvy med en inbäddad grafisk terminalkomponent
Comment[x-test]=xxToolview embedding a terminal widgetxx
Comment[zh_CN]=嵌入一个终端构件的工具视图
Comment[zh_TW]=嵌入終端機元件的工具檢視
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
