[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katexmltoolsplugin
Name=XML Completion
Name[ar]=إكمال XML
Name[ast]=Completáu de XML
Name[bg]=Довършване на XML
Name[bs]=Dopuna XML‑a
Name[ca]=Compleció XML
Name[ca@valencia]=Compleció XML
Name[cs]=Doplňování XML
Name[da]=XML-fuldførelse
Name[de]=XML-Vervollständigung
Name[el]=Συμπλήρωση XML
Name[en_GB]=XML Completion
Name[es]=Terminación XML
Name[et]=XML-i lõpetus
Name[eu]=XMLren osaketa
Name[fa]=اعتبارسنجی Kate XML
Name[fi]=XML-täydennys
Name[fr]=Complètement du XML
Name[ga]=Comhlánú XML
Name[gl]=Completación de XML
Name[he]=השלמת XML
Name[hu]=XML-kiegészítő
Name[ia]=Completion XML
Name[id]=Penyelesaian XML
Name[it]=Completamento XML
Name[ja]=XML 補完
Name[kk]=XML толықтыруы
Name[km]=ការ​បំពេញ XML​
Name[ko]=XML 자동 완성
Name[lt]=XML pabaigimas
Name[lv]=XML pabeigšana
Name[mr]=XML पूर्णत्व
Name[nb]=XML-fullføring
Name[nds]=XML-Kompletteren
Name[nl]=XML-aanvulling
Name[nn]=XML-fullføring
Name[pa]=XML ਪੂਰਨਤਾ
Name[pl]=Uzupełnianie kodu XML
Name[pt]=Completação de XML
Name[pt_BR]=Completamento de XML
Name[ro]=Completare XML
Name[ru]=Автодополнение для XML
Name[si]=XML පූර්ණකරනය
Name[sk]=XML dopĺňanie
Name[sl]=Dopolnjevanje XML-ja
Name[sr]=Допуна ИксМЛ‑а
Name[sr@ijekavian]=Допуна ИксМЛ‑а
Name[sr@ijekavianlatin]=Dopuna XML‑a
Name[sr@latin]=Dopuna XML‑a
Name[sv]=XML-komplettering
Name[tg]=Пуркунии XML
Name[tr]=XML Tamamlama
Name[ug]=XML تاماملاش
Name[uk]=Завершення XML
Name[vi]=Tự động hoàn tất XML
Name[wa]=Completaedje XML
Name[x-test]=xxXML Completionxx
Name[zh_CN]=XML 补全
Name[zh_TW]=XML 補完
Comment=Lists XML elements, attributes, attribute values and entities allowed by DTD
Comment[ar]=يسرد عناصر XML، وصفاتها، وقيم صفاتها وكياناتها التي يسمح بها DTD
Comment[ast]=Llista elementos, atributos, valores d'atributos y entidaes XML permitíos por DTD
Comment[bg]=Списък с XML елементи, атрибути, стойности на атрибути и entity-та, дефинирани от DTD
Comment[bs]=Nabraja XML elemente, atribute, vrijednosti atributa i entitete koje DTD dozvoljava
Comment[ca]=Llista els elements XML, atributs, valors dels atributs i entitats permeses per la DTD
Comment[ca@valencia]=Llista els elements XML, atributs, valors dels atributs i entitats permeses per la DTD
Comment[cs]=Vypisuje prvky, atributy, hodnoty atributů a entity XML povolené DTD
Comment[da]=Lister XML-elementer, attributter, attributværdier og elementer tilladt af DTD
Comment[de]=Zeigt XML-Elemente, Attribute, Attributwerte und Entitäten an, die von der DTD definiert werden
Comment[el]=Εμφάνιση στοιχείων XML, ιδιοτήτων, τιμών ιδιοτήτων και οντοτήτων που επιτρέπονται από το DTD
Comment[en_GB]=Lists XML elements, attributes, attribute values and entities allowed by DTD
Comment[es]=Lista elementos XML, atributos, valores de atributos y entidades permitidas por la DTD
Comment[et]=Näitab DTD-ga lubatud XML-i elemente, atribuute, atribuutide väärtusi ja olemeid
Comment[eu]=XML elementuak, atributuak, atributuen balioak eta DTDak baimendutako entitateak zerrendatzen ditu
Comment[fi]=Luettelee DTD:n sallimat XML-elementit, -määreet, -määreiden arvot ja -entiteetit
Comment[fr]=Liste les éléments, attributs, valeurs d'attributs et entités XML autorisés par la DTD
Comment[ga]=Liostaigh eilimintí XML, aitreabúidí, luachanna aitreabúide agus aonáin atá ceadaithe ag an DTD
Comment[gl]=Lista elementos, atributos, valores de atributos e entidades XML permitidos pola DTD
Comment[he]=מציג אלמטנטים, מאיפיינים ערכים של מאפיינים ויישויות של XML המוגדרים ב־DTD
Comment[hu]=Kilistázza a DTD-ben engedélyezett elemeket, attribútumokat, attribútumértékeket és entitásokat
Comment[ia]=Lista elementos XML, attributos, valores de attributo e entitates permittite per DTD
Comment[id]=Daftarkan elemen XML, atribut, nilai atribut dan entitas yang diperbolehkan DTD
Comment[it]=Elenca gli elementi XML, gli attributi, i loro valori e le entità permesse dalla DTD
Comment[ja]=DTD で許可されている XML の要素、属性およびその値やエンティティを表示します
Comment[kk]=DTD рұқсат еткен XML элементтерін, олардың атрибуттарын, атрибут мәні және нысандарын тізімдейді
Comment[km]=រាយ​ធាតុ XML គុណ​លក្ខណៈ តម្លៃ​គុណ​លក្ខណៈ និង​ធាតុ​បាន​អនុញ្ញាត​ដោយ DTD
Comment[ko]=XML 구성 요소, 속성과 값, DTD가 허용하는 엔티티 보이기
Comment[lt]=Pateikia XML elementus, atributus, atributų reikšmes ir esybes (entities), leistas DTD
Comment[lv]=Rāda XML elementus, atribūtus, atribūtu vērtības un entītijas, ko atļauj DTD
Comment[mr]=DTD ने परवानगी दिलेल्या XML घटक, विशेषता, विशेषता मूल्य यांची यादी करतो
Comment[nb]=Lister XML-elementer, attributter, attributtverdier og entiteter som DTD-en tillater
Comment[nds]=Wiest de XML-Elementen, Attributen, Attributweerten un Entiteten, de vun de DTD verlöövt sünd
Comment[ne]=डीटीडीद्वारा अनुमति दिएको एक्सएमएल तत्व, विशेषता, विशेषता मान र अस्तित्व सूचीबद्ध गर्दछ
Comment[nl]=Somt XML-elementen, -atributen, -atribuutwaarden en -entiteiten op die door de DTD zijn toegestaan
Comment[nn]=Viser oversikt over gyldige XML-element, -attributt og -attributtverdiar basert på DTD-en
Comment[pl]=Lista elementów XML, atrybutów, wartości atrybutów i jednostek dozwolonych przez DTD
Comment[pt]=Apresenta os elementos, atributos, valores de atributos e entidades permitidas pelo DTD
Comment[pt_BR]=Lista os elementos, atributos, valores dos atributos e entidades de XML permitidos pelo DTD
Comment[ro]=Listează elemente XML, atribute, valori de atribute și entități permise de DTD
Comment[ru]=Перечисляет элементы XML, их атрибуты, значения атрибутов и записи, разрешённые DTD
Comment[si]=DTD මගින් ඉඩ දෙන XML කොටස්, උපලක්‍ෂණ, උපලක්‍ෂණ අගයන් හා භූතාර්ථ ලැයිස්තුගත කරයි
Comment[sk]=Vypísať XML elementy, atribúty, hodnoty atribútov a entity povolené DTD
Comment[sl]=Pokaže seznam predmetov, lastnosti, vrednosti lastnosti in entitet XML, ki jih dovoljuje DTD
Comment[sr]=Набраја ИксМЛ елементе, атрибуте, вредности атрибута и ентитете које ДТД дозвољава
Comment[sr@ijekavian]=Набраја ИксМЛ елементе, атрибуте, вриједности атрибута и ентитете које ДТД дозвољава
Comment[sr@ijekavianlatin]=Nabraja XML elemente, atribute, vrijednosti atributa i entitete koje DTD dozvoljava
Comment[sr@latin]=Nabraja XML elemente, atribute, vrednosti atributa i entitete koje DTD dozvoljava
Comment[sv]=Listar XML-element, attribut, attributvärden och objekt som tillåts av DTD
Comment[tg]=Қисмҳои XML, нишонаҳо, арзишҳои нишона ва объектҳои иҷозатшудаи DTD дар феҳраст ворид мекунад
Comment[tr]=XML ögelerini, özelliklerini, özellik değerlerini ve DTD tarafından izin verilen varlıkları listeler
Comment[ug]=DTD ئېنىقلىمىسىغا ئاساسەن يول قويىدىغان XML ئېلېمېنتى، خاسلىقى، خاسلىق قىممىتى ۋە گەۋدىسىنىڭ تىزىمىنى كۆرسىتىدۇ
Comment[uk]=Список елементів XML, атрибути, значення атрибутів і об’єктів дозволених DTD
Comment[vi]=Liệt kê phần tử XML, thuộc tính, giá trị thuộc tính và các hạng mục cho phép bởi DTD
Comment[x-test]=xxLists XML elements, attributes, attribute values and entities allowed by DTDxx
Comment[zh_CN]=根据 DTD 定义列出允许的 XML 元素、属性、属性值及实体
Comment[zh_TW]=列出通過 DTD 的 XML 元素、屬性、屬性值與實體
