[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katexmltoolsplugin
Name=XML Completion
Comment=Lists XML elements, attributes, attribute values and entities allowed by DTD
