[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katereplicodeplugin
X-Kate-Version=2.8

Name=Replicode
Name[ca]=Replicode
Name[de]=Replicode
Name[es]=Replicode
Name[fi]=Replicode
Name[fr]=Replicode
Name[ia]=Replicode
Name[it]=Replicode
Name[nds]=Replicode
Name[nl]=Replicode
Name[pl]=Replicode
Name[pt]=Replicode
Name[pt_BR]=Replicode
Name[sk]=Replikovať
Name[sl]=Replicode
Name[sr]=Репликод
Name[sr@ijekavian]=Репликод
Name[sr@ijekavianlatin]=Replicode
Name[sr@latin]=Replicode
Name[sv]=Replicode
Name[uk]=Replicode
Name[x-test]=xxReplicodexx
Name[zh_TW]=Replicode
Comment=Replicode
Comment[ca]=Replicode
Comment[de]=Replicode
Comment[es]=Replicode
Comment[fi]=Replicode
Comment[fr]=Replicode
Comment[ia]=Replicode
Comment[it]=Replicode
Comment[nds]=Replicode
Comment[nl]=Replicode
Comment[pl]=Replicode
Comment[pt]=Replicode
Comment[pt_BR]=Replicode
Comment[sk]=Replikovať
Comment[sl]=Replicode
Comment[sr]=Репликод
Comment[sr@ijekavian]=Репликод
Comment[sr@ijekavianlatin]=Replicode
Comment[sr@latin]=Replicode
Comment[sv]=Replicode
Comment[uk]=Replicode
Comment[x-test]=xxReplicodexx
Comment[zh_TW]=Replicode
GenericName=Replicode
GenericName[ca]=Replicode
GenericName[de]=Replicode
GenericName[es]=Replicode
GenericName[fi]=Replicode
GenericName[fr]=Replicode
GenericName[ia]=Replicode
GenericName[it]=Replicode
GenericName[nds]=Replicode
GenericName[nl]=Replicode
GenericName[pl]=Replicode
GenericName[pt]=Replicode
GenericName[pt_BR]=Replicode
GenericName[sk]=Replikovať
GenericName[sl]=Replicode
GenericName[sr]=Репликод
GenericName[sr@ijekavian]=Репликод
GenericName[sr@ijekavianlatin]=Replicode
GenericName[sr@latin]=Replicode
GenericName[sv]=Replicode
GenericName[uk]=Replicode
GenericName[x-test]=xxReplicodexx
GenericName[zh_TW]=Replicode
