[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katereplicodeplugin
X-Kate-Version=2.8

Name=Replicode
Name[de]=Replicode
Name[nl]=Replicode
Name[sv]=Replicode
Name[uk]=Replicode
Name[x-test]=xxReplicodexx
Comment=Replicode
Comment[de]=Replicode
Comment[nl]=Replicode
Comment[sv]=Replicode
Comment[uk]=Replicode
Comment[x-test]=xxReplicodexx
GenericName=Replicode
GenericName[de]=Replicode
GenericName[nl]=Replicode
GenericName[sv]=Replicode
GenericName[uk]=Replicode
GenericName[x-test]=xxReplicodexx
