[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katereplicodeplugin
X-Kate-Version=2.8

Name=Replicode
Name[ca]=Replicode
Name[de]=Replicode
Name[fi]=Replicode
Name[nl]=Replicode
Name[pt]=Replicode
Name[pt_BR]=Replicode
Name[sk]=Replikovať
Name[sl]=Replicode
Name[sv]=Replicode
Name[uk]=Replicode
Name[x-test]=xxReplicodexx
Name[zh_TW]=Replicode
Comment=Replicode
Comment[ca]=Replicode
Comment[de]=Replicode
Comment[fi]=Replicode
Comment[nl]=Replicode
Comment[pt]=Replicode
Comment[pt_BR]=Replicode
Comment[sk]=Replikovať
Comment[sl]=Replicode
Comment[sv]=Replicode
Comment[uk]=Replicode
Comment[x-test]=xxReplicodexx
Comment[zh_TW]=Replicode
GenericName=Replicode
GenericName[ca]=Replicode
GenericName[de]=Replicode
GenericName[fi]=Replicode
GenericName[nl]=Replicode
GenericName[pt]=Replicode
GenericName[pt_BR]=Replicode
GenericName[sk]=Replikovať
GenericName[sl]=Replicode
GenericName[sv]=Replicode
GenericName[uk]=Replicode
GenericName[x-test]=xxReplicodexx
GenericName[zh_TW]=Replicode
