[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katecolorpickerplugin
Name=Color Picker
Comment=Adds an inline Color preview/picker to colors in the text (e.g. #FFFFFF, white)
