[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katecolorpickerplugin
Name=Color Picker
Name[ca]=Selector de color
Name[es]=Selector de color
Name[nl]=Kleurenkiezer
Name[pt]=Extracção de Cores
Name[sv]=Färghämtare
Name[uk]=Піпетка
Name[x-test]=xxColor Pickerxx
Comment=Adds an inline Color preview/picker to colors in the text (e.g. #FFFFFF, white)
Comment[ca]=Afegeix una vista prèvia/selector de colors inclòs per als colors del text (p. ex., #FFFFFF, blanc)
Comment[es]=Añade una vista previa/selector de color en línea para los colores del texto (por ejemplo, #FFFFFF, blanco).
Comment[nl]=Voegt een inline kleurenvoorbeeld/kiezer toe aan kleuren in de tekst (bijv. #FFFFFF, wit)
Comment[pt]=Adiciona uma antevisão/selector de cores incorporada nas cores do texto (p.ex., #FFFFFF, white)
Comment[sv]=Lägger till en färggranskare/färghämtare på plats i texten (t.ex. #FFFFFF, vit)
Comment[uk]=Додає вбудовану панель попереднього перегляду і піпетку для кольорів у тексті (наприклад, #FFFFFF, білого)
Comment[x-test]=xxAdds an inline Color preview/picker to colors in the text (e.g. #FFFFFF, white)xx
