[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kategitblameplugin
Name=Git Blame
Comment=Adds an inline git-blame preview at the end of the line
