[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kategitblameplugin
Name=Git Blame
Name[az]=Git Blame
Name[ca]=Git Blame
Name[ca@valencia]=Git Blame
Name[cs]=Git Blame
Name[de]=Git Blame
Name[en_GB]=Git Blame
Name[es]=Git Blame
Name[fr]=Blame « Git »
Name[ia]=Git Blame
Name[it]=Git Blame
Name[ko]=Git Blame
Name[nl]=Git-Blame
Name[pl]=Git Blame
Name[pt]=Anotação do Git
Name[sk]=Git Blame
Name[sv]=Git klandra
Name[uk]=Git Blame
Name[x-test]=xxGit Blamexx
Name[zh_CN]=Git Blame
Comment=Adds an inline git-blame preview at the end of the line
Comment[az]=Git blame verilənlərinin daxili görünüşünü sətirin sonuna əlavə edir
Comment[ca]=Afegeix una vista prèvia inclosa de «git-blame» al final de la línia
Comment[ca@valencia]=Afig una vista prèvia inclosa de «git-blame» al final de la línia
Comment[de]=Zeigt eine Vorschau von „git-blame“ am Zeilenende an
Comment[en_GB]=Adds an inline git-blame preview at the end of the line
Comment[es]=Añade una vista previa en línea de git-blame al final de cada línea
Comment[fr]=Ajoute un aperçu en ligne de blame « git » à la fin de la ligne
Comment[ia]=Adde un vista preliminar integrate de git-blame al fin de linea
Comment[it]=Aggiunge un'anteprima in linea di git-blame alla fine della riga
Comment[ko]=줄 내에서 줄 끝에 git-blame 미리 보기 표시
Comment[nl]=Voegt een inline git-blame voorbeeldweergave aan het eind van de regel
Comment[pl]=Dodaje podgląd git-blame w wierszu, na jego końcu
Comment[pt]=Adiciona uma antevisão incorporada do 'git-blame' no fim da linha
Comment[sk]=Na koniec riadku pridá vložený náhľad git-blame
Comment[sv]=Lägger till en förhandsgranskning från git klandra i slutet på raden
Comment[uk]=Додає вбудований перегляд даних git-blame наприкінці рядка
Comment[x-test]=xxAdds an inline git-blame preview at the end of the linexx
Comment[zh_CN]=在行尾添加内联的 git-blame 预览
