[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateexternaltoolsplugin
X-Kate-Version=2.8
Name=External Tools
Name[be]=Знешнія інструменты
Name[el]=Εξωτερικά εργαλεία
Name[x-test]=xxExternal Toolsxx
Comment=External Tools
Comment[be]=Знешнія інструменты
Comment[el]=Εξωτερικά εργαλεία
Comment[x-test]=xxExternal Toolsxx
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
