[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateexternaltoolsplugin
X-Kate-Version=2.8
Name=External Tools
Name[be]=Знешнія інструменты
Name[de]=Externe Werkzeuge
Name[el]=Εξωτερικά εργαλεία
Name[es]=Herramientas externas
Name[it]=Strumenti esterni
Name[ja]=外部ツール
Name[pt]=Ferramentas Externas
Name[pt_BR]=Ferramentas Externas
Name[sv]=Externa verktyg
Name[x-test]=xxExternal Toolsxx
Name[zh_TW]=外部工具
Comment=External Tools
Comment[be]=Знешнія інструменты
Comment[de]=Externe Werkzeuge
Comment[el]=Εξωτερικά εργαλεία
Comment[es]=Herramientas externas
Comment[it]=Strumenti esterni
Comment[ja]=外部ツール
Comment[pt]=Ferramentas Externas
Comment[pt_BR]=Ferramentas Externas
Comment[sv]=Externa verktyg
Comment[x-test]=xxExternal Toolsxx
Comment[zh_TW]=外部工具
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
