[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_classic
Name=Simple Python Console
Name[de]=Einfache Python-Konsole
Name[es]=Consola de Python sencilla
Name[fi]=Yksinkertainen Python-konsoli
Name[gl]=Consola simple de Python
Name[ia]=Simple consolle de Python
Name[kk]=Қарапайым Python консолі
Name[nl]=Eenvoudige Python-console
Name[pt]=Consola de Python Simples
Name[pt_BR]=Console de Python simples
Name[sk]=Jednoduchá konzola Python
Name[sl]=Preprosta konzola za Python
Name[sr]=Једноставна питонска конзола
Name[sr@ijekavian]=Једноставна питонска конзола
Name[sr@ijekavianlatin]=Jednostavna Python konzola
Name[sr@latin]=Jednostavna Python konzola
Name[sv]=Enkel Python-terminal
Name[tr]=Basit Python Konsolu
Name[uk]=Проста консоль Python
Name[x-test]=xxSimple Python Consolexx
Name[zh_TW]=簡單的 Python 主控台
Comment=Interactive console for inspecting Kate's internals and playing about
Comment[de]=interaktive Konsole für die Untersuchung der Internas von Kate
Comment[es]=Consola interactiva para inspeccionar las interioridades de Kate y jugar con ellas
Comment[fi]=Interaktiivinen konsoli Katen sisusten tutkimiseen ja leikkimiseen
Comment[gl]=Unha consola interactiva para inspeccionar e modificar o interior de Kate
Comment[ia]=Consolle interactive pro inspectionar elementos interne de Kate e jocar con illos
Comment[kk]=Kate-тің ішкі құрылысын қарап айналасу үшін интерактивті консолі
Comment[nl]=Interactieve console voor inspecteren van de internals van Kate en er mee spelen
Comment[pt]=Consola interactiva para inspeccionar e mudar os dados internos do Kate
Comment[pt_BR]=Console interativo para inspecionar e mudar os dados internos do Kate
Comment[sk]=Interaktívna konzola na prieskum Kate internals a hranie
Comment[sl]=Vzajemna konzola za nadzor nad notranjimi funkcijami Kate in za igranje
Comment[sr]=Интерактивна конзола за испитивање Кејтине унутрашњости и играње
Comment[sr@ijekavian]=Интерактивна конзола за испитивање Кејтине унутрашњости и играње
Comment[sr@ijekavianlatin]=Interaktivna konzola za ispitivanje Kateine unutrašnjosti i igranje
Comment[sr@latin]=Interaktivna konzola za ispitivanje Kateine unutrašnjosti i igranje
Comment[sv]=Interaktiv terminal för att inspektera interna delar av &kate; och leka med dem
Comment[tr]=Kate'teki içsel şeyler ve ne üzerinde çalıştığını incelemek için etkileşimli konsol
Comment[uk]=Інтерактивна консоль для вивчення принципів роботи Kate та інших речей
Comment[x-test]=xxInteractive console for inspecting Kate's internals and playing aboutxx
Comment[zh_TW]=互動式主控台，觀察 Kate 內部用
X-Python-2-Compatible=true
