[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_classic/python_console_classic.py
Name=Simple Python Console
Name[de]=Einfache Python-Konsole
Name[nl]=Eenvoudige Python-console
Name[pt]=Consola de Python Simples
Name[sk]=Jednoduchá konzola Python
Name[sl]=Preprosta konzola za Python
Name[uk]=Проста консоль Python
Name[x-test]=xxSimple Python Consolexx
Comment=Interactive console for inspecting Kate's internals and playing about
Comment[de]=interaktive Konsole für die Untersuchung der Internas von Kate
Comment[nl]=Interactieve console voor inspecteren van de internals van Kate en er mee spelen
Comment[pt]=Consola interactiva para inspeccionar e mudar os dados internos do Kate
Comment[sk]=Interaktívna konzola na prieskum Kate internals a hranie
Comment[sl]=Vzajemna konzola za nadzor nad notranjimi funkcijami Kate in za igranje
Comment[uk]=Інтерактивна консоль для вивчення принципів роботи Kate та інших речей
Comment[x-test]=xxInteractive console for inspecting Kate's internals and playing aboutxx
X-Python-2-Compatible=true
X-Python-3-Compatible=true
