[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katebuildplugin
Name=Build Plugin
Comment=Compile or Make and parse error messages
