[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katebuildplugin
Name=Build Plugin
Name[ar]=ملحقة البناء
Name[ast]=Complementu de compilación
Name[bg]=Приставка за построяване
Name[bs]=Priključak za gradnju
Name[ca]=Connector de construcció
Name[ca@valencia]=Connector de construcció
Name[cs]=Modul pro překlad
Name[da]=Bygge-plugin
Name[de]=Erstellen-Modul
Name[el]=Πρόσθετο κατασκευής
Name[en_GB]=Build Plugin
Name[es]=Complemento de construcción
Name[et]=Ehitamisplugin
Name[eu]=Eraikitzeko plugina
Name[fi]=Koostamisliitännäinen
Name[fr]=Module externe de compilation
Name[ga]=Breiseán Tógála
Name[gl]=Complemento de construción
Name[he]=תוסף בנייה
Name[hu]=Lefordító bővítmény
Name[ia]= Plug-in Build (Plug-in de construer)
Name[id]=Plugin Build
Name[it]=Estensione di compilazione
Name[ja]=ビルドプラグイン
Name[kk]=Плагинді құру
Name[km]=ស្ថាបនា​កម្មវិធី​ជំនួយ​​
Name[ko]=빌드 플러그인
Name[lt]=Sukūrimo papildinys
Name[lv]=Būvēšanas spraudnis
Name[mr]=बिल्ड प्लगइन
Name[nb]=Bygg programtillegg
Name[nds]=Buumoduul
Name[nl]=Bouwplug-in
Name[nn]=Byggje-tillegg
Name[pa]=ਬਿਲਡ ਪਲੱਗਇਨ
Name[pl]=Wtyczka budowania
Name[pt]='Plugin' de Compilação
Name[pt_BR]=Plugin de compilação
Name[ro]=Modul de construire
Name[ru]=Модуль для сборки ПО
Name[si]=ප්ලගිනය ගොඩනගන්න
Name[sk]=Build Plugin
Name[sl]=Vstavek za izgradnjo
Name[sr]=Прикључак за градњу
Name[sr@ijekavian]=Прикључак за градњу
Name[sr@ijekavianlatin]=Priključak za gradnju
Name[sr@latin]=Priključak za gradnju
Name[sv]=Bygginsticksprogram
Name[tg]=Эҷоди плагин
Name[tr]=Derleme Eklentisi
Name[ug]=قىستۇرما قۇر
Name[uk]=Додаток для збирання
Name[wa]=Tchôke-divins d' bastixhaedje
Name[x-test]=xxBuild Pluginxx
Name[zh_CN]=构建插件
Name[zh_TW]=編譯外掛程式
Comment=Compile or Make and parse error messages
Comment[ar]=تصرّف أو تصنع/Make وتحلّل رسائل الخطأ
Comment[ast]=Compila o fai make y analiza mensaxes de fallu
Comment[bs]=Kompilovanje ili spravljanje i raščlanjivanje grešaka
Comment[ca]=Compila o construeix amb Make i analitza els missatges d'error
Comment[ca@valencia]=Compila o construeix amb Make i analitza els missatges d'error
Comment[cs]=Zkompilovat či sestavit a analyzovat chybová hlášení
Comment[da]=Oversættelse eller Make og fortolkning af fejlmeddelelser
Comment[de]=Kompilieren oder Make aufrufen und Fehlermeldungen ausgeben
Comment[el]=Σφάλματα μηνυμάτων μεταγλώττισης ή εκτέλεσης Make και ανάλυσης
Comment[en_GB]=Compile or Make and parse error messages
Comment[es]=Compilar o usar make y analizar mensajes de error
Comment[et]=Kompileerimine või ehitamine (make) ja veateadete parsimine
Comment[eu]=Konpilatu edo Make eta analizatu erroreen mezuak
Comment[fi]=Kääntää tai ajaa maken ja jäsentää virheilmoitukset
Comment[fr]=Compile ou lance « make » et analyse syntaxiquement les messages d'erreur
Comment[ga]=Tiomsaigh nó Tóg agus parsáil teachtaireachtaí earráide
Comment[gl]=Compila ou constrúe e procesa as mensaxes de erro
Comment[he]=בנייה ופיענוח של שגיאות בנייה
Comment[hu]=Fordítás vagy Make művelet a hibaüzenetek feldolgozásával
Comment[ia]=Compila o face e analysa messages de error
Comment[id]=Kompilasi atau Buat dan parse pesan error
Comment[it]=Compila o esegui make ed elabora i messaggi di errore
Comment[ja]=コンパイルまたは make してエラーメッセージを解析します
Comment[kk]=Компиляция не жинақтау және талдау қателіктер хабарламалары
Comment[km]=Compile ឬ Make និង​ញែកសារ​កំហុស
Comment[ko]=컴파일, 메이크 실행 및 오류 메시지 처리
Comment[lt]=Kompiliuoti arba kurti ir išvesti klaidų pranešimus
Comment[lv]=Kompilē un analizē kļūdu ziņojumus
Comment[mr]=कंपाईल किंवा मेक व त्रुटी संदेश वाचतो
Comment[nb]=Kompiler eller bygg, og tolk feilmeldinger
Comment[nds]=Kompileren oder "Make" utföhren un Fehlermellen inlesen
Comment[nl]=Compileer of voer Make uit en analyseer foutmeldingen
Comment[nn]=Kompiler eller bygg, og tolk feilmeldingar
Comment[pl]=Kompiluj lub uruchom make i przeanalizuj komunikaty o błędach
Comment[pt]=Compilar ou construir e processar as mensagens de erro
Comment[pt_BR]=Compila ou executa o Make e processa as mensagens de erro
Comment[ro]=Compilează sau rulează Make și parcurge mesajele de eroare
Comment[ru]=Сборка и обработка сообщений об ошибках
Comment[si]=දෝශ පණිවුඩ සම්පාදනය හෝ සාදා පළ කරන්න
Comment[sk]=Preložiť alebo zlinkovať a skontrolovať chybové správy
Comment[sl]=Prevedite izvorno kodo in razčlenite sporočila o napakah
Comment[sr]=Компиловање или справљање и рашчлањивање грешака
Comment[sr@ijekavian]=Компиловање или справљање и рашчлањивање грешака
Comment[sr@ijekavianlatin]=Kompilovanje ili spravljanje i raščlanjivanje grešaka
Comment[sr@latin]=Kompilovanje ili spravljanje i raščlanjivanje grešaka
Comment[sv]=Kompilera eller bygg och tolka felmeddelanden
Comment[tg]=Ҳамгардон ё эҷод кунед ва паёмҳо дар бораи хато гиред
Comment[tr]=Derleme ya da Make ve ayrıştırma hata iletileri
Comment[ug]=تەرجىمە-تەھرىر ياكى بۇيرۇق قۇرىدۇ ھەمدە خاتالىق ئۇچۇرىنى تەھلىل قىلىدۇ
Comment[uk]=Компілює або збирає і обробляє повідомлення про помилки
Comment[wa]=Compiler ou fé make eyet messaedjes d' aroke d' analijhe del sintake
Comment[x-test]=xxCompile or Make and parse error messagesxx
Comment[zh_CN]=执行编译或构建命令并分析错误讯息
Comment[zh_TW]=編譯或執行 make 並分析錯誤訊息
