[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katehelloworldplugin
X-Kate-Version=2.9
Name=Hello World Plugin
Comment=Your short description about the plugin goes here
