[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katehelloworldplugin
X-Kate-Version=2.9
Name=My First Kate Plugin
Name[ja]=はじめての Kate プラグイン
Name[x-test]=xxMy First Kate Pluginxx
Comment=Your short description about the plugin goes here
Comment[ja]=プラグインの簡単な説明をここに書きます
Comment[x-test]=xxYour short description about the plugin goes herexx
