[Desktop Entry]
Type=Service
Comment=Select an icon and use it as a KIcon in your source-code
Comment[ca]=Selecciona una icona i l'usa com a KIcon en el codi font
Comment[ca@valencia]=Selecciona una icona i l'usa com a KIcon en el codi font
Comment[en_GB]=Select an icon and use it as a KIcon in your source-code
Comment[es]=Seleccionar un icono y usarlo como KIcon en el código fuente
Comment[fr]=Choisissez une icône et utilisez-la comme « KIcon » dans votre code source
Comment[it]=Seleziona un'icona e usala come una KIcon nel tuo codice sorgente
Comment[pt]=Seleccione um ícone e use-o como um KIcon no seu código-fonte
Comment[pt_BR]=Selecione um ícone e use-o como um KIcon no seu código-fonte
Comment[sv]=Välj en ikon och använd den som en KIcon i källkoden
Comment[uk]=Оберіть піктограму і використайте її як KIcon у коді вашої програми
Comment[x-test]=xxSelect an icon and use it as a KIcon in your source-codexx
Name=IconInserter
Name[ca]=IconInserter
Name[ca@valencia]=IconInserter
Name[en_GB]=IconInserter
Name[es]=IconInserter
Name[fr]=IconInserter
Name[it]=IconInserter
Name[pt]=Inserção de Ícones
Name[pt_BR]=Inserção de Ícones
Name[sv]=Infoga ikon
Name[uk]=IconInserter
Name[x-test]=xxIconInserterxx
GenericName=Insert Code for KIcon-Creation
GenericName[ca]=Insereix codi per creació de KIcon
GenericName[ca@valencia]=Insereix codi per creació de KIcon
GenericName[en_GB]=Insert Code for KIcon-Creation
GenericName[es]=Insertar código para creación de KIcon
GenericName[fr]=Insère du code pour la création de KIcon
GenericName[it]=Inserisci codice per la creazione di KIcon
GenericName[pt]=Inserir o Código de Criação de KIcon's
GenericName[pt_BR]=Inserir o código de criação de KIcon's
GenericName[sv]=Infoga kod för att skapa en KIcon
GenericName[uk]=Додавання коду для створення KIcon
GenericName[x-test]=xxInsert Code for KIcon-Creationxx
Icon=kcoloredit
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_iconinserter
X-KDE-PluginKeyword=ktexteditor_iconinserter
X-KDE-PluginInfo-Name=kdeviconinserter
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé (The User)
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Website=the-user.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL_V3
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
