[Desktop Entry]
Type=Service
Comment=Select an icon and use it as a KIcon in your source-code
Comment[en_GB]=Select an icon and use it as a KIcon in your source-code
Comment[et]=Ikooni valimine ja selle kasutamine KIconina oma lähtekoodis
Comment[gl]=Escoller unha icona e empregala como KIcon no código fonte
Comment[ia]=Selige un icone e usa lo como un KIcon in tu codice fonte
Comment[nb]=Velg et ikon og bruk det som et KIcon i din kildekode
Comment[nds]=Söök en Lüttbild ut, un bruuk dat binnen Dien Bornkode as KIcon.
Comment[nl]=Selecteer een pictogram en gebruik het als een KIcon in uw broncode
Comment[pt]=Seleccionar um ícone e usá-lo como KIcon no seu código-fonte
Comment[pt_BR]=Selecione um ícone e use-o como um KIcon no seu código-fonte
Comment[ru]=Вставка значка для использования как KIcon в коде программы
Comment[sv]=Välj en ikon och använd den som en KIcon i källkoden
Comment[tr]=Bir simge seçin ve kaynak kodunuzda KIcon olarak kullanın
Comment[uk]=Виберіть піктограму і використайте її як KIcon у коді вашої програми
Comment[wa]=Tchoezixhoz ene imådjete eyet l' eployî dins vosse côde sourdant
Comment[x-test]=xxSelect an icon and use it as a KIcon in your source-codexx
Comment[zh_TW]=選擇一個圖示，並在您的程式碼中做為 KIcon
Name=IconInserter
Name[de]=Symboleinfüger
Name[en_GB]=IconInserter
Name[et]=Ikoonilisaja
Name[gl]=IconInserter
Name[ia]=Iconinserter (Insertator de Icones)
Name[nb]=Ikoninnsetting
Name[nds]=Lüttbild infögen
Name[nl]=PictogramInvoegen
Name[pt]=Inserção de Ícone
Name[pt_BR]=Inserção de ícones
Name[ru]=Вставка значка
Name[sv]=Infoga ikon
Name[tg]=Воридкунандаи нишонаҳо
Name[tr]=SimgeEkleyici
Name[uk]=Вставка піктограм
Name[wa]=IconInserter
Name[x-test]=xxIconInserterxx
Name[zh_TW]=IconInserter
GenericName=Insert Code for KIcon-Creation
GenericName[cs]=Vložit kód pro vytvoření KIcon
GenericName[de]=Quelltext zur KIcon-Erstellung einfügen
GenericName[en_GB]=Insert Code for KIcon-Creation
GenericName[et]=Koodi lisamine KIconi loomiseks
GenericName[gl]=Inserir código para a creación de KIcon
GenericName[ia]=Inserta Codice pro Creation de KIcon
GenericName[nb]=Sett inn kode for å lage KIcon
GenericName[nds]=Kode för't KIcon-Opstellen infögen
GenericName[nl]=Voeg code in voor het aanmaken met KIcon
GenericName[pt]=Inserir o Código de Criação do KIcon
GenericName[pt_BR]=Inserir o código de criação de KIcons
GenericName[ru]=Вставка кода для создания KIcon
GenericName[sv]=Infoga kod för att skapa en KIcon
GenericName[tr]=KIcon-Oluşturma için Kod Ekle
GenericName[uk]=Додавання коду для створення KIcon
GenericName[wa]=Stitchî do côde po KIcon-Creation
GenericName[x-test]=xxInsert Code for KIcon-Creationxx
GenericName[zh_TW]=插入程式碼產生 KIcon
Icon=kcoloredit
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_iconinserter
X-KDE-PluginKeyword=ktexteditor_iconinserter
X-KDE-PluginInfo-Name=kdeviconinserter
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé (The User)
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Website=the-user.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL_V3
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
