[Desktop Entry]
Type=Service
Comment=Select an icon and use it as a KIcon in your source-code
Comment[bg]=Изберете икона за използване като KIcon в изходния ви код
Comment[ca]=Seleccioneu una icona i utilitzeu-la com a «KIcon» en el codi font
Comment[ca@valencia]=Seleccioneu una icona i utilitzeu-la com a «KIcon» en el codi font
Comment[da]=Vælg et ikon og brug det som et KIcon i din kildekode
Comment[de]=Wählen Sie ein Symbol und verwenden Sie dieses als KIcon innerhalb Ihres Quelltextes.
Comment[el]=Επιλέξτε ένα εικονίδιο και χρησιμοποιήστε το ως KIcon στον πηγαίο κώδικα σας
Comment[en_GB]=Select an icon and use it as a KIcon in your source-code
Comment[es]=Seleccionar un icono y usarlo como KIcon en su código fuente
Comment[et]=Ikooni valimine ja selle kasutamine KIconina oma lähtekoodis
Comment[gl]=Escolle unha icona e emprégaa como un KIcon no código fonte
Comment[hr]=Odaberite ikonu i koristite je kao KIcon u svom izvornom kodu
Comment[ia]=Il Selectiona un icone e le usa como un Kicon in tu codice fonte
Comment[id]=Pilih sebuah ikon dan gunakan itu sebagai KIcon di kode program anda
Comment[is]=Veldu táknmynd og notaðu hana sem KIcon í grunnkóðanum þínum
Comment[ja]=アイコンを選択して、ソースの中で KIcon として使用
Comment[kk]=Бастапқы кодыңызда KIcon ретінде қолданатын таңбашаны таңдау
Comment[km]=ជ្រើស​រូបតំណាង ហើយ​ប្រើ​វា​ជា​ KIcon នៅ​ក្នុង​កូដ​ប្រភព​របស់​អ្នក
Comment[ko]=아이콘을 선택하고 소스 코드에서 KIcon으로 사용합니다
Comment[nb]=Velg et ikon og bruk det som et KIcon i din kildekode
Comment[nds]=Söök en Lüttbild ut, un bruuk dat binnen Dien Bornkode as KIcon.
Comment[nl]=Selecteer een pictogram en gebruik het als een KIcon in uw broncode
Comment[pt]=Seleccione um ícone e use-o como um KIcon no seu código-fonte
Comment[pt_BR]=Selecione um ícone e use-o como um KIcon no seu código-fonte
Comment[ru]=Вставка значка для использования как KIcon в коде программы
Comment[sk]=Vyberte ikonu a použije ju ako KIcon vo svojom zdrojovom kóde
Comment[sr]=Изаберите икону која ће бити KIcon у вашем изворном коду
Comment[sr@ijekavian]=Изаберите икону која ће бити KIcon у вашем изворном коду
Comment[sr@ijekavianlatin]=Izaberite ikonu koja će biti KIcon u vašem izvornom kodu
Comment[sr@latin]=Izaberite ikonu koja će biti KIcon u vašem izvornom kodu
Comment[sv]=Välj en ikon och använd den som en KIcon i källkoden
Comment[tg]=Нишонаро интихоб кунед ва онро ҳамчун KIcon истифода баред
Comment[th]=เลือกไอคอนและใช้มันให้เป็นแบบ KIcon ในโค้ดต้นฉบับของคุณ
Comment[tr]=Bir simge seçin ve kaynak kodunuzda KIcon olarak kullanın
Comment[uk]=Виберіть піктограму і використайте її як KIcon у коді вашої програми
Comment[x-test]=xxSelect an icon and use it as a KIcon in your source-codexx
Comment[zh_CN]=选择一个图标，然后在您的源代码中将其用作 KIcon
Comment[zh_TW]=選擇一個圖示，並在您的程式碼中做為 KIcon
Name=IconInserter
Name[bg]=Вмъкване на икона
Name[ca]=Inserció d'icona
Name[ca@valencia]=Inserció d'icona
Name[da]=IconInserter
Name[de]=Symboleinfüger
Name[el]=Εισαγωγή εικονιδίου
Name[en_GB]=IconInserter
Name[es]=IconInserter
Name[et]=Ikoonilisaja
Name[gl]=IconInserter
Name[hr]=IconInserter
Name[ia]=Insertator de Icones
Name[id]=IconInserter
Name[is]=TáknmyndaInnsetning
Name[ja]=アイコンインサーター
Name[kk]=Таңбашаны ендіру
Name[km]=កម្មវិធី​បញ្ចូល​រូបតំណាង
Name[ko]=아이콘 선택기
Name[nb]=Ikoninnsetting
Name[nds]=Lüttbild infögen
Name[nl]=PictogramInvoegen
Name[nn]=Set inn
Name[pa]=IconInserter
Name[pt]=Inserção de Ícones
Name[pt_BR]=Inserção de Ícones
Name[ru]=Вставка значка
Name[sk]=Vkladanie ikon
Name[sr]=Уметач икона
Name[sr@ijekavian]=Уметач икона
Name[sr@ijekavianlatin]=Umetač ikona
Name[sr@latin]=Umetač ikona
Name[sv]=Infoga ikon
Name[tg]=Вориди нишона
Name[th]=ตัวแทรกไอคอน
Name[tr]=IconInserter
Name[uk]=IconInserter
Name[x-test]=xxIconInserterxx
Name[zh_CN]=图标插入器
Name[zh_TW]=IconInserter
GenericName=Insert Code for KIcon-Creation
GenericName[bg]=Въведете код за създаване на KIcon
GenericName[ca]=Inseriu el codi per a la creació de KIcon
GenericName[ca@valencia]=Inseriu el codi per a la creació de KIcon
GenericName[da]=Indsæt kode til KIcon-Creation
GenericName[de]=Quelltext zur KIcon-Erstellung einfügen
GenericName[el]=Εισαγωγή κώδικα για δημιουργία KIcon
GenericName[en_GB]=Insert Code for KIcon-Creation
GenericName[es]=Insertar código para la creación de un KIcon
GenericName[et]=Koodi lisamine KIconi loomiseks
GenericName[gl]=Insere código para a creación de KIcon
GenericName[hr]=Umetnite kod za KIcon-Creation
GenericName[ia]=Il Inserta codice pro le creation de KIcon
GenericName[id]=Masukkan Kode untuk Membuat KIcon
GenericName[is]=Settu inn kóða fyrir KIcon-gerð
GenericName[ja]=KIcon 作成のためのコードを挿入
GenericName[kk]=KIcon-құру үшін кодын енгізу
GenericName[km]=បញ្ចូល​កូដ​សម្រាប់​ការ​បង្កើត​ KIcon
GenericName[ko]=KIcon을 만드는 코드 삽입
GenericName[nb]=Sett inn kode for å lage KIcon
GenericName[nds]=Kode för't KIcon-Opstellen infögen
GenericName[nl]=Voeg code in voor het aanmaken met KIcon
GenericName[nn]=Set inn før deklarasjon
GenericName[pt]=Inserir o Código de Criação de KIcon's
GenericName[pt_BR]=Inserir o código de criação de KIcons
GenericName[sk]=Vloží kód pre vytvorenie KIcon
GenericName[sr]=Уметање кода за стварање KIcon‑а
GenericName[sr@ijekavian]=Уметање кода за стварање KIcon‑а
GenericName[sr@ijekavianlatin]=Umetanje koda za stvaranje KIcon‑a
GenericName[sr@latin]=Umetanje koda za stvaranje KIcon‑a
GenericName[sv]=Infoga kod för att skapa en KIcon
GenericName[tg]=Рамзро барои эҷоди KIcon ворид намоед
GenericName[th]=แทรกโค้ดต้นรหัสสำหรับการสร้างเป็นแบบ KIcon
GenericName[tr]=KIcon-Creation için Kod Ekle
GenericName[uk]=Додавання коду для створення KIcon
GenericName[x-test]=xxInsert Code for KIcon-Creationxx
GenericName[zh_CN]=KDE 图标的插入代码
GenericName[zh_TW]=插入程式碼產生 KIcon
Icon=kcoloredit
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_iconinserter
X-KDE-PluginKeyword=ktexteditor_iconinserter
X-KDE-PluginInfo-Name=kdeviconinserter
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé (The User)
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Website=the-user.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL_V3
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
