[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kate_kttsd
X-Kate-Version=3.0
Icon=kttsd
Name=KTextEditor KTTSD Plugin
Name[pt]='Plugin' do KTTSD para o KTextEditor
Name[pt_BR]=Plugin do KTextEditor para o KTTSD
Name[sv]=KTTSD-insticksprogram för Ktexteditor
Name[uk]=Втулок KTextEditor KTTSD
Name[x-test]=xxKTextEditor KTTSD Pluginxx
Comment=Adds a menu entry for speaking the text
Comment[pt]=Adiciona um item do menu para sintetizar o texto
Comment[pt_BR]=Adiciona um item no menu para ler o texto
Comment[sv]=Lägger till ett menyalternativ för att läsa upp texten
Comment[uk]=Додає елемент меню для декламування тексту
Comment[x-test]=xxAdds a menu entry for speaking the textxx
author=Olaf Jan Schmidt, ojschmidt@kde.org
