[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kate_kttsd
X-Kate-Version=3.0
Icon=kttsd
Name=Jovie Text-to-Speech
Name[bg]=Jovie - четене на текст
Name[bs]=Jovie (tekst‑u‑govor)
Name[ca]=Text a veu Jovie
Name[ca@valencia]=Text a veu Jovie
Name[cs]=Hlasová syntéza Jovie
Name[da]=Jovie tekst-til-tale
Name[de]=Jovie-Sprachausgabe
Name[el]=Jovie Text-to-Speech
Name[en_GB]=Jovie Text-to-Speech
Name[es]=Complemento de texto hablado Jovie para KTextEditor
Name[et]=Jovie teksti ettelugemine
Name[eu]=Jovie testutik-hizketara
Name[fi]=Jovie-puhesyntetisaattori
Name[fr]=Synthèse vocale Jovie
Name[ga]=Téacs-go-Caint Jovie
Name[gl]=Texto-para-fala mediante Jovie
Name[he]=מנוע טקסט לדיבור Jovie
Name[hu]=Jovie szövegfelolvasó
Name[ia]=Texto-a-Discurso (TextToSpeech) Jovie
Name[is]=Jovie texti-í-tal
Name[it]=Pronuncia di Jovie
Name[ja]=Jovie 読み上げプラグイン
Name[kk]=Jovie - мәтінді дауыстап оқу
Name[km]=អត្ថបទ​ត្រូវ​និយាយ​របស់​ Jovie 
Name[ko]=Jovie 텍스트 음성 변환
Name[lt]=Jovie teksto vertimas į kalbą
Name[lv]=Jovie no teksta uz runu
Name[mr]=जोव्ही मजकुर बोलून दाखवणारा
Name[nb]=Jovie tekst til tale
Name[nds]=Vörlesermoduul "Jovie"
Name[nl]=Jovie tekst-naar-spraak
Name[nn]=Jovie tekst-til-tale
Name[pa]=ਜੋਵੀ ਟੈਕਸਟ ਤੋਂ ਬੋਲੀ
Name[pl]=Tekst-na-mowę Jovie
Name[pt]=Texto-para-Fala do Jovie
Name[pt_BR]=Texto-para-fala Jovie
Name[ro]=Text-în-vorbire Jovi
Name[ru]=Служба синтеза речи Jovie
Name[si]=Jovie පෙල-කියවීමට
Name[sk]=Jovie Text-na-Reč
Name[sl]=Besedilo-v-govor Jovie
Name[sr]=Џови (текст‑у‑говор)
Name[sr@ijekavian]=Џови (текст‑у‑говор)
Name[sr@ijekavianlatin]=Džovi (tekst‑u‑govor)
Name[sr@latin]=Džovi (tekst‑u‑govor)
Name[sv]=Jovie text-till-tal
Name[tg]=Барномаи талаффузи матни Jovie
Name[tr]=Jovie Metin Okuma
Name[ug]=Jovie تېكىستتىن ئاۋازغا
Name[uk]=Синтез мовлення з тексту Jovie
Name[x-test]=xxJovie Text-to-Speechxx
Name[zh_CN]=Jovie 语音合成
Name[zh_TW]=Jovie 文字轉語音
Comment=Adds a menu entry for speaking the text
Comment[ast]=Amestar una entrada al menú pa lleer el testu
Comment[bg]=Добавяне на запис в менюто за изговаряне на текст
Comment[bs]=Dodaje stavku menija za izgovaranje teksta
Comment[ca]=Afegeix una entrada al menú per parlar el text
Comment[ca@valencia]=Afig una entrada al menú per parlar el text
Comment[da]=Tilføjer en menu til oplæsning af tekst
Comment[de]=Fügt einen Menüeintrag zum Vorlesen des Textes hinzu
Comment[el]=Προσθέτει μία καταχώρηση στο μενού για τη φωνητική απόδοση κειμένου
Comment[en_GB]=Adds a menu entry for speaking the text
Comment[es]=Añade una entrada de menú para leer el texto
Comment[et]=Lisab menüükirje teksti kõnelemiseks
Comment[eu]=Menuko sarrera gehitzen du testua hitzegiteko
Comment[fi]=Lisää tekstin puhumismahdollisuuden valikkoon
Comment[fr]=Ajoute une ligne de menu pour énoncer le texte
Comment[ga]=Cuir iontráil sa roghchlár chun an téacs a léamh
Comment[gl]=Engade unha entrada no menú para falar o texto
Comment[he]=מוסיף תפריט להקראת הטקסט
Comment[hu]=Menübejegyzés szövegfelolvasáshoz
Comment[ia]=Adde un entrata de menu pro pronunciar le texto
Comment[it]=Aggiunge una voce del menu per pronunciare il testo
Comment[ja]=メニューにテキストを読み上げるための項目を追加します
Comment[kk]=Мәзірге мәтінді дауыстау жолын қосу
Comment[km]=បន្ថែម​ធាតុ​​ម៉ឺនុយ​សម្រាប់​ការ​អាន​អត្ថបទ
Comment[ko]=텍스트를 말하는 메뉴 항목 추가
Comment[lt]=Prideda meniu elementą teksto skaitymui
Comment[lv]=Pievieno izvēlnes komandu, kas izrunā tekstu
Comment[mr]=पाठ्य बोलण्याकरिता मेन्यू नोंद जोडतो
Comment[nb]=Legger til en menyoppføring for å si teksten høyt
Comment[nds]=Föögt en Menüindrag för't Vörlesen vun Text to
Comment[nl]=Voegt een menuoptie toe voor het uitspreken van de tekst
Comment[nn]=Legg til ei menyoppføring for opplesing av tekst
Comment[pl]=Dodaje element menu, który powoduje wypowiedzenie tekstu
Comment[pt]=Adiciona um item de menu para sintetizar o texto
Comment[pt_BR]=Adiciona um item no menu para ler o texto
Comment[ro]=Adaugă un element de meniu pentru vorbirea textului
Comment[ru]=Добавляет меню синтеза речи
Comment[si]=පෙළ කතා කරවීමට මෙනු ඇතුළත්කිරීමක් එක් කරයි
Comment[sk]=Pridá položku ponuky pre hovorenie textu
Comment[sl]=V meni doda vnos za izgovorjavo besedila
Comment[sr]=Додаје ставку менија за изговарање текста
Comment[sr@ijekavian]=Додаје ставку менија за изговарање текста
Comment[sr@ijekavianlatin]=Dodaje stavku menija za izgovaranje teksta
Comment[sr@latin]=Dodaje stavku menija za izgovaranje teksta
Comment[sv]=Lägger till ett menyalternativ för att läsa upp texten
Comment[tg]=Вориди менюро барои талаффузи матн илова мекунад
Comment[tr]=Metni okumak için bir menü girdisi oluşturur
Comment[ug]=تېكىست ئوقۇش ئۈچۈن تىزىملىككە بىر تۈر قوشىدۇ
Comment[uk]=Додає елемент меню для декламування тексту
Comment[wa]=Radjoute ene intrêye el dressêye po lére li tecse
Comment[x-test]=xxAdds a menu entry for speaking the textxx
Comment[zh_CN]=添加一个菜单条目用来朗读文本
Comment[zh_TW]=新增選單項目以唸出文字
author=Olaf Jan Schmidt, ojschmidt@kde.org
