[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_autocomplete
Name=Python Autocompletion
Comment=Beta, only for Python 2
X-Python-2-Compatible=true
X-Python-2-Only=true
X-Python-2-Dependencies=pysmell(>=0.7.3),pyplete(>=0.0.5)
