[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_autocomplete
Name=Python Autocompletion
Name[bs]=Automatsko kompletiranje za Python
Name[ca]=Autocompleció per a Python
Name[ca@valencia]=Autocompleció per al Python
Name[cs]=Automatické doplňování Pythonu
Name[da]=Python autofuldførelse
Name[de]=Python-Autovervollständigung
Name[el]=Αυτόματη συμπλήρωση Python
Name[en_GB]=Python Autocompletion
Name[es]=Terminación automática de Python
Name[et]=Pythoni automaatne lõpetamine
Name[fi]=Python-automaattitäydennys
Name[fr]=Auto-complètement Python
Name[gl]=Completado automático de Python
Name[he]=השלמה אוטומטית של Python
Name[hu]=Python automatikus kiegészítés
Name[ia]=Autocompletion de Python
Name[it]=Completamento automatico per Python
Name[kk]=Python автотолықтыруы
Name[ko]=파이썬 자동 완성
Name[nb]=Python autofullføring
Name[nds]=Python-Autokompletteren
Name[nl]=Automatische aanvulling voor Python
Name[pl]=Samoczynne uzupełnianie Python
Name[pt]=Completação Automática de Python
Name[pt_BR]=Completação automática de Python
Name[ro]=Completare automată Python
Name[ru]=Автодополнение Python
Name[sk]=Automatické ukončovanie Python
Name[sl]=Samodejno dopolnjevanje za Python
Name[sr]=Питонска самодопуна
Name[sr@ijekavian]=Питонска самодопуна
Name[sr@ijekavianlatin]=Python samodopuna
Name[sr@latin]=Python samodopuna
Name[sv]=Python automatisk komplettering
Name[tr]=Python Otomatik Tamamlama
Name[uk]=Автодоповнення Python
Name[x-test]=xxPython Autocompletionxx
Name[zh_CN]=Python 自动补全
Name[zh_TW]=Python 自動補完
Comment=Beta, only for Python 2
Comment[bs]=Beta, samo za Python 2
Comment[ca]=Beta, només per a Python 2
Comment[ca@valencia]=Beta, només pel Python 2
Comment[cs]=Beta, pouze pro Python 2
Comment[da]=Beta, kun til Python 2
Comment[de]=Beta, nur für Python 2
Comment[el]=Δοκιμαστική έκδοση, μόνο για Python 2
Comment[en_GB]=Beta, only for Python 2
Comment[es]=Beta, solo para Python 2
Comment[et]=Beeta, ainult Python 2 jaoks
Comment[fi]=Beeta, vain Python 2:lle
Comment[fr]=En bêta, uniquement pour Python 2
Comment[gl]=Beta, só para Python 2
Comment[he]=ביטא, רק עבור Python 2
Comment[hu]=Béta, csak Python 2-höz
Comment[ia]=Beta, solmente pro Python 2
Comment[it]=Beta, solo per Python 2
Comment[kk]=Бета сынақ нұсқасы, тек Python 2 үшін
Comment[ko]=베타, 파이썬 2에서만 작동
Comment[nb]=Beta, bare for Python 2
Comment[nds]=Beta, bloots för Python 2
Comment[nl]=Beta, alleen voor Python 2
Comment[pl]=Beta, tylko dla Python 2
Comment[pt]=Beta, apenas para o Python 2
Comment[pt_BR]=Beta, apenas para o Python 2
Comment[ru]=Бета-версия, только для Python 2
Comment[sk]=Beta, iba pre Python 2
Comment[sl]=Beta, samo za Python 2
Comment[sr]=Бета, само за питон 2
Comment[sr@ijekavian]=Бета, само за питон 2
Comment[sr@ijekavianlatin]=Beta, samo za Python 2
Comment[sr@latin]=Beta, samo za Python 2
Comment[sv]=Beta, bara för Python 2
Comment[tr]=Beta, sadece Python 2 için
Comment[uk]=Тестова версія, лише для Python 2
Comment[x-test]=xxBeta, only for Python 2xx
Comment[zh_CN]=测试版，仅适用于 Python 2
Comment[zh_TW]=Beta 版，只適用 Python 2
X-Python-2-Compatible=true
X-Python-2-Only=true
X-Python-2-Dependencies=pysmell(>=0.7.3),pyplete(>=0.0.5)
