[Desktop Entry]
Name=Kate Session Applet
Name[ast]=Miniaplicación de sesiones de Kate
Name[bg]=Сесии на Kate
Name[bs]=Programčić Kate sesije
Name[ca]=Miniaplicació de sessió del Kate
Name[ca@valencia]=Miniaplicació de sessió del Kate
Name[cs]=Applet sezení Kate
Name[da]=Panelprogram til Kate-session
Name[de]=Kate-Sitzungsverwaltung
Name[el]=Μικροεφαρμογή συνεδρίας Kate
Name[en_GB]=Kate Session Applet
Name[es]=Miniaplicación de sesiones de Kate
Name[et]=Kate seansi aplett
Name[eu]=Kate saioaren miniaplikazioa
Name[fi]=Kate-istuntosovelma
Name[fr]=Applet de sessions pour Kate
Name[ga]=Feidhmchláirín Seisiúin Kate
Name[gl]=Applet de sesións de Kate
Name[he]=יישומון הפעלות של Kate
Name[hu]=Kate munkamenet-menü
Name[ia]=Applet de session de Kate
Name[it]=Applet di sessioni di Kate
Name[ja]=Kate セッションアプレット
Name[kk]=Kate сеанс апплеті
Name[km]=អាប់ភ្លេត​សម័យ Kate
Name[ko]=Kate 세션 애플릿
Name[lt]=Kate sesijų programėlė
Name[lv]=Kate sesiju sīklietotne
Name[mr]=केट सत्र एप्लेट
Name[nb]=Kate øktvelger
Name[nds]=Kate-Törnlüttprogramm
Name[nl]=Kate sessieapplet
Name[nn]=Kate-øktveljar
Name[pa]=ਕੇਟ ਸ਼ੈਸ਼ਨ ਐਪਲਿਟ
Name[pl]=Aplet sesji Kate
Name[pt]='Applet' de Sessões do Kate
Name[pt_BR]=Miniaplicativo de sessões do Kate
Name[ro]=Miniaplicație de sesiune Kate
Name[ru]=Kate: сеансы
Name[si]=Kate වාර ඇප්ලටය
Name[sk]=Applet Kate sedenia
Name[sl]=Aplet sej za Kate
Name[sr]=Кејтине сесије
Name[sr@ijekavian]=Кејтине сесије
Name[sr@ijekavianlatin]=Kateine sesije
Name[sr@latin]=Kateine sesije
Name[sv]=Kate sessionsminiprogram
Name[tg]=Барномаи мониторинги Кейт
Name[tr]=Kate Oturum Programcığı
Name[ug]=Kate ئەڭگىمە قوللانچاق
Name[uk]=Аплет сеансів Kate
Name[x-test]=xxKate Session Appletxx
Name[zh_CN]=Kate 会话小程序
Name[zh_TW]=Kate 工作階段小程式
Comment=Kate Session Launcher
Comment[ast]=Llanzador de sesiones de Kate
Comment[bg]=Зареждане на сесии на Kate
Comment[bs]=Pokretač Kate sesija
Comment[ca]=Llançador de la sessió del Kate
Comment[ca@valencia]=Llançador de sessió del Kate
Comment[cs]=Spouštěč sezení Kate
Comment[da]=Kate sessionstarter
Comment[de]=Kate-Sitzung starten
Comment[el]=Εκτελεστής συνεδρίας Kate
Comment[en_GB]=Kate Session Launcher
Comment[es]=Lanzador de sesiones de Kate
Comment[et]=Kate seansi käivitaja
Comment[eu]=Kate saioaren abiarazlea
Comment[fi]=Kate-istunnonkäynnistin
Comment[fr]=Lanceur de sessions pour Kate
Comment[ga]=Tosaitheoir Seisiúin Kate
Comment[gl]=Iniciador de sesións de Kate
Comment[he]=מפעיל הפעלות של Kate
Comment[hu]=Kate munkamenet-indító
Comment[ia]=Lanceator de session de Kate
Comment[is]=Kate seturæsir
Comment[it]=Avviatore di sessioni di Kate
Comment[ja]=Kate のセッションを開始します
Comment[kk]=Kate сеанс жеккіші
Comment[km]=កម្មវិធី​ចាប់ផ្ដើម​សម័យ Kate
Comment[ko]=Kate 세션 실행기
Comment[lt]=Kate sesijų paleidiklis
Comment[lv]=Kate sesiju palaidējs
Comment[mr]=केट सत्र प्रक्षेपक
Comment[nb]=Kate øktstarter
Comment[nds]=Kate-Törnstarter
Comment[nl]=Kate sessiestarter
Comment[nn]=Start Kate-økter
Comment[pa]=ਕੇਟ ਸ਼ੈਸ਼ਨ ਲਾਂਚਰ
Comment[pl]=Program uruchamiający sesję Kate
Comment[pt]=Lançador de Sessões do Kate
Comment[pt_BR]=Lançamento de sessões do Kate
Comment[ro]=Lansator de sesiuni Kate
Comment[ru]=Программа запуска сеанса Kate
Comment[si]=Kate වාර ආරම්භකය
Comment[sk]=Spúšťač Kate sedenia
Comment[sl]=Zaganjalnik sej za Kate
Comment[sr]=Покретач Кејтиних сесија
Comment[sr@ijekavian]=Покретач Кејтиних сесија
Comment[sr@ijekavianlatin]=Pokretač Kateinih sesija
Comment[sr@latin]=Pokretač Kateinih sesija
Comment[sv]=Kate sessionsstart
Comment[tg]=Оғозкунандаи мониторинги Кейт
Comment[tr]=Kate Oturum Başlatıcı
Comment[ug]=Kate ئەڭگىمە قوزغاتقۇچ
Comment[uk]=Запуск сеансів Kate
Comment[x-test]=xxKate Session Launcherxx
Comment[zh_CN]=Kate 会话启动器
Comment[zh_TW]=Kate 工作階段啟動器

Type=Service
Icon=kate
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/katesessions.qml
X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Author=Joseph Wenninger
X-KDE-PluginInfo-Email=jowenn@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.katesessions
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
