[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katebacktracebrowserplugin
Name=Backtrace Browser
Comment=Backtrace navigation tool view
author=Dominik Haumann, dhaumann@kde.org
