[Desktop Entry]
X-KDE-Library=ktexteditor_hlselection
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktexteditorhlselection
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.3
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=document-import
Name=Highlight Selection
Name[bg]=Осветяване на избраното
Name[bs]=Označi izbor
Name[ca]=Selecció de ressaltat
Name[ca@valencia]=Selecció de ressaltat
Name[cs]=Zvýraznění výběru
Name[da]=Fremhæv markering
Name[de]=Auswahl hervorheben
Name[el]=Επιλογή έμφασης
Name[en_GB]=Highlight Selection
Name[es]=Resaltar selección
Name[et]=Valiku esiletõstmine
Name[eu]=Nabarmendu hautapena
Name[fi]=Valinnan korostus
Name[fr]=Sélection de la coloration syntaxique
Name[ga]=Aibhsigh Roghnúchán
Name[gl]=Realzar selección
Name[hu]=Kiemeléskijelölés
Name[ia]=Evidentia selection
Name[it]=Evidenzia selezione
Name[kk]=Бояп белгілеу
Name[km]=ជម្រើស​​រំលេច
Name[ko]=선택 강조
Name[lt]=Paryškinti pažymėjimą
Name[lv]=Izcelt izvēli
Name[mr]=निवड ठळक करा
Name[nb]=Fremhev utvalg
Name[nds]=Köör rutheven
Name[nl]=Accentueren van selectie
Name[pa]=ਚੋਣ ਹਾਈਲਾਈਟ
Name[pl]=Podświetlanie wyboru
Name[pt]=Realçar a Selecção
Name[pt_BR]=Destacar a seleção
Name[ro]=Evidențiază selecția
Name[ru]=Подсветка найденного
Name[si]=තෝරාගැනීම උපුටන්න
Name[sk]=Zvýrazniť výber
Name[sl]=Poudari izbiro
Name[sr]=Истицање избора
Name[sr@ijekavian]=Истицање избора
Name[sr@ijekavianlatin]=Isticanje izbora
Name[sr@latin]=Isticanje izbora
Name[sv]=Färglägg markering
Name[tg]=Равшанкунии интихоб
Name[tr]=Seçimi Vurgula
Name[ug]=تاللىغاننى يورۇت
Name[uk]=Підсвічування позначеного
Name[wa]=Mete en sorbriyance li tchoes
Name[x-test]=xxHighlight Selectionxx
Name[zh_CN]=加亮选择区
Name[zh_TW]=突顯選取區
Comment=Highlight all words based on the text selection
Comment[bs]=Označi sve riječi na bazi izbora teksta
Comment[ca]=Ressalta totes les paraules a partir de la selecció de text
Comment[ca@valencia]=Ressalta totes les paraules a partir de la selecció de text
Comment[cs]=Zvýraznit všechna slova podle vybraného textu
Comment[da]=Fremhæv alle ord baseret på tekstmarkeringen
Comment[de]=Alle Wörter anhand der aktuellen Textauswahl hervorheben
Comment[el]=Τονίζει όλες τις λέξεις με βάση την επιλογή κειμένου
Comment[en_GB]=Highlight all words based on the text selection
Comment[es]=Resaltar todas las palabras basadas en el texto seleccionado
Comment[et]=Kõigi sõnade esiletõstmine vastavalt valitud tekstile
Comment[eu]=Nabarmendu hitz guztiak testuaren hautapenean oinarrituta
Comment[fi]=Korosta kaikki sanat tekstivalinnan perusteella
Comment[fr]=Met en surbrillance tous les mots reposant sur la sélection de texte
Comment[ga]=Aibhsigh gach focal bunaithe ar an roghnúchán téacs
Comment[gl]=Realzar todas as palabras baseadas no texto seleccionado
Comment[hu]=Az összes szó kiemelése a szövegkijelölés alapján
Comment[ia]=Evidentia omne parolas basate sur le selection de texto
Comment[it]=Evidenzia tutte le parole nella selezione
Comment[kk]=Таңдаған мәтіннің бүкіл сөздрін бояп белгілеу
Comment[km]=រំលេច​គ្រប់​ពាក្យ​ទាំងអស់​ដែល​មាន​មូលដ្ឋាន​លើ​ជម្រើស​អត្ថបទ​​​
Comment[ko]=선택한 텍스트 강조
Comment[lt]=Paryškinti visus žodžius priklausomai nuo teksto pažymėjimo
Comment[lv]=Izcelt visus vārdus, balstoties uz izvēlēto tekstu
Comment[mr]=पाठ्य निवड आधारित सर्व शब्द ठळक करा
Comment[nb]=Fremhev alle ord basert på tekstutvalget
Comment[nds]=All Wöör rutheven, de op disse Textköör baseert
Comment[nl]=Alle woorden accentueren gebaseerd op de selectie van de tekst
Comment[pa]=ਟੈਕਸਟ ਚੋਣ ਉੱਤੇ ਅਧਾਰਿਤ ਸਭ ਸ਼ਬਦ ਹਾਈਲਾਈਟ ਕਰੋ
Comment[pl]=Podświetl wszystkie słowa bazując na zaznaczeniu tekstu
Comment[pt]=Realçar todas as palavras com base na selecção de texto
Comment[pt_BR]=Destaca todas as palavras baseadas na seleção de texto
Comment[ro]=Evidențiază toate cuvintele folosind textul selectat.
Comment[ru]=Подсветить все вхождения выделенного текста
Comment[si]=පෙළ තෝරාගැනීම මත පදනම්වූ සියළු වදන් උපුටාගනී
Comment[sk]=Zvýrazniť všetky slová založené na výbere textu
Comment[sl]=Poudari vse besede glede na izbrano besedilo
Comment[sr]=Истицање свих речи на основу текстуалног избора
Comment[sr@ijekavian]=Истицање свих речи на основу текстуалног избора
Comment[sr@ijekavianlatin]=Isticanje svih reči na osnovu tekstualnog izbora
Comment[sr@latin]=Isticanje svih reči na osnovu tekstualnog izbora
Comment[sv]=Färglägg alla ord baserat på textmarkeringen
Comment[tg]=Ҳамаи калимаҳои матни интихобшударо равшан кунед
Comment[tr]=Metin seçimine bağlı tüm kelimeleri vurgula
Comment[ug]=تاللانغان تېكىستتە ھەممە سۆزنى يورۇت
Comment[uk]=Підсвічування всіх слів у позначеному фрагменті тексту
Comment[wa]=Mete en sorbriyance tos les mots båzé sol tchoes e tecse
Comment[x-test]=xxHighlight all words based on the text selectionxx
Comment[zh_CN]=根据选择的文本高亮全部单词
Comment[zh_TW]=突顯選取區內所有單字
