[Desktop Entry]
X-KDE-Library=ktexteditor_hlselection
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktexteditorhlselection
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.3
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=document-import
Name=Highlight Selection
Name[cs]=Zvýraznění výběru
Name[en_GB]=Highlight Selection
Name[es]=Resaltar selección
Name[et]=Valiku esiletõstmine
Name[gl]=Realzar selección
Name[ia]=Selection de Evidentiar
Name[nl]=Accentueren van selectie
Name[pt]=Realçar a Selecção
Name[pt_BR]=Destacar a seleção
Name[sv]=Färglägg markering
Name[uk]=Підсвічування позначеного
Name[x-test]=xxHighlight Selectionxx
Name[zh_TW]=突顯選取區
Comment=Highlight all words based on the text selection
Comment[cs]=Zvýraznit všechna slova podle vybraného textu
Comment[en_GB]=Highlight all words based on the text selection
Comment[es]=Resaltar todas las palabras basadas en el texto seleccionado
Comment[et]=Kõigi sõnade esiletõstmine vastavalt valitud tekstile
Comment[gl]=Realzar todas as palabras baseadas no texto seleccionado
Comment[ia]=Evidentia omne parolas basate sur le selection de texto
Comment[nl]=Alle woorden accentueren gebaseerd op de selectie van de tekst
Comment[pt]=Realçar todas as palavras com base na selecção de texto
Comment[pt_BR]=Destaca todas as palavras baseadas na seleção de texto
Comment[sv]=Färglägg alla ord baserat på textmarkeringen
Comment[uk]=Підсвічування всіх слів у позначеному фрагменті тексту
Comment[x-test]=xxHighlight all words based on the text selectionxx
Comment[zh_TW]=突顯選取區內所有單字
