[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-Kate-Version=2.8
X-KDE-Library=katefiletemplates
Name=File Templates
Name[ar]=قوالب الملفات
Name[ast]=Plantíes de ficheru
Name[bg]=Файлови шаблони
Name[bs]=Šabloni datoteka
Name[ca]=Plantilles de fitxer
Name[ca@valencia]=Plantilles de fitxers
Name[cs]=Šablony souborů
Name[da]=Filskabeloner
Name[de]=Dateivorlagen
Name[el]=Πρότυπα αρχείων
Name[en_GB]=File Templates
Name[es]=Plantillas de archivos
Name[et]=Failimallid
Name[eu]=Fitxategien txantiloiak
Name[fa]=مدیریت قالب پرونده‌ها
Name[fi]=Mallipohjat
Name[fr]=Modèles de fichiers
Name[ga]=Teimpléid Chomhaid
Name[gl]=Modelos de ficheiro
Name[he]=תבניות קבצים
Name[hu]=Fájlsablonok
Name[ia]=Patronos de file
Name[is]=Sniðskrár
Name[it]=Modelli di file
Name[ja]=ファイルテンプレート
Name[kk]=Файл үлгілері
Name[km]=ពុម្ព​ឯកសារ​
Name[ko]=파일 템플릿
Name[lt]=Failų šablonai
Name[lv]=Datņu veidnes
Name[mr]=फाईल नमूने
Name[nb]=Filmaler
Name[nds]=Dateivörlagen
Name[nl]=Bestandssjablonen
Name[nn]=Filmalar
Name[pa]=ਫਾਇਲ ਟੈਪਲੇਟ
Name[pl]=Szablony plików
Name[pt]=Modelos de Ficheiros
Name[pt_BR]=Modelos de arquivos
Name[ro]=Șabloane de fișier
Name[ru]=Шаблоны файлов
Name[si]=ගොනු ආකෘති
Name[sk]=Šablóny súborov
Name[sl]=Predloge datotek
Name[sr]=Шаблони фајлова
Name[sr@ijekavian]=Шаблони фајлова
Name[sr@ijekavianlatin]=Šabloni fajlova
Name[sr@latin]=Šabloni fajlova
Name[sv]=Filmallar
Name[tg]=Қолабҳои файл
Name[tr]=Dosya Şablonları
Name[ug]=ھۆججەت قېلىپلىرى
Name[uk]=Шаблони файлів
Name[wa]=Modeles di fitchîs
Name[x-test]=xxFile Templatesxx
Name[zh_CN]=文件模板
Name[zh_TW]=檔案樣本
Comment=Create new files from templates
Comment[ast]=Crea ficheros nuevos dende plantíes
Comment[bg]=Създаване на нови файлове от шаблони
Comment[bs]=Pravite nove datoteke prema šablonima
Comment[ca]=Crea fitxers nous a partir de plantilles
Comment[ca@valencia]=Crea fitxers nous des de plantilles
Comment[cs]=Vytvořit ze šablon nové soubory
Comment[da]=Opret nye filer fra skabeloner
Comment[de]=Erstellt neue Dateien aus Vorlagen
Comment[el]=Δημιουργία νέων αρχείων από πρότυπα
Comment[en_GB]=Create new files from templates
Comment[es]=Crear archivos nuevos a partir de plantillas
Comment[et]=Uute failide loomine malli põhjal
Comment[eu]=Sortu fitxategi berriak txantiloietatik
Comment[fi]=Luo uusia tiedostoja mallipohjista
Comment[fr]=Crée de nouveaux fichiers à partir de modèles
Comment[ga]=Cruthaigh comhaid nua ó theimpléid
Comment[gl]=Crea novos ficheiros a partir de modelos
Comment[he]=צור קבצים חדשים מתבניות
Comment[hu]=Új fájlok létrehozása sablonból
Comment[ia]=Crea nive files ex patronos
Comment[it]=Crea nuovi file partendo da modelli
Comment[ja]=テンプレートから新しいファイルを作成します
Comment[kk]=Үлгілерден жаңа файлдарды құру
Comment[km]=បង្កើត​ឯកសារ​ថ្មី​ពី​ពុម្ព​
Comment[ko]=템플릿을 기반으로 새 파일을 만듭니다
Comment[lt]=Kurkite naujus failus iš šablonų
Comment[lv]=Izveido jaunas datnes, izmantojot veidnes
Comment[mr]=नमून्यांवरून नवीन फाईल्स निर्माण करा
Comment[nb]=Opprett nye filer fra maler
Comment[nds]=Nieg Dateien ut Vörlagen opstellen
Comment[nl]=Maak aan de hand van sjablonen nieuwe bestanden aan
Comment[nn]=Lag nye filer frå malar
Comment[pa]=ਟੈਪਲੇਟ ਤੋਂ ਨਵੀਆਂ ਫਾਇਲਾਂ ਬਣਾਓ
Comment[pl]=Utwórz nowe pliki z szablonów
Comment[pt]=Criar ficheiros novos a partir de modelos
Comment[pt_BR]=Cria novos arquivos a partir de modelos
Comment[ro]=Creează fișiere noi din șabloane
Comment[ru]=Создание новых файлов из шаблонов
Comment[si]=ආකෘති මගින් නව ගොනු නිර්මාණය කරන්න
Comment[sk]=Vytvoriť nové súbory zo šablón
Comment[sl]=Ustvarite nove datoteke iz predlog
Comment[sr]=Правите нове фајлове према шаблонима
Comment[sr@ijekavian]=Правите нове фајлове према шаблонима
Comment[sr@ijekavianlatin]=Pravite nove fajlove prema šablonima
Comment[sr@latin]=Pravite nove fajlove prema šablonima
Comment[sv]=Skapa nya filer från mallar
Comment[tg]=Файлҳои навро аз қолабҳо эҷод кунед
Comment[tr]=Şablondan yeni dosyalar oluştur
Comment[ug]=قېلىپتىن يېڭى ھۆججەت قۇر
Comment[uk]=Створення нових файлів з шаблонів
Comment[wa]=Ahiver des noveas fitchîs a pårti d' modeles
Comment[x-test]=xxCreate new files from templatesxx
Comment[zh_CN]=根据模板新建文件
Comment[zh_TW]=以樣本來建立新檔案
author=Anders Lund, anders@alweb.dk
