[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateexternaltoolsplugin
X-Kate-Version=2.8
Name=External Tools
Name[be]=Знешнія інструменты
Name[ca]=Eines externes
Name[de]=Externe Werkzeuge
Name[el]=Εξωτερικά εργαλεία
Name[es]=Herramientas externas
Name[et]=Välised tööriistad
Name[fr]=Outils externes
Name[ga]=Uirlisí Seachtracha
Name[gl]=Ferramentas externas
Name[it]=Strumenti esterni
Name[ja]=外部ツール
Name[lv]=Ārējie rīki
Name[nds]=Extern Warktüüch
Name[ne]=बाह्य उपकरण
Name[nl]=Externe hulpmiddelen
Name[pa]=ਬਾਹਰੀ ਟੂਲ
Name[pl]=Narzędzia zewnętrzne
Name[pt]=Ferramentas Externas
Name[pt_BR]=Ferramentas Externas
Name[sr]=Спољашње алатке
Name[sr@latin]=Spoljašnje alatke
Name[sv]=Externa verktyg
Name[x-test]=xxExternal Toolsxx
Name[zh_CN]=外部工具
Name[zh_TW]=外部工具
Comment=External Tools
Comment[be]=Знешнія інструменты
Comment[ca]=Eines externes
Comment[de]=Externe Werkzeuge
Comment[el]=Εξωτερικά εργαλεία
Comment[es]=Herramientas externas
Comment[et]=Välised tööriistad
Comment[fr]=Outils externes
Comment[ga]=Uirlisí Seachtracha
Comment[gl]=Ferramentas externas
Comment[it]=Strumenti esterni
Comment[ja]=外部ツール
Comment[lv]=Ārējie rīki
Comment[nds]=Extern Warktüüch
Comment[ne]=बाह्य उपकरण
Comment[nl]=Externe hulpmiddelen
Comment[pa]=ਬਾਹਰੀ ਟੂਲ
Comment[pl]=Narzędzia zewnętrzne
Comment[pt]=Ferramentas Externas
Comment[pt_BR]=Ferramentas Externas
Comment[sr]=Спољашње алатке
Comment[sr@latin]=Spoljašnje alatke
Comment[sv]=Externa verktyg
Comment[x-test]=xxExternal Toolsxx
Comment[zh_CN]=调用外部工具
Comment[zh_TW]=外部工具
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
