# general
/build*/
*.rej
*.orig
*.out
CMakeLists.txt.user*
.clang-format

# kate
*~
*-swp

# kdevelop
*.kdev4

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# from dolphin
.directory

# LSP Server data
.clangd
.cmake/
