# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/linux-qt6.yml
      - /gitlab-templates/linux-qt6-next.yml
      - /gitlab-templates/freebsd-qt6.yml
      - /gitlab-templates/windows-qt6.yml
      - /gitlab-templates/flatpak.yml
      - /gitlab-templates/craft-windows-x86-64-qt6.yml
      - /gitlab-templates/craft-windows-appx-qt6.yml
      - /gitlab-templates/craft-macos-arm64-qt6.yml
      - /gitlab-templates/craft-macos-x86-64-qt6.yml
      - /gitlab-templates/craft-appimage-qt6.yml
      - /gitlab-templates/snap-snapcraft-lxd.yml

build_clazy:
  extends:
    - .ci_linux_base
    - .suse_tumbleweed_qt6stable
  rules:
    # only run on merge requests
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  variables:
    CLAZY_CHECKS: level0,level1,qstring-allocations,no-qstring-arg,no-connect-not-normalized,no-const-signal-or-slot,no-qproperty-without-notify,no-wrong-qevent-cast,no-detaching-temporary,no-child-event-qobject-cast
    CC: clang
    CXX: clazy
  script:
    - git config --global --add safe.directory $CI_PROJECT_DIR
    - python3 -u ci-utilities/run-ci-build.py --project $CI_PROJECT_NAME --branch $CI_COMMIT_REF_NAME --platform Linux/Qt6/Shared --only-setup-environment
    - mkdir -p /tmp/kate_build
    - cd /tmp/kate_build
    # we don't care about clazy issues in tests
    - cmake -DENABLE_PCH=OFF -DBUILD_TESTING=OFF -G Ninja -DCMAKE_INSTALL_PREFIX=$CI_PROJECT_DIR/_install -DKF6DocTools_FOUND=false $CI_PROJECT_DIR
    - ninja -k 0
  artifacts: null
