[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katesearchplugin
Name=Search & Replace
Comment=Search & replace in opened documents or in files on disk
