[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katesearchplugin
Name=Search & Replace
Name[ar]=البحث والاستبدال
Name[ast]=Gueta y troquéu
Name[bg]=Търсене и &замяна
Name[bs]=Pretraži i zamjeni
Name[ca]=Cerca i substitueix
Name[ca@valencia]=Cerca i substitueix
Name[cs]=Najít a nahradit
Name[da]=Søg og erstat
Name[de]=Suchen & Ersetzen
Name[el]=Αναζήτηση & αντικατάσταση
Name[en_GB]=Search & Replace
Name[es]=Buscar y remplazar
Name[et]=Otsimine ja asendamine
Name[eu]=Bilatu eta ordeztu
Name[fa]=جستجو و جایگزینی‌
Name[fi]=Etsi ja korvaa
Name[fr]=Chercher et remplacer
Name[ga]=Cuardach agus Ionadú
Name[gl]=Buscar e substituír
Name[he]=חיפוש והחלפה
Name[hu]=Keresés és csere
Name[ia]=Cerca & Reimplacia
Name[id]=Cari & Gantikan
Name[it]=Cerca e sostituisci
Name[kk]=Іздеу & Ауыстыру
Name[km]=ស្វែងរក និង​ជំនួស
Name[ko]=찾아 바꾸기
Name[lt]=Rasti ir keisti
Name[lv]=Meklēt un aizvietot
Name[mr]=शोधा व बदला
Name[nb]=Søk og erstatt
Name[nds]=Söken un utwesseln
Name[nl]=Zoeken en vervangen
Name[nn]=Søk og byt ut
Name[pa]=ਲੱਭੋ ਅਤੇ ਬਦਲੋ
Name[pl]=Znajdź i zamień
Name[pt]=Procurar & Substituir
Name[pt_BR]=Pesquisar e substituir
Name[ro]=Căutare și înlocuire
Name[ru]=Поиск и замена
Name[sk]=Hľadať & Nahradiť
Name[sl]=Poišči & zamenjaj
Name[sr]=Претрага и замена
Name[sr@ijekavian]=Претрага и замена
Name[sr@ijekavianlatin]=Pretraga i zamena
Name[sr@latin]=Pretraga i zamena
Name[sv]=Sök och ersätt
Name[tg]=Ҷустуҷӯ ва Ҷойгузин
Name[tr]=Ara & Değiştir
Name[ug]=ئىزدەش ۋە ئالماشتۇرۇش
Name[uk]=Пошук з заміною
Name[x-test]=xxSearch & Replacexx
Name[zh_CN]=搜索和替换
Name[zh_TW]=搜尋並取代
Comment=Search & replace in opened documents or in files on disk
Comment[ar]=تبحث وتستبدل في الملفّات المفتوحة أو التي على القرص
Comment[ast]=Gueta y troca nos documentos abiertos o ficheros nel discu
Comment[bg]=Търсене и замяна в отворени документи или файлове на диска
Comment[bs]=Traži i zamijeni u otvorenim dokumentima ili datotekama na disku
Comment[ca]=Cerca i substitució en documents oberts o en fitxers al disc
Comment[ca@valencia]=Cerca i substitució en documents oberts o en fitxers al disc
Comment[cs]=Najít a nahradit v otevřených dokumentech nebo souborech na disku
Comment[da]=Søg og erstat i åbne dokumenter eller i filer på disken
Comment[de]=Suchen & Ersetzen in geöffneten Dateien oder in Dateien auf der Festplatte
Comment[el]=Αναζήτηση & αντικατάσταση σε ανοιγμένα έγγραφα ή σε αρχεία στο δίσκο
Comment[en_GB]=Search & replace in opened documents or in files on disk
Comment[es]=Buscar y remplazar en los documentos abiertos o en los archivos del disco
Comment[et]=Otsimine ja asendamine avatud dokumentides või kettal asuvates failides
Comment[eu]=Bilatu eta ordeztu irekitako dokumentuetan edo diskoan dauden fitxategietan
Comment[fi]=Etsi ja korvaa avatuista tai levyllä sijaitsevista tiedostoista
Comment[fr]=Trouver et remplacer dans des documents ouverts ou dans des fichiers sur disque
Comment[gl]=Busca e substitúe nos documentos abertos ou nos ficheiros do disco
Comment[he]=חפש והחלף בקבצים הפתוחים או בדיסק
Comment[hu]=Keresés és csere a megnyitott dokumentumokban vagy a lemezen lévő fájlokban
Comment[ia]=Cerca & reimplacia in documentos aperite o i files sur disco
Comment[id]=Cari & gantikan dalam dokumen terbuka atau dalam file pada disk
Comment[it]=Cerca e sostituisci nei documenti aperti o nei file sul disco
Comment[kk]=Ашық құжаттарда не дискідегі файлдарда іздеу және ауыстыру
Comment[km]=ស្វែងរក និង​ជំនួស នៅ​ក្នុង​ឯកសារ​ដែល​បាន​បើក ឬ​ក្នុង​ឯកសារ​ដែល​មាន​នៅ​លើ​ថាស
Comment[ko]=열린 문서나 디스크에 있는 파일에서 찾아 바꾸기
Comment[lt]=Rasti ir keisti atidarytuose dokumentuose arba disko failuose
Comment[lv]=Meklēt un aizvietot atvērtos dokumentos vai datnēs uz diska
Comment[mr]=उघड्या दस्तऐवजात कींवा डिस्कवरील फाईल्समध्ये शोधा व बदला
Comment[nb]=Søk og erstatt i åpne dokumenter eller i filer på disk
Comment[nds]=Söken un Utwesseln in opmaakt Dokmenten oder Dateien op de Fastplaat
Comment[nl]=Zoeken & vervangen in geopende documenten of in bestanden op de schijf
Comment[nn]=Søk og utbyting i opne dokument eller filar på disk
Comment[pl]=Znajdź i zamień w otwartych dokumentach lub w plikach na dysku
Comment[pt]=Procurar & substituir nos documentos abertos ou nos ficheiros do disco
Comment[pt_BR]=Pesquisa e substitui nos documentos abertos ou nos arquivos do disco
Comment[ro]=Căutare și înlocuire în documentele deschise sau în fișiere de pe disc
Comment[ru]=Поиск и замена в открытых документах или в файлах на диске
Comment[sk]=Hľadať & nahradiť v otvorených dokumentoch alebo v súboroch na disku
Comment[sl]=Poišči in zamenjaj v odprtih dokumentih ali datotekah na disku
Comment[sr]=Претрага и замена кроз отворене документе или фајлове на диску
Comment[sr@ijekavian]=Претрага и замена кроз отворене документе или фајлове на диску
Comment[sr@ijekavianlatin]=Pretraga i zamena kroz otvorene dokumente ili fajlove na disku
Comment[sr@latin]=Pretraga i zamena kroz otvorene dokumente ili fajlove na disku
Comment[sv]=Sök och ersätt i öppnade dokument eller i filer på disk
Comment[tg]=Ҷустуҷӯ ва ҷойгузин кардан дар ҳуҷҷатҳои кушода ё дар файлҳо
Comment[tr]=Açık belgelerde veya diskteki dosyalarda ara ve değiştir
Comment[uk]=Пошук з заміною у відкритих документах або у файлах на диску
Comment[x-test]=xxSearch & replace in opened documents or in files on diskxx
Comment[zh_CN]=在打开的文件或磁盘上的文件中搜索和替换
Comment[zh_TW]=在開啟的文件或磁碟中的檔案搜尋並取代
