[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katesearchplugin
Name=Search & Replace
Name[ar]=البحث والاستبدال
Name[ast]=Gueta y troquéu
Name[bg]=Търсене и &замяна
Name[bs]=Pretraži i zamjeni
Name[ca]=Cerca i substitueix
Name[ca@valencia]=Cerca i substitueix
Name[cs]=Najít a nahradit
Name[da]=Søg og erstat
Name[de]=Suchen & Ersetzen
Name[el]=Αναζήτηση & αντικατάσταση
Name[en_GB]=Search & Replace
Name[es]=Buscar y sustituir
Name[et]=Otsimine ja asendamine
Name[eu]=Bilatu eta ordeztu
Name[fa]=جستجو و جایگزینی‌
Name[fi]=Etsi ja korvaa
Name[fr]=Chercher et remplacer
Name[ga]=Cuardach agus Ionadú
Name[gl]=Buscar e substituír
Name[he]=חיפוש והחלפה
Name[hu]=Keresés és csere
Name[ia]=Cerca & Reimplacia
Name[id]=Cari & Gantikan
Name[it]=Cerca e sostituisci
Name[kk]=Іздеу & Ауыстыру
Name[km]=ស្វែងរក និង​ជំនួស
Name[ko]=찾아 바꾸기
Name[lt]=Rasti ir keisti
Name[lv]=Meklēt un aizvietot
Name[mr]=शोधा व बदला
Name[nb]=Søk og erstatt
Name[nds]=Söken un utwesseln
Name[nl]=Zoeken en vervangen
Name[nn]=Søk og byt ut
Name[pa]=ਲੱਭੋ ਅਤੇ ਬਦਲੋ
Name[pl]=Znajdź i zamień
Name[pt]=Procurar & Substituir
Name[pt_BR]=Pesquisar e substituir
Name[ro]=Căutare și înlocuire
Name[ru]=Поиск и замена
Name[sk]=Hľadať & Nahradiť
Name[sl]=Poišči & zamenjaj
Name[sr]=Претрага и замена
Name[sr@ijekavian]=Претрага и замена
Name[sr@ijekavianlatin]=Pretraga i zamena
Name[sr@latin]=Pretraga i zamena
Name[sv]=Sök och ersätt
Name[tg]=Ҷустуҷӯ ва Ҷойгузин
Name[tr]=Ara & Değiştir
Name[ug]=ئىزدەش ۋە ئالماشتۇرۇش
Name[uk]=Пошук з заміною
Name[x-test]=xxSearch & Replacexx
Name[zh_CN]=搜索和替换 下拉菜单链接
Name[zh_TW]=搜尋並取代
Comment=Search and replace in documents, folders, or projects
Comment[ast]=Gueta y troca nos documentos, carpetes o proyeutos
Comment[ca]=Cerca i substitució en documents, carpetes o projectes
Comment[ca@valencia]=Cerca i substitució en documents, carpetes o projectes
Comment[de]=Suchen und Ersetzen in Dokumenten, Ordnern oder Projekten
Comment[el]=Αναζήτηση και αντικατάσταση σε έγγραφα, φακέλους ή έργα
Comment[en_GB]=Search and replace in documents, folders, or projects
Comment[es]=Buscar y sustituir en documentos, carpetas y proyectos
Comment[fi]=Etsi ja korvaa tiedostoissa, kansioissa tai projekteissa
Comment[gl]=Buscar e substituír en documentos, cartafoles ou proxectos
Comment[it]=Cerca e sostituisci nei documenti, nelle cartelle o nei progetti
Comment[nl]=Zoeken en vervangen in documenten, mappen of projecten
Comment[nn]=Søk og byt ut i filer, mapper og prosjekt
Comment[pl]=Znajdź i zamień w dokumentach, katalogach lub projektach
Comment[pt]=Procurar e substituir nos documentos, pastas ou projectos abertos
Comment[pt_BR]=Pesquisa e substitui nos documentos, pastas ou projetos
Comment[ru]=Поиск и замена в открытых документах файлах или в проектах на диске
Comment[sk]=Hľadať & nahradiť v otvorených dokumentoch alebo v súboroch na disku
Comment[sv]=Sök och ersätt i dokument, kataloger eller projekt
Comment[uk]=Пошук з заміною у відкритих документах,теках або проектах
Comment[x-test]=xxSearch and replace in documents, folders, or projectsxx
Comment[zh_CN]=在文档，文件夹或项目中搜索和替换
Comment[zh_TW]=在檔案、資料夾或專案中搜尋並取代
