[Desktop Entry]
GenericName=Kate Snippets TNG datafile editor
GenericName[gl]=Editor de ficheiros TNG de retallos de texto de Kate
GenericName[nds]=Verbetert Editor för Kate-Snippels
GenericName[pt]=Editor de ficheiros de dados TNG dos excertos do Kate
GenericName[pt_BR]=Editor de arquivos de dados TNG dos trechos de texto do Kate
GenericName[sv]=TNG-datafileditor för textsnuttar i Kate
GenericName[uk]=Редактор файла даних TNG фрагментів тексту Kate
GenericName[x-test]=xxKate Snippets TNG datafile editorxx
Name=Kate Snippets TNG datafile editor
Name[gl]=Editor retallos de texto TNG para Kate
Name[nds]=Verbetert Editor för Kate-Snippels
Name[pt]=Editor de ficheiros de dados TNG dos excertos do Kate
Name[pt_BR]=Editor de arquivos de dados TNG dos trechos de texto do Kate
Name[sv]=TNG-datafileditor för textsnuttar i Kate
Name[uk]=Редактор файла даних TNG фрагментів тексту Kate
Name[x-test]=xxKate Snippets TNG datafile editorxx

MimeType=application/x-katesnippets_tng;
Exec=katesnippetstng_editor %U
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=false
Icon=kate
Type=Application
NoDisplay=true
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.katesnippetstng_editor
Categories=Qt;KDE;Utility;TextEditor;
