[Desktop Entry]
GenericName=Kate Snippets TNG datafile editor
GenericName[da]=Kate-stumper TNG datafil-editor
GenericName[en_GB]=Kate Snippets TNG datafile editor
GenericName[es]=Editor de archivos de datos TNG de snippets para Kate
GenericName[et]=Kate juppide uue põlvkonna andmefaili redaktor
GenericName[fr]=Éditeur de fichiers de données TNG de fragments pour Kate
GenericName[gl]=Editor de ficheiros TNG de fragmentos de texto de Kate
GenericName[it]=Editor dei file di dati TNG per i frammenti di Kate
GenericName[nb]=TNG datafilredigering for Kate tekstbiter
GenericName[nds]=Verbetert Editor för Kate-Snippels
GenericName[pt]=Editor de ficheiros de dados TNG dos excertos do Kate
GenericName[pt_BR]=Editor de arquivos de dados TNG dos trechos de texto do Kate
GenericName[ru]=Редактор файлов данных TNG фрагментов текста Kate
GenericName[sv]=TNG-datafileditor för textsnuttar i Kate
GenericName[tr]=Kate Snippets TNG veri dosyası düzenleyici
GenericName[uk]=Редактор файла даних TNG фрагментів тексту Kate
GenericName[x-test]=xxKate Snippets TNG datafile editorxx
GenericName[zh_TW]=Kate 片段 TNG 資料檔編輯器
Name=Kate Snippets TNG datafile editor
Name[da]=Kate-stumper TNG datafil-editor
Name[en_GB]=Kate Snippets TNG datafile editor
Name[es]=Editor de archivos de datos TNG de snippets para Kate
Name[et]=Kate juppide uue põlvkonna andmefaili redaktor
Name[fr]=Éditeur de fichiers de données TNG de fragments de texte pour Kate
Name[gl]=Editor de fragmentos TNG para Kate
Name[it]=Editor dei file di dati TNG per i frammenti di Kate
Name[nb]=TNG datafilredigering for Kate tekstbiter
Name[nds]=Verbetert Editor för Kate-Snippels
Name[pt]=Editor de ficheiros de dados TNG dos excertos do Kate
Name[pt_BR]=Editor de arquivos de dados TNG dos trechos de texto do Kate
Name[ru]=Редактор файлов данных TNG фрагментов текста Kate
Name[sv]=TNG-datafileditor för textsnuttar i Kate
Name[tr]=Kate Snippets TNG veri dosyası düzenleyici
Name[uk]=Редактор файла даних TNG фрагментів тексту Kate
Name[x-test]=xxKate Snippets TNG datafile editorxx
Name[zh_TW]=Kate 片段 TNG 資料檔編輯器

MimeType=application/x-katesnippets_tng;
Exec=katesnippetstng_editor %U
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=false
Icon=kate
Type=Application
NoDisplay=true
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.katesnippetstng_editor
Categories=Qt;KDE;Utility;TextEditor;
