[Desktop Entry]
GenericName=Snippets datafile editor
Name=Snippets datafile editor

MimeType=application/x-ktesnippets;
Exec=ktesnippets_editor %U
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=false
Icon=kate
Type=Application
NoDisplay=true
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.ktesnippets_editor
Categories=Qt;KDE;Utility;TextEditor;
