Name=Text Editor
Name[af]=teks redigeerder
Name[be]=Тэкставы рэдактар
Name[bs]=Text editor
Name[cs]=Textový editor
Name[da]=Teksteditor
Name[el]=Διορθωτής Κειμένου
Name[eo]=Redaktilo
Name[es]=Editor de textos
Name[fi]=Tekstimuokkain
Name[he]=עורך טקסט
Name[hu]=szövegszerkesztő
Name[ja]=テキストエディタ
Name[pt_BR]=Editor de Texto
Name[sv]=Texteditor
Name[tr]=Metin Düzenleyici
Name[af]=teks redigeerder
Name[be]=Тэкставы рэдактар
Name[bs]=Text editor
Name[cs]=Textový editor
Name[da]=Teksteditor
Name[el]=Διορθωτής Κειμένου
Name[eo]=Redaktilo
Name[es]=Editor de textos
Name[fi]=Tekstimuokkain
Name[he]=עורך טקסט
Name[hu]=szövegszerkesztő
Name[ja]=テキストエディタ
Name[pt_BR]=Editor de Texto
Name[sv]=Texteditor
Name[tr]=Metin Düzenleyici
Comment=The text editor service provides applications with a text viewer and editor. KDE applications that provide text editing facilities should use this service.
Comment[af]=die teks redigeerder diens verskaf programme met 'n teks aansig en redigeerder. kde programme wat verskaf teks redigering fasiliteite moet gebruik hierdie diens.
Comment[bs]=Text editor servis pruža aplikacijama preglednik i editor teksta. KDE aplikacije koje imaju mogućnost editovanja teksta bi trebale koristiti ovaj servis.
Comment[da]=Teksteditor-tjenesten udstyrer programmer med en tekstfremviser og editor. KDE-programmer der bruger tekstredigeringsfaciliteter bør benytte denne tjeneste.
Comment[es]=El servicio del editor de texto proporciona aplicaciones con un visor de textos y un editor de textos. Las aplicaciones KDE que suministran propiedades de edición deberían utilizar este servicio.
Comment[fi]=Tekstieditoripalvelu tarjoaa sovelluksille tekstinäyttäjän ja muokkaimen. KDE sovelluksien, jotka tarjoavat tekstinmuokkauspalveluita, tulisi käyttää tätä palvelua.
Comment[pt_BR]=O serviço de edição de texto fornece aplicações com um visualizador e um editor de textos. Aplicações do KDE que fornecem facilidades de edição de texto devem usar este serviço.
Comment[sv]=Texteditortjänsten ger program en textvisare och editor. KDE-program som tillhandahåller textredigeringsfunktioner bör använda denna tjänst.
Comment[af]=die teks redigeerder diens verskaf programme met 'n teks aansig en redigeerder. kde programme wat verskaf teks redigering fasiliteite moet gebruik hierdie diens.
Comment[bs]=Text editor servis pruža aplikacijama preglednik i editor teksta. KDE aplikacije koje imaju mogućnost editovanja teksta bi trebale koristiti ovaj servis.
Comment[da]=Teksteditor-tjenesten udstyrer programmer med en tekstfremviser og editor. KDE-programmer der bruger tekstredigeringsfaciliteter bør benytte denne tjeneste.
Comment[es]=El servicio del editor de texto proporciona aplicaciones con un visor de textos y un editor de textos. Las aplicaciones KDE que suministran propiedades de edición deberían utilizar este servicio.
Comment[fi]=Tekstieditoripalvelu tarjoaa sovelluksille tekstinäyttäjän ja muokkaimen. KDE sovelluksien, jotka tarjoavat tekstinmuokkauspalveluita, tulisi käyttää tätä palvelua.
Comment[pt_BR]=O serviço de edição de texto fornece aplicações com um visualizador e um editor de textos. Aplicações do KDE que fornecem facilidades de edição de texto devem usar este serviço.
Comment[sv]=Texteditortjänsten ger program en textvisare och editor. KDE-program som tillhandahåller textredigeringsfunktioner bör använda denna tjänst.
ServiceTypeToConfigure=KTextEditor/Document
MimeTypeOfInterest=text/plain
defaultImplementation=katepart
storeInFile=default_components
valueSection=KTextEditor
valueName=embeddedEditor
configurationType=component
