Name=Embedded Text Editor
Name[af]=teks redigeerder
Name[be]=Тэкставы рэдактар
Name[bs]=Text editor
Name[ca]=Editor de text
Name[cs]=Textový editor
Name[da]=Teksteditor
Name[de]=Texteditor
Name[el]=Διορθωτής κειμένου
Name[eo]=Redaktilo
Name[es]=Editor de textos
Name[fi]=Tekstimuokkain
Name[fo]=Tekstritil
Name[he]=עורך טקסט
Name[hu]=szövegszerkesztő
Name[it]=Editor di testi
Name[ja]=テキストエディタ
Name[ko]=글월 편집기
Name[mt]=Editur ta' test
Name[nb]=Tekstredigerer
Name[nl]=teksteditor
Name[pt]=Editor de Texto
Name[pt_BR]=Editor de Texto
Name[ro]=Editor de text
Name[sk]=Textový editor
Name[sv]=Texteditor
Name[tr]=Metin Düzenleyici
Name[uk]=Текстовий редактор
Name[zh_TW]=文字編輯器
Comment=The text editor service provides applications with a text viewer and editor. KDE applications that provide text editing facilities should use this service.
Comment[af]=die teks redigeerder diens verskaf programme met 'n teks aansig en redigeerder. kde programme wat verskaf teks redigering fasiliteite moet gebruik hierdie diens.
Comment[bs]=Text editor servis pruža aplikacijama preglednik i editor teksta. KDE aplikacije koje imaju mogućnost editovanja teksta bi trebale koristiti ovaj servis.
Comment[ca]=El servei de l'editor de text proveeix d'aplicaciones amb un visor i un editor de text. Les aplicacions KDE que proveeixen de facilitats d'edició haurien d'emprar aquest servei.
Comment[da]=Teksteditor-tjenesten udstyrer programmer med en tekstfremviser og editor. KDE-programmer der bruger tekstredigeringsfaciliteter bør benytte denne tjeneste.
Comment[de]=Diese Komponente stellt Programmen einen Textbetrachter und -editor zur Verfügung. KDE-Anwendungen, die mit Textbearbeitung zu tun haben, sollten dieses Angebot nutzen.
Comment[el]=Η υπηρεσία διόρθωσης κειμένου παρέχει εφαρμογές με έναν προβολέα κειμένου και ένα διορθωτή κειμένου. Οι εφαρμογές του KDE που παρέχουν ευκολίες διόρθωσης κειμένου θα πρέπει να χρησιμοποιούν αυτήν την υπηρεσία. 
Comment[eo]=La tekstredaktila servo donas vin aplikaĵojn kun tekstrigardilo kaj redaktilo. KDE aplikaĵoj kiuj volas uzi tekstredakton uzu tiun ĉi servon.
Comment[es]=El servicio del editor de texto proporciona aplicaciones con un visor de textos y un editor de textos. Las aplicaciones KDE que suministran propiedades de edición deberían utilizar este servicio.
Comment[fi]=Tekstieditoripalvelu tarjoaa sovelluksille tekstinäyttäjän ja muokkaimen. KDE sovelluksien, jotka tarjoavat tekstinmuokkauspalveluita, tulisi käyttää tätä palvelua.
Comment[fo]=Tekstritiltænastuni gera forrit út við ein tekstvísari og -ritil. KDE-forrit ið geva nýtarin møguleiki fyri at rætta tekst eiga at nýta hesa tænasta.
Comment[hu]=A szövegszerkesztő szolgáltatáson keresztül az alkalmazások szövegek megtekintését és szerkesztését végezhetik el. A KDE szövegszerkesztő programjai használhatják.
Comment[mt]=Is-servizz ta' editur ta' test jipprovdi l-programmi b'werrej u editur ta' test. Programmi tal-KDE li jipprovdu servizzi ta' editjar ta' test għandhom jużaw dan is-servizz.
Comment[nb]=Tekstredigerertjenesten gir programmer n tekstframviser og redigerer. KDE-programmer som gir tekstredigeringsmuligheter bør bruke denne tjenesten.
Comment[nl]=Dit component stelt programma's een tekstviewer en -editor tot hun beschikking. KDE-applicaties die te maken hebben met het bewerken van tekst kunnen gebruik maken van deze aangeboden dienst.
Comment[pt_BR]=O serviço de edição de texto fornece aplicações com um visualizador e um editor de textos. Aplicações do KDE que fornecem facilidades de edição de texto devem usar este serviço.
Comment[ro]=Serviciul de editare text asigură aplicaţiilor un vizualizor de text şi un editor. Aplicaţiile KDE care oferă capabilităţi de editare de text ar trebui să utilizeze acest serviciu.
Comment[sk]=Služba textového editora poskytuje aplikáciám prehliadač a editor textových súborov. Aplikácie KDE, ktoré podporujú úpravu textu, by mali používať túto službu.
Comment[sv]=Texteditortjänsten ger program en textvisare och editor. KDE-program som tillhandahåller textredigeringsfunktioner bör använda denna tjänst.
Comment[uk]=Служба "Текстовий редактор" постачає програми з переглядачем та редактором тексту. Програми KDE, які надають можливість редагування тексту, повинні користуватись цією службою.
Comment[zh_TW]=文字編輯服務提供程式一個文字檢視器以及編輯器。提供文字編輯功能的 KDE 程式擁該使用這項服務。
ServiceTypeToConfigure=KTextEditor/Document
MimeTypeOfInterest=text/plain
defaultImplementation=katepart
storeInFile=default_components
valueSection=KTextEditor
valueName=embeddedEditor
configurationType=component
