[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KTextEditor/ViewPlugin
X-KDE-Derived=
Comment=KTextEditor Plugin
Comment[da]=KTextEditor-indstik
