[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Plugin
X-KDE-Derived=
Comment=KTextEditor Plugin
Comment[fr]=Module externe KTextEditor
Comment[x-test]=xxKTextEditor Pluginxx
