[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Plugin
X-KDE-Derived=
Comment=KTextEditor Plugin
Comment[ar]=ملحقة محرّر نصوصك
Comment[bg]=Приставка за KTextEditor
Comment[bs]=Priključak za KTextEditor
Comment[ca]=Connector del KTextEditor
Comment[ca@valencia]=Connector del KTextEditor
Comment[cs]=Modul textového editoru
Comment[da]=KTextEditor-plugin
Comment[de]=KTextEditor-Modul
Comment[el]=Πρόσθετο του KTextEditor
Comment[en_GB]=KTextEditor Plugin
Comment[es]=Complemento KTextEditor
Comment[et]=KTextEditori plugin
Comment[eu]=KTextEditor plugina
Comment[fi]=KTextEditor-liitännäinen
Comment[fr]=Module externe KTextEditor
Comment[ga]=Breiseán KTextEditor
Comment[gl]=Engadido de KTextEditor
Comment[he]=תוסף KTextEditor
Comment[hu]=KTextEditor-bővítmény
Comment[ia]=KTextEditor Plugin
Comment[it]=Estensione KTextEditor
Comment[ja]=KTextEditor プラグイン
Comment[kk]=KTextEditor плагині
Comment[km]=កម្មវិធី​ជំនួយ​របស់ KTextEditor
Comment[ko]=KTextEditor 플러그인
Comment[lt]=KTextEditor priedas
Comment[lv]=KTextEditor spraudnis
Comment[mr]=के-टेक्स्ट-एडिटर प्लगइन
Comment[nb]=Programtillegget KTextEditor
Comment[nds]=KTextEditor-Moduul
Comment[nl]=KTextEditor-plug-in
Comment[nn]=KTextEditor-tillegg
Comment[pa]=KTextEditor ਪਲੱਗਇਨ
Comment[pl]=Wtyczka edytora tekstu
Comment[pt]='Plugin' do KTextEditor
Comment[pt_BR]=Plugin do KTextEditor
Comment[ro]=Modul editor de text
Comment[ru]=Расширение KTextEditor
Comment[si]=Kපෙළසැකසීම ප්ලගිනය
Comment[sk]=KTextEditor Plugin
Comment[sl]=Vstavek za KTextEditor
Comment[sr]=Прикључак за KTextEditor
Comment[sr@ijekavian]=Прикључак за KTextEditor
Comment[sr@ijekavianlatin]=Priključak za KTextEditor
Comment[sr@latin]=Priključak za KTextEditor
Comment[sv]=Insticksprogram för texteditor
Comment[tg]=Плагини KTextEditor
Comment[tr]=KTextEditor Eklentisi
Comment[ug]=KTextEditor قىستۇرما
Comment[uk]=Додаток KTextEditor
Comment[wa]=Tchôke-divins KTextEditor
Comment[x-test]=xxKTextEditor Pluginxx
Comment[zh_CN]=KTextEditor 插件
Comment[zh_TW]=KTextEditor 外掛程式

[PropertyDef::X-KDE-Version]
Type=double
