[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Plugin
X-KDE-Derived=
Comment=KTextEditor Plugin

[PropertyDef::X-KDE-Version]
Type=double
