[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/LoadSaveFilterCheckPlugin
X-KDE-Derived=
Comment=KTextEditor load/save filter/check plugin
Comment[cs]=Modul načtení/uložení filtrování/kontroly KTextEditoru
Comment[de]=KTextEditor-Modul zu Filtern/Prüfen beim Laden/Speichern
Comment[en_GB]=KTextEditor load/save filter/check plugin
Comment[et]=KTextEditori laadimise/salvestamise filtreerimise/kontrollimise plugin
Comment[gl]=Engadido de filtro/comprobación ao cargar/gardar para KTextEditor
Comment[ia]=KTextEditor plugin per cargar/salvar filtrar/controlar
Comment[nb]=KTextEditor programtillegg for laste/lagre filter/sjekk
Comment[nds]=KTextEditor-Moduul för't Filtern/Pröven bi't Laden un Sekern
Comment[nl]=KTextEditor-plugin voor laden/opslaan filteren/controleren
Comment[pt]='Plugin' de filtragem/verificação do carregamento/gravação do KTextEditor
Comment[pt_BR]=Plug-in de carregamento/gravação e filtro/verificação do KTextEditor
Comment[ru]=Загрузка и сохранение фильтров для KTextEditor
Comment[sv]=Texteditor insticksprogram för ladda/spara filter/kontrollera
Comment[uk]=Додаток для завантаження/збереження фільтрування/перевірки KTextEditor
Comment[wa]=Tchôke-divins di KTexteditor po tcherdjî/schaper passer al passete/verifyî
Comment[x-test]=xxKTextEditor load/save filter/check pluginxx
Comment[zh_TW]=KTextEditor 載入/儲存、過濾/檢查外掛程式
