[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Document
X-KDE-Derived=KParts/ReadWritePart
Comment=Embeddable Text Editor Component (with Doc/View Separation)
Comment[x-test]=xxEmbeddable Text Editor Component (with Doc/View Separation)xx
