[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/LoadSaveFilterCheckPlugin
X-KDE-Derived=
Comment=KTextEditor load/save filter/check plugin
Comment[be@latin]=Plugin adčynieńnia/zapisu filtra/pravierki dla słužby „KTextEditor”
Comment[ca]=Connector del KTextEditor de filtratge/comprovació de càrrega/desat
Comment[de]=KTextEditor-Modul zu Filtern/Prüfen beim Laden/Speichern
Comment[el]=Φίλτρο φόρτωσης/αποθήκευσης πρόσθετο ελέγχου του KTextEditor
Comment[es]=Complemento de filtrado/comprobación para abrir/guardar de KTextEditor
Comment[et]=KTextEditori laadimise/salvestamise filtreerimise/kontrollimise plugin
Comment[ga]=Breiseán scagaire luchtú/sábháil KTextEditor
Comment[gl]=Extensión de cargar/gardar o filtro/comprobación para KTextEditor
Comment[gu]=KTextEditor લાવવા/સંગ્રહ ગાળક/ચકાસણી પ્લગઇન
Comment[he]=תוסף לשמירה וטעינה או בדיקה של תוסף עבור KTextEditor
Comment[hsb]=KTextEditor plugin za wočinjenje/zawěsćenje
Comment[is]=KTextEditor hlaða/vista sía/prófa íforrit
Comment[kk]=KTextEditor жүктеу/сақтау сүзгілеу/тексеру плагині
Comment[km]=កម្មវិធី​ជំនួយ​ត្រួតពិនិត្យ/ត្រង ផ្ទុក/រក្សាទុក​របស់ KTextEditor
Comment[kn]=ಕೆಟೆಕ್ಸ್ಟ್ ಎಡಿಟರ್ ಉತ್ಥಾಪಿಸು/ಉಳಿಸು ಶೋಧಿಸು/ಪರಿಶೀಲಿಸಿ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Comment[lv]=KTextEditor ielādēšanas/saglabāšanas  filtrs/pārbaudīšanas spraudnis
Comment[ml]=കെടെക്സ്റ്റ്എഡിറ്റര്‍ ചേര്‍ക്കുക/സൂക്ഷിയ്ക്കുക ഫില്‍ടര്‍/പരിശോദിയ്ക്കുക എന്നതിനുള്ള സംയോജകം
Comment[nb]=KTextEditor programtillegg for laste/lagre filter/sjekk
Comment[nds]=KTextEditor-Moduul för't Filtern/Pröven bi't Laden un Sekern
Comment[nl]=KTextEditor-plugin voor laden/opslaan filteren/controleren
Comment[pa]=KTextEditor ਲੋਡ/ਸੰਭਾਲਣ ਫਿਲਟਰ/ਪਲੱਗਇਨ ਚੈੱਕ
Comment[pt]='Plugin' de filtragem/verificação do carregamento/gravação do KTextEditor
Comment[pt_BR]=Plug-in de carregamento/gravação e filtro/verificação do KTextEditor
Comment[sv]=Texteditor insticksprogram för ladda/spara filter/kontrollera
Comment[tg]=Васлкунаки KTextEditor барои баркунӣ/захиракунӣ, филтр/санҷиш
Comment[th]=โปรแกรมเสริมตรวจสอบ/กรอง การโหลด/การบันทึก ของ KTextEditor
Comment[tr]=KTextEditor yükleme/kaydetme filtreleme/denetleme eklentisi
Comment[uk]=Додаток для завантаження/збереження фільтрування/перевірки KTextEditor
Comment[x-test]=xxKTextEditor load/save filter/check pluginxx
Comment[zh_CN]=KTextEditor 读写过滤/检查插件
Comment[zh_TW]=KTextEditor 載入/儲存、過濾/檢查外掛程式
