[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/LoadSaveFilterCheckPlugin
X-KDE-Derived=
Comment=KTextEditor load/save filter/check plugin
Comment[es]=Complemento de filtrado/comprobación para abrir/guardar de KTextEditor
Comment[et]=KTextEditori laadimise/salvestamise filtreerimise/kontrollimise plugin
Comment[ga]=Breiseán scagaire luchtú/sábháil KTextEditor
Comment[gl]=Extensión de cargar/gardar o filtro/comprobación para KTextEditor
Comment[km]=កម្មវិធី​ជំនួយ​ត្រួតពិនិត្យ/ត្រង ផ្ទុក/រក្សាទុក​របស់ KTextEditor
Comment[nds]=KTextEditor-Moduul för't Filtern/Pröven bi't Laden un Sekern
Comment[pt]='Plugin' de filtragem/verificação do carregamento/gravação do KTextEditor
Comment[pt_BR]='Plugin' de filtragem/verificação do carregamento/gravação do KTextEditor
Comment[sv]=Texteditor insticksprogram för ladda/spara filter/kontrollera
Comment[uk]=Додаток для завантаження/збереження фільтрування/перевірки KTextEditor
Comment[zh_TW]=KTextEditor 載入/儲存、過濾/檢查外掛程式
