[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Editor
X-KDE-Derived=KParts/ReadWritePart
Comment=Embeddable Text Editor Component (without Doc/View Seperation)
Comment[af]=inlegbare teks redigeerder komponent
Comment[ara]=مكوّن تحرير النصوص القابل للدمج
Comment[az]=Hopdurula Bilən Mətn Editor Komponenti
Comment[bg]=Вграден елемент на редактор за текст
Comment[br]=Parzh aozer skrid enframmus
Comment[bs]=Umetljiva komponenta za obradu teksta
Comment[ca]=Component editor de text encastable
Comment[cs]=Komponenta pro úpravu textu
Comment[da]=Teksteditor-komponent som kan indlejres
Comment[de]=Einbettungsfähige Editorkomponente
Comment[el]=Ενσωματώσιμο Άρθρωμα Διορθωτή Κειμένου
Comment[eo]=Implantebla redaktokomponento
Comment[es]=Componente incrustable Editor de textos
Comment[et]=Põimitav tekstiredaktori komponent
Comment[eu]=Textu Editore Osagai Txertagarria
Comment[fi]=Upotettava tekstimuokkauskomponentti
Comment[fr]=Afficheur de texte incorporé
Comment[gl]=Compoñente embebible de Edición de Texto
Comment[he]=רכיב עורך טקסט ניתן להטבעה
Comment[hr]=Umetljiva komponenta za obradu teksta
Comment[hu]=Beágyazható szövegszerkesztő-komponens
Comment[ind]=Komponen Editor Teks yang embeddable
Comment[is]=Ásetjanlegur textaritill
Comment[it]=Componente importabile per la modifica dei testi
Comment[ja]=埋め込み可能なテキストエディタコンポーネント
Comment[ko]=다른 곳에 끼워져서 글월을 고칠 수 있게하는 콤포넌트
Comment[lt]=Įdedamas tekstų redaktoriaus komponentas
Comment[lv]=Iegultā Tekstu Redaktora Komponente
Comment[mk]=Вградлива компонента за уредување текст
Comment[mt]=Komponent integrat editur tat-test
Comment[nl]=een inbedbaar teksteditorcomponent
Comment[no]=Inkluderbart tekstredigeringskomponent
Comment[no_NY]=Inkluderbart komponent for tekstvising
Comment[oc]=Component editor de text encastable
Comment[pl]=Składnik edytora tekstu (do osadzania)
Comment[pt]=Componente embebível para editar texto
Comment[pt_BR]=Componente embutível de edição de textos
Comment[ru]=Встраиваемый элемент редактора текста
Comment[sk]=Vložiteľný komponent textového editora
Comment[sl]=Vgradna komponenta urejevalnika besedil
Comment[sr]=Ugradiva komponenta za obradu teksta
Comment[sv]=Inbäddningsbar texteditor komponent
Comment[ta]=¯ð¦À¡¾¢ì¸ÅøÄ ¯¨Ãò ¦¾¡ÌôÀ¡Ç÷ì ÜÚ
Comment[tr]=Gömülebilir Metin Düzenleyici Bileşeni
Comment[uk]=Вбудований компонент 'редактор текстів'
Comment[vi]=Componet của trình soạn thảo văn bản có thềEEmbedd 
Comment[xh]=Inxenye yomhleli wokulungisiweyo okubhaliweyo
Comment[xxx]=xx
Comment[zh_CN.GB2312]=嵌入的文本编辑器部件
Comment[zh_TW.Big5]=嵌入的文字編輯器元件
