[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Document
X-KDE-Derived=KParts/ReadWritePart
Comment=Embeddable Text Editor Component (with Doc/View Separation)
Comment[af]=Inlegbare Teksredigeerderkomponent (met Dok/Besigtig Seperasie)
Comment[ar]=مكوّن تحرير النصوص القابل للدمج (مع Doc/View Separation)
Comment[be]=Унутраны тэкставы рэдактар (з падзелам Дакумент/Прагляд)
Comment[be@latin]=Unutrany kampanent tekstavaha redaktara (z padziełam na dakumenty j prahlady)
Comment[bg]=Текстов редактор (с разделение между Doc/View)
Comment[bn]=অভ্যন্তরীণ টেক্সট সম্পাদক কম্পোনেন্ট (পৃথক ডক/ভিউ সহ)
Comment[bn_IN]=এমবেড করা টেক্সট এডিটেরের সামগ্রী (Doc/View পার্থক্যসহ)
Comment[ca]=Component encastable de l'editor de text (amb separació Doc/Vista)
Comment[cs]=Pohltitelná komponenta textového editoru (s oddělením Doc/View)
Comment[csb]=Dzél editora tekstu (do òbsôdzaniô, z paradygmatã Dokùment/Wëzdrzatk)
Comment[cy]=Cydran Golygydd Testun Mewnadeiladwy (wrth Wahanu Dogfen/Golwg)
Comment[da]=Teksteditorkomponent som kan indlejres (med dok./visning-adskillelse)
Comment[de]=Einbettungsfähige Editorkomponente (mit Text/Ansicht-Aufteilung)
Comment[el]=Ενσωματώσιμο στοιχείο επεξεργαστή κειμένου (με διαχωρισμό Doc/View)
Comment[eo]=Enkorpigita redaktilo (kun apartigo de dokumento kaj rigardo)
Comment[es]=Componente empotrable de editor de textos (con separación Doc/Vista)
Comment[et]=Põimitav tekstiredaktori komponent (dokument/vaade eraldamisega)
Comment[eu]=Testu-editorearen kapsulatutako osagaia (Dok/Ikusi bereizketarekin)
Comment[fa]=مولفۀ ویرایشگر متن نهفته )با سند/نمای مجزا(
Comment[fi]=Upotettava tekstimuokkauskomponentti (Asiakirja/Näkymä-jaolla)
Comment[fr]=Composant d'édition de texte intégrable (avec séparation doc / vue)
Comment[fy]=Yn te sluten tekstbewurkerkomponint (mei skieding fan tekst/werjefte)
Comment[ga]=Comhpháirt eagarthóireacht téacs inleabaithe (le deighilt idir cáipéis agus amharc)
Comment[gl]=Componente integrábel de edición de texto (cunha Separación Doc/Vista)
Comment[gu]=જડિત લખાણ સંપાદક ભાગ (Doc/View અલગ પાડેલ સાથે)
Comment[he]=רכיב עורך טקסט הניתן לשיבוץ (עם הפרדה בין מסמך לתצוגה)
Comment[hi]=अंतर्निर्मित पाठ संपादक अवयव (डॉक/दृश्य विभाजन के साथ)
Comment[hr]=Ugradiva komponenta obrade teksta (s Doc/View razdvajanjem)
Comment[hsb]=Komponenta za integrowane wobdźěłanje teksta
Comment[hu]=Beágyazható szövegszerkesztő (dokumentum/nézet modellel)
Comment[is]=Ívafinn textaritill (með skjal/sýn aðskilnaði)
Comment[it]=Componente integrabile per l'elaborazione di testi (con separazione documento/vista)
Comment[ja]=埋め込み可能なテキストエディタコンポーネント (Doc/View 分離)
Comment[kk]=Ендірілетін мәтін өңдеу компоненті (Құжат/көрініс үлгіні қолдайтын)
Comment[km]=សមាសភាគ​កម្មវិធីនិពន្ធ​អត្ថបទ​ដែល​អាចបង្កប់ (ដោយ​ប្រើ​ការ​បំបែក Doc/View)
Comment[kn]=ಹುದುಗಿಸಬಹುದಾದ (ಎಂಬೆಡಬಲ್) ಪಠ್ಯ-ಸಂಪಾದಕದ ಅಂಶ (ದಸ್ತಾವೇಜು/ನೋಟ ಬೇರ್ಪಡೆಯೊಂದಿಗೆ)
Comment[ko]=끼워넣는 텍스트 편집기 구성 요소 (문서/보기 구분)
Comment[lb]=Abettbar Texteditor-Komponent (mat Dokument/Usiicht Trennung)
Comment[lt]=Įdedamas tekstų redaktoriaus komponentas (su Doc/View atskyrimu)
Comment[lv]=Iegulstama tekstu redaktora komponente (ar Dok/Skata atdalīšanu)
Comment[mai]=अंतर्निर्मित पाठ संपादक अवयव (डाक/दृश्य विभाजन केर सँग)
Comment[mk]=Вгнездлива компонента за уредување на текст (со Док/Приказ раздвојување)
Comment[ml]=എംബഡ് ചെയ്യാവുന്ന ടെക്സ്റ്റ് എഴുത്തിടമെന്ന ഘടകം (ഡോക്/വ്യൂ വ്യത്യാസത്തോടെ)
Comment[mr]=अंतर्भूतीत पाठ्य संपादक घटक (दस्तऐवज/प्रदर्शन विभाजन सह)
Comment[ms]=Komponen Penyunting Teks Boleh Selit (Dokumentasi/Pelihat berasingan)
Comment[nb]=Innebygget skriveprogram (med Doc/View-skille)
Comment[nds]=Inbettbor Texteditor-Komponent (mit Dokment/Ansicht-Trennen)
Comment[ne]=सम्मिलित पाठ सम्पादक अवयव (Doc/View Separation बाट)
Comment[nl]=Ingebed tekstinvoercomponent (met scheiding van tekst/weergave)
Comment[nn]=Inkluderbart komponent for tekstvising (med Doc/View-deling)
Comment[pa]=ਇੰਬੈੱਡਯੋਗ ਟੈਕਸਟ ਐਡੀਟਰ ਭਾਗ (Doc/ਝਲਕ ਵੱਖ ਕਰਨ ਨਾਲ)
Comment[pl]=Składnik edytora tekstu (do osadzania, z paradygmatem Dokument/Widok)
Comment[pt]=Componente Incorporado do Editor de Texto (com Separação entre Documentos)
Comment[pt_BR]=Componente de edição de textos integrado (com separação de documentação/visualização)
Comment[ro]=Componentă de editare text (cu separare Doc/Vizualizare)
Comment[ru]=Встраиваемый компонент редактора текста (с поддержкой модели документ/вид)
Comment[se]=Vuojuhanláhkái čállinprográmmaoassi (Doc/View-sirremiin)
Comment[sk]=Vložiteľný komponent textového editora (s oddelením Doc/View)
Comment[sl]=Vgradljiva komponenta urejevalnika besedil (z ločevanjem pogleda in dokumenta)
Comment[sr]=Угњездива компонента уређивача текста (уз раздвајање документ-приказ)
Comment[sr@latin]=Ugnjezdiva komponenta uređivača teksta (uz razdvajanje dokument-prikaz)
Comment[sv]=Inbäddningsbar texteditor (med dok/vyseparation)
Comment[ta]=உட்பொதிந்த உரை தொகுப்பாளர் பகுதி (ஆவண/காட்சி பிரிவுகளுடன்)
Comment[te]=పొదగబడె వాచకం సరిచేయు అంశం (పత్ర/వీక్షణ విభజన వున్నది)
Comment[tg]=Компоненти таҳриргари матни дарунсохт (бо ҷудокунандаи Санад/Намоиш)
Comment[th]=คอมโพเนนท์แก้ไขข้อความแบบฝังตัวได้ (โดยการแยกเอกสาร/มุมมอง)
Comment[tr]=Gömülebilir Metin Düzenleyici Bileşeni (Doc/View ayrımı dahil)
Comment[uk]=Компонент редактора текстів, який можна вбудовувати  (з розділенням документ/вигляд)
Comment[uz]=Ichiga oʻrnatib boʻladigan matn tahrirchi komponenti (hujjat/koʻrinish imkoniyati bilan)
Comment[uz@cyrillic]=Ичига ўрнатиб бўладиган матн таҳрирчи компоненти (ҳужжат/кўриниш имконияти билан)
Comment[vi]=Thành phần Soạn thảo Văn bản có nhúng được (có khả năng phân cách tài liệu/khung xem)
Comment[wa]=Ravalé compôzant aspougneu d' tecse (avou dispårtaedje documint/vuwe)
Comment[x-test]=xxEmbeddable Text Editor Component (with Doc/View Separation)xx
Comment[xh]=Inxenye Yomhleli Wombhalo Olungiselelweyo (ngo Xwebhu/Ulwahlulo Lwemboniselo)
Comment[zh_CN]=可嵌入的文本编辑器部件(文档和视图分离)
Comment[zh_HK]=可嵌入的文字編輯器元件 (Doc/View 分開)
Comment[zh_TW]=可嵌入的文字編輯器元件 (Doc/View 分開)
