[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Editor
X-KDE-Derived=KParts/ReadWritePart
Comment=Embeddable Text Editor Component (without Doc/View Separation)
Comment[af]=Inlegbare Teks Redigeerder Komponent (sonder om te Dok/Besigtig Seperasie)
Comment[ar]=مكوّن تحرير النصوص القابل للدمج )مع Doc/View Separation(
Comment[az]=Hopdurula Bilən Mətn Editor Komponenti (Doc/Nümayiş Ayrımsız)
Comment[bg]=Текстов редактор (без разделение между Doc/View)
Comment[bn]=অভ্যন্তরীণ টেক্সট সম্পাদক কম্পোনেন্ট (পৃথক ডক/ভিউ ছাড়া)
Comment[bs]=Umetljiva komponenta za obradu teksta (bez odvojenog Doc/View)
Comment[ca]=Component encastable de l'editor de text (sense separació Doc/Vista)
Comment[cs]=Pohltitelná komponenta textového editoru (bez oddělení Doc/View)
Comment[cy]=Cydran Golygydd Testun Mewnadeiladwy (heb Wahanu Dogfen/Golwg)
Comment[da]=Teksteditorkomponent som kan indlejres (uden dok./visning-adskillelse)
Comment[de]=Einbettungsfähige Editorkomponente (ohne Text/Ansicht-Aufteilung)
Comment[el]=Ενσωματώσιμο στοιχείο διορθωτή κειμένου (χωρίς διαχωρισμό Doc/View)
Comment[eo]=Interna redaktilo (sen apartigo de dokumento kaj rigardo)
Comment[es]=Componente incrustable de editor de textos (sin separación Doc/Vista)
Comment[et]=Põimitav tekstiredaktori komponent
Comment[eu]=Testu editore osagai txertagarria (Doc/Ikusi banatu gabe)
Comment[fa]=بخش ویرایشگر متن نهفته (بدون نمایش/راهنمای مجزا)
Comment[fi]=Upotettava tekstimuokkauskomponentti (ilman Asiakirja/Näkymä-jakoa)
Comment[fr]=Composant d'édition de texte intégrable (sans séparation doc / vue)
Comment[fy]=Yn te sluten tekstbewurkerkomponint (sûnder skieding fan tekst/werjefte)
Comment[ga]=Comhpháirt eagarthóireacht téacs inleabaithe (gan deighilt idir cáipéis agus amharc)
Comment[gl]=Compoñente incrustábel de Edición de Texto (sen Separación Doc/Vista)
Comment[he]=רכיב עורך טקסט בר הטבעה (בלי הפרדה בין מסמך לתצוגה)
Comment[hi]=अंतर्निहित किया जा सकने वाला पाठ संपादक (डाक/व्यू सेपरेशन के बगैर)
Comment[hr]=Umetljiva komponenta za obradu teksta (bez Doc/View separacije)
Comment[hsb]=Integrujomna komponenta za wobdźěłanje tekstow (bjez doc/view-separacije)
Comment[hu]=Beágyazható szövegszerkesztő (dokumentum/nézet modell nélkül)
Comment[is]=Ívafinn textaritill (án skjal/sýn aðskilnaðar)
Comment[it]=Componente integrabile per l'elaborazione di testi (senza separazione documento/vista)
Comment[ja]=埋め込み可能なテキストエディタコンポーネント (Doc/View 分離なし)
Comment[ko]=끼워넣는 글월 편집기 구성 요소 (Doc/View 나누지 않음)
Comment[lt]=Įdedamas tekstų redaktoriaus komponentas (be Doc/View atskyrimo)
Comment[lv]=Iegulstama tekstu redaktora komponente (bez Dok/Skatīt atdalīšanas)
Comment[mk]=Вгнездлива компонента за уредување на текст (без Док/Приказ раздвојување)
Comment[mn]=Суулгах боломж бүхий засварлагчийн бүрдэл хэсэг(Teкст/Харах-тусгаарлалтгүй)
Comment[ms]=Komponen Penyunting Teks Boleh Selit (Dokumentasi/Pelihat tidak berasingan)
Comment[mt]=Komponent integrat editur tat-test (mingħajr separazzjoni dokument/wiri)
Comment[nb]=Innebyggbar tekstredigeringskomponent (uten Doc/View skille)
Comment[nds]=Inbettbor Texteditor-Komponent (ahn Dokment/Ansicht-Trennen)
Comment[nl]=Ingebed teksteditorcomponent (zonder scheiding van tekst/weergave)
Comment[nn]=Inkluderbart komponent for tekstvising (utan Doc/View-deling)
Comment[nso]=Seripa seo se Robatsegago sa Mofetosi wa Sengwalwana (kantle le Karogano ya Doc/Bona)
Comment[pa]=ਸ਼ਾਮਿਲ ਹੋਣਯੋਗ ਪਾਠ ਸੰਪਾਦਕ ਭਾਗ (Doc/ਦਰਿਸ਼ ਵੱਖ ਕਰਨ ਬਿਨਾਂ)
Comment[pl]=Składnik edytora tekstu (do osadzania, bez paradygmatu Dokument/Widok)
Comment[pt]=Componente Embebível do Editor de Texto (sem Separação entre Documentos)
Comment[pt_BR]=Componente de edição de textos integrado (sem separação de Documentação/Visualização)
Comment[ro]=Componentă de editare text (fără separare Doc/Vizualizare)
Comment[ru]=Встраиваемый элемент редактора текста (без поддержки модели документ/вид)
Comment[se]=Vuojuhanláhkái čállinprográmmaoassi (almmá Doc/View-sirrema)
Comment[sk]=Vložiteľný komponent textového editora (bez oddelenia Doc/View)
Comment[sl]=Vgradljiva komponenta urejevalnika besedil (brez ločevanja pogleda in dokumenta)
Comment[sq]=Komponenta e ngulshme e Tekst Editorit (pa ndarje Dokument/Vështrues)
Comment[sr]=Уградива компонента за уређивање текста (без „документ/приказ“ одвајања)
Comment[sr@Latn]=Ugradiva komponenta za uređivanje teksta (bez „dokument/prikaz“ odvajanja)
Comment[ss]=Incenye yesihleli sembhalo lenamatselekako (ngaphandle kwe Doc/Bona kwehlukana)
Comment[sv]=Inbäddningsbar texteditor (utan dok/vyseparation)
Comment[ta]=உட்பொதிந்த உரை தொகுப்பாளர் கூறு (ஆவண/காட்சி பிரிவுகளற்ற)
Comment[tg]=Ҷузъи муҳаррири матни эҷодшаванда (ғайри дастгирии навъи ҳуҷҷат/намуд)
Comment[th]=คอมโปเนนท์แก้ไขข้อความที่ฝังได้ (โดยไม่แยก เอกสาร/แสดงผล)
Comment[uk]=Вбудовна компонента "редактор текстів" (без розділення документ/вигляд)
Comment[uz]=Ичига ўрнатиб бўладиган матн таҳрирчи компоненти (ҳужжат/кўриниш имкониятсиз)
Comment[ven]=Khomphonente ya musengulusi wa manwalwa (i sina Doc/U khethekana hau vhona)
Comment[vi]=Componet của trình soạn thảo văn bản có thể Embed( không phan^ biệtn Doc/ View)
Comment[xh]=Ingxenye Yomhleli Wombhalo Olungiselekayo (ngaphandle Koxwebhu/Ulwahlulo Lwemboniselo)
Comment[xx]=xxEmbeddable Text Editor Component (without Doc/View Separation)xx
Comment[zh_CN]=可嵌入的文本编辑器部件(不带 文档/查看 分离)
Comment[zh_TW]=可嵌入的文字編輯器元件 (Doc/View 不分開)
Comment[zu]=Ilunga Lomlungisi Wombhalo (ngaphandle Kokuhlukana kwe-Doc/Umbukiso)
