[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=block.py
Name=Block
Name[de]=Block
Name[nl]=Blok
Name[pt]=Bloco
Name[sk]=Blok
Name[sl]=Blok
Name[uk]=Блок
Name[x-test]=xxBlockxx
Comment=Various actions to help code editing
Comment[de]=Verschiedene Aktionen zur Hilfe bei dem Editieren von Quelltext
Comment[nl]=Verschillende acties om te helpen bij het bewerken van broncode
Comment[pt]=Várias acções para ajudar na edição de código
Comment[sk]=Rôzne akcie na pomoc pri editovaní kódu
Comment[sl]=Različna dejanja za pomoč pri urejanju kode
Comment[uk]=Різноманітні засоби допомоги у редагуванні коду
Comment[x-test]=xxVarious actions to help code editingxx
X-Python-2-Compatible=true
X-Python-3-Compatible=true
