[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=color_tools.py
Name=Color Tools
Name[de]=Farbenwerkzeuge
Name[nl]=Hulpmiddelen voor kleur
Name[pt]=Ferramentas de Cores
Name[sk]=Farebné nástroje
Name[sl]=Orodja za barve
Name[uk]=Засоби роботи з кольорами
Name[x-test]=xxColor Toolsxx
Comment=Utilities to work with hexadecimal colors in documents
Comment[de]=Hilfsmittel zum Umgang mit Hexadezimalwerten für Farben in Dokumenten
Comment[nl]=Hulpmiddelen om te werken met hexadecimale kleuren in documenten
Comment[pt]=Utilitários para lidar com cores hexadecimais nos documentos
Comment[sk]=Nástroje na prácu s hexadecimálnymi farbami v dokumentoch
Comment[sl]=Pripomočki za delo s šestnajstiškimi barvami v dokumentih
Comment[uk]=Засоби для роботи з шістнадцятковими кольорами у документах
Comment[x-test]=xxUtilities to work with hexadecimal colors in documentsxx
X-Python-2-Compatible=true
X-Python-3-Compatible=true
