[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=commentar
Name=Plugins to work with comments
Name[de]=Module für die Bearbeitung von Kommentaren
Name[es]=Complementos para trabajar con comentarios
Name[ia]=Plugins pro travaliar con commentos
Name[kk]=Түсініктемелермен жұмыс істеу плагиндары
Name[nl]=Plug-ins voor werken met commentaar
Name[pt]='Plugins' para lidar com comentários
Name[pt_BR]=Plugins para lidar com comentários
Name[sk]=Pluginy na prácu s komentármi
Name[sl]=Vstavki za delo z opombami
Name[sv]=Insticksprogram för att arbeta med kommentarer
Name[tr]=Yorumlarla çalışmak için eklentiler
Name[uk]=Додатки для роботи з коментарями
Name[x-test]=xxPlugins to work with commentsxx
Comment=Supported languages are C++, JS, Python, CMake, Bash
Comment[de]=Unterstützte Sprachen sind C++, JS, Python, CMake, Bash
Comment[es]=Los lenguajes permitidos son C++, JS, Python, CMake y Bash
Comment[ia]=Linguages supportate es C++,JS,Python, CMake, Bash
Comment[kk]=Қолдауы бар тілдер: C++, JS, Python, CMake, Bash
Comment[nl]=Ondersteunde talen zijn C++, JS, Python, CMake, Bash
Comment[pt]=As linguagens suportadas são o C++, JS, Python, CMake, Bash
Comment[pt_BR]=As linguagens suportadas são o C++, JS, Python, CMake e Bash
Comment[sk]=Podporované jazyky sú C++, JS, Python, CMake, Bash
Comment[sl]=Podprti jeziki so C++, JS, Python, CMake, Bash
Comment[sv]=Språk som stöds är C++, JS, Python, CMake, Bash
Comment[tr]=Desteklenen diller C++, JS, Python, CMake, Bash
Comment[uk]=Підтримуваними мовами є C++, JS, Python, CMake, Bash
Comment[x-test]=xxSupported languages are C++, JS, Python, CMake, Bashxx
X-Python-2-Compatible=true
