[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=format
Name=Boost-like C++ Code Formatter
Name[bs]=Formatiranje C++ koda u Boost stilu
Name[ca]=Formatador de codi com el C++ «boost»
Name[ca@valencia]=Formatador de codi com el C++ «boost»
Name[da]=Boost-like C++ kodeformatering
Name[de]=„C++“-Formatierer ähnlich wie Boost
Name[el]=Διαμορφωτής κώδικα C++ τύπου-Boost
Name[en_GB]=Boost-like C++ Code Formatter
Name[es]=Formateador de código C++ de tipo boost
Name[et]=Boosti moodi C++ koodi vormindaja
Name[fi]=Boostin kaltainen C++-koodin muotoilu
Name[fr]=Formateur de code C++ similaire à boost
Name[gl]=Formatador código C++ estilo Boost
Name[he]=מפרמט קוד בסגנון Boost עבור C++‎
Name[hu]=Lendület-szerű C++ kódformázó
Name[ia]=Formattator de Codice C++ como Boost
Name[kk]=Boost-секілді C++ код пішімдеу
Name[ko]=Boost 형식 C++ 서식 도구
Name[nb]=Boost-liknende C++ kodeformatterer
Name[nds]=C++-Kodeformateren as Boost
Name[nl]=C++ codeformatteerder lijkend op Boost
Name[pl]=Boost - formatowanie takie jak C++
Name[pt]=Formatação de Código C++ à Boost
Name[pt_BR]=Formatação de código C++ no estilo do Boost
Name[ru]=Форматирование кода C++ в стиле boost
Name[sk]=Boost-like C++ formátovač kódu
Name[sl]=Oblikovalnik kode C++ podoben Boost-u
Name[sr]=Форматирање Ц++ кода налик на Буст
Name[sr@ijekavian]=Форматирање Ц++ кода налик на Буст
Name[sr@ijekavianlatin]=Formatiranje C++ koda nalik na Boost
Name[sr@latin]=Formatiranje C++ koda nalik na Boost
Name[sv]=Boost-liknande C++ kodformatering
Name[tr]=Boost benzeri C++ Kod Biçimlendirici
Name[uk]=Засіб форматування коду C++ у стилі Boost
Name[x-test]=xxBoost-like C++ Code Formatterxx
Name[zh_CN]=类 Boost 的 C++ 代码格式化工具
Name[zh_TW]=類似 Boost 的 C++ 程式碼編排器
Comment=Help to format calls/templates in boost style
Comment[bs]=Pomoć za formatiranje poziva/predložaka u boost stilu
Comment[ca]=Ajuda a formatar les crides/plantilles en estil «boost»
Comment[ca@valencia]=Ajuda a formatar les crides/plantilles en estil «boost»
Comment[da]=Hjælp til at formatere kald/skabeloner i boost-stil
Comment[de]=Hilfe zur Formatierung von Aufrufen / Vorlagen im Boost-Stil
Comment[el]=Βοήθεια στη μορφοποίηση κλήσεων/προτύπων σε στιλ boost
Comment[en_GB]=Help to format calls/templates in boost style
Comment[es]=Ayuda para formatear llamadas y plantillas en estilo boost
Comment[et]=Väljakutsete ja mallide vormindamine Boosti laadis
Comment[fi]=Auttaa muotoilemaan kutsut/templatet Boost-tyyliin
Comment[fr]=Aide à formater les appels/modèles dans le style boost
Comment[gl]=Axuda a formatar as chamadas/modelos ao estilo de Boost
Comment[he]=עוזר לפרמט קריאות/תבניות בסגנון boost
Comment[hu]=Segítség a hívások/sablonok formázásához lendület stílusban
Comment[ia]=Adjuta a formar appellos/patronos in le stylo de boot
Comment[kk]=Шақыру мен үлгілерді boost стилінде пішімдеуге көмек
Comment[ko]=Boost 스타일로 함수 호출/템플릿 사용
Comment[nb]=Hjelper til å formatere kall/maler i boost-stil
Comment[nds]=Hülp bi't Formateren vun Oprööp/Vörlagen in Boost-Stil
Comment[nl]=Hulp bij de opmaak van calls/sjablonen in de stijl van Boost
Comment[pl]=Pomoc przy formatowaniu wywołań/szablonów w stylu boost
Comment[pt]=Ajuda a formatar as chamadas/modelos no estilo do Boost
Comment[pt_BR]=Ajuda a formatar as chamadas/modelos no estilo do Boost
Comment[ru]=Вспомогательные средства форматирования вызовов/шаблонов в стиле boost
Comment[sk]=Pomoc pri formátovaní volaní/šablón v štýle boost
Comment[sl]=Pomaga oblikovati klice/predloge v slogu boost
Comment[sr]=Форматирање позива и шаблона у стилу Буста
Comment[sr@ijekavian]=Форматирање позива и шаблона у стилу Буста
Comment[sr@ijekavianlatin]=Formatiranje poziva i šablona u stilu Boosta
Comment[sr@latin]=Formatiranje poziva i šablona u stilu Boosta
Comment[sv]=Hjälp att formatera anrop och mallar med Boost-stil
Comment[tr]=Çağrı ve şablonları boost biçeminde biçimlendirmej için yardım
Comment[uk]=Допоміжний інструмент форматування викликів та шаблонів у стилі boost
Comment[x-test]=xxHelp to format calls/templates in boost stylexx
Comment[zh_CN]=将调用/模板格式化为 boost 风格
Comment[zh_TW]=協助以 boost 樣式編排呼叫/templates
X-Python-2-Compatible=true
