[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=xml_pretty
Name=XML Tools
Name[cs]=Nástroje XML
Name[de]=XML-Werkzeuge
Name[es]=Herramientas XML
Name[fr]=Outils XML
Name[gl]=Utilidades XML
Name[ia]=Instrumentos de XML
Name[kk]=XML құралдары
Name[nl]=XML-hulpmiddelen
Name[pt]=Ferramentas de XML
Name[pt_BR]=Ferramentas de XML
Name[sk]=XML nástroje
Name[sl]=Orodja za XML
Name[sr]=ИксМЛ алатке
Name[sr@ijekavian]=ИксМЛ алатке
Name[sr@ijekavianlatin]=XML alatke
Name[sr@latin]=XML alatke
Name[sv]=XML-verktyg
Name[tr]=XML Araçları
Name[uk]=Засоби XML
Name[x-test]=xxXML Toolsxx
Name[zh_TW]=XML 工具
Comment=XML Pretty print
Comment[de]=XML-Quelltextformatierung
Comment[es]=Impresión elegante de XML
Comment[fr]=Impression automatique XML
Comment[gl]=Versión para ler XML
Comment[ia]=Imprime como XML pretty
Comment[kk]=XML безендіруі
Comment[nl]=XML mooie afdruk
Comment[pt]=Impressão bonita do XML
Comment[pt_BR]=Impressão bonita de XML
Comment[sk]=XML Pekná tlač
Comment[sl]=Lep tisk za XML
Comment[sr]=Улепшан испис ИксМЛ‑а
Comment[sr@ijekavian]=Улепшан испис ИксМЛ‑а
Comment[sr@ijekavianlatin]=Ulepšan ispis XML‑a
Comment[sr@latin]=Ulepšan ispis XML‑a
Comment[sv]=XML snygg utskrift
Comment[tr]=XML Güzel yazdırma
Comment[uk]=Форматування XML
Comment[x-test]=xxXML Pretty printxx
Comment[zh_TW]=XML 美觀列印
X-Python-2-Compatible=true
