[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=block
Name=Block
Name[bs]=Blok
Name[ca]=Bloc
Name[cs]=Blok
Name[de]=Block
Name[es]=Bloque
Name[fi]=Block
Name[fr]=Bloc
Name[gl]=Bloque
Name[he]=בלוק
Name[hu]=Blokk
Name[ia]=Bloco
Name[it]=Blocco
Name[kk]=Блок
Name[ko]=블록
Name[lt]=Blokas
Name[nb]=Blokk
Name[nds]=Block
Name[nl]=Blok
Name[pl]=Blok
Name[pt]=Bloco
Name[pt_BR]=Bloco
Name[ru]=Блок
Name[sk]=Blok
Name[sl]=Blok
Name[sr]=Блок
Name[sr@ijekavian]=Блок
Name[sr@ijekavianlatin]=Blok
Name[sr@latin]=Blok
Name[sv]=Rektangel
Name[tr]=Blok
Name[uk]=Блок
Name[x-test]=xxBlockxx
Name[zh_CN]=代码块
Name[zh_TW]=區塊
Comment=Various actions to help code editing
Comment[bs]=Razne akcije za pomoć uređenja koda
Comment[ca]=Diverses accions que ajuden en l'edició de codi
Comment[cs]=Různé činnosti pomáhající s úpravou kódu
Comment[de]=Verschiedene Aktionen zur Hilfe bei dem Editieren von Quelltext
Comment[es]=Diversas acciones para ayudar en la edición de código
Comment[fi]=Toimintoja helpottamaan koodin muokkausta
Comment[fr]=Diverses actions pour faciliter l'édition de code
Comment[gl]=Varias accións para axudar coa edición de código
Comment[he]=פעולות שונות לעזרה בעת עריכת קוד
Comment[hu]=Különféle műveletek a kódszerkesztés segítéséhez
Comment[ia]=Varie actiones pro adjutar modifica de codice
Comment[it]=Azioni varie di supporto alla modifica del codice
Comment[kk]=Түрлі кодты өңдеу көмек әрекеттері
Comment[ko]=코드 편집을 돕는 다양한 동작
Comment[nb]=Ymse handlinger som hjelper til med koderedigering
Comment[nds]=En Reeg Akschonen, de dat Kodeschrieven lichter maakt
Comment[nl]=Verschillende acties om te helpen bij het bewerken van broncode
Comment[pl]=Różne działania pomocne przy edytowaniu kodu
Comment[pt]=Várias acções para ajudar na edição de código
Comment[pt_BR]=Várias ações para ajudar na edição de código
Comment[ru]=Операции, полезные при редактировании кода
Comment[sk]=Rôzne akcie na pomoc pri editovaní kódu
Comment[sl]=Različna dejanja za pomoč pri urejanju kode
Comment[sr]=Разне радње за уређивање кода
Comment[sr@ijekavian]=Разне радње за уређивање кода
Comment[sr@ijekavianlatin]=Razne radnje za uređivanje koda
Comment[sr@latin]=Razne radnje za uređivanje koda
Comment[sv]=Diverse åtgärder för att hjälpa till vid kodredigering
Comment[tr]=Kod düzenlemeye yardımcı olmak için çeşitli eylemler
Comment[uk]=Різноманітні засоби допомоги у редагуванні коду
Comment[x-test]=xxVarious actions to help code editingxx
Comment[zh_CN]=帮助代码编辑的多种操作
Comment[zh_TW]=協助程式編輯的多個動作
X-Python-2-Compatible=true
