[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_autocomplete_jedi
Name=Python Autocompletion
Name[bs]=Automatsko kompletiranje za Python
Name[ca]=Autocompleció per al Python
Name[ca@valencia]=Autocompleció per al Python
Name[cs]=Automatické doplňování Pythonu
Name[da]=Python autofuldførelse
Name[de]=Python-Autovervollständigung
Name[el]=Αυτόματη συμπλήρωση Python
Name[es]=Terminación automática de Python
Name[et]=Pythoni automaatne lõpetamine
Name[fi]=Python-automaattitäydennys
Name[fr]=Auto-complètement Python
Name[gl]=Completado automático de Python
Name[he]=השלמה אוטומטית של Python
Name[hu]=Python automatikus kiegészítés
Name[ia]=Autocompletion de Python
Name[it]=Autocompletamento Python
Name[kk]=Python автотолықтыруы
Name[ko]=파이썬 자동 완성
Name[nb]=Python autofullføring
Name[nds]=Python-Autokompletteren
Name[nl]=Automatische aanvulling voor Python
Name[pl]=Samoczynne uzupełnianie Python
Name[pt]=Completação Automática de Python
Name[pt_BR]=Completação automática de Python
Name[ro]=Completare automată Python
Name[ru]=Автодополнение Python
Name[sk]=Automatické ukončovanie Python
Name[sl]=Samodejno dopolnjevanje za Python
Name[sr]=Питонска самодопуна
Name[sr@ijekavian]=Питонска самодопуна
Name[sr@ijekavianlatin]=Python samodopuna
Name[sr@latin]=Python samodopuna
Name[sv]=Python automatisk komplettering
Name[tr]=Python Otomatik Tamamlama
Name[uk]=Автодоповнення Python
Name[x-test]=xxPython Autocompletionxx
Name[zh_CN]=Python 自动补全
Name[zh_TW]=Python 自動補完
Comment=Based on the Jedi library
Comment[bs]=Zasnovano na biblioteci jedi.
Comment[ca]=Basat en la biblioteca Jedi
Comment[ca@valencia]=Basat en la biblioteca Jedi
Comment[cs]=Založen na knihovně Jedi
Comment[da]=Baseret på biblioteket Jedi
Comment[de]=Entwickelt aus der Jedi-Bibliothek
Comment[el]=Βασισμένο στη βιβλιοθήκη Jedi
Comment[es]=Basado en la biblioteca Jedi
Comment[et]=Loodud Jedi teegi põhjal
Comment[fi]=Perustuu Jedi-kirjastoon
Comment[fr]=Basé sur la bibliothèque Jedi
Comment[gl]=Baseado na biblioteca Jedi
Comment[he]=מבוססת על הספרייה Jedi
Comment[hu]=A Jedi könyvtáron alapulva
Comment[ia]=Basate sur le bibliotheca Jedi
Comment[it]=Basato sulla libreria Jedi
Comment[kk]=Jedi жиын файлды негіздеген
Comment[ko]=Jedi 라이브러리 기반
Comment[nb]=Basert på Jedi-biblioteket
Comment[nds]=Op de Jedi-Bibliotheek opbuut
Comment[nl]=Gebaseerd op de Jedi-bibliotheek
Comment[pl]=Oparte na bibliotece Jedi
Comment[pt]=Baseado na biblioteca Jedi
Comment[pt_BR]=Baseado na biblioteca Jedi
Comment[ro]=Pe baza bibliotecii Jedi
Comment[ru]=Построено на базе библиотеки Jedi
Comment[sk]=Založené na knižnici Jedi
Comment[sl]=Temelji na knjižnici Jedi
Comment[sr]=Над библиотеком Џедај
Comment[sr@ijekavian]=Над библиотеком Џедај
Comment[sr@ijekavianlatin]=Nad bibliotekom Jedi
Comment[sr@latin]=Nad bibliotekom Jedi
Comment[sv]=Baserat på Jedi-biblioteket
Comment[tr]=Jedi kütüphanesine dayanmaktadır
Comment[uk]=Засновано на бібліотеці Jedi
Comment[x-test]=xxBased on the Jedi libraryxx
Comment[zh_CN]=基于 Jedi 库
Comment[zh_TW]=基於 Jedi 函式庫
X-Python-2-Compatible=true
X-Python-Dependencies=jedi(>=0.7.0)
