[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=color_tools
Name=Color Tools
Name[de]=Farbenwerkzeuge
Name[es]=Herramientas de color
Name[fi]=Color Tools
Name[gl]=Utilidades de cor
Name[ia]=Instrumentos de color
Name[kk]=Түс құралдары
Name[nl]=Hulpmiddelen voor kleur
Name[pt]=Ferramentas de Cores
Name[pt_BR]=Ferramentas de cores
Name[sk]=Farebné nástroje
Name[sl]=Orodja za barve
Name[sr]=Алатке боја
Name[sr@ijekavian]=Алатке боја
Name[sr@ijekavianlatin]=Alatke boja
Name[sr@latin]=Alatke boja
Name[sv]=Färgverktyg
Name[tr]=Renk Araçları
Name[uk]=Засоби роботи з кольорами
Name[x-test]=xxColor Toolsxx
Comment=Utilities to work with hexadecimal colors in documents
Comment[de]=Hilfsmittel zum Umgang mit Hexadezimalwerten für Farben in Dokumenten
Comment[es]=Utilidades para trabajar con colores en hexadecimal en los documentos
Comment[fi]=Työkaluja heksadesimaalisten värien kanssa työskentelyyn
Comment[gl]=Utilidades para traballar con cores hexadecimais nos documentos
Comment[ia]=Utilitates pro travaliar con colores hexadecimal in documentos
Comment[kk]=Құжаттарда түстермен оналтылық түрде жұмыс істеу утилиталары
Comment[nl]=Hulpmiddelen om te werken met hexadecimale kleuren in documenten
Comment[pt]=Utilitários para lidar com cores hexadecimais nos documentos
Comment[pt_BR]=Utilitários para lidar com cores hexadecimais nos documentos
Comment[sk]=Nástroje na prácu s hexadecimálnymi farbami v dokumentoch
Comment[sl]=Pripomočki za delo s šestnajstiškimi barvami v dokumentih
Comment[sr]=Алатке за рад са хексадекадним бојама у документима
Comment[sr@ijekavian]=Алатке за рад са хексадекадним бојама у документима
Comment[sr@ijekavianlatin]=Alatke za rad sa heksadekadnim bojama u dokumentima
Comment[sr@latin]=Alatke za rad sa heksadekadnim bojama u dokumentima
Comment[sv]=Verktyg för att arbeta med hexadecimala färger i dokument
Comment[tr]=Belgelerde onaltılık renklerle çalışmak için yardımcılar
Comment[uk]=Засоби для роботи з шістнадцятковими кольорами у документах
Comment[x-test]=xxUtilities to work with hexadecimal colors in documentsxx
X-Python-2-Compatible=true
