[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=color_tools
Name=Color Tools
Name[de]=Farbenwerkzeuge
Name[es]=Herramientas de color
Name[ia]=Instrumentos de color
Name[nl]=Hulpmiddelen voor kleur
Name[pt]=Ferramentas de Cores
Name[pt_BR]=Ferramentas de cores
Name[sk]=Farebné nástroje
Name[sl]=Orodja za barve
Name[sv]=Färgverktyg
Name[tr]=Renk Araçları
Name[uk]=Засоби роботи з кольорами
Name[x-test]=xxColor Toolsxx
Comment=Utilities to work with hexadecimal colors in documents
Comment[de]=Hilfsmittel zum Umgang mit Hexadezimalwerten für Farben in Dokumenten
Comment[es]=Utilidades para trabajar con colores en hexadecimal en los documentos
Comment[ia]=Utilitates pro travaliar con colores hexadecimal in documentos
Comment[nl]=Hulpmiddelen om te werken met hexadecimale kleuren in documenten
Comment[pt]=Utilitários para lidar com cores hexadecimais nos documentos
Comment[pt_BR]=Utilitários para lidar com cores hexadecimais nos documentos
Comment[sk]=Nástroje na prácu s hexadecimálnymi farbami v dokumentoch
Comment[sl]=Pripomočki za delo s šestnajstiškimi barvami v dokumentih
Comment[sv]=Verktyg för att arbeta med hexadecimala färger i dokument
Comment[tr]=Belgelerde onaltılık renklerle çalışmak için yardımcılar
Comment[uk]=Засоби для роботи з шістнадцятковими кольорами у документах
Comment[x-test]=xxUtilities to work with hexadecimal colors in documentsxx
X-Python-2-Compatible=true
X-Python-3-Compatible=true
