[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=expand
Name=User defined text expansions
Name[de]=Benutzerdefinierte Texterweiterungen
Name[nl]=Gebruikergedefinieerde tekstexpansies
Name[pt]=Expansões de texto definidas pelo utilizador
Name[sk]=Používateľom definované rozšírenia textu
Name[sl]=Uporabniško določene razširitve besedil
Name[uk]=Визначені користувачем засоби розгортання коду
Name[x-test]=xxUser defined text expansionsxx
Comment=Execute expansion function and insert output into a document
Comment[de]=Führt die Erweiterungsfunktion aus und fügt die Ausgabe in ein Dokument ein
Comment[nl]=Voeg de functie voor expansie uit en voeg de uitvoer in een document in
Comment[pt]=Executa a função de expansão e insere o resultado num documento
Comment[sk]=Spustiť funkciu rozšírenia a vložiť výstup do dokumentu
Comment[sl]=Izvede funkcijo za razširitev in vstavi izhod v dokument
Comment[uk]=Виконати функцію розширення і вставити виведені нею дані до документа
Comment[x-test]=xxExecute expansion function and insert output into a documentxx
X-Python-2-Compatible=true
X-Python-3-Compatible=true
