[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=block
Name=Block
Name[cs]=Blok
Name[de]=Block
Name[es]=Bloque
Name[fr]=Bloc
Name[gl]=Bloque
Name[ia]=Bloco
Name[kk]=Блок
Name[nb]=Blokk
Name[nl]=Blok
Name[pt]=Bloco
Name[pt_BR]=Bloco
Name[sk]=Blok
Name[sl]=Blok
Name[sr]=Блок
Name[sr@ijekavian]=Блок
Name[sr@ijekavianlatin]=Blok
Name[sr@latin]=Blok
Name[sv]=Rektangel
Name[tr]=Blok
Name[uk]=Блок
Name[x-test]=xxBlockxx
Name[zh_TW]=區塊
Comment=Various actions to help code editing
Comment[cs]=Různé činnosti pomáhající s úpravou kódu
Comment[de]=Verschiedene Aktionen zur Hilfe bei dem Editieren von Quelltext
Comment[es]=Diversas acciones para ayudar en la edición de código
Comment[fr]=Diverses actions pour faciliter l'édition de code
Comment[gl]=Varias accións para axudar coa edición de código
Comment[ia]=Varie actiones pro adjutar modifica de codice
Comment[kk]=Түрлі кодты өңдеу көмек әрекеттері
Comment[nb]=Ymse handlinger som hjelper til med koderedigering
Comment[nl]=Verschillende acties om te helpen bij het bewerken van broncode
Comment[pt]=Várias acções para ajudar na edição de código
Comment[pt_BR]=Várias ações para ajudar na edição de código
Comment[sk]=Rôzne akcie na pomoc pri editovaní kódu
Comment[sl]=Različna dejanja za pomoč pri urejanju kode
Comment[sr]=Разне радње за уређивање кода
Comment[sr@ijekavian]=Разне радње за уређивање кода
Comment[sr@ijekavianlatin]=Razne radnje za uređivanje koda
Comment[sr@latin]=Razne radnje za uređivanje koda
Comment[sv]=Diverse åtgärder för att hjälpa till vid kodredigering
Comment[tr]=Kod düzenlemeye yardımcı olmak için çeşitli eylemler
Comment[uk]=Різноманітні засоби допомоги у редагуванні коду
Comment[x-test]=xxVarious actions to help code editingxx
Comment[zh_TW]=協助程式編輯的多個動作
X-Python-2-Compatible=true
