[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=xml_pretty
Name=XML Tools
Name[bs]=XML alati
Name[ca]=Eines XML
Name[ca@valencia]=Eines XML
Name[cs]=Nástroje XML
Name[de]=XML-Werkzeuge
Name[es]=Herramientas XML
Name[fi]=XML-työkalut
Name[fr]=Outils XML
Name[gl]=Utilidades XML
Name[he]=כלי XML
Name[hu]=XML-eszközök
Name[ia]=Instrumentos de XML
Name[it]=Strumenti XML
Name[kk]=XML құралдары
Name[ko]=XML 도구
Name[nb]=XML-verktøy
Name[nds]=XML-Warktüüch
Name[nl]=XML-hulpmiddelen
Name[pl]=Narzędzia XML
Name[pt]=Ferramentas de XML
Name[pt_BR]=Ferramentas de XML
Name[ru]=Инструменты для XML
Name[sk]=XML nástroje
Name[sl]=Orodja za XML
Name[sr]=ИксМЛ алатке
Name[sr@ijekavian]=ИксМЛ алатке
Name[sr@ijekavianlatin]=XML alatke
Name[sr@latin]=XML alatke
Name[sv]=XML-verktyg
Name[tr]=XML Araçları
Name[uk]=Засоби XML
Name[x-test]=xxXML Toolsxx
Name[zh_CN]=XML 工具
Name[zh_TW]=XML 工具
Comment=XML Pretty print
Comment[bs]=XML lijepi ispis
Comment[ca]=Impressió d'XML endreçat
Comment[ca@valencia]=Impressió d'XML endreçat
Comment[de]=XML-Quelltextformatierung
Comment[es]=Impresión elegante de XML
Comment[fi]=XML Pretty print
Comment[fr]=Impression automatique XML
Comment[gl]=Versión para ler XML
Comment[he]=הדפסה יפה של XML
Comment[hu]=XML formázott nyomtatás
Comment[ia]=Imprime como XML pretty
Comment[it]=Stampa XML elegante
Comment[kk]=XML безендіруі
Comment[ko]=예쁜 XML 인쇄
Comment[nb]=XML pen utskrift
Comment[nds]=Schöönmaken för XML
Comment[nl]=XML mooie afdruk
Comment[pl]=Ładne wyświetlanie XML
Comment[pt]=Impressão bonita do XML
Comment[pt_BR]=Impressão bonita de XML
Comment[ru]=Красивый вывод XML
Comment[sk]=XML Pekná tlač
Comment[sl]=Lep tisk za XML
Comment[sr]=Улепшан испис ИксМЛ‑а
Comment[sr@ijekavian]=Улепшан испис ИксМЛ‑а
Comment[sr@ijekavianlatin]=Ulepšan ispis XML‑a
Comment[sr@latin]=Ulepšan ispis XML‑a
Comment[sv]=XML snygg utskrift
Comment[tr]=XML Güzel yazdırma
Comment[uk]=Форматування XML
Comment[x-test]=xxXML Pretty printxx
Comment[zh_CN]=XML 美化输出
Comment[zh_TW]=XML 美觀列印
X-Python-2-Compatible=true
