[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=xml_pretty
Name=XML Tools
Name[de]=XML-Werkzeuge
Name[gl]=Utilidades XML
Name[kk]=XML құралдары
Name[nl]=XML-hulpmiddelen
Name[pt]=Ferramentas de XML
Name[pt_BR]=Ferramentas de XML
Name[sk]=XML nástroje
Name[sl]=Orodja za XML
Name[sv]=XML-verktyg
Name[uk]=Засоби XML
Name[x-test]=xxXML Toolsxx
Comment=XML Pretty print
Comment[de]=XML-Quelltextformatierung
Comment[gl]=Versión para ler XML
Comment[kk]=XML безендіруі
Comment[nl]=XML mooie afdruk
Comment[pt]=Impressão bonita do XML
Comment[pt_BR]=Impressão bonita de XML
Comment[sk]=XML Pekná tlač
Comment[sl]=Lep tisk za XML
Comment[sv]=XML snygg utskrift
Comment[uk]=Форматування XML
Comment[x-test]=xxXML Pretty printxx
X-Python-2-Compatible=true
