[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=try_open_file
Name=Easy file open/create
Name[bs]=Jednostavno otvaranje/kreiranje datoteke.
Name[ca]=Obertura/creació senzilla de fitxer
Name[ca@valencia]=Obertura/creació senzilla de fitxer
Name[da]=Nem åbning/oprettelse af filer
Name[de]=Einfacher Öffnen/Erstellen von Dateien
Name[el]=Εύκολο άνοιγμα/δημιουργία αρχείου
Name[es]=Apertura y creación sencilla de archivos
Name[fi]=Helppo tiedoston avaaminen/luonti
Name[fr]=Facilite l'ouverture et la création de fichier
Name[gl]=Abrir/Crear ficheiro doadamente
Name[he]=פתיחה או יצירה מהירה של קובץ
Name[hu]=Könnyű fájl megnyitás/létrehozás
Name[ia]=Aperir/crear file de modo facile
Name[it]=Apertura/Creazione semplificata file
Name[ko]=쉬운 파일 열기/생성
Name[nb]=Lett å åpne/lage fil
Name[nds]=Dateien eenfach opmaken/-stellen
Name[nl]=Gemakkelijk openen/aanmaken van een bestand
Name[pl]=Łatwe otwieranie/tworzenie pliku
Name[pt]=Abertura/criação simples de ficheiros
Name[pt_BR]=Abertura/criação simples de arquivos
Name[ro]=Creare/deschidere ușoară a fișierelor
Name[ru]=Простое открытие/создание файла
Name[sk]=Ľahko otvoriť/vytvoriť súbor
Name[sl]=Enostavno odpri/ustvari datoteko
Name[sr]=Лако отварање и стварање фајлова
Name[sr@ijekavian]=Лако отварање и стварање фајлова
Name[sr@ijekavianlatin]=Lako otvaranje i stvaranje fajlova
Name[sr@latin]=Lako otvaranje i stvaranje fajlova
Name[sv]=Öppna/skapa fil enkelt
Name[tr]=Kolay dosya açma/oluşturma
Name[uk]=Просте відкриття та створення файлів
Name[x-test]=xxEasy file open/createxx
Name[zh_CN]=快速打开/创建
Name[zh_TW]=簡單檔案開啟/建立
Comment=Try to open selected text as URI to a document
Comment[bs]=Pokušaj otvaranja izabranog teksta kao URI u dokument
Comment[ca]=Intenta obrir el text seleccionat com un URI a un document
Comment[ca@valencia]=Intenta obrir el text seleccionat com un URI a un document
Comment[da]=Prøv at åbne markeret tekst som URI til et dokument
Comment[de]=Öffnen des ausgewählten Textes als URI zu einem Dokument
Comment[el]=Προσπάθεια για άνοιγμα του επιλεγμένου κειμένου σαν URI σε έγγραφο
Comment[es]=Intentar abrir el texto seleccionado como URI de un documento
Comment[fi]=Yritä avata valittu teksti URI:na tiedostoon
Comment[fr]=Essayer d'ouvrir le texte sélectionné en le considérant comme l'URL d'un document
Comment[gl]=Tenta abrir o texto escollido como se fose a URI dun documento
Comment[he]=נסה לפתוח את הטקסט המסומן בתור כתובת אל מסמך
Comment[hu]=A kijelölt szöveg URI-ként történő megnyitásának kísérlete a dokumentumhoz
Comment[ia]=Essaya aperir texto seligite como URI pro un documento
Comment[it]=Prova ad aprire il testo selezionato come URI a un documento
Comment[ko]=선택한 텍스트를 문서를 가리키는 URI로 열기
Comment[nb]=Forsøk å åpne merket tekst som URI til et dokument
Comment[nds]=Utsöcht Text as URI för't Opmaken bruken
Comment[nl]=Probeer de geselecteerde tekst als URI naar een document te openen
Comment[pl]=Spróbuj otworzyć zaznaczony tekst jako adres URI dla dokumentu
Comment[pt]=Tentar abrir o texto seleccionado como o URI de um documento
Comment[pt_BR]=Tenta abrir o texto selecionado como a URI de um documento
Comment[ru]=Пытается открыть документ по адресу, выделенному в тексте
Comment[sk]=Skúsiť otvoriť vybraný text ako URI do dokumentu
Comment[sl]=Poskusi odpreti izbrano besedilo kot URI do dokumenta
Comment[sr]=Отворите изабрани текст као УРИ документа
Comment[sr@ijekavian]=Отворите изабрани текст као УРИ документа
Comment[sr@ijekavianlatin]=Otvorite izabrani tekst kao URI dokumenta
Comment[sr@latin]=Otvorite izabrani tekst kao URI dokumenta
Comment[sv]=Försök öppna markerad text som en dokumentwebbadress
Comment[tr]=Seçilen metni bir belgeye adres olarak açmaya çalış
Comment[uk]=Відкриття позначеного тексту як адреси документа
Comment[x-test]=xxTry to open selected text as URI to a documentxx
Comment[zh_CN]=尝试将选择的文本作为到文档的 URI 打开
Comment[zh_TW]=試著將選取的文字做為網址來開啟
X-Python-2-Compatible=true
