<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="try-open"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
    <MenuBar>
        <Menu name="file"><text>&amp;File</text>
            <Action name="tryOpen"
                    text="Open selected document"
                    group="open_merge"
                />
        </Menu>
    </MenuBar>
    <State name="has_selection">
        <enable>
            <Action name="tryOpen" />
        </enable>
    </State>
</gui>
<!-- kate: indent-width 4; -->
