[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katetabbarextensionplugin
X-Kate-Version=2.8
Name=Tab Bar
Name[ca]=Barra de pestanyes
Name[ca@valencia]=Barra de pestanyes
Name[cs]=Lišta karet
Name[da]=Fanebladslinje
Name[de]=Unterfensterleiste
Name[el]=Γραμμή καρτελών
Name[en_GB]=Tab Bar
Name[es]=Barra de pestañas
Name[et]=Kaardiriba
Name[fi]=Välilehtirivi
Name[fr]=Barre d'onglets
Name[gl]=Barra de páxinas
Name[it]=Barra di schede
Name[ja]=タブバー
Name[lv]=Ciļņu josla
Name[nb]=Fanelinje
Name[nds]=Paneelbalken
Name[nl]=Tabbalk
Name[nn]=Fanelinje
Name[pa]=ਟੈਬ ਬਾਰ
Name[pl]=Pasek kart
Name[pt]=Barra de Páginas
Name[pt_BR]=Barra de abas
Name[ru]=Панель вкладок
Name[sr]=Трака језичака
Name[sr@ijekavian]=Трака језичака
Name[sr@ijekavianlatin]=Traka jezičaka
Name[sr@latin]=Traka jezičaka
Name[sv]=Flikrad
Name[tr]=Sekme Çubuğu
Name[uk]=Панель вкладок
Name[x-test]=xxTab Barxx
Name[zh_CN]=标签栏
Name[zh_TW]=分頁列
Comment=Adds a tab bar to Kate's main window
Comment[ca]=Afegeix una barra de pestanyes a la finestra principal del Kate
Comment[ca@valencia]=Afig una barra de pestanyes a la finestra principal del Kate
Comment[da]=Tilføjer en fanebladslinje til Kates hovedvindue
Comment[de]=Fügt dem Hauptfenster von Kate eine Unterfensterleiste hinzu
Comment[el]=Προσθέτει μια γραμμή καρτελών στο κύριο παράθυρο του Kate
Comment[en_GB]=Adds a tab bar to Kate's main window
Comment[es]=Añade una barra de pestañas a la ventana principal de Kate
Comment[et]=Lisab Kate peaaknasse kaardiriba
Comment[fi]=Lisää välilehtirivin Katen pääikkunaan
Comment[fr]=Ajoute une barre d'onglets à la fenêtre principale de Kate
Comment[ga]=Cuir barra cluaisíní le príomhfhuinneog Kate
Comment[gl]=Engade unha barra con lingüetas á fiestra principal de Kate
Comment[hu]=Lapozósáv hozzáadása a Kate főablakához
Comment[it]=Aggiunge una barra di schede alla finestra principale di Kate
Comment[ja]=Kate のメインウィンドウにタブバーを追加します
Comment[km]=បន្ថែម​របារ​ថេប​ទៅ​បង្អួច​មេ​របស់ Kate
Comment[ko]=Kate 주 창에 탭 표시줄을 추가합디ㅏ
Comment[lt]=Įdeda kortelių juostą į Kate langą
Comment[lv]=Pievieno ciļņu joslu Kate galvenajam logam
Comment[nb]=Legger til en fanelinje i Kates hovedvindu
Comment[nds]=Föögt Kate sien Hööftfinster en Paneelbalken to
Comment[ne]=केटको मुख्य सञ्झ्यालमा ट्याबपट्टी थप्दछ
Comment[nl]=Voegt een tabbalk toe aan Kate's hoofdvenster
Comment[nn]=Legg ei fanelinja til hovudvindauget i Kate
Comment[pa]=ਕੇਟ ਦੀ ਮੇਨ ਵਿੰਡੋ ਵਿੱਚ ਇੱਕ ਟੈਬ ਬਾਰ ਸ਼ਾਮਲ ਕਰੋ
Comment[pl]=Dodaje pasek kart do głównego okna Kate
Comment[pt]=Adiciona uma barra de páginas à janela principal do Kate
Comment[pt_BR]=Adiciona uma barra de páginas à janela principal do Kate
Comment[ro]=Adaugă o bară de file la fereastra principală Kate
Comment[ru]=Добавляет панель вкладок с именами файлов в окно Kate
Comment[sr]=Додаје траку са језичцима у главни прозор Кејт
Comment[sr@ijekavian]=Додаје траку са језичцима у главни прозор Кејт
Comment[sr@ijekavianlatin]=Dodaje traku sa jezičcima u glavni prozor Kate
Comment[sr@latin]=Dodaje traku sa jezičcima u glavni prozor Kate
Comment[sv]=Lägger till en flikrad i Kates huvudfönster
Comment[tr]=Kate uygulamasının ana penceresine bir sekme çubuğu ekler
Comment[uk]=Додає смужку вкладок до головного вікна Kate
Comment[x-test]=xxAdds a tab bar to Kate's main windowxx
Comment[zh_CN]=在 Kate 主窗口上添加一个标签栏
Comment[zh_TW]=在 Kate 主視窗中加入分頁列
author=Dominik Haumann, dhdev@gmx.de
