[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katetabbarextensionplugin
X-Kate-Version=2.8
Name=Kate Tab Bar Extension
Name[ca]=Extensió de barra de pestanyes per al Kate
Name[da]=Kate fanebladslinjeudvidelse
Name[de]=Kate-Erweiterung für Unterfensterleiste
Name[el]=Επέκταση γραμμής καρτελών του Kate
Name[es]=Complemento de barra de pestañas para Kate
Name[et]=Kate kaardiriba laiend
Name[fr]=Extension de barre d'onglets pour Kate
Name[ga]=Eisínteacht Barra Cluaisíní Kate
Name[gl]=Extensión de barra de abas para Kate
Name[hu]=Kate lapozósáv
Name[it]=Estensione della barra delle linguette di Kate
Name[ja]=Kate タブバーエクステンション
Name[km]=ផ្នែក​បន្ថែម​របារ​ថេប Kate
Name[lt]=Kate kortelių juostos plėtinys
Name[lv]=Kate ciļņu joslas paplašinājums
Name[nds]=Kate-Paneelverwiedern
Name[ne]=केट ट्याबपट्टी विस्तार
Name[nl]=Tabbalkextensie (Kate)
Name[pa]=ਕੇਟ ਟੈਬ ਬਾਰ ਇਕਸਟੈਨਸ਼ਨ
Name[pl]=Rozszerzenie paska kart
Name[pt]=Extensão da Barra de Páginas do Kate
Name[pt_BR]=Extensão da Barra de Páginas do Kate
Name[sr]=Кејтина трака језичака
Name[sr@latin]=Kateina traka jezičaka
Name[sv]=Kate flikradsutökning
Name[tr]=Kate Sekme Çubuğu Eklentisi
Name[uk]=Розширення Kate - смужка вкладок
Name[x-test]=xxKate Tab Bar Extensionxx
Name[zh_CN]=Kate 标签栏扩展
Name[zh_TW]=Kate 分頁列延伸
Comment=Adds a tab bar to Kate's main window
Comment[ca]=Afegeix una barra de pestanyes a la finestra principal del Kate
Comment[da]=Tilføjer en fanebladslinje til Kates hovedvindue
Comment[de]=Fügt dem Hauptfenster von Kate eine Unterfensterleiste hinzu
Comment[el]=Προσθέτει μια γραμμή καρτελών στο κύριο παράθυρο του Kate
Comment[es]=Añade una barra de pestañas a la ventana principal de Kate
Comment[et]=Lisab Kate peaaknasse kaardiriba
Comment[fr]=Ajoute une barre d'onglets à la fenêtre principale de Kate
Comment[ga]=Cuir barra cluaisíní le príomhfhuinneog Kate
Comment[gl]=Engade unha barra con abas á fiestra principal de Kate
Comment[hu]=Lapozósáv hozzáadása a Kate főablakához
Comment[it]=Aggiunge una barra di linguette alla finestra principale di Kate
Comment[ja]=Kate のメインウインドウにタブバーを追加します
Comment[km]=បន្ថែម​របារ​ថេប​ទៅ​បង្អួច​មេ​របស់ Kate
Comment[lt]=Įdeda kortelių juostą į Kate langą
Comment[lv]=Pievieno ciļņu joslu Kate galvenajam logam
Comment[nb]=Legger en fanestolpe i Kates hovedvindu
Comment[nds]=Föögt Kate sien Hööftfinster en Paneelbalken to
Comment[ne]=केटको मुख्य सञ्झ्यालमा ट्याबपट्टी थप्दछ
Comment[nl]=Voegt een tabbalk toe aan Kate's hoofdvenster
Comment[pl]=Dodaje pasek kart do głównego okna Kate
Comment[pt]=Adiciona uma barra de páginas à janela principal do Kate
Comment[pt_BR]=Adiciona uma barra de páginas à janela principal do Kate
Comment[sr]=Додаје траку са језичцима у главни прозор Кејт
Comment[sr@latin]=Dodaje traku sa jezičcima u glavni prozor Kate
Comment[sv]=Lägger till en flikrad i Kates huvudfönster
Comment[tr]=Kate uygulamasının ana penceresine bir sekme çubuğu ekler
Comment[uk]=Додає смужку вкладок до головного вікна Kate
Comment[x-test]=xxAdds a tab bar to Kate's main windowxx
Comment[zh_CN]=在 Kate 主窗口上添加一个标签栏
Comment[zh_TW]=在 Kate 主視窗中加入分頁列
author=Dominik Haumann, dhdev@gmx.de
