[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katetabbarextensionplugin
X-Kate-Version=2.8
Name=Kate Tab Bar Extension
Name[ja]=Kate タブバーエクステンション
Name[x-test]=xxKate Tab Bar Extensionxx
Comment=Adds a tab bar to Kate's main window
Comment[ja]=Kate のメインウインドウにタブバーを追加します
Comment[x-test]=xxAdds a tab bar to Kate's main windowxx
author=Dominik Haumann, dhdev@gmx.de
