[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katehtmltoolsplugin
X-Kate-Version=2.9
Name=Kate HTML Tools
Name[ca]=Eines HTML per al Kate
Name[de]=Kate-HTML-Werkzeuge
Name[el]=Εργαλεία HTML του Kate
Name[es]=Herramientas HTML de Kate
Name[et]=Kate HTML-tööriistad
Name[fr]=Outils HTML pour Kate
Name[ga]=Uirlisí HTML Kate
Name[gl]=Ferramentas HTML de Kate
Name[it]=Strumenti HTML di Kate
Name[ja]=Kate HTML ツール
Name[lt]=Kate HTML įrankiai
Name[ne]=केट एचटीएमएल उपकरण
Name[nl]=HTML-hulpmiddelen (Kate)
Name[pl]=Narzędzia HTML Kate
Name[pt]=Ferramentas de HTML do Kate
Name[pt_BR]=Ferramentas de HTML do Kate
Name[sr]=Кејтине ХТМЛ алатке
Name[sr@latin]=Kateine HTML alatke
Name[sv]=Kate HTML-verktyg
Name[uk]=Засоби HTML Kate
Name[x-test]=xxKate HTML Toolsxx
Name[zh_CN]=Kate HTML 工具
Name[zh_TW]=Kate HTML 工具
Comment=Facilitated insertion of HTML tags
Comment[ca]=Facilita la inserció d'etiquetes HTML
Comment[de]=Vereinfachtes Einfügen von HTML-Tags
Comment[el]=Διευκόλυνση εισαγωγής ετικετών HTML
Comment[es]=Inserción facilitada de etiquetas HTML
Comment[et]=HTML-siltide lihtne sisestamine
Comment[fr]=Facilitent l'insertion de balises HTML
Comment[ga]=Ionsá éascaithe de chlibeanna HTML
Comment[gl]=Simplifica a inserción de etiquetas HTML
Comment[it]=Inserimento facilitato dei tag HTML
Comment[ja]=HTML タグ挿入を簡単にします
Comment[lt]=Palengvintas HTML tagų įdėjimas
Comment[ne]=एचटीएमएल ट्यागको सुविधाजनक घुसाइ
Comment[nl]=Gereedschap voor het invoegen van HTML-tags
Comment[pl]=Wstawianie znaczników HTML
Comment[pt]=Inserção facilitada de marcas de HTML
Comment[pt_BR]=Inserção facilitada de marcas de HTML
Comment[sr]=Олакшано уметање ХТМЛ ознака
Comment[sr@latin]=Olakšano umetanje HTML oznaka
Comment[sv]=Kraftfull infogning av HTML-taggar
Comment[uk]=Вставляння міток HTML
Comment[x-test]=xxFacilitated insertion of HTML tagsxx
Comment[zh_CN]=方便地插入 HTML 标记
Comment[zh_TW]=協助插入 HTML 標籤
