[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katehtmltoolsplugin
X-Kate-Version=2.9
Name=Kate HTML Tools
Name[ca]=Eines HTML per al Kate
Name[da]=Kate HTML-værktøjer
Name[de]=Kate-HTML-Werkzeuge
Name[el]=Εργαλεία HTML του Kate
Name[es]=Herramientas HTML de Kate
Name[et]=Kate HTML-tööriistad
Name[fr]=Outils HTML pour Kate
Name[ga]=Uirlisí HTML Kate
Name[gl]=Ferramentas HTML de Kate
Name[hu]=Kate HTML-eszközök
Name[it]=Strumenti HTML di Kate
Name[ja]=Kate HTML ツール
Name[km]=ឧបករណ៍ Kate HTML
Name[ko]=Kate HTML 도구
Name[lt]=Kate HTML įrankiai
Name[lv]=Kate HTML rīki
Name[nb]=Kate HTML-verktøy
Name[nds]=Kate-HTML-Warktüüch
Name[ne]=केट एचटीएमएल उपकरण
Name[nl]=HTML-hulpmiddelen (Kate)
Name[pa]=ਕੇਟ HTML ਟੂਲ
Name[pl]=Narzędzia HTML Kate
Name[pt]=Ferramentas de HTML do Kate
Name[pt_BR]=Ferramentas de HTML do Kate
Name[ro]=Unelte HTML Kate
Name[ru]=Утилиты для работы с HTML в Kate
Name[sr]=Кејтине ХТМЛ алатке
Name[sr@latin]=Kateine HTML alatke
Name[sv]=Kate HTML-verktyg
Name[tr]=Kate HTML Araçları
Name[uk]=Засоби HTML Kate
Name[wa]=Usteyes HTML di Kate
Name[x-test]=xxKate HTML Toolsxx
Name[zh_CN]=Kate HTML 工具
Name[zh_TW]=Kate HTML 工具
Comment=Facilitated insertion of HTML tags
Comment[ca]=Facilita la inserció d'etiquetes HTML
Comment[da]=Lettere indsættelse af HTML-tags
Comment[de]=Vereinfachtes Einfügen von HTML-Tags
Comment[el]=Διευκόλυνση εισαγωγής ετικετών HTML
Comment[es]=Inserción facilitada de etiquetas HTML
Comment[et]=HTML-siltide lihtne sisestamine
Comment[fr]=Facilitent l'insertion de balises HTML
Comment[ga]=Ionsá éascaithe de chlibeanna HTML
Comment[gl]=Simplifica a inserción de etiquetas HTML
Comment[hu]=HTML-címkék beszúrása
Comment[it]=Inserimento facilitato dei tag HTML
Comment[ja]=HTML タグ挿入を簡単にします
Comment[km]=ការ​បញ្ចូល​បាន​សម្រួល​របស់​ស្លាក HTML
Comment[ko]=HTML 태그 자동 삽입
Comment[lt]=Palengvintas HTML tagų įdėjimas
Comment[lv]=Atvieglota HTML tagu ievietošana
Comment[nb]=Muliggjør innsetting av HTML-tagger
Comment[nds]=HTML-Betekers eenfacher infögen
Comment[ne]=एचटीएमएल ट्यागको सुविधाजनक घुसाइ
Comment[nl]=Gereedschap voor het invoegen van HTML-tags
Comment[pl]=Wstawianie znaczników HTML
Comment[pt]=Inserção facilitada de marcas de HTML
Comment[pt_BR]=Inserção facilitada de marcas de HTML
Comment[ru]=Интеллектуальная вставка тегов HTML
Comment[sr]=Олакшано уметање ХТМЛ ознака
Comment[sr@latin]=Olakšano umetanje HTML oznaka
Comment[sv]=Kraftfull infogning av HTML-taggar
Comment[tr]=HTML etiketlerini eklemeyi kolaylaştırıcı araç
Comment[uk]=Вставляння міток HTML
Comment[x-test]=xxFacilitated insertion of HTML tagsxx
Comment[zh_CN]=方便地插入 HTML 标记
Comment[zh_TW]=協助插入 HTML 標籤
