[Desktop Entry]
Type=Service
Comment=Format long source-code comments like license-headers or descriptions using different styles
Comment[en_GB]=Format long source-code comments like licence-headers or descriptions using different styles
Comment[et]=Pikkade lähtekoodi kommentaaride, näiteks litsentsipäiste või kirjelduste, vormindamine eri stiilide abil
Comment[gl]=Formata os comentarios longos do código fonte como cabeceiras de lincenza ou descricións empregando diferentes estilos
Comment[ia]=Forma commentos de longe codice-fonte como capites de licentia o descriptiones usante stilos differente
Comment[nl]=Lang commentaar in broncode, zoals licentie-koppen of beschrijvingen formatteren met andere stijlen
Comment[pt]=Formatar os comentários de código compridos, como os cabeçalhos de licenças e descrições, com estilos diferentes
Comment[pt_BR]=Formata os comentários extensos de código-fonte, como os cabeçalhos de licenças e descrições, usando diferentes estilos
Comment[sv]=Formatera långa kommentarer i källkoden som licenshuvuden eller beskrivningar med användning av olika stilar
Comment[uk]=Форматувати довгі коментарі у коді, зокрема заголовки з умовами ліцензування та описами, за допомогою інших стилів
Comment[x-test]=xxFormat long source-code comments like license-headers or descriptions using different stylesxx
Comment[zh_TW]=用不同的樣式來編排較長的源碼註解，如授權或描述等
Name=Artistic Comment
Name[en_GB]=Artistic Comment
Name[es]=Comentario artístico
Name[et]=Kunstilised kommentaarid
Name[gl]=Comentario artístico
Name[ia]=Commento artistic
Name[nds]=Smuck Kommentar
Name[nl]=Artistiek commentaar
Name[pt]=Comentário Artístico
Name[pt_BR]=Comentário artístico
Name[sv]=Artistisk kommentar
Name[uk]=Художній коментар
Name[x-test]=xxArtistic Commentxx
Name[zh_TW]=美化註解
GenericName=Format comments in an "artistic" way
GenericName[en_GB]=Format comments in an "artistic" way
GenericName[es]=Formatear comentarios de manera "artística"
GenericName[et]=Kommentaaride vormindamine "kunstiliselt"
GenericName[gl]=Dalle un formato «artístico» aos comentarios
GenericName[ia]=Forma commentos in un modo "artistic"
GenericName[nl]=Commentaar op een "artistieke" manier formatteren
GenericName[pt]=Formatar os comentários de forma "artística"
GenericName[pt_BR]=Formatar os comentários de forma "artística"
GenericName[sv]=Formatera kommentarer på ett "artistiskt" sätt
GenericName[uk]=Форматувати коментарі у «художньому» стилі
GenericName[x-test]=xxFormat comments in an "artistic" wayxx
GenericName[zh_TW]=以較美化的方式編排註解
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_acomment
X-KDE-PluginKeyword=ktexteditor_acomment
X-KDE-PluginInfo-Name=ktexteditor_acomment
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPLv3+
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
