[Desktop Entry]
Type=Service
Comment=Format long source-code comments like license-headers or descriptions using different styles
Comment[ca]=Formata comentaris llargs de codi font com ara capçaleres de llicència o descripcions usant diferents estils
Comment[ca@valencia]=Formata comentaris llargs de codi font com ara capçaleres de llicència o descripcions usant diferents estils
Comment[en_GB]=Format long source-code comments like licence-headers or descriptions using different styles
Comment[es]=Formatear largos comentarios de código fuente, como cabeceras de licencias o descripciones, usando diferentes estilos
Comment[fr]=Formater les commentaires longs de code source comme les en-têtes de licence ou les descriptions à l'aide de différents styles
Comment[it]=Formatta i commenti lunghi al codice sorgente come intestazioni di licenza o descrizioni, utilizzando stili diversi
Comment[pt]=Formatar os comentários longos do código-fonte, como os cabeçalhos de licenças ou as descrições, usando diferentes estilos
Comment[pt_BR]=Formata comentários longos no código-fonte como cabeçalhos de licença ou descrições usando diferentes estilos
Comment[sv]=Formatera långa kommentarer i källkoden som licenshuvuden eller beskrivningar med användning av olika stilar
Comment[uk]=Форматувати довгі коментарі у коді, зокрема заголовки з умовами ліцензування та описами, за допомогою інших стилів
Comment[x-test]=xxFormat long source-code comments like license-headers or descriptions using different stylesxx
Name=Artistic Comment
Name[ca]=Comentari artístic
Name[ca@valencia]=Comentari artístic
Name[en_GB]=Artistic Comment
Name[es]=Comentario artístico
Name[fr]=Commentaire Artistic
Name[it]=Commento artistico
Name[pt]=Comentário Artístico
Name[pt_BR]=Comentário artístico
Name[sv]=Artistisk kommentar
Name[uk]=Художній коментар
Name[x-test]=xxArtistic Commentxx
GenericName=Format comments in an "artistic" way
GenericName[ca]=Formata comentaris d'una manera "artística"
GenericName[ca@valencia]=Formata comentaris d'una manera "artística"
GenericName[en_GB]=Format comments in an "artistic" way
GenericName[es]=Formatear comentarios de un modo «artístico»
GenericName[fr]=Formater les commentaires à la manière de « Artistic »
GenericName[it]=Formatta i commenti in modo «artistico»
GenericName[pt]=Formatar os comentários de forma "artística"
GenericName[pt_BR]=Formata comentários de uma maneira "artística"
GenericName[sv]=Formatera kommentarer på ett "artistiskt" sätt
GenericName[uk]=Форматувати коментарі у «художньому» стилі
GenericName[x-test]=xxFormat comments in an "artistic" wayxx
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_acomment
X-KDE-PluginKeyword=ktexteditor_acomment
X-KDE-PluginInfo-Name=ktexteditor_acomment
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPLv3+
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
