[Desktop Entry]
Type=Service
Comment=Format long source-code comments like license-headers or descriptions using different styles
Comment[bs]=Formatiraj duge komentari izvornog koda kao licencna zaglavlja ili opise s  različitim stilovima
Comment[ca]=Formata els comentaris llargs del codi font, com capçaleres de llicència o descripcions, utilitzant diferents estils
Comment[ca@valencia]=Formata els comentaris llargs del codi font, com capçaleres de llicència o descripcions, utilitzant diferents estils
Comment[da]=Formatér lange kildekodekommentarer såsom licensoverskrifter eller -beskrivelser i forskellige stilarter
Comment[de]=Umfangreiche Quelltextkommentare wie Lizenztexte und Beschreibungen in diversen Stilen formatieren
Comment[en_GB]=Format long source-code comments like licence-headers or descriptions using different styles
Comment[et]=Pikkade lähtekoodi kommentaaride, näiteks litsentsipäiste või kirjelduste, vormindamine eri stiilide abil
Comment[gl]=Formata os comentarios longos do código fonte como cabeceiras de lincenza ou descricións empregando diferentes estilos
Comment[ia]=Forma commentos de longe codice-fonte como capites de licentia o descriptiones usante stilos differente
Comment[kk]=Ұзын бастапқы код түсініктемесін лицензия айдары немесе басқа стильдерімен пішімдеу
Comment[km]=សេចក្ដី​អធិប្បាយ​​កូដ​ប្រភព​ប្រវែង​​ទ្រង់ទ្រាយ​​ដូច​ជា​បឋមកថា​​អាជ្ញាប័ណ្ណ ​ឬ​​សេចក្ដី​ពណ៌នា​ដោយ​ប្រើ​រចនាប័ទ្ម​​ខុស​ៗ​គ្នា​
Comment[ko]=라이선스 헤더나 설명과 같은 긴 주석 정리하기
Comment[lt]=Ilgus išeities kodo komentarus formatuoti tarsi licencijos antraštes arba aprašymus naudojant skirtingus stilius.
Comment[nb]=Formater lange kildekode-kommentarer slik som lisensinformasjon eller beskrivelser, med forskjellige stiler
Comment[nl]=Lang commentaar in broncode, zoals licentie-koppen of beschrijvingen formatteren met andere stijlen
Comment[pl]=Formatuj długie komentarze kodów źródłowych, takie jak nagłówki licencji lub opisy, używając różnych stylów
Comment[pt]=Formatar os comentários de código compridos, como os cabeçalhos de licenças e descrições, com estilos diferentes
Comment[pt_BR]=Formata os comentários extensos de código-fonte, como os cabeçalhos de licenças e descrições, usando diferentes estilos
Comment[ro]=Formatează comentarii de cod-sursă lungi ca antetele-licență sau descrieri folosind stiluri diferite.
Comment[sl]=Dolge komentarje v izvorni kodi, kot so glave z licencami ali opisi, oblikuje v različnih slogih
Comment[sr]=Форматира дугачке коментаре у изворном коду, попут заглавља лиценци и описа, на различите начине
Comment[sr@ijekavian]=Форматира дугачке коментаре у изворном коду, попут заглавља лиценци и описа, на различите начине
Comment[sr@ijekavianlatin]=Formatira dugačke komentare u izvornom kodu, poput zaglavlja licenci i opisa, na različite načine
Comment[sr@latin]=Formatira dugačke komentare u izvornom kodu, poput zaglavlja licenci i opisa, na različite načine
Comment[sv]=Formatera långa kommentarer i källkoden som licenshuvuden eller beskrivningar med användning av olika stilar
Comment[tr]=Lisans başlıkları ve tanımlamalar gibi uzun kaynak kodu yorumlarını farklı stiller kullanarak biçimlendir
Comment[uk]=Форматувати довгі коментарі у коді, зокрема заголовки з умовами ліцензування та описами, за допомогою інших стилів
Comment[x-test]=xxFormat long source-code comments like license-headers or descriptions using different stylesxx
Comment[zh_TW]=用不同的樣式來編排較長的源碼註解，如授權或描述等
Name=Artistic Comment
Name[bs]=Umjetnički komentar
Name[ca]=Comentari artístic
Name[ca@valencia]=Comentari artístic
Name[da]=Kunstnerisk kommentar
Name[de]=Kommentargestalter
Name[en_GB]=Artistic Comment
Name[es]=Comentario artístico
Name[et]=Kunstilised kommentaarid
Name[gl]=Comentario artístico
Name[ia]=Commento artistic
Name[kk]=Көркемді түсініктеме
Name[km]=សេចក្ដី​អធិប្បាយ​អំពី​សិល្បៈ​
Name[ko]=예술적인 주석
Name[lt]=Meninis komentaras
Name[nb]=Artistisk kommentar
Name[nds]=Smuck Kommentar
Name[nl]=Artistiek commentaar
Name[nn]=Kunstnarlege merknader
Name[pl]=Komentarz artystyczny
Name[pt]=Comentário Artístico
Name[pt_BR]=Comentário artístico
Name[ro]=Comentariu artistic
Name[sl]=Umetniški komentar
Name[sr]=Уметнички коментар
Name[sr@ijekavian]=Уметнички коментар
Name[sr@ijekavianlatin]=Umetnički komentar
Name[sr@latin]=Umetnički komentar
Name[sv]=Artistisk kommentar
Name[tg]=Шарҳи тасвирӣ
Name[tr]=Sanatsal Yorum
Name[ug]=ھۆسنخەت ئىزاھات
Name[uk]=Художній коментар
Name[x-test]=xxArtistic Commentxx
Name[zh_TW]=美化註解
GenericName=Format comments in an "artistic" way
GenericName[bs]=Formatira komentare na "umjetnički" način
GenericName[ca]=Formata els comentaris d'una manera «artística»
GenericName[ca@valencia]=Formata els comentaris d'una manera «artística»
GenericName[da]=Formatér kommentarer på en "kunstnerisk" måde
GenericName[de]=Kommentare „gestalterisch“ formatieren
GenericName[en_GB]=Format comments in an "artistic" way
GenericName[es]=Formatear comentarios de manera "artística"
GenericName[et]=Kommentaaride vormindamine "kunstiliselt"
GenericName[gl]=Dalle un formato «artístico» aos comentarios
GenericName[ia]=Forma commentos in un modo "artistic"
GenericName[kk]=Түсініктемелерді "көркемдеп" пішімдеу
GenericName[km]=សេចក្ដី​អធិប្បាយ​អំពី​ទ្រង់ទ្រាយ​នៅ​ក្នុង​មធ្យោបាយ "សិល្បៈ"
GenericName[ko]="예술적"으로 주석 정리하기
GenericName[lt]=Formatuoti komentarus „meniniu“ būdu
GenericName[nb]=Formater kommentarer på en «kunstnerisk» måte
GenericName[nl]=Commentaar op een "artistieke" manier formatteren
GenericName[nn]=Formaterer merknader på ein «kunstnarleg» måte
GenericName[pl]=Formatuj komentarze w "artystyczny" sposób
GenericName[pt]=Formatar os comentários de forma "artística"
GenericName[pt_BR]=Formatar os comentários de forma "artística"
GenericName[ro]=Formatează comentariile într-un mod „artistic”
GenericName[sl]=Oblikuje komentarje na »umetniški« način
GenericName[sr]=Форматира коментаре на „уметнички“ начин
GenericName[sr@ijekavian]=Форматира коментаре на „уметнички“ начин
GenericName[sr@ijekavianlatin]=Formatira komentare na „umetnički“ način
GenericName[sr@latin]=Formatira komentare na „umetnički“ način
GenericName[sv]=Formatera kommentarer på ett "artistiskt" sätt
GenericName[tg]=Тағйири шарҳҳо дар ҳолати "тасвирӣ"
GenericName[tr]=Yorumları "sanatsal" bir şekilde biçimlendir
GenericName[ug]=ئىزاھاتنى «سەنئەتلىك» ئۇسۇلدا پىچىملا
GenericName[uk]=Форматувати коментарі у «художньому» стилі
GenericName[x-test]=xxFormat comments in an "artistic" wayxx
GenericName[zh_TW]=以較美化的方式編排註解
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_acomment
X-KDE-PluginKeyword=ktexteditor_acomment
X-KDE-PluginInfo-Name=ktexteditor_acomment
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPLv3+
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
