[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditorlumen
Icon=task-delegate
Name=Lumen
Name[ar]=لومِن
Name[ast]=Lumen
Name[ca]=Lumen
Name[ca@valencia]=Lumen
Name[cs]=Lumen
Name[da]=Lumen
Name[de]=Lumen
Name[el]=Lumen
Name[en_GB]=Lumen
Name[es]=Lumen
Name[et]=Lumen
Name[eu]=Lumen
Name[fi]=Lumen
Name[fr]=Lumen
Name[gl]=Lumen
Name[he]=Lumen
Name[hu]=Lumen
Name[ia]=Lumen
Name[id]=Lumen
Name[it]=Lumen
Name[ko]=Lumen
Name[nb]=Lumen
Name[nds]=Lumen
Name[nl]=Lumen
Name[nn]=Lumen
Name[pl]=Lumen
Name[pt]=Lumen
Name[pt_BR]=Lumen
Name[ro]=Lumen
Name[ru]=Lumen
Name[sk]=Lumen
Name[sl]=Lumen
Name[sr]=Лумен
Name[sr@ijekavian]=Лумен
Name[sr@ijekavianlatin]=Lumen
Name[sr@latin]=Lumen
Name[sv]=Lumen
Name[tr]=Lumen
Name[uk]=Lumen
Name[x-test]=xxLumenxx
Name[zh_CN]=Lumen
Name[zh_TW]=Lumen
Comment=Autocompletion Plugin for D, using the DCD autocompletion server
Comment[ast]=Complementu d'autocompletáu pa D qu'usa'l sirvidor d'autocompletáu DCD
Comment[ca]=Connector de compleció automàtica pel D, que usa el servidor de compleció automàtica DCD
Comment[ca@valencia]=Connector de compleció automàtica pel D, que usa el servidor de compleció automàtica DCD
Comment[de]=Ein Modul zur automatischen Vervollständigung für D, das den DCD-Auto-Vervollständigungs-Server benutzt
Comment[el]=Πρόσθετο αυτόματης συμπλήρωσης για την D, με τη χρήση του εξυπηρετητή αυτόματης συμπλήρωσης DCD
Comment[en_GB]=Autocompletion Plugin for D, using the DCD autocompletion server
Comment[es]=Complemento de completado automático para D que utiliza el servidor de completado automático DCD.
Comment[fi]=DCD-automaattitäydennyspalvelinta käyttävä automaattitäydennysliitännäinen D:lle
Comment[fr]=Composant externe d'auto-complètement pour le langage D qui utilise le serveur d'auto-complètement DCD
Comment[gl]=Complemento de completado automático para D que emprega o servidor de completado automático DCD
Comment[it]=Estensione di completamento automatico per D, che usa il server di completamento automatico DCD
Comment[nl]=Plug-in voor automatisch aanvullen voor D, met gebruikmaking van de DCD-server voor automatisch aanvullen
Comment[nn]=Tillegg for autofullføring for D, og som brukar autofullføringstenesta DCD
Comment[pl]=Wtyczka uzupełniania dla D, przy użyciu serwera DCD
Comment[pt]=Ferramenta de completação automática para o D, usando o servidor de completação automática DCD
Comment[pt_BR]=Plugin de autocompletar para o D, que usa o servidor DCD
Comment[ru]=Lumen — модуль автодополнения для языка D, использующий сервер автодополнения DCD
Comment[sk]=Lumen je plugin pre automatické dokončovanie pre D, pomocou servera automatického dokončovania DCD
Comment[sv]=Insticksprogram för automatisk komplettering av D, som använder DCD-servern för automatisk komplettering
Comment[tr]=D için DCD otomatik tamamlama sunucusu kullanan otomatik tamamlama eklentisi
Comment[uk]=Додаток автоматичного доповнення коду мовою D, якому використано сервер доповнення DCD
Comment[x-test]=xxAutocompletion Plugin for D, using the DCD autocompletion serverxx
Comment[zh_CN]=D 语言自动补全插件，使用的是 DCD 自动补全服务器
Comment[zh_TW]=D 的自動補完外掛程式，使用 DCD 自動補完伺服器
