[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditorlumen
Icon=task-delegate
Name=Lumen
Name[ar]=لومِن
Name[ast]=Lumen
Name[ca]=Lumen
Name[ca@valencia]=Lumen
Name[cs]=Lumen
Name[da]=Lumen
Name[de]=Lumen
Name[el]=Lumen
Name[en_GB]=Lumen
Name[es]=Lumen
Name[et]=Lumen
Name[eu]=Lumen
Name[fi]=Lumen
Name[fr]=Lumen
Name[gl]=Lumen
Name[he]=Lumen
Name[hu]=Lumen
Name[ia]=Lumen
Name[id]=Lumen
Name[it]=Lumen
Name[ko]=Lumen
Name[nb]=Lumen
Name[nds]=Lumen
Name[nl]=Lumen
Name[nn]=Lumen
Name[pl]=Lumen
Name[pt]=Lumen
Name[pt_BR]=Lumen
Name[ro]=Lumen
Name[ru]=Lumen
Name[sk]=Lumen
Name[sl]=Lumen
Name[sr]=Лумен
Name[sr@ijekavian]=Лумен
Name[sr@ijekavianlatin]=Lumen
Name[sr@latin]=Lumen
Name[sv]=Lumen
Name[tr]=Lumen
Name[uk]=Lumen
Name[x-test]=xxLumenxx
Name[zh_CN]=Lumen
Name[zh_TW]=Lumen
Comment=Autocompletion Plugin for D, using the DCD autocompletion server
Comment[ca]=Connector de compleció automàtica pel D, que usa el servidor de compleció automàtica DCD
Comment[ca@valencia]=Connector de compleció automàtica pel D, que usa el servidor de compleció automàtica DCD
Comment[de]=Ein Modul zur automatischen Vervollständigung für D, das den DCD-Auto-Vervollständigungs-Server benutzt
Comment[gl]=Complemento de completado automático para D que emprega o servidor de completado automático DCD
Comment[nl]=Plug-in voor automatisch aanvullen voor D, met gebruikmaking van de DCD-server voor automatisch aanvullen
Comment[nn]=Tillegg for autofullføring for D, og som brukar autofullføringstenesta DCD
Comment[pt]=Ferramenta de completação automática para o D, usando o servidor de completação automática DCD
Comment[ru]=Lumen — модуль автодополнения для языка D, использующий сервер автодополнения DCD
Comment[sk]=Lumen je plugin pre automatické dokončovanie pre D, pomocou servera automatického dokončovania DCD
Comment[sv]=Insticksprogram för automatisk komplettering av D, som använder DCD-servern för automatisk komplettering
Comment[uk]=Додаток автоматичного доповнення коду мовою D, якому використано сервер доповнення DCD
Comment[x-test]=xxAutocompletion Plugin for D, using the DCD autocompletion serverxx
