[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katemailfilesplugin
X-Kate-Version=2.8
Name=Mail files
Name[de]=Mail-Dateien
Name[el]=Αρχεία αλληλογραφίας
Name[es]=Enviar archivos por correo
Name[fa]=پرونده‌های نامه
Name[it]=Invia file
Name[ja]=ファイルをメールで送信
Name[pa]=ਫਾਇਲ ਮੇਲ
Name[pt]=Enviar os ficheiros por e-mail
Name[pt_BR]=Enviar os ficheiros por e-mail
Name[sv]=E-postfiler
Name[x-test]=xxMail filesxx
Name[zh_TW]=郵件檔案
Comment=Mail files
Comment[de]=Mail-Dateien
Comment[el]=Αρχεία αλληλογραφίας
Comment[es]=Enviar archivos por correo electrónico
Comment[fa]=پرونده‌های نامه
Comment[it]=Invia file per posta elettronica
Comment[ja]=ファイルをメールで送信します
Comment[pa]=ਫਾਇਲਾਂ ਮੇਲ ਕਰੋ
Comment[pt]=Enviar os ficheiros por e-mail
Comment[pt_BR]=Enviar os ficheiros por e-mail
Comment[sv]=E-postfiler
Comment[x-test]=xxMail filesxx
Comment[zh_TW]=郵件檔案
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
