[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katemailfilesplugin
X-Kate-Version=2.8
Name=Mail files
Name[ca]=Fitxers de correu
Name[da]=E-mail filer
Name[de]=Mail-Dateien
Name[el]=Αρχεία αλληλογραφίας
Name[es]=Enviar archivos por correo
Name[et]=Failide saatmine e-postiga
Name[fa]=پرونده‌های نامه
Name[fr]=Fichiers de courrier
Name[ga]=Seol comhaid
Name[gl]=Enviar por correo os ficheiros
Name[hu]=Levélküldő
Name[it]=Invia file
Name[ja]=ファイルをメールで送信
Name[km]=ឯកសារ​សំបុត្រ
Name[lv]=Nosūtīt failus pa e-pastu
Name[nb]=Epost-filer
Name[nds]=Dateien mit Nettpost loosstüern
Name[ne]=मेल फाइल
Name[nl]=Bestanden e-mailen
Name[pa]=ਫਾਇਲ ਮੇਲ
Name[pl]=Wyślij pliki
Name[pt]=Enviar os ficheiros por e-mail
Name[pt_BR]=Enviar arquivos por e-mail
Name[sr]=Пошаљи фајлове поштом
Name[sr@latin]=Pošalji fajlove poštom
Name[sv]=E-postfiler
Name[tr]=Dosyaları e-posta ile gönder
Name[uk]=Файли пошти
Name[x-test]=xxMail filesxx
Name[zh_CN]=邮寄文件
Name[zh_TW]=郵件檔案
Comment=Mail files
Comment[ca]=Fitxers de correu
Comment[da]=Send filer i e-mail
Comment[de]=Mail-Dateien
Comment[el]=Αρχεία αλληλογραφίας
Comment[es]=Enviar archivos por correo electrónico
Comment[et]=Failide saatmine e-postiga
Comment[fa]=پرونده‌های نامه
Comment[fr]=Fichiers de courrier
Comment[ga]=Seol comhaid
Comment[gl]=Envía por correo electrónico os ficheiros
Comment[hu]=Levélküldő
Comment[it]=Invia file per posta elettronica
Comment[ja]=ファイルをメールで送信します
Comment[km]=ឯកសារ​សំបុត្រ
Comment[lv]=Nosūtīt failus pa e-pastu
Comment[nb]=Epost-filer
Comment[nds]=Dateien mit Nettpost loosstüern
Comment[ne]=मेल फाइल
Comment[nl]=Bestanden via e-mail verzenden
Comment[pa]=ਫਾਇਲਾਂ ਮੇਲ ਕਰੋ
Comment[pl]=Wyślij pliki
Comment[pt]=Enviar os ficheiros por e-mail
Comment[pt_BR]=Enviar arquivos por e-mail
Comment[sr]=Слање фајлова поштом
Comment[sr@latin]=Slanje fajlova poštom
Comment[sv]=E-postfiler
Comment[tr]=Dosyaları e-posta ile gönder
Comment[uk]=Файли пошти
Comment[x-test]=xxMail filesxx
Comment[zh_CN]=用邮件发送文件
Comment[zh_TW]=郵件檔案
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
