[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katemailfilesplugin
X-Kate-Version=2.8
Name=Mail files
Name[x-test]=xxMail filesxx
Comment=Mail files
Comment[x-test]=xxMail filesxx
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
