[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katexmlcheckplugin
X-Kate-Version=2.9
Name=XML Validation
Comment=Validates XML files using xmllint
