[Desktop Entry]
Type=Service
#ServiceTypes=Kate/Plugin # this changed to KTextEditor
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katexmlcheckplugin
#X-Kate-Version=2.9 No KATE specific stuff atm, see https://github.com/KDE/kate/commit/2b1d24a5dac345819ed88c8177ad00891c6317dd
Name=XML Validation
Name[ar]=التّحقّق من XML
Name[ast]=Validación de XML
Name[bg]=Валидиране на XML
Name[bs]=Ovjera XML‑a
Name[ca]=Validació de l'XML
Name[ca@valencia]=Validació de l'XML
Name[cs]=Validace XML
Name[da]=XML-validering
Name[de]=XML-Überprüfung
Name[el]=Έλεγχος εγκυρότητας XML
Name[en_GB]=XML Validation
Name[es]=Validación XML
Name[et]=XML-i kontrollija
Name[eu]=XMLren balioztatzea
Name[fa]=اعتبارسنجی Kate XML
Name[fi]=XML-validointi
Name[fr]=Validation du XML
Name[ga]=Bailíochtú XML
Name[gl]=Validación de XML
Name[he]=אימות XML
Name[hu]=XML-ellenőrző
Name[ia]=Validation XML
Name[id]=Validasi XML
Name[it]=Validazione XML
Name[ja]=XML 検証
Name[kk]=XML-ды тексеруі
Name[km]=សុពលកម្ម​ XML 
Name[ko]=XML 검사기
Name[lt]=XML patikra
Name[lv]=XML validācija
Name[mr]=XML व्हेलिडेशन
Name[nds]=XML-Prööv
Name[nl]=XML-validatie
Name[nn]=XML-validering
Name[pa]=XML ਵੈਧਤਾ
Name[pl]=Sprawdzenie XML
Name[pt]=Validação de XML
Name[pt_BR]=Validação de XML
Name[ro]=Validare XML
Name[ru]=Проверка XML
Name[si]=XML වලංගුකරණය
Name[sk]=XML kontrola
Name[sl]=Potrjevanje veljavnosti XML-ja
Name[sr]=Овера ИксМЛ‑а
Name[sr@ijekavian]=Овера ИксМЛ‑а
Name[sr@ijekavianlatin]=Overa XML‑a
Name[sr@latin]=Overa XML‑a
Name[sv]=XML-validering
Name[tg]=Муайянкунии XML
Name[tr]=XML Doğrulama
Name[ug]=XML دەلىللەش
Name[uk]=Перевірка XML
Name[vi]=Xác nhận XML
Name[wa]=Validåcion XML
Name[x-test]=xxXML Validationxx
Name[zh_CN]=XML 校验
Name[zh_TW]=XML 檢查器
Comment=Validates XML files using xmllint
Comment[ar]=يتحقّق من ملفّات XML باستخدام xmllint
Comment[ast]=Valida documentos XML usando xmllint
Comment[bg]=Валидиране на XML-файлове с помощта на xmllint
Comment[bs]=Overava XML datoteke naredbom xmllint
Comment[ca]=Valida els fitxers XML usant el «xmllint»
Comment[ca@valencia]=Valida els fitxers XML usant el «xmllint»
Comment[cs]=Ověřuje soubory XML pomocí xmllint
Comment[da]=Validerer XML-filer ved brug af xmllint
Comment[de]=Überprüft XML-Dateien mit xmllint
Comment[el]=Ελέγχει την εγκυρότητα XML αρχείων με χρήση του xmllint
Comment[en_GB]=Validates XML files using xmllint
Comment[es]=Valida archivos XML usando xmllint
Comment[et]=Kontrollib XML-faile xmllint'i abil
Comment[eu]=XML fitxategiak balioztatzen ditu xmllint erabiliz
Comment[fi]=Validoi XML-tiedostot xmllintiä käyttäen
Comment[fr]= Valide les fichiers XML à l'aide de « xmllint »
Comment[ga]=Bailíochtaigh comhaid XML le xmllint
Comment[gl]=Valida ficheiros XML usando xmllint
Comment[he]=מאמת קבצי XML בעזרת xmllint
Comment[hu]=XML-fájlok ellenőrzése az xmllint programmal
Comment[ia]=Valida files XML per usar xmllint
Comment[id]=Validasi file XML dengan xmllint
Comment[it]=Convalida i file XML usando xmllint
Comment[ja]=xmllint で XML ファイルを検証します
Comment[kk]=xmllint көмегімен XML файлдарды тексеру
Comment[km]=ធ្វើ​ឲ្យ​ឯកសារ XML មាន​សុពលភាព​ដោយ​ប្រើ xmllint
Comment[ko]=xmllint로 XML 파일 검사하기
Comment[lt]=Tikrina XML failus naudojant xmllint
Comment[lv]=Pārbauda XML datnes izmantojot xmllint
Comment[mr]=XML फाईल्स xmllint वापरून व्हेलिडेट करतो
Comment[nds]=Pröövt XML-Dateien mit "xmllint"
Comment[ne]=xmllint प्रयोग गरेर एक्सएमएल फाइलहरू प्रमाणीकरण गर्दछ
Comment[nl]=Valideert XML-bestanden met behulp van xmllint
Comment[nn]=Validerer XML-filer med xmllint
Comment[pl]=Sprawdza poprawność składni XML za pomocą xmllint
Comment[pt]=Valida os ficheiros XML com o 'xmllint'
Comment[pt_BR]=Valida arquivos XML usando xmllint
Comment[ro]=Validează fișiere XML utilizând xmllint
Comment[ru]=Проверка правильности XML с использованием xmllint
Comment[si]=mllint භාවිතයෙන් XML වලංගු කරන්න
Comment[sk]=Skontroluje XML pomovou xmlint
Comment[sl]=Potrdi veljavnost datotek XML z xmllint
Comment[sr]=Оверава ИксМЛ фајлове помоћу xmllint
Comment[sr@ijekavian]=Оверава ИксМЛ фајлове помоћу xmllint
Comment[sr@ijekavianlatin]=Overava XML fajlove pomoću xmllint
Comment[sr@latin]=Overava XML fajlove pomoću xmllint
Comment[sv]=Validerar XML-filer med XMLlint
Comment[tg]=Файлҳои XML тавассути xmllint муайян мекунад
Comment[tr]=XML dosyalarını xmllint kullanarak doğrular
Comment[ug]=xmllint پروگرامما ئىشلىتىپ XML ھۆججەت دەلىللەيدۇ
Comment[uk]=Перевіряє файли XML за допомогою xmllint
Comment[vi]=Xác nhận các tập tin XML sử dụng xmllint
Comment[x-test]=xxValidates XML files using xmllintxx
Comment[zh_CN]=使用 xmllint 程序校验 XML 文件
Comment[zh_TW]=用 xmllint 來確認 XML 檔
