[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katexmlcheckplugin
X-Kate-Version=2.9
Name=Kate XML Validation
Name[de]=XML-Überprüfung für Kate
Name[el]=Έλεγχος εγκυρότητας XML του Kate
Name[it]=Validazione XML di Kate
Name[ja]=Kate XML 検証
Name[pa]=ਕੇਟ XML ਵੈਧਤਾ
Name[sv]=Kate XML-validering
Name[x-test]=xxKate XML Validationxx
Name[zh_TW]=Kate XML 檢查器
Comment=Validates XML files using xmllint
Comment[de]=Validiert XML-Dateien mit xmllint
Comment[el]=Επαλήθευση αρχείων XML με χρήση του xmllint
Comment[it]=Convalida i file XML usando xmllint
Comment[ja]=xmllint で XML ファイルを検証します
Comment[sv]=Validerar XML-filer med XMLlint
Comment[x-test]=xxValidates XML files using xmllintxx
Comment[zh_TW]=用 xmllint 來確認 XML 檔
