[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katexmlcheckplugin
X-Kate-Version=2.9
Name=Kate XML Validation
Name[x-test]=xxKate XML Validationxx
Comment=Validates XML files using xmllint
Comment[x-test]=xxValidates XML files using xmllintxx
