[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katexmlcheckplugin
X-Kate-Version=2.9
Name=Kate XML Validation
Name[de]=XML-Überprüfung für Kate
Name[el]=Έλεγχος εγκυρότητας XML του Kate
Name[it]=Validazione XML di Kate
Name[ja]=Kate XML 検証
Name[x-test]=xxKate XML Validationxx
Comment=Validates XML files using xmllint
Comment[de]=Validiert XML-Dateien mit xmllint
Comment[it]=Convalida i file XML usando xmllint
Comment[ja]=xmllint で XML ファイルを検証します
Comment[x-test]=xxValidates XML files using xmllintxx
