[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=scriptIDEplugin
X-Kate-Version=2.9
Name=Script IDE
Name[ca]=Script IDE
Name[da]=Script-IDE
Name[de]=Entwicklungsumgebung für Skripte
Name[el]=Script IDE
Name[et]=Script IDE
Name[hu]=Szkript IDE
Name[ia]=IDE de Script
Name[km]=ស្គ្រីប IDE
Name[nl]=Script IDE
Name[pl]=Skrypt IDE
Name[pt]=IDE de Programas
Name[pt_BR]=IDE de scripts
Name[sl]=Integrirano razvojno okolje za skripte
Name[sr]=Скриптни ИДЕ
Name[sr@ijekavian]=Скриптни ИДЕ
Name[sr@ijekavianlatin]=Skriptni IDE
Name[sr@latin]=Skriptni IDE
Name[sv]=Integrerad skriptutvecklingsmiljö
Name[tr]=Script IDE
Name[uk]=IDE для скриптів
Name[x-test]=xxScript IDExx
Name[zh_CN]=脚本 IDE
Name[zh_TW]=文稿整合開發環境
Comment=Script Management Plugin
Comment[ca]=Connector per gestionar scripts
Comment[da]=Plugin til håndtering af scripts
Comment[de]=Modul zum Verwalten von Skripten
Comment[el]=Πρόσθετο διαχείρισης σεναρίων
Comment[et]=Skriptide haldamise plugin
Comment[hu]=Szkriptkezelő bővítmény
Comment[ia]=Plugin de gerente de script
Comment[km]=កម្មវិធី​ជំនួយ​គ្រប់គ្រង​ស្គ្រីប
Comment[nl]=Plug-in voor beheer van scripts
Comment[pl]=Wtyczka zarządzania skryptami
Comment[pt]='Plugin' de Gestão de Programas
Comment[pt_BR]=Plugin de gerenciamento de scripts
Comment[sl]=Vstavek za upravljanje s skripti
Comment[sr]=Прикључак за управљање скриптама
Comment[sr@ijekavian]=Прикључак за управљање скриптама
Comment[sr@ijekavianlatin]=Priključak za upravljanje skriptama
Comment[sr@latin]=Priključak za upravljanje skriptama
Comment[sv]=Insticksprogram för skripthantering
Comment[tr]=Betik Yönetimi Eklentisi
Comment[uk]=Додаток для керування скриптами
Comment[x-test]=xxScript Management Pluginxx
Comment[zh_CN]=脚本管理插件
Comment[zh_TW]=文稿管理外掛程式
