[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=scriptIDEplugin
X-Kate-Version=2.9
Name=Script IDE
Name[ca]=Script IDE
Name[de]=Entwicklungsumgebung für Skripte
Name[pt]=IDE de Programas
Name[uk]=IDE для скриптів
Name[x-test]=xxScript IDExx
Comment=Script Management Plugin
Comment[ca]=Connector per gestionar scripts
Comment[de]=Modul zum Verwalten von Skripten
Comment[pt]='Plugin' de Gestão de Programas
Comment[uk]=Додаток для керування скриптами
Comment[x-test]=xxScript Management Pluginxx
