[Desktop Entry]
Encoding=UTF-8
Name=Kate Part JavaScript Test
Name[af]=Kate Deel Javaskript Toets
Name[pt_BR]=Teste do componente JavaScript do Kate
Name[sv]=Test av Javaskript för Kates delprogram
Name[ta]=கேட் பகுதி ஜாவாஸ்கிரிப்ட் சோதனை
Comment=Script for testing kate part's scripting
Comment[af]=Skript om te toets of Kate se skript masjien werk
Comment[bg]=Скрипт за тестване на модулите за поддръжка на скриптове
Comment[pt_BR]=Script para testes da parte de scripts do kate
Comment[sv]=Skript för att testa skripthantering i Kates delprogram
Comment[ta]=கேட் பகுதியின் எழுத்தாக்க சோதனைக்கான குறுநிரல்
X-Kate-Command=jstest
X-Kate-Help=<p>Usage: <code>jstest</code></p>
