[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=cmake_utils
Name=CMake Utilities
Comment=Code completer, cache and help browser
