[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=cmake_utils
Name=CMake Utilities
Name[bs]=Cmake alati
Name[ca]=Utilitats de CMake
Name[ca@valencia]=Utilitats del CMake
Name[cs]=Nástroje CMake
Name[da]=CMake-værktøjer
Name[de]=CMake-Dienstprogramme
Name[el]=Εργαλεία του CMake
Name[en_GB]=CMake Utilities
Name[es]=Utilidades CMake
Name[et]=CMake'i tööriistad
Name[fi]=CMake-työkalut
Name[fr]=Utilitaires CMake
Name[gl]=Bloque
Name[he]=שירותיות CMake
Name[hu]=CMake segédprogramok
Name[ia]=Utilitates de CMake
Name[it]=Programmi per CMake
Name[kk]=CMake утилиталары
Name[ko]=CMake 유틸리티
Name[lt]=CMake pagalbininkai
Name[nb]=CMake-verktøy
Name[nds]=CMake-Warktüüch
Name[nl]=Hulpmiddelen voor CMake
Name[pl]=Narzędzia CMake
Name[pt]=Utilitários do CMake
Name[pt_BR]=Utilitários do CMake
Name[ro]=Utilitare CMake
Name[ru]=Утилиты CMake
Name[sk]=Nástroje CMake
Name[sl]=Pripomočki za CMake
Name[sr]=Алатке за ц‑мејк
Name[sr@ijekavian]=Алатке за ц‑мејк
Name[sr@ijekavianlatin]=Alatke za CMake
Name[sr@latin]=Alatke za CMake
Name[sv]=CMake-verktyg
Name[tr]=CMake Araçları
Name[uk]=Інструменти CMake
Name[x-test]=xxCMake Utilitiesxx
Name[zh_CN]=CMake 工具
Name[zh_TW]=CMake 工具
Comment=Code completer, cache and help browser
Comment[bs]=Dovršavanje koda, pregled keša i pomoći
Comment[ca]=Compleció de codi, navegador de memòria cau i ajuda
Comment[ca@valencia]=Compleció de codi, navegador de memòria cau i ajuda
Comment[cs]=Doplňování kódu, mezipaměť a prohlížeč nápovědy
Comment[da]=Kodefuldførelse, browser til cache og hjælp
Comment[de]=Quelltext-Vervollständigung, Zwischenspeicher und Hilfe-Browser
Comment[el]=Εργαλείο συμπλήρωσης κώδικα, λανθάνουσα μνήμη και βοηθητικός περιηγητής
Comment[en_GB]=Code completer, cache and help browser
Comment[es]=Completador de código, caché y navegador de la ayuda
Comment[et]=Koodilõpetaja, puhver ja abibrauser
Comment[fi]=Koodintäydennys sekä välimuistin ja ohjeiden selain
Comment[fr]=Compléteur de code, cache et explorateur d'aide
Comment[gl]=Varias accións para axudar na edición de código
Comment[he]=משלים קוד, מטמון ודפדפן עזרה
Comment[hu]=Kódkiegészítő, gyorsítótár és súgóböngésző
Comment[ia]=Completator de codice, cache e navigator de adjuta
Comment[it]=Completatore di codice, navigatore di cache e aiutante
Comment[kk]=Код толтырғышы, кэш пен көмек шолғышы
Comment[ko]=코드 자동 완성, 캐시 및 도움말 탐색기
Comment[nb]=Kodefullfører, mellomlager og hjelp-navigatør
Comment[nds]=Kodekompletteren, Twischenspieker und Hülpkieker
Comment[nl]=Broncode aanvullen, cache en browser van hulp
Comment[pl]=Uzupełnianie kodu, pamięć podręczna i przeglądarka pomocy
Comment[pt]=Completação de código, 'cache' e navegador da ajuda
Comment[pt_BR]=Completação de código, cache e navegador da ajuda
Comment[ru]=Дополнение кода, просмотр кэша и справки
Comment[sk]=Ukončovač kódu, cache a prehliadač pomocníka
Comment[sl]=Dopolnjevalnik kode, predpomnilnik in brskalnik po pomoči
Comment[sr]=Допуњавач кода, кеш и прегледач помоћи
Comment[sr@ijekavian]=Допуњавач кода, кеш и прегледач помоћи
Comment[sr@ijekavianlatin]=Dopunjavač koda, keš i pregledač pomoći
Comment[sr@latin]=Dopunjavač koda, keš i pregledač pomoći
Comment[sv]=Kodkomplettering, cache och hjälpbläddrare
Comment[tr]=Kod tamamlayıcı, önbellek ve yardım tarayıcısı
Comment[uk]=Доповнювач коду, переглядач кешу та довідки
Comment[x-test]=xxCode completer, cache and help browserxx
Comment[zh_CN]=代码补全、缓存及帮助浏览器
Comment[zh_TW]=源碼補完器，快取及說明瀏覽器
