[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kate_kttsd
X-Kate-Version=3.0
Icon=kttsd
Name=Jovie Text-to-Speech
Comment=Adds a menu entry for speaking the text
author=Olaf Jan Schmidt, ojschmidt@kde.org
