[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katectagsplugin
Name=CTags
Name[ar]=وسوم سي
Name[ast]=CTags
Name[bg]=CTags
Name[bs]=C‑tags
Name[ca]=CTags
Name[ca@valencia]=CTags
Name[cs]=CTags
Name[da]=CTags
Name[de]=CTags
Name[el]=CTags
Name[en_GB]=CTags
Name[es]=CTags
Name[et]=CTags
Name[eu]=CTags
Name[fa]=CTags
Name[fi]=CTags
Name[fr]=CTags
Name[ga]=CTags
Name[gl]=CTags
Name[he]=CTags
Name[hu]=CTags
Name[ia]=CTags
Name[id]=CTags
Name[is]=CTags
Name[it]=CTags
Name[kk]=CTags
Name[km]=CTags
Name[ko]=CTags
Name[lt]=CTags
Name[lv]=CTags
Name[mr]=CTags
Name[nb]=CTags
Name[nds]=CTags
Name[nl]=CTags
Name[nn]=CTags
Name[pa]=CTags
Name[pl]=CTags
Name[pt]=CTags
Name[pt_BR]=CTags
Name[ro]=CTags
Name[ru]=CTags
Name[si]=CTags
Name[sk]=CTags
Name[sl]=CTags
Name[sr]=Ц‑тагс
Name[sr@ijekavian]=Ц‑тагс
Name[sr@ijekavianlatin]=CTags
Name[sr@latin]=CTags
Name[sv]=CTags
Name[tg]=CTags
Name[tr]=CTags
Name[ug]=CTags
Name[uk]=CTags
Name[wa]=CTags
Name[x-test]=xxCTagsxx
Name[zh_CN]=CTags
Name[zh_TW]=CTags
Comment=Look up definitions/declarations with CTags
Comment[ar]=تبحث عن التّعريفات والإعلانات ب‍CTags
Comment[ast]=Gueta definiciones/declaraciones con CTags
Comment[bg]=Проверка на дефиниции и декларации с CTag
Comment[bs]=Tražite definicije i deklaracije C‑tagsom
Comment[ca]=Cerca definicions/declaracions amb CTags
Comment[ca@valencia]=Cerca definicions/declaracions amb CTags
Comment[cs]=Vyhledávání definic/deklarací pomocí CTags
Comment[da]=Slå definitioner/erklæringer op med CTags
Comment[de]=Definition/Deklaration mit CTags nachschauen
Comment[el]=Αναζήτηση ορισμών/δηλώσεων με το CTags
Comment[en_GB]=Look up definitions/declarations with CTags
Comment[es]=Buscar definiciones/declaraciones con CTags
Comment[et]=Definitsiooni/deklaratsiooni otsimine CTagsiga
Comment[eu]=Bilatu CTags duten definizioak/deklarazioak
Comment[fi]=Hyppää määrittelyihin/esittelyihin käyttäen CTagsia
Comment[fr]=Cherche des définitions / déclarations avec CTags
Comment[ga]=Cuardaigh sainmhínithe/fógraí le CTags
Comment[gl]=Busca de definicións/declaracións con CTags
Comment[he]=חפש הגדרות של משתנים בעזרת CTags
Comment[hu]=Definíciók/deklarációk kikeresése CTags segítségével
Comment[ia]=Cerca definitiones/declarationes con CTags
Comment[id]=Mencari definisi/deklarasi dengan CTags
Comment[it]=Cerca definizioni e dichiarazioni con CTags
Comment[ja]=CTags を使って定義/宣言を検索します
Comment[kk]=CTags көмегімен анықтамалар/жарияламаларды қарастыру
Comment[km]=រក​មើល​និយមន័យ/កា​រ​ប្រកាស​ជា​មួយ CTags
Comment[ko]=CTags를 사용하여 선언/정의 찾기
Comment[lt]=Peržiūrėti apibrėžimus naudojant CTags
Comment[lv]=Uzmeklē definīcijas/deklarācijas ar CTags
Comment[mr]=CTags ने व्याख्या/डिक्लेरेशन्स बघतो
Comment[nb]=Slå opp definisjoner og deklarasjoner med CTags
Comment[nds]=Definitschonen/Deklaratschonen mit CTags nakieken
Comment[nl]=Defenities/declaraties opzoeken met CTags
Comment[nn]=Slå opp definisjonar og deklarasjonar med CTags
Comment[pl]=Wyszukiwanie definicji/deklaracji w CTags
Comment[pt]=Procurar por definições/declarações com o CTags
Comment[pt_BR]=Procura definições/declarações com o CTags
Comment[ro]=Caută definiții/declarații cu CTags
Comment[ru]=Поиск определений и объявлений с помощью индекса CTags
Comment[si]=CTag සමඟ යෙදුම්/හැඳින්වීම බලන්න
Comment[sk]=Vyhľadať definície/deklarácie s CTags
Comment[sl]=Poiščite definicije in deklaracije
Comment[sr]=Тражите дефиниције и декларације Ц‑тагсом
Comment[sr@ijekavian]=Тражите дефиниције и декларације Ц‑тагсом
Comment[sr@ijekavianlatin]=Tražite definicije i deklaracije CTagsom
Comment[sr@latin]=Tražite definicije i deklaracije CTagsom
Comment[sv]=Slå upp definitioner och deklarationer med Ctags
Comment[tg]=Намоиши маъно/эъломияҳо тавассути CTags
Comment[tr]=CTags ile bildirimlerde ve tanımlamalarda ara
Comment[ug]=CTags ئىشلىتىپ كودتىكى ئېنىقلىما/بايانات ئىزدەيدۇ
Comment[uk]=Пошук визначень і оголошень за допомогою CTags
Comment[x-test]=xxLook up definitions/declarations with CTagsxx
Comment[zh_CN]=使用 CTags 查阅代码中的定义/声明
Comment[zh_TW]=使用 CTags 尋找定義與宣告

