[Desktop Entry]
X-KDE-Library=ktexteditor_autobookmarker
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktexteditorautobookmarker
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=bookmark-new
Name=Autobookmarker
Name[bg]=Автоматично създаване на отметки
Name[bs]=Autozabilješke
Name[ca]=Marcador automàtic de punts
Name[ca@valencia]=Marcador automàtic de punts
Name[cs]=Automatické záložky
Name[da]=Autobogmærker
Name[de]=Automatische Lesezeichenmarkierung
Name[el]=Autobookmarker
Name[en_GB]=Autobookmarker
Name[es]=Automarcador
Name[et]=Automaatne järjehoidjate märkija
Name[eu]=Laster-markatzaile automatikoa
Name[fi]=Automaattikirjanmerkittäjä
Name[fr]=Marquage de signets automatiques
Name[ga]=Autobookmarker
Name[gl]=Marcador automático
Name[hu]=Könyvjelzőkészítő
Name[ia]=Auto marcator de libro
Name[it]=Segnalibri automatici
Name[ja]=Autobookmarker
Name[kk]=Автобетбелгігіші
Name[km]=Autobookmarker
Name[ko]=자동 책갈피
Name[lt]=Automatinis žymėtojas
Name[lv]=Automātiskais grāmatzīmju licējs
Name[nb]=Automatisk bokmerke
Name[nds]=Leestekensetter
Name[nl]=Autobladwijzers
Name[pa]=ਆਟੋ-ਬੁੱਕਮਾਰਕਰ
Name[pl]=Auto-zakładka
Name[pt]=Favoritos automáticos
Name[pt_BR]=Marcador de favoritos automático
Name[ro]=Semne de carte automate
Name[ru]=Автозакладки
Name[si]=ස්වයංපොත්තැබීම
Name[sk]=Autobookmarker
Name[sl]=Samodejni zaznamki
Name[sr]=Аутоматско обележавање
Name[sr@ijekavian]=Аутоматско обиљежавање
Name[sr@ijekavianlatin]=Automatsko obilježavanje
Name[sr@latin]=Automatsko obeležavanje
Name[sv]=Automatiska bokmärken
Name[tg]=Хатчӯбмонии худкор
Name[tr]=Otomatik Yer İmi Ekleyici
Name[ug]=ئۆزلۈكىدىن خەتكۈش ياسىغۇچ
Name[uk]=Програма автоматичних закладок
Name[x-test]=xxAutobookmarkerxx
Name[zh_CN]=自动书签
Name[zh_TW]=Autobookmarker
Comment=Set bookmarks on lines matching a pattern when documents are loaded
Comment[bg]=Създаване при отваряне на документи на отметки на редовете, отговарящи на даден образец
Comment[bs]=Postavi zabilješke na linijama koje se slažu s uzurcima kada se učitavaju dokumenti
Comment[ca]=Estableix punts a les línies coincidents amb un patró quan es carreguen documents
Comment[ca@valencia]=Estableix punts a les línies coincidents amb un patró quan es carreguen documents
Comment[cs]=Nastavení záložek do řádek vyhovujících vzoru po nahrání dokumentu
Comment[da]=Sæt bogmærker på linjer der matcher et mønster når dokumenter er indlæst
Comment[de]=Lesezeichen nach bestimmten Mustern auf Zeilen setzen, sobald ein Dokument geladen wird
Comment[el]=Τοποθετεί τους σελιδοδείκτες σε γραμμές που ταιριάζουν με ένα μοτίβο όταν φορτώνονται έγγραφα
Comment[en_GB]=Set bookmarks on lines matching a pattern when documents are loaded
Comment[es]=Establece marcadores cuando se carguen los documentos en aquellas líneas que cumplen un patrón
Comment[et]=Määrab dokumendi avamisel vastavalt mustrile ridadele järjehoidjad
Comment[eu]=Eredu batekin bat datozen lerroetan laster-markak ezartzen ditu dokumentuak kargatzean
Comment[fi]=Tekee kirjanmerkkejä tietyn kuvioisille riveille kun asiakirjoja avataan
Comment[fr]=Définit des signets sur les lignes correspondant à un motif lorsque des documents sont chargés
Comment[ga]=Cruthaigh leabharmharcanna ar línte atá comhoiriúnach do phatrún nuair a luchtaítear cáipéisí
Comment[gl]=Pon marcadores en liñas que se axusten a un patrón durante a carga de documentos
Comment[hu]=Könyvjelzők hozzáadása egy megadott mintára illeszkedő sorokhoz a dokumentumok betöltésekor
Comment[ia]=Fixa le marcatores super lineas coincidente con un modello quando le documentos es cargate
Comment[it]=Quanto vengono caricati i documenti imposta dei segnalibri nelle righe che corrispondono ad un certo modello
Comment[kk]=Құжаттар жүкелгенде үлгі бойынша бетбелгілерді кояды
Comment[km]=កំណត់​ចំណាំ​លើ​បន្ទាត់​ដែល​ផ្គូផ្គង​​លំនាំ​ទៅ​ពេល​ឯកសារ​ត្រូវ​បាន​ផ្ទុក​
Comment[ko]=문서를 불러올 때 지정한 패턴이 있는 줄 책갈피에 추가하기
Comment[lt]=Įkeliant dokumentą šabloną atitinkančiose eilutėse nustato žymeles
Comment[lv]=Pie dokumentu ielādes ievieto grāmatzīmes rindās, kas atbilst rakstam
Comment[nb]=Sett bokmerke på linjer som passer til et mønster når dokumenter blir åpnet
Comment[nds]=Sett al bi't Laden Leestekens för Regen, op de en Muster passt.
Comment[nl]=Plaatsen van bladwijzers op regels die voldoen aan een bepaald patroon zodra het document geopend wordt
Comment[pa]=ਜਦੋਂ ਵੀ ਡੌਕੂਮੈਂਟ ਨੂੰ ਲੋਡ ਕੀਤਾ ਜਾ ਰਿਹਾ ਹੋਵੇ ਤਾਂ ਬੁੱਕਮਾਰਕ ਨੂੰ ਸਤਰ-ਮੇਲ ਇੱਕ ਪੈਟਰਨ ਦਿਓ
Comment[pl]=Ustaw zakładkę na liniach pasujących do wzorca podczas wczytywania dokumentu
Comment[pt]=Marca favoritos nas linhas que correspondem a um padrão ao carregar os documentos
Comment[pt_BR]=Quando os documentos são carregados, arranja os seus favoritos em linhas, separadas de acordo com uma expressão definida
Comment[ro]=Stabilește semne de carte la liniile care sare se potrivesc cu un model cînd sînt încărcate documentele.
Comment[ru]=Расстановка закладок в текстовом документе по шаблону
Comment[si]=ලේඛනය පූර්ණය වන විට රටාවකට ගැලපෙන පේළි පොත්සලකුණු කරන්න
Comment[sk]=Nastaviť záložky na riadkoch vyhovujúcich vzoru pri načítaní dokumentu
Comment[sl]=Med nalaganjem dokumentov ustvari zaznamke na vrsticah, ki ustrezajo vzorcu
Comment[sr]=Поставља обележиваче на редове поклопљене обрасцем по учитавању документа
Comment[sr@ijekavian]=Поставља обиљеживаче на редове поклопљене обрасцем по учитавању документа
Comment[sr@ijekavianlatin]=Postavlja obilježivače na redove poklopljene obrascem po učitavanju dokumenta
Comment[sr@latin]=Postavlja obeleživače na redove poklopljene obrascem po učitavanju dokumenta
Comment[sv]=Lägg till bokmärken på rader som motsvarar ett mönster när dokument laddas
Comment[tg]=Хатчӯбҳоро дар хатҳои мувофиқи намуна ҳангоми кушодани ҳуҷҷатҳо таъин мекунад
Comment[tr]=Belgeler yüklendiğinde belirli bir kalıba uyan satırlara yer imi ekle
Comment[ug]=پۈتۈكلەر يۈكلەنگەندە بىر قېلىپقا ماس كەلگەن قۇردىكى خەتكۈچلەرنى تەڭشەيدۇ
Comment[uk]=Встановлює закладки на рядках, що відповідають взірцю, під час завантаження документів
Comment[x-test]=xxSet bookmarks on lines matching a pattern when documents are loadedxx
Comment[zh_CN]=在装入文档时根据模式自动设置书签
Comment[zh_TW]=文件載入時以字串比對演算法來設定書籤。
