[Desktop Entry]
X-KDE-Library=ktexteditor_autobookmarker
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktexteditorautobookmarker
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=bookmark-new
Name=Autobookmarker
Name[cs]=Automatické záložky
Name[de]=Automatische Lesezeichenmarkierung
Name[en_GB]=Autobookmarker
Name[et]=Automaatne järjehoidjate märkija
Name[gl]=Marcador automático
Name[ia]=Auto marcator de libro
Name[ja]=Autobookmarker
Name[nb]=Automatisk bokmerke
Name[nds]=Leestekensetter
Name[nl]=Autobladwijzers
Name[pt]=Favoritos automáticos
Name[pt_BR]=Marcador de favoritos automático
Name[ru]=Автозакладки
Name[sv]=Automatiska bokmärken
Name[tg]=Хатчӯбмонии худкор
Name[uk]=Програма автоматичних закладок
Name[x-test]=xxAutobookmarkerxx
Name[zh_TW]=Autobookmarker
Comment=Set bookmarks on lines matching a pattern when documents are loaded
Comment[cs]=Nastavení záložek do řádek vyhovujících vzoru po nahrání dokumentu
Comment[de]=Lesezeichen nach bestimmten Mustern auf Zeilen setzen, sobald ein Dokument geladen wird
Comment[en_GB]=Set bookmarks on lines matching a pattern when documents are loaded
Comment[et]=Määrab dokumendi avamisel vastavalt mustrile ridadele järjehoidjad
Comment[gl]=Pon marcadores en liñas que se axusten a un patrón durante a carga de documentos
Comment[ia]=Fixa le marcatores super lineas coincidente con un modello quando le documentos es cargate
Comment[nb]=Sett bokmerke på linjer som passer til et mønster når dokumenter blir åpnet
Comment[nds]=Sett al bi't Laden Leestekens för Regen, op de en Muster passt.
Comment[nl]=Plaatsen van bladwijzers op regels die voldoen aan een bepaald patroon zodra het document geopend wordt
Comment[pt]=Marca favoritos nas linhas que correspondem a um padrão ao carregar os documentos
Comment[pt_BR]=Quando os documentos são carregados, arranja os seus favoritos em linhas, separadas de acordo com uma expressão definida
Comment[ru]=Расстановка закладок в текстовом документе по шаблону
Comment[sv]=Lägg till bokmärken på rader som motsvarar ett mönster när dokument laddas
Comment[uk]=Встановлює закладки на рядках, що відповідають взірцю, під час завантаження документів
Comment[x-test]=xxSet bookmarks on lines matching a pattern when documents are loadedxx
Comment[zh_TW]=文件載入時以字串比對演算法來設定書籤。
