[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-Kate-Version=2.9
X-KDE-Library=katefiletemplates
Name=Kate File Templates
Comment=Create new files from templates in the Kate text editor
author=Anders Lund, anders@alweb.dk
