[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-Kate-Version=2.8
X-KDE-Library=katefiletemplates
Name=File Templates
Name[ga]=Teimpléid Chomhaid
Name[pt]=Modelos de Ficheiros
Name[pt_BR]=Modelos de Ficheiros
Name[sv]=Filmallar
Name[uk]=Шаблони файлів
Comment=Create new files from templates
Comment[ga]=Cruthaigh comhaid nua ó theimpléid
Comment[pt]=Cria ficheiros novos a partir de modelos
Comment[pt_BR]=Cria ficheiros novos a partir de modelos
Comment[sv]=Skapa nya filer från mallar
Comment[uk]=Створення нових файлів з шаблонів
author=Anders Lund, anders@alweb.dk
