[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_ipython
Name=IPython Console
Name[cs]=Konzole IPythonu
Name[de]=IPython-Konsole
Name[es]=Consola de IPython
Name[ia]=Consolle de IPython
Name[nl]=IPython-console
Name[pt]=Consola do IPython
Name[pt_BR]=Console do IPython
Name[sk]=Konzola programu IPython
Name[sl]=Konzola IPython
Name[sv]=IPython-terminal
Name[tr]=IPython Konsolu
Name[uk]=Консоль IPython
Name[x-test]=xxIPython Consolexx
Comment=Interactive console for hacking kate and doing science
Comment[de]=interaktive Konsole für das Hacken von Kate und wissenschaftliches Arbeiten
Comment[ia]=Consolle interactive pro facer hacking con kate e facer scientia
Comment[nl]=Interactieve console voor hacken van kate en wetenschappelijk onderzoek
Comment[pt]=Consola interactiva para alterar o Kate e fazer contas
Comment[pt_BR]=Console interativo para modificar o Kate e fazer ciência
Comment[sk]=Interaktívna konzola na hackovanie Kate a tvorbu vedy
Comment[sl]=Vzajemna konzola za hekanje kate in izvajanje znanosti
Comment[sv]=Interaktiv terminal för att programmera &kate; och vetenskapligt arbete
Comment[tr]=Kate'te geliştirme ve bilim yapmak için interaktif konsol
Comment[uk]=Інтерактивна консоль для роботи з kate та вивчення роботи системи
Comment[x-test]=xxInteractive console for hacking kate and doing sciencexx
X-Python-2-Compatible=true
X-Python-3-Compatible=true
X-Python-Dependencies=IPython,pygments,readline,zmq
