[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_ipython
Name=IPython Console
Name[bs]=IPython konzola
Name[ca]=Consola de l'IPython
Name[cs]=Konzole IPythonu
Name[de]=IPython-Konsole
Name[es]=Consola de IPython
Name[fi]=IPython-konsoli
Name[fr]=Console IPython
Name[gl]=Consola de IPython
Name[he]=מסוף IPython
Name[hu]=IPython konzol
Name[ia]=Consolle de IPython
Name[it]=Console IPython
Name[kk]=IPython консолі
Name[ko]=IPython 콘솔
Name[nb]=JPython-konsoll
Name[nds]=IPython-Konsool
Name[nl]=IPython-console
Name[pl]=Konsola IPython
Name[pt]=Consola do IPython
Name[pt_BR]=Console do IPython
Name[ru]=Консоль IPython
Name[sk]=Konzola programu IPython
Name[sl]=Konzola IPython
Name[sr]=И‑питонова конзола
Name[sr@ijekavian]=И‑питонова конзола
Name[sr@ijekavianlatin]=IPythonova konzola
Name[sr@latin]=IPythonova konzola
Name[sv]=IPython-terminal
Name[tr]=IPython Konsolu
Name[uk]=Консоль IPython
Name[x-test]=xxIPython Consolexx
Name[zh_CN]=IPython 终端
Name[zh_TW]=IPython 主控台
Comment=Interactive console for hacking kate and doing science
Comment[bs]=Interaktivna konzola za naukovanje o hakiranju Kate
Comment[ca]=Consola interactiva per a hackejar el Kate i fer ciència
Comment[de]=interaktive Konsole für das Hacken von Kate und wissenschaftliches Arbeiten
Comment[es]=Consola interactiva para hacerse con el control de Kate y hacer ciencia
Comment[fi]=Interaktiivinen konsoli Katen kehittämiseen ja tieteen tekemiseen
Comment[fr]=Console interactive pour bricoler Kate et faire de la science
Comment[gl]=Unha consola interactiva para hackear con kate e investigar
Comment[he]=מסוף אינטראקטיבי לעשות ניסיים ב־Kate ולמען המדע
Comment[hu]=Interaktív konzol a kate hackeléséhez és tudomány elvégzéséhez
Comment[ia]=Consolle interactive pro facer hacking con kate e facer scientia
Comment[it]=Console interattiva per modificare Kate e poterlo studiare
Comment[kk]=Kate-ті зерттеуге арналған интерактивті консоль
Comment[ko]=Kate를 알아보고 작업을 수행하는 대화형 콘솔
Comment[nb]=Interaktivt konsoll for å hacke Kate  og gjøre forskning
Comment[nds]=Brukerstüert Konsool för't Ännern vun Kate un för Wetenschap
Comment[nl]=Interactieve console voor hacken van kate en wetenschappelijk onderzoek
Comment[pl]=Interaktywna konsola do hakowania kate i robienia nauki
Comment[pt]=Consola interactiva para alterar o Kate e fazer contas
Comment[pt_BR]=Console interativo para modificar o Kate e fazer ciência
Comment[ru]=Интерактивная консоль для исследовательской работы и фокусов с Kate
Comment[sk]=Interaktívna konzola na hackovanie Kate a tvorbu vedy
Comment[sl]=Vzajemna konzola za hekanje kate in izvajanje znanosti
Comment[sr]=Интерактивна конзола за хаковање Кејт и бављење науком
Comment[sr@ijekavian]=Интерактивна конзола за хаковање Кејт и бављење науком
Comment[sr@ijekavianlatin]=Interaktivna konzola za hakovanje Kate i bavljenje naukom
Comment[sr@latin]=Interaktivna konzola za hakovanje Kate i bavljenje naukom
Comment[sv]=Interaktiv terminal för att programmera &kate; och vetenskapligt arbete
Comment[tr]=Kate'te geliştirme ve bilim yapmak için interaktif konsol
Comment[uk]=Інтерактивна консоль для роботи з kate та вивчення роботи системи
Comment[x-test]=xxInteractive console for hacking kate and doing sciencexx
Comment[zh_CN]=折腾(Hack) Kate 做实验用的交互式终端
Comment[zh_TW]=互動式主控台，深究 Kate 用
X-Python-2-Compatible=true
X-Python-Dependencies=IPython(>=0.13.1)
