[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_ipython/python_console_ipython.py
Name=IPython Console
Name[cs]=Konzole IPythonu
Name[de]=IPython-Konsole
Name[nl]=IPython-console
Name[pt]=Consola do IPython
Name[sk]=Konzola programu IPython
Name[sl]=Konzola IPython
Name[uk]=Консоль IPython
Name[x-test]=xxIPython Consolexx
Comment=Interactive console for hacking kate and doing science
Comment[de]=interaktive Konsole für das Hacken von Kate und wissenschaftliches Arbeiten
Comment[nl]=Interactieve console voor hacken van kate en wetenschappelijk onderzoek
Comment[pt]=Consola interactiva para alterar o Kate e fazer contas
Comment[sk]=Interaktívna konzola na hackovanie Kate a tvorbu vedy
Comment[sl]=Vzajemna konzola za hekanje kate in izvajanje znanosti
Comment[uk]=Інтерактивна консоль для роботи з kate та вивчення роботи системи
Comment[x-test]=xxInteractive console for hacking kate and doing sciencexx
X-Python-2-Compatible=true
X-Python-3-Compatible=true
