[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/LoadSaveFilterCheckPlugin
X-KDE-Library=ktexteditor_python-encoding
Name=Python encoding checker/adder
Name[cs]=Kontroler/přidavač kódování pythonu
Name[en_GB]=Python encoding checker/adder
Name[et]=Pythoni kodeeringu kontrollija/lisaja
Name[ia]=Controlator e summator de codice Python
Name[nl]=Python-codering controleren/toevoegen
Name[pt]=Verificação/adição da codificação do Python
Name[pt_BR]=Verificação/adição da codificação em Python
Name[sv]=Python kodningskontroll/tillägg
Name[uk]=Засіб для перевірки/додавання кодування до Python
Name[x-test]=xxPython encoding checker/adderxx
Comment=While saving check encoding of python files and add an encoding line
Comment[cs]=Zkontrolovat kódování během ukládání souborů pythonu a přidat řádek s kódováním
Comment[en_GB]=While saving check encoding of python files and add an encoding line
Comment[et]=Kontrollib salvestamisel Pythoni failide kodeeringut ja lisab kodeeringurea
Comment[ia]=Durante que il salva il controla le codifica de archivos python e il adde un linea de codifica
Comment[nl]=Tijdens het opslaan, controleer de codering van python-bestanden en voeg een coderegel toe
Comment[pt]=Ao gravar, verificar a codificação dos ficheiros Python e adicionar uma linha de codificação
Comment[pt_BR]=Ao salvar, verifica a codificação dos arquivos em python e adiciona uma linha de codificação
Comment[sv]=När Python-filer sparas, kontrollera kodning och lägg till en kodningsrad
Comment[uk]=Під час збереження перевіряє кодування файлів на python і додає рядок кодування
Comment[x-test]=xxWhile saving check encoding of python files and add an encoding linexx
