[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/LoadSaveFilterCheckPlugin
X-KDE-Library=ktexteditor_python-encoding
Name=Python encoding checker/adder
Name[cs]=Kontroler/přidavač kódování pythonu
Name[de]=Python-Kodierungsprüfung und Hinzufügung
Name[en_GB]=Python encoding checker/adder
Name[et]=Pythoni kodeeringu kontrollija/lisaja
Name[gl]=Comprobador/Adicionador da codificación para Python
Name[ia]=Controlator e summator de codice Python
Name[km]=ការ​អ៊ិនកូដ ​កម្មវិធី​ពិនិត្យ/​កម្មវិធី​​បន្ថែម​
Name[nb]=Python sjekker/innlegger for tegnkoding
Name[nds]=Python-Koderenprööv
Name[nl]=Python-codering controleren/toevoegen
Name[pt]=Verificação/adição da codificação do Python
Name[pt_BR]=Verificação/adição da codificação em Python
Name[ru]=Проверка кодировки исходного кода на Python
Name[sv]=Python kodningskontroll/tillägg
Name[tg]=Иловакунанда/ тафтишкунандаи рамзгузории Python
Name[tr]=Python karakter kodlaması denetleyici/ekleyici
Name[uk]=Засіб для перевірки/додавання кодування до Python
Name[wa]=Verifieu/radjouteu d' ecôdaedje Python
Name[x-test]=xxPython encoding checker/adderxx
Name[zh_TW]=Python 編碼檢查器/加入器
Comment=While saving check encoding of python files and add an encoding line
Comment[cs]=Zkontrolovat kódování během ukládání souborů pythonu a přidat řádek s kódováním
Comment[de]=Prüft beim Speichern die Kodierung von Python-Dateien und fügt eine Kodierungszeile hinzu.
Comment[en_GB]=While saving check encoding of python files and add an encoding line
Comment[et]=Kontrollib salvestamisel Pythoni failide kodeeringut ja lisab kodeeringurea
Comment[gl]=Comproba a codificación ao gardar ficheiros python e engadir unha liña de codificación
Comment[ia]=Durante que il salva il controla le codifica de archivos python e il adde un linea de codifica
Comment[km]=ខណៈ​​ពេល​កំពុង​ពិនិត្យ​មើល​ការ​អ៊ិនកូដ​នៃ​ឯកសារ​ python ហើយ​បន្ថែម​​ជួរ​ការ​អ៊ិនកូដ
Comment[nb]=Under lagring sjekkes tegnkodingen i Python-filer og en tegnkodingslinje legges inn
Comment[nds]=Bi't Sekern de Koderen vun Python-Dateien pröven un en Koderen-Reeg tofögen
Comment[nl]=Tijdens het opslaan, controleer de codering van python-bestanden en voeg een coderegel toe
Comment[pt]=Ao gravar, verificar a codificação dos ficheiros Python e adicionar uma linha de codificação
Comment[pt_BR]=Ao salvar, verifica a codificação dos arquivos em python e adiciona uma linha de codificação
Comment[ru]=Проверка кодировки при сохранении файла исходного кода на Python и вставка кодировки в текст
Comment[sv]=När Python-filer sparas, kontrollera kodning och lägg till en kodningsrad
Comment[tr]=Python dosyalarını kaydederken karakter kodlamalarını denetle ve bir kodlama satırı ekle
Comment[uk]=Під час збереження перевіряє кодування файлів на python і додає рядок кодування
Comment[wa]=Verifeye l' ecôdaedje des fitchîs python cwand dji schape eyet radjoute ene roye d' ecôdaedje
Comment[x-test]=xxWhile saving check encoding of python files and add an encoding linexx
Comment[zh_TW]=儲存時檢查 python 檔案的編碼，並加入編碼行
