[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/LoadSaveFilterCheckPlugin
X-KDE-Library=ktexteditor_python-encoding
Name=Python encoding checker/adder
Name[et]=Pythoni kodeeringu kontrollija/lisaja
Name[ga]=Seiceálaí ionchódaithe Python
Name[gl]=Comprobador/Adicionador da codificación para Python
Name[km]=កម្មវិធី​បន្ថែម/​ត្រួតពិនិត្យ​ការ​អ៊ិនកុដ​របស់ Python
Name[nds]=Python-Koderenprööv
Name[pt]=Verificação/adição da codificação em Python
Name[pt_BR]=Verificação/adição da codificação em Python
Name[sv]=Python kodningskontroll/tillägg
Name[uk]=Засіб для перевірки/додавання кодування до Python
Name[zh_TW]=Python 編碼檢查器/加入器
Comment=While saving check encoding of python files and add an encoding line
Comment[et]=Kontrollib salvestamisel Pythoni failide kodeeringut ja lisab kodeeringurea
Comment[ga]=Le linn sábhála, seiceáil ionchódú de chomhaid python agus cuir líne ionchódaithe leo más gá
Comment[gl]=Comproba a codificación ao gardar ficheiros python e engade unha liña de codificación
Comment[km]=ខណៈពេល​រក្សាទុក​ការ​ត្រួតពិនិត្យ​កា​រអ៊ិនកូដ​របស់​ឯកសារ python និ​ងបន្ថែម​បន្ទាត់​អ៊ិនកូដ
Comment[nds]=Bi't Sekern de Koderen vun Python-Dateien pröven un en Koderen-Reeg tofögen
Comment[pt]=Ao gravar, verifica a codificação dos ficheiros em Python e adiciona uma linha de codificação
Comment[pt_BR]=Ao gravar, verifica a codificação dos ficheiros em Python e adiciona uma linha de codificação
Comment[sv]=När Python-filer sparas, kontrollera kodning och lägg till en kodningsrad
Comment[uk]=Під час збереження перевіряє кодування файлів на python і додає рядок кодування
Comment[zh_TW]=儲存時檢查 python 檔案的編碼，並加入編碼行
