[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katexmltoolsplugin
X-Kate-Version=2.9
Name=XML Completion
Comment=Lists XML elements, attributes, attribute values and entities allowed by DTD
