[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katexmltoolsplugin
X-Kate-Version=2.9
Name=Kate XML Completion
Name[de]=XML-Vervollständigung für Kate
Name[el]=Συμπλήρωση XML του Kate
Name[et]=Kate XML-i lõpetus
Name[fr]=Complétement du XML pour Kate
Name[it]=Completamento XML di Kate
Name[ja]=Kate XML 補完
Name[lt]=Kate XML pabaigimas
Name[ne]=केट एक्सएमएल समाप्ति
Name[nl]=XML-aanvulling (Kate)
Name[pt]=Completação de XML no Kate
Name[pt_BR]=Completamento de XML no Kate
Name[sv]=Kate XML-komplettering
Name[x-test]=xxKate XML Completionxx
Name[zh_CN]=Kate XML 补全器
Name[zh_TW]=Kate XML 補完
Comment=Lists XML elements, attributes, attribute values and entities allowed by DTD
Comment[de]=Zeigt XML-Elemente, Attribute, Attributwerte und Entitäten an, die von der DTD definiert werden
Comment[el]=Εμφάνιση στοιχείων XML, ιδιοτήτων, τιμών ιδιοτήτων και οντοτήτων που επιτρέπονται από το DTD
Comment[es]=Lista elementos XML, atributos, valores de atributos y entidades permitidas por la DTD
Comment[et]=Näitab DTD-ga lubatud XML-i elemente, atribuute, atribuutide väärtusi ja olemeid
Comment[fr]=Liste les éléments XML, attributs, valeurs d'attributs et entités autorisés par la DTD
Comment[ga]=Liostaigh eilimintí XML, aitreabúidí, luachanna aitreabúide agus aonáin atá ceadaithe ag an DTD
Comment[it]=Elenca gli elementi XML, gli attributi, i loro valori e le entità permesse dalla DTD
Comment[ja]=DTD で許可されている XML のエレメント、アトリビュートおよびその値やエンティティを表示します
Comment[lt]=Pateikia XML elementus, atributus, atributų reikšmes ir esybes (entities), leistas DTD
Comment[ne]=डीटीडीद्वारा अनुमति दिएको एक्सएमएल तत्व, विशेषता, विशेषता मान र अस्तित्व सूचीबद्ध गर्दछ
Comment[nl]=Somt XML-elementen, -atributen, -atribuutwaarden en -entiteiten op die door de DTD zijn toegestaan
Comment[pt]=Lista os elementos, atributos, valores dos atributos e entidades de XML permitidos pelo DTD
Comment[pt_BR]=Lista os elementos, atributos, valores dos atributos e entidades de XML permitidos pelo DTD
Comment[sv]=Listar XML-element, attribut, attributvärden och objekt som tillåts av DTD
Comment[x-test]=xxLists XML elements, attributes, attribute values and entities allowed by DTDxx
Comment[zh_CN]=根据 DTD 定义列出允许的 XML 元素、属性、属性值及实体
Comment[zh_TW]=列出通過 DTD 的 XML 元素、屬性、屬性值與實體
