[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateopenheaderplugin
X-Kate-Version=2.8
Name=Kate OpenHeader
Name[ca]=Obre capçaleres per al Kate
Name[el]=Άνοιγμα κεφαλίδας του Kate
Name[es]=Abrir cabecera para Kate
Name[et]=Kate päiseavaja
Name[fr]=OpenHeader pour Kate
Name[hu]=Kate fejlécböngésző
Name[it]=Apri intestazioni di Kate
Name[ja]=Kate オープンヘッダ
Name[nds]=Koppdatei opmaken
Name[ne]=केट खोल्ने हेडर
Name[nl]=OpenHeader (Kate)
Name[pl]=Kate: otwieranie plików nagłówkowych
Name[pt]=Abrir o Ficheiro de Inclusão no Kate
Name[pt_BR]=Abrir Arquivo de Inclusão no Kate
Name[sr]=Кејтино отварање заглавља
Name[sr@latin]=Kateino otvaranje zaglavlja
Name[sv]=Kate öppna deklarationsfil
Name[x-test]=xxKate OpenHeaderxx
Comment=Opens the corresponding .h/[.cpp|.c] file
Comment[ca]=Obre el fitxer .h/[.cpp|.c] corresponent
Comment[da]=Åbner den tilhørende .h/[.cpp|.c]-fil
Comment[de]=Öffnet die zusammengehörigen .h/[.cpp|.c]-Dateien
Comment[el]=Άνοιγμα του αντίστοιχου αρχείου .h/[.cpp|.c]
Comment[es]=Abre el correspondiente archivo .h/[.cpp|.c]
Comment[et]=Vastava .h/[.cpp|.c] faili avamine
Comment[fr]=Ouvre le fichier .h/[.cpp|.c] correspondant
Comment[ga]=Oscail an comhad .h/[.cpp|.c] a fhreagraíonn leis an gceann seo
Comment[gl]=Abre o ficheiro .h/[.cpp|.c] correspondente
Comment[hu]=Megnyitja a megfelelő .h/[.cpp|.c] fájlt
Comment[it]=Apre il file .h/[.cpp|.c] corrispondente
Comment[ja]=対応する .h/[.cpp|.c] ファイルを開きます
Comment[lt]=Atveria atitinkamą .h/[.cpp|.c] failą
Comment[lv]=Atver atbilstošo .h/[.cpp|.c] failu
Comment[nb]=Åpner tilhørende .h/[.cpp|.c] fil
Comment[nds]=Maakt de tohören .h/.cpp/.c-Datei op
Comment[ne]=संगत .h/[.cpp|.c] फाइल खोल्दछ
Comment[nl]=Open het bijhorende  .h/[.cpp|.c]-bestand
Comment[pl]=Otwiera odpowiedni plik .h[.cpp|.c]
Comment[pt]=Abre o ficheiro .h/[.cpp|.c] correspondente
Comment[pt_BR]=Abre o arquivo .h/[.cpp|.c] correspondente
Comment[sr]=Отвара придружени .h/[.cpp|.c] фајл
Comment[sr@latin]=Otvara pridruženi .h/[.cpp|.c] fajl
Comment[sv]=Öppnar den motsvarande .h/[.cpp|.c]-filen
Comment[tr]=Uyumlu .h/[.cpp|.c] dosyalarını açar
Comment[uk]=Відкриває відповідний файл .h/[.cpp|.c]
Comment[x-test]=xxOpens the corresponding .h/[.cpp|.c] filexx
Comment[zh_CN]=打开对应于当前文件的 .h/[.cpp|.c] 文件
Comment[zh_TW]=開啟相關的 .h/.cpp/.c 檔
