[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateopenheaderplugin
X-Kate-Version=2.8
Name=Open Header
Comment=Opens the corresponding .h/[.cpp|.c] file
