[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateopenheaderplugin
X-Kate-Version=2.8
Name=Kate OpenHeader
Name[el]=Άνοιγμα κεφαλίδας του Kate
Name[it]=Apri intestazioni di Kate
Name[ja]=Kate オープンヘッダ
Name[x-test]=xxKate OpenHeaderxx
Comment=Opens the corresponding .h/[.cpp|.c] file
Comment[de]=Öffnet die zusammengehörigen .h/[.cpp|.c]-Dateien
Comment[el]=Άνοιγμα του αντίστοιχου αρχείου .h/[.cpp|.c]
Comment[it]=Apre il file .h/[.cpp|.c] corrispondente
Comment[ja]=対応する .h/[.cpp|.c] ファイルを開きます
Comment[x-test]=xxOpens the corresponding .h/[.cpp|.c] filexx
Comment[zh_TW]=開啟相關的 .h/.cpp/.c 檔
