[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katemakeplugin
X-Kate-Version=2.9
Name=Kate Make Plugin
Name[de]=Make-Modul für Kate
Name[it]=Plugin di compilazione di Kate
Name[ja]=Kate Make プラグイン
Name[x-test]=xxKate Make Pluginxx
Comment=Compile and parse error messages
Comment[de]=Kompilieren und Fehlermeldungen ausgeben
Comment[it]=Compila ed elabora i messaggi di errore
Comment[ja]=コンパイルしてエラーメッセージを解析します
Comment[x-test]=xxCompile and parse error messagesxx
