[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katemakeplugin
X-Kate-Version=2.9
Name=Kate Make Plugin
Name[de]=Make-Modul für Kate
Name[el]=Πρόσθετο Make του Kate
Name[it]=Plugin di compilazione di Kate
Name[ja]=Kate Make プラグイン
Name[sv]=Kate bygginsticksprogram
Name[x-test]=xxKate Make Pluginxx
Name[zh_TW]=Kate make 外掛程式
Comment=Compile and parse error messages
Comment[de]=Kompilieren und Fehlermeldungen ausgeben
Comment[el]=Μεταγλώττιση και ανάλυση μηνυμάτων σφάλματος
Comment[it]=Compila ed elabora i messaggi di errore
Comment[ja]=コンパイルしてエラーメッセージを解析します
Comment[sv]=Kompilera och tolka felmeddelanden
Comment[x-test]=xxCompile and parse error messagesxx
Comment[zh_TW]=編譯並分析錯誤訊息
