<!DOCTYPE kpartgui>
<gui name="katemake" library="libkatemakeplugin" version="1">
<MenuBar>
 <Menu name="Make"><text>&amp;Make</text>
    <Action name="make_check" />
    <Action name="make_left" />
    <Action name="make_right" />
    <Separator/>
    <Action name="make_settings" />
 </Menu>
</MenuBar>
</gui>
