[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katemailfilesplugin
X-Kate-Version=2.8
Name=Mail files
Name[ast]=Ficheros de corréu
Name[bg]=Файлове по пощата
Name[bs]=Slanje e‑poštom
Name[ca]=Envia fitxers per correu
Name[ca@valencia]=Envia fitxers per correu
Name[cs]=Soubory e-mailu
Name[da]=E-mail filer
Name[de]=Mail-Dateien
Name[el]=Αρχεία αλληλογραφίας
Name[en_GB]=Mail files
Name[es]=Enviar archivos por correo
Name[et]=Failide saatmine e-postiga
Name[eu]=Postaren fitxategiak
Name[fa]=پرونده‌های نامه
Name[fi]=Sähköpostita tiedostoja
Name[fr]=Envoyer des fichiers par courrier électronique
Name[ga]=Seol comhaid
Name[gl]=Enviar por correo os ficheiros
Name[he]=שלח קבצים בדוא"ל
Name[hu]=Levélküldő
Name[ia]=Invia files
Name[it]=Invia file
Name[ja]=ファイルをメールで送信
Name[kk]=Файлдарды жіберу
Name[km]=ឯកសារ​សំបុត្រ
Name[ko]=이메일 파일
Name[lt]=Siųsti failus paštu
Name[lv]=Sūtīt datnes pa e-pastu
Name[mr]=मेल फाईल्स
Name[nb]=Epost-filer
Name[nds]=Dateien mit Nettpost loosstüern
Name[ne]=मेल फाइल
Name[nl]=Bestanden e-mailen
Name[nn]=E-postfiler
Name[pa]=ਫਾਇਲ ਮੇਲ
Name[pl]=Wyślij pliki
Name[pt]=Enviar os ficheiros por e-mail
Name[pt_BR]=Enviar arquivos por e-mail
Name[ro]=Fișiere poștale
Name[ru]=Отправка файлов
Name[si]=පණිවුඩ ගොනු
Name[sk]=Poštové súbory
Name[sl]=Pošiljanje datotek
Name[sr]=Слање е‑поштом
Name[sr@ijekavian]=Слање е‑поштом
Name[sr@ijekavianlatin]=Slanje e‑poštom
Name[sr@latin]=Slanje e‑poštom
Name[sv]=E-postfiler
Name[tg]=Файлҳои почта
Name[tr]=Dosyaları e-posta ile gönder
Name[ug]=خەت ھۆججەتلىرى
Name[uk]=Надсилання файлів поштою
Name[x-test]=xxMail filesxx
Name[zh_CN]=邮寄文件
Name[zh_TW]=郵件檔案
Comment=Send files via email
Comment[ast]=Unviar ficheros por e-mail
Comment[bg]=Изпращане на файлове по пощата
Comment[bs]=Šaljite datoteke e‑poštom
Comment[ca]=Envia fitxers per correu electrònic
Comment[ca@valencia]=Envia fitxers per correu electrònic
Comment[cs]=Poslat soubory přes e-mail
Comment[da]=Send filer via e-mail
Comment[de]=Dateien per E-Mail versenden
Comment[el]=Αποστολή αρχείων μέσω email
Comment[en_GB]=Send files via email
Comment[es]=Enviar archivos por correo
Comment[et]=Failide saatmine e-postiga
Comment[eu]=Bidali fitxategiak posta elektoniko bidez
Comment[fi]=Lähetä tiedostoja sähköpostitse
Comment[fr]=Envoie des fichiers par courrier électronique
Comment[ga]=Seol comhaid trí ríomhphost
Comment[gl]=Envía os ficheiros por correo electrónico
Comment[he]=שולח קבצים בדוא"ל
Comment[hu]=Fájlok küldése e-mailen keresztül
Comment[ia]=Invia files via e-posta
Comment[it]=Invia file per posta elettronica
Comment[ja]=ファイルをメールで送信します
Comment[kk]=Файлдарды эл.поштамен жіберу
Comment[km]=ផ្ញើ​ឯកសារ​តាម​​អ៊ីមែល​
Comment[ko]=파일을 이메일로 보내기
Comment[lt]=Siųsti failus naudojant e-paštą
Comment[lv]=Nosūtīt datnes pa e-pastu
Comment[mr]=फाईल्स इमेल द्वारे पाठवा
Comment[nb]=Send filer via e-post
Comment[nds]=Dateien mit Nettpost loosstüern
Comment[nl]=Bestanden via e-mail verzenden
Comment[nn]=Send filer via e-post
Comment[pa]=ਫਾਇਲਾਂ ਈਮੇਲ ਰਾਹੀਂ ਭੇਜੋ
Comment[pl]=Wyślij pliki pocztą elektroniczną
Comment[pt]=Enviar os ficheiros por e-mail
Comment[pt_BR]=Envia os arquivos por e-mail
Comment[ro]=Trimite fișiere prin email
Comment[ru]=Отправить файлы по эл. почте
Comment[si]=විද්‍යුත් ලිපි හරහා ගොනු යවන්න
Comment[sk]=Poslať súbory cez e-mail
Comment[sl]=Pošljite datoteke preko e-pošte
Comment[sr]=Шаљите фајлове е‑поштом
Comment[sr@ijekavian]=Шаљите фајлове е‑поштом
Comment[sr@ijekavianlatin]=Šaljite fajlove e‑poštom
Comment[sr@latin]=Šaljite fajlove e‑poštom
Comment[sv]=Skicka filer via e-post
Comment[tg]=Ирсоли файлҳо тавассути почтаи электронӣ
Comment[tr]=Dosyaları e-posta ile gönder
Comment[ug]=ھۆججەتلەرنى ئېلخەت ئىلە يوللا'
Comment[uk]=Надіслати файли електронною поштою
Comment[x-test]=xxSend files via emailxx
Comment[zh_CN]=通过电子邮件发送文件
Comment[zh_TW]=透過電子郵件傳送檔案
