[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kateopenheaderplugin
Name=Open Header
Comment=Opens the corresponding .h/[.cpp|.c] file
