[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kateopenheaderplugin
Name=Open Header
Name[ar]=فتح التّرويسة
Name[ast]=Apertura de testeres
Name[bg]=Отваряне на header
Name[bs]=Otvaranje zaglavlja
Name[ca]=Obre les capçaleres
Name[ca@valencia]=Obri les capçaleres
Name[cs]=Otevřít hlavičku
Name[da]=Åbn headerfil
Name[de]=Header öffnen
Name[el]=Άνοιγμα κεφαλίδας
Name[en_GB]=Open Header
Name[es]=Abrir cabecera
Name[et]=Päiseavaja
Name[eu]=Ireki goiburua
Name[fi]=Avaa otsake
Name[fr]=Ouvrir un fichier d'en-tête
Name[ga]=Oscail Comhad Ceanntáisc
Name[gl]=Abrir a cabeceira
Name[he]=פתח קובץ כותרת
Name[hu]=Fejlécböngésző
Name[ia]=Aperi capite (header)
Name[id]=Buka Header
Name[it]=Apri intestazioni
Name[ja]=オープンヘッダ
Name[kk]=Айдарын ашу
Name[km]=បើក​បឋមកថា​
Name[ko]=헤더 열기
Name[lt]=Atverti antraštę
Name[lv]=Atvērt galveni
Name[mr]=हेडर उघडा
Name[nb]=Åpne deklarasjonsfil
Name[nds]=Koppdatei opmaken
Name[nl]=OpenHeader
Name[nn]=Opna deklarasjonsfil
Name[pa]=ਹੈੱਡਰ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz plik nagłówkowy
Name[pt]=Abrir um Ficheiro de Inclusão
Name[pt_BR]=Abrir arquivo de cabeçalho
Name[ro]=Deschide antet
Name[ru]=Открытие заголовочного файла
Name[si]=ශීර්ෂය විවෘතකරන්න
Name[sk]=Otvoriť hlavičku
Name[sl]=Odpiranje glav
Name[sr]=Отварање заглавља
Name[sr@ijekavian]=Отварање заглавља
Name[sr@ijekavianlatin]=Otvaranje zaglavlja
Name[sr@latin]=Otvaranje zaglavlja
Name[sv]=Öppna deklarationsfil
Name[tg]=Кушодани сарлавҳа
Name[tr]=Başlığı Aç
Name[ug]=باشنى ئاچ
Name[uk]=Відкрити заголовок
Name[x-test]=xxOpen Headerxx
Name[zh_CN]=打开头文件
Name[zh_TW]=開啟標頭
Comment=Opens the corresponding .h/[.cpp|.c] file
Comment[ar]=تفتح ملفّ ‎.h/[.cpp|.c]‎ المقابل
Comment[ast]=Abre'l ficheru .h/[.cpp|.c] correspondiente
Comment[bg]=Отваряне на съответните файлове .h/[.cpp|.c]
Comment[bs]=Otvara pridruženu .h/[.cpp|.c] datoteku
Comment[ca]=Obre el fitxer .h/[.cpp|.c] corresponent
Comment[ca@valencia]=Obri el fitxer .h/[.cpp|.c] corresponent
Comment[cs]=Otevře odpovídající soubor .h/[.cpp|.c]
Comment[da]=Åbner den tilhørende .h/[.cpp|.c]-fil
Comment[de]=Öffnet die zusammengehörigen .h/[.cpp|.c]-Dateien
Comment[el]=Άνοιγμα του αντίστοιχου αρχείου .h/[.cpp|.c]
Comment[en_GB]=Opens the corresponding .h/[.cpp|.c] file
Comment[es]=Abre el correspondiente archivo .h/[.cpp|.c]
Comment[et]=Vastava .h/[.cpp|.c] faili avamine
Comment[eu]=Dagokion .h/[.cpp|.c] fitxategia irekitzen du
Comment[fi]=Avaa vastaavan .h/[.cpp|.c]-tiedoston
Comment[fr]=Ouvre le fichier .h / [.cpp |.c] correspondant
Comment[ga]=Oscail an comhad .h/[.cpp|.c] a fhreagraíonn leis an gceann seo
Comment[gl]=Abre o ficheiro .h/[.cpp|.c] correspondente
Comment[he]=פותח את הקובץ המתאים (file.h, file.cpp)
Comment[hu]=Megnyitja a megfelelő .h/[.cpp|.c] fájlt
Comment[ia]=Aperi le correspondente file .h/[.cpp].c]
Comment[id]=Buka file .h/[.cppl.c] yang terkait
Comment[it]=Apre il file .h/[.cpp|.c] corrispondente
Comment[ja]=対応する .h/[.cpp|.c] ファイルを開きます
Comment[kk]=Сәйкесті .h/[.cpp|.c] файлын ашу
Comment[km]=បើក​ឯកសារ​ដែល​ត្រូវ​នឹង .h/[.cpp|.c]
Comment[ko]=해당하는 .h/[.cpp|.c] 파일 열기
Comment[lt]=Atveria atitinkamą .h/[.cpp|.c] failą
Comment[lv]=Atver atbilstošo .h/[.cpp|.c] datni
Comment[mr]=संबंधित .h/[.cpp|.c] फाईल उघडतो
Comment[nb]=Åpner tilhørende .h/[.cpp|.c] fil
Comment[nds]=Maakt de tohören .h/.cpp/.c-Datei op
Comment[ne]=संगत .h/[.cpp|.c] फाइल खोल्दछ
Comment[nl]=Open het bijhorende  .h/[.cpp|.c]-bestand
Comment[nn]=Opna tilhøyrande .h/[.cpp|.c]-fil
Comment[pa]=ਸਬੰਧਿਤ .h/[.cpp|.c] ਫਾਇਲ ਖੋਲ੍ਹੋ
Comment[pl]=Otwiera odpowiedni plik .h/[.cpp|.c]
Comment[pt]=Abre o ficheiro .h/[.cpp|.c] correspondente
Comment[pt_BR]=Abre o arquivo .h/[.cpp|.c] correspondente
Comment[ro]=Deschide fișierul .h/[.cpp|.c] corespunzător
Comment[ru]=Открывает соответствующий файл .h/[.cpp|.c]
Comment[si]=අදාල .h/[.cpp|.c] ගොනුව විවෘත කරයි
Comment[sk]=Otvorí korešpondujúci .h/[.cpp|.c] súbor
Comment[sl]=Odpre ustrezno datoteko .h/[.cpp|.c]
Comment[sr]=Отвара придружени .h/[.cpp|.c] фајл
Comment[sr@ijekavian]=Отвара придружени .h/[.cpp|.c] фајл
Comment[sr@ijekavianlatin]=Otvara pridruženi .h/[.cpp|.c] fajl
Comment[sr@latin]=Otvara pridruženi .h/[.cpp|.c] fajl
Comment[sv]=Öppnar den motsvarande .h/[.cpp|.c]-filen
Comment[tg]=Кушодани фаилҳои мувофиқи .h/[.cpp|.c]
Comment[tr]=Karşılık gelen .h/[.cpp|.c] dosyalarını açar
Comment[ug]=نۆۋەتتىكى ھۆججەت .h/[.cpp.c] غا ماس كەلگەن ھۆججەتنى ئاچىدۇ
Comment[uk]=Відкриває відповідний файл .h/[.cpp|.c]
Comment[x-test]=xxOpens the corresponding .h/[.cpp|.c] filexx
Comment[zh_CN]=打开对应于当前文件的 .h/[.cpp|.c] 文件
Comment[zh_TW]=開啟相關的 .h/.cpp/.c 檔
