[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesqlplugin
X-Kate-Version=3.0
Name=SQL Plugin
Name[en_GB]=SQL Plugin
Name[es]=Complemento SQL
Name[kk]=SQL плагині
Name[pt]='Plugin' de SQL
Name[pt_BR]=Plug-in do SQL
Name[sv]=SQL-insticksprogram
Name[uk]=Додаток SQL
Name[x-test]=xxSQL Pluginxx
Name[zh_CN]=SQL 插件
Comment=Execute query on SQL databases
Comment[en_GB]=Execute query on SQL databases
Comment[es]=Ejecutar consulta en bases de datos SQL
Comment[kk]=SQL деректер қорында сұранысты орындау
Comment[pt]=Executar a pesquisa nas bases de dados SQL
Comment[pt_BR]=Executa pesquisas nos bancos de dados SQL
Comment[sv]=Utför förfrågan i SQL-databaser
Comment[uk]=Виконання запитів до баз даних SQL
Comment[x-test]=xxExecute query on SQL databasesxx
Comment[zh_CN]=对 SQL 数据库执行查询
