[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesqlplugin
X-Kate-Version=3.0
Name=SQL Plugin
Name[en_GB]=SQL Plugin
Name[it]=Estensione SQL
Name[x-test]=xxSQL Pluginxx
Comment=Execute query on SQL databases
Comment[en_GB]=Execute query on SQL databases
Comment[it]=Esegui query su database SQL
Comment[x-test]=xxExecute query on SQL databasesxx
