[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesqlplugin
X-Kate-Version=3.0
Name=SQL Plugin
Name[ast]=Complementu SQL
Name[bg]=Приставка за SQL
Name[ca]=Connector SQL
Name[de]=SQL-Modul
Name[en_GB]=SQL Plugin
Name[es]=Complemento SQL
Name[et]=SQL-i plugin
Name[kk]=SQL плагині
Name[nds]=SQL-Moduul
Name[nl]=SQL-plugin
Name[pa]=SQL ਪਲੱਗਇਨ
Name[pt]='Plugin' de SQL
Name[pt_BR]=Plug-in do SQL
Name[sv]=SQL-insticksprogram
Name[uk]=Додаток SQL
Name[x-test]=xxSQL Pluginxx
Name[zh_CN]=SQL 插件
Name[zh_TW]=SQL 外掛程式
Comment=Execute query on SQL databases
Comment[bg]=Изпълняване на заявки към бази от данни на SQL
Comment[ca]=Executa consultes a bases de dades SQL
Comment[de]=Anfragen an SQL-Datenbanken ausführen
Comment[en_GB]=Execute query on SQL databases
Comment[es]=Ejecutar consulta en bases de datos SQL
Comment[et]=Päringu teostamine SQL-andmebaasides
Comment[kk]=SQL деректер қорында сұранысты орындау
Comment[nds]=SQL-Datenbanken affragen
Comment[nl]=Zoekopdracht uitvoeren op SQL-databases
Comment[pt]=Executar a pesquisa nas bases de dados SQL
Comment[pt_BR]=Executa pesquisas nos bancos de dados SQL
Comment[sv]=Utför förfrågan i SQL-databaser
Comment[uk]=Виконання запитів до баз даних SQL
Comment[x-test]=xxExecute query on SQL databasesxx
Comment[zh_CN]=对 SQL 数据库执行查询
Comment[zh_TW]=在 SQL 資料庫內執行查詢
