[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin,KDevelop/Plugin
X-KDE-Library=katesnippetsplugin
Name=Snippets tool view
Name[ar]=منظور أداة للقصاصات
Name[ast]=Vista de ferramientes de snippets
Name[bs]=Pregledač isječaka
Name[ca]=Vista d'eina pels retalls
Name[ca@valencia]=Vista d'eina pels retalls
Name[cs]=Nástrojový pohled ústřižků
Name[da]=Værktøjsvisning til tekststumper
Name[de]=Werkzeugansicht für Textbausteine
Name[el]=Προβολή εργαλείου τμημάτων κώδικα
Name[en_GB]=Snippets tool view
Name[es]=Vista de la herramienta de fragmentos de código
Name[et]=Koodijuppide tööriistavaade
Name[eu]=Testu-zatien tresnaren ikuspegia
Name[fi]=Katkelmanäkymä
Name[fr]=Vue des outils de fragments de code
Name[gl]=Vista da ferramenta de fragmentos
Name[hu]=Töredékek eszköz nézet
Name[ia]=Vista de instrumento de fragmentos
Name[id]=Tampilan alat snippet
Name[it]=Strumento per i frammenti di testo
Name[kk]=Үзінділерді қарау құралы
Name[km]=មើល​ឧបករណ៍ Snippets
Name[ko]=스니펫 도구 보기
Name[lt]=Fragmentų įrankio rodinys
Name[mr]=स्निपेट्स साधन दृश्य
Name[nb]=Verktøyvisning for tekstbiter
Name[nds]=Snippel-Warktüüchansicht
Name[nl]=Weergave van hulpmiddel voor fragmenten
Name[nn]=Tekstbitar-verktøy
Name[pa]=ਸਨਿੱਪਟ ਟੂਲ ਝਲਕ
Name[pl]=Widok narzędzia fragmentów
Name[pt]=Área de ferramentas de excertos
Name[pt_BR]=Exibição da ferramenta de trechos
Name[ro]=Vizualizare de unelte pentru fragmente
Name[ru]=Управление фрагментами
Name[sk]=Pohľad nástroja úryvkov
Name[sl]=Prikaz orodja za izrezke
Name[sr]=Алатни приказ исечака
Name[sr@ijekavian]=Алатни приказ исечака
Name[sr@ijekavianlatin]=Alatni prikaz isečaka
Name[sr@latin]=Alatni prikaz isečaka
Name[sv]=Verktygsvy för kodsnuttverktyget
Name[tg]=Барномаи намоиши порчаҳо
Name[tr]=Parçacık araçları görünümü
Name[uk]=Перегляд панелі засобу фрагментів
Name[x-test]=xxSnippets tool viewxx
Name[zh_CN]=代码片段工具视图
Name[zh_TW]=片段工具檢視
Comment=Toolview embedding the snippets management
Comment[ar]=منظور أداة يضمّن إدارة القصاصات
Comment[ast]=Vista de ferramientes qu'empotra la xestión de snippets
Comment[bs]=Pregledač za upravljanje isječcima
Comment[ca]=Vista d'eina que incrusta la gestió dels retalls
Comment[ca@valencia]=Vista d'eina que incrusta la gestió dels retalls
Comment[cs]=Nástroj s podporou správy ústřižků
Comment[da]=Værktøjsvisning til indlejring af håndtering af tekststumper
Comment[de]=Werkzeugansicht für die eingebettete Verwaltung von Textbausteinen
Comment[el]=Προβολή εργαλείου που ενσωματώνει τη διαχείριση τμημάτων κώδικα
Comment[en_GB]=Toolview embedding the snippets management
Comment[es]=Vista que empotra el gestor de fragmentos de código
Comment[et]=Koodijuppide haldamist põimiv tööriistavaade
Comment[eu]=Testu-zatien kudeaketa kapsulatuta duen ikuspegi-tresna
Comment[fi]=Katkelmien hallinnan sisältävä työkalunäkymä
Comment[fr]=Vue des outils intégrant la gestion des fragments de code
Comment[gl]=Vista que incorpora o xestor de fragmentos
Comment[hu]=Eszköznézet, beágyazott töredékkezeléssel
Comment[ia]=Vista de instrumento includente le gestion de fragmentos
Comment[id]=Tampilan alat mencantumkan pengelolaan snippet
Comment[it]=Strumento visivo per incorporare la gestione dei frammenti di testo
Comment[kk]=Құрамына енетін үзінділерді басқару құралы
Comment[km]=Toolview embedding the snippets management
Comment[ko]=스니펫 관리를 포함하는 도구 보기
Comment[lt]=Įrankis su įterptu fragmentų valdymu
Comment[mr]=स्निपेट्स व्यवस्थापन समाविष्ट करणारे साधन दृश्य
Comment[nb]=Verktøyvisning med innebygd tekstbithåndtering
Comment[nds]=Warktüüch, de de Snippelpleeg inbett
Comment[nl]=Hulpmiddelweergave met ingebed beheer van fragmenten
Comment[nn]=Verktøyvising med innebygd tekstbithandtering
Comment[pl]=Widok narzędzia osadzający zarządzanie fragmentami
Comment[pt]=Área de ferramentas que incorpora a gestão dos excertos
Comment[pt_BR]=Área de ferramentas que incorpora o gerenciamento de trechos
Comment[ro]=Vizualizare de unelte ce înglobează gestiunea fragmentelor
Comment[ru]=Панель управления фрагментами
Comment[sk]=Nástrojový pohľad obsahujúci správu úryvkov
Comment[sl]=Prikaz orodja za upravljanje izrezkov
Comment[sr]=Алатни приказ са угнежђеним прикључцима
Comment[sr@ijekavian]=Алатни приказ са угнијежђеним прикључцима
Comment[sr@ijekavianlatin]=Alatni prikaz sa ugniježđenim priključcima
Comment[sr@latin]=Alatni prikaz sa ugnežđenim priključcima
Comment[sv]=Verktygsvy med inbäddad hantering av kodsnuttar
Comment[tg]=Абзори идоракунии порчаҳои дарунсохт
Comment[tr]=Gömülü bir uçbirim parçacığı araç görünümü
Comment[uk]=Вбудована панель для керування фрагментами
Comment[vi]=Toolview nhúng đoạn quản lý
Comment[x-test]=xxToolview embedding the snippets managementxx
Comment[zh_CN]=管理代码片段的嵌入工具视图
Comment[zh_TW]=嵌入片段管理的工具檢視
