[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin,KDevelop/Plugin
X-KDE-Library=katesnippetsplugin
Name=Snippets Tool View
Name[ca]=Vista d'eina pels retalls
Name[ca@valencia]=Vista d'eina pels retalls
Name[de]=Werkzeugansicht für Textbausteine
Name[gl]=Vista da ferramenta de fragmentos
Name[nl]=Weergave van hulpmiddel voor fragmenten
Name[nn]=Tekstbitar-verktøy
Name[pt]=Área de Ferramentas de Excertos
Name[sk]=Pohľad nástroja úryvkov
Name[sv]=Verktygsvy för kodsnuttar
Name[uk]=Панель фрагментів
Name[x-test]=xxSnippets Tool Viewxx
Comment=Manage your code snippets or download new ones
Comment[ca]=Gestiona els retalls de codi o en baixa de nous
Comment[ca@valencia]=Gestiona els retalls de codi o en baixa de nous
Comment[de]=Verwaltung Ihrer Textbausteine oder Herunterladen neuer Textbausteine
Comment[gl]=Xestione os seus fragmentos de código ou descargue novos
Comment[nl]=Uw codefragmenten beheren of nieuwe downloaden
Comment[nn]=Handsame tekst-/kodebitar og last ned nye
Comment[pt]=Faça a gestão dos seus excertos de código ou transfira novos
Comment[sv]=Hantera kodsnuttar eller ladda ner nya
Comment[uk]=Керування фрагментами вашого коду та отримання фрагментів коду інших
Comment[x-test]=xxManage your code snippets or download new onesxx
