[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katesqlplugin
Name=SQL Plugin
Name[ar]=ملحقة SQL
Name[ast]=Complementu de SQL
Name[bg]=Приставка за SQL
Name[bs]=Priključak za SQL
Name[ca]=Connector SQL
Name[ca@valencia]=Connector SQL
Name[cs]=Modul SQL
Name[da]=SQL-plugin
Name[de]=SQL-Modul
Name[el]=Πρόσθετο SQL
Name[en_GB]=SQL Plugin
Name[es]=Complemento SQL
Name[et]=SQL-i plugin
Name[eu]=SQL plugina
Name[fi]=SQL-liitännäinen
Name[fr]=Module externe SQL
Name[ga]=Breiseán SQL
Name[gl]=Complemento de SQL
Name[he]=תוסף SQL
Name[hu]=SQL-bővítmény
Name[ia]=Plug-in SQL
Name[id]=Plugin SQL
Name[is]=SQL-viðbót
Name[it]=Estensione SQL
Name[ja]=SQL プラグイン
Name[kk]=SQL плагині
Name[km]=កម្មវិធី​ជំនួយ​របស់​ SQL 
Name[ko]=SQL 플러그인
Name[lt]=SQL papildinys
Name[lv]=SQL spraudnis
Name[mr]=SQL प्लगइन
Name[nb]=SQL-programtillegg
Name[nds]=SQL-Moduul
Name[nl]=SQL-plug-in
Name[nn]=SQL-tillegg
Name[pa]=SQL ਪਲੱਗਇਨ
Name[pl]=Wtyczka SQL
Name[pt]='Plugin' de SQL
Name[pt_BR]=Plugin do SQL
Name[ro]=Modul SQL
Name[ru]=Модуль SQL
Name[si]=SQL ප්ලගිනය
Name[sk]=SQL Plugin
Name[sl]=Vstavek za SQL
Name[sr]=Прикључак за СКуЛ
Name[sr@ijekavian]=Прикључак за СКуЛ
Name[sr@ijekavianlatin]=Priključak za SQL
Name[sr@latin]=Priključak za SQL
Name[sv]=SQL-insticksprogram
Name[tg]=Плагини SQL
Name[tr]=SQL Eklentisi
Name[ug]=SQL قىستۇرمىسى
Name[uk]=Додаток SQL
Name[wa]=Tchôke-divins SQL
Name[x-test]=xxSQL Pluginxx
Name[zh_CN]=SQL 插件
Name[zh_TW]=SQL 外掛程式
Comment=Execute query on SQL databases
Comment[ar]=تنفّذ استعلامات في قواعد بيانات SQL
Comment[ast]=Executa consultes en bases de datos SQL
Comment[bg]=Изпълняване на заявки към бази от данни на SQL
Comment[bs]=Izvršava upit nad SQL bazom
Comment[ca]=Executa consultes a bases de dades SQL
Comment[ca@valencia]=Executa consultes a bases de dades SQL
Comment[cs]=Vykonat dotaz v SQL databázích
Comment[da]=Kør forespørgsler på SQL-databaser
Comment[de]=Anfragen an SQL-Datenbanken ausführen
Comment[el]=Εκτέλεση ερώτησης σε βάσεις δεδομένων SQL
Comment[en_GB]=Execute query on SQL databases
Comment[es]=Ejecutar consulta en bases de datos SQL
Comment[et]=Päringu teostamine SQL-andmebaasides
Comment[eu]=Exekutatu kontsulta SQL datu-baseetan
Comment[fi]=Tee kyselyjä SQL-tietokantoihin
Comment[fr]=Exécute une requête sur des bases de données SQL
Comment[ga]=Déan iarratas ar bhunachar sonraí SQL
Comment[gl]=Executa consultas en bases de datos SQL
Comment[he]=הפעל שאילתות SQL בבסיס נתונים
Comment[hu]=Lekérdezések végrehajtása SQL adatbázisokon
Comment[ia]=Executa demandas sur base de datos SQL
Comment[id]=Eksekusi query pada basis data SQL
Comment[it]=Interroga banche dati SQL
Comment[kk]=SQL деректер қорында сұранысты орындау
Comment[km]=សំណួរ​ប្រតិបត្តិ​លើ​​មូលដ្ឋាន​ទិន្នន័យ​របស់​ SQL 
Comment[ko]=SQL 데이터베이스에 질의 수행
Comment[lt]=Vykdyti užklausą SQL duombazėse
Comment[lv]=Izpilda vaicājumu SQL datubāzēs
Comment[mr]=SQL डेटाबेसला प्रश्न द्या
Comment[nb]=Kjør spørring mot SQL-databaser
Comment[nds]=SQL-Datenbanken affragen
Comment[nl]=Zoekopdracht uitvoeren op SQL-databases
Comment[nn]=Køyr spørjingar på SQL-databasar
Comment[pl]=Wykonaj kwerendę na bazie danych SQL
Comment[pt]=Executar uma pesquisa em bases de dados SQL
Comment[pt_BR]=Executa pesquisas nos bancos de dados SQL
Comment[ro]=Execută interogări asupra bazelor de date SQL
Comment[ru]=Выполнение запросов SQL к базам данных
Comment[si]=SQL දත්තමූලයන් මත විමසුමක් ක්‍රියාත්මක කරන්න
Comment[sk]=Vykonať dotaz na SQL databázach
Comment[sl]=Izvedite poizvedbe v podatkovnih zbirkah SQL
Comment[sr]=Извршава упит над СКуЛ базом
Comment[sr@ijekavian]=Извршава упит над СКуЛ базом
Comment[sr@ijekavianlatin]=Izvršava upit nad SQL bazom
Comment[sr@latin]=Izvršava upit nad SQL bazom
Comment[sv]=Utför förfrågan i SQL-databaser
Comment[tg]=Иҷрои дархости маълумотии SQL
Comment[tr]=SQL veritabanları üzerinde sorgu çalıştır
Comment[ug]=SQL ساندانغا سۈرۈشتۈرۈش ئىجرا قىلىدۇ
Comment[uk]=Виконання запитів до баз даних SQL
Comment[wa]=Enonder des cweraedjes e des båzes di dnêyes SQL
Comment[x-test]=xxExecute query on SQL databasesxx
Comment[zh_CN]=对 SQL 数据库执行查询
Comment[zh_TW]=在 SQL 資料庫內執行查詢
