[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_classic
Name=Simple Python Console
Comment=Interactive console for inspecting Kate's internals and playing about
X-Python-2-Compatible=true
