[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_classic
Name=Simple Python Console
Name[bs]=Prosta Python konzola
Name[ca]=Consola senzilla per a Python
Name[ca@valencia]=Consola senzilla del Python
Name[cs]=Jednoduchá konzole Pythonu
Name[da]=Simpel Python-konsol
Name[de]=Einfache Python-Konsole
Name[el]=Απλή κονσόλα Python
Name[en_GB]=Simple Python Console
Name[es]=Consola de Python sencilla
Name[et]=Lihtne Pythoni konsool
Name[fi]=Yksinkertainen Python-konsoli
Name[fr]=Console Python simple
Name[gl]=Consola simple de Python
Name[he]=מסוף Python פשוט
Name[hu]=Egyszerű Python konzol
Name[ia]=Simple consolle de Python
Name[it]=Semplice Console per Python
Name[kk]=Қарапайым Python консолі
Name[ko]=간단한 파이썬 콘솔
Name[nb]=Enkelt Python-konsoll
Name[nds]=Eenfach Python-Konsool
Name[nl]=Eenvoudige Python-console
Name[pl]=Prosta konsola Pythona
Name[pt]=Consola de Python Simples
Name[pt_BR]=Console de Python simples
Name[ro]=Consolă simplă Python
Name[ru]=Простая консоль Python
Name[sk]=Jednoduchá konzola Python
Name[sl]=Preprosta konzola za Python
Name[sr]=Једноставна питонска конзола
Name[sr@ijekavian]=Једноставна питонска конзола
Name[sr@ijekavianlatin]=Jednostavna Python konzola
Name[sr@latin]=Jednostavna Python konzola
Name[sv]=Enkel Python-terminal
Name[tr]=Basit Python Konsolu
Name[uk]=Проста консоль Python
Name[x-test]=xxSimple Python Consolexx
Name[zh_CN]=简易 Python 终端
Name[zh_TW]=簡單的 Python 主控台
Comment=Interactive console for inspecting Kate's internals and playing about
Comment[bs]=Interaktivna konzola za analizu Kata internih stvari i igranje s njima
Comment[ca]=Consola interactiva per inspeccionar l'estat intern del Kate i jugar-hi
Comment[ca@valencia]=Consola interactiva per inspeccionar l'estat intern del Kate i jugar-hi
Comment[da]=Interaktiv konsol til at inspicere Kate indvendigt og se sig omkring
Comment[de]=interaktive Konsole für die Untersuchung der Internas von Kate
Comment[el]=Διαδραστική κονσόλα για εξερεύνηση στο εσωτερικό του Kate και παιχνίδι
Comment[en_GB]=Interactive console for inspecting Kate's internals and playing about
Comment[es]=Consola interactiva para inspeccionar las interioridades de Kate y jugar con ellas
Comment[et]=Interaktiivne konsool Kate loodu uurimiseks ja redigeerimiseks
Comment[fi]=Interaktiivinen konsoli Katen sisusten tutkimiseen ja leikkimiseen
Comment[fr]=Console interactive pour examiner les éléments internes de Kate et jouer avec
Comment[gl]=Unha consola interactiva para inspeccionar e modificar o interior de Kate
Comment[he]=מסוף אינטראקטיבי לעיון בקרביים של Kate ומשחקים בקוד
Comment[hu]=Interaktív konzol a Kate belső részeinek vizsgálatához és játék azokkal
Comment[ia]=Consolle interactive pro inspectionar elementos interne de Kate e jocar con illos
Comment[it]=Console interattiva per ispezionare le parti interne di Kate e bighellonare
Comment[kk]=Kate-тің ішкі құрылысын қарап айналасу үшін интерактивті консолі
Comment[ko]=Kate의 내부 구조를 탐색할 수 있는 대화형 콘솔
Comment[nb]=Interaktivt konsoll for å kikke på Kates involler og romstere omkring
Comment[nds]=Brukerstüert Konsool för't Bekieken vun Kate ehr Internels un Rümspelen dor mit.
Comment[nl]=Interactieve console voor inspecteren van de internals van Kate en er mee spelen
Comment[pl]=Interaktywną konsola do nadzorowania i zmiany zmiennych wewnętrznych Kate
Comment[pt]=Consola interactiva para inspeccionar e mudar os dados internos do Kate
Comment[pt_BR]=Console interativo para inspecionar e mudar os dados internos do Kate
Comment[ru]=Интерактивная консоль для исследования внутреннего механизма Kate и обращения к нему
Comment[sk]=Interaktívna konzola na prieskum Kate internals a hranie
Comment[sl]=Vzajemna konzola za nadzor nad notranjimi funkcijami Kate in za igranje
Comment[sr]=Интерактивна конзола за испитивање Кејтине унутрашњости и играње
Comment[sr@ijekavian]=Интерактивна конзола за испитивање Кејтине унутрашњости и играње
Comment[sr@ijekavianlatin]=Interaktivna konzola za ispitivanje Kateine unutrašnjosti i igranje
Comment[sr@latin]=Interaktivna konzola za ispitivanje Kateine unutrašnjosti i igranje
Comment[sv]=Interaktiv terminal för att inspektera interna delar av &kate; och leka med dem
Comment[tr]=Kate'teki içsel şeyler ve ne üzerinde çalıştığını incelemek için etkileşimli konsol
Comment[uk]=Інтерактивна консоль для вивчення принципів роботи Kate та інших речей
Comment[x-test]=xxInteractive console for inspecting Kate's internals and playing aboutxx
Comment[zh_CN]=用于检查 Kate 内部并展示关于的交互式终端
Comment[zh_TW]=互動式主控台，觀察 Kate 內部用
X-Python-2-Compatible=true
