[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=js_utils
Name=JavaScript Utilities
Name[de]=JavaScript-Dienstprogramme
Name[es]=Utilidades de JavaScript
Name[ia]=Utilitates de JavaScripts
Name[nl]=Hulpprogramma's voor JavaScript
Name[pt]=Utilitários de JavaScript
Name[pt_BR]=Utilitários do JavaScript
Name[sk]=Nástroje JavaScript
Name[sl]=Pripomočki za JavaScript
Name[sv]=Javascript-verktyg
Name[tr]=JavaScript Araçları
Name[uk]=Інструменти JavaScript
Name[x-test]=xxJavaScript Utilitiesxx
Comment=JS and jQuery autocompletion, a jQuery ready snippet, JSLint/JSHint
Comment[de]=Auto-Vervollständigung für JS und jQuery, jQuery-Textbaustein, jSLint/JSHint
Comment[ia]=Autocompletion de JS e jQuery, un fragmento preste de jQuery, JSLint/JSHint
Comment[nl]=Automatische aanvulling van JS en jQuery, een kant-en-klaar fragment voor jQuery, JSLint/JSHint
Comment[pt]=Completação automática de JS e jQuery, um excerto 'ready' para jQuery, JSLint/JSHint
Comment[pt_BR]=Completação automática de JS e jQuery, um trecho 'ready' para jQuery, JSLint/JSHint
Comment[sk]=JS a jQuery automatické dokončovanie, jQuery pripravený snippet, JSLint/JSHint
Comment[sl]=Samodejno dopolnjevanje JS in jQuery, izrezek pripravljen za jQuery, JSLint/JSHint
Comment[sv]=JS och jQuery automatisk komplettering, jQuery klar kodsnutt, JSLint/JSHint
Comment[tr]=JS ve jQuery otomatik tamamlama, bir jQuery hazır kodu, JSLint/JSHint
Comment[uk]=Автодоповнення JS і jQuery, фрагмент ready jQuery, JSLint/JSHint
Comment[x-test]=xxJS and jQuery autocompletion, a jQuery ready snippet, JSLint/JSHintxx
X-Python-2-Compatible=true
