[Desktop Entry]
Encoding=UTF-8
Name=KTextEditor Incremental Search Plugin
Name[ar]=ملحق بحث تزايدي لمحرر نصوص كيدي
Name[az]=KTextEditor Artan Axtarış Əlavəsi
Name[bg]=Приставка за последователно търсене
Name[bn]=কে-টেক্সট-এডিটর ধারাবাহিক খোঁজ প্লাগ-ইন
Name[bs]=KTextEditor dodatak za inkrementalnu pretragu
Name[ca]=Connector del KTextEditor per a la recerca incremental
Name[cs]=Modul pro postupné vyhledávání
Name[cy]=Ategyn Chwiliad Cynyddol KGolyguTestun
Name[da]=KTextEditor inkrementel søgnings-plugin
Name[de]=KTextEditor-Plugin zur einengenden Suche
Name[el]=Πρόσθετο αυξητικής αναζήτησης KTextEditor
Name[eo]=KTextEditor Iom-post-Ioma-Serĉo-kromaĵo
Name[es]=Plugin de búsqueda incremental de KTextEditor
Name[et]=KTextEditori täpsustava otsingu plugin
Name[eu]=KTextEditor Bilaketa Inkrementala Plugina
Name[fa]=متصل‌کننده‌ی موتور افزودنی KTextEditor
Name[fi]=KTextEditor-differenttiaalihakulisäosa
Name[fr]=Module externe de recherche incrémentale pour KTextEditor
Name[ga]=Breiseán KTextEditor do chuardach incriminteach
Name[gl]=Plugin de Procura Incremental de KTextEditor
Name[he]=תוסף חיפוש חלקי ל-KTextEditor
Name[hi]=के-टेक्स्ट-एडिटर इंक्रीमेंटल सर्च प्लगइन
Name[hr]=KTextEditor unetak za traženje po redu
Name[hu]=KTextEditor inkrementális keresési bővítőmodul
Name[is]=KTextEditor þrepaleitar-íforrit
Name[it]=Plugin ricerca incrementale di KTextEditor
Name[ja]=KTextEditor インクリメンタル検索プラグイン
Name[lt]=KTextEditor augančios paieškos priedas
Name[mn]=Текст боловсруулагчийн нэмэлт хайлтын плугин
Name[ms]=Plug masuk Carian Meningkat KTextEditor
Name[mt]=Plagin ta' KTextEditor għal tfittix inkrementali
Name[nb]=Programtillegg for 'fortløpende søk' i KTextEditor
Name[nl]=KTextEditor-plugin voor incrementele zoekacties
Name[nn]=Programtillegg for inkrementelt søk i skriveprogram
Name[nso]=Tsenyo ya Nyako ya Koketso ya Mofetosi wa Sengwalwana sa K
Name[pl]=Wtyczka edytora tekstu do szukania przyrostowego
Name[pt]='Plugin' de Procura Incremental do KTextEditor
Name[pt_BR]=Plug-in de Busca Incremental para o Editor de textos
Name[ro]=Modul de căutare incrementală pentru KTextEditor
Name[ru]=Модуль продолженного поиска KTextEditor
Name[se]=KTextEditor lassáneaddji-ohcan lassemoduvla
Name[sk]=Modul pre inkrementálne hľadanie KTextEditor
Name[sl]=Vstavek KTextEditor za postopno iskanje
Name[sr]=KTextEditor додатак за инкрементално претраживање.
Name[ss]=I-plugin yekusesha lokungetekako kwe KTextEditor
Name[sv]=Ktexteditor-insticksprogram för inkrementell sökning
Name[ta]=KTextEditor படிப்படியான தேடற் செருகி
Name[tg]=KМатни Муҳаррир Модули Ҷустуҷӯи Афзоянда
Name[tr]=KTextEditor Artımsal Arama Eklentisi
Name[uk]=Втулок KTextEditor для покрокового пошуку
Name[uz]=KTextEditor кетма-кет қидириш плагини
Name[ven]=Pulagini yau toda yo engedzeaho ya musengulusi wa manwalwa a K
Name[xh]=KTextEditor Iplagi yangaphakathi Yokuphendla Ngokunyukayo
Name[xx]=xxKTextEditor Incremental Search Pluginxx
Name[zh_CN]=KTextEditor 增量搜索插件
Name[zh_TW]=KTextEditor 漸進式搜尋外掛程式
Name[zu]=I-Plugin Yosesho Lokwenyuka ngezigaba ze-KTextEditor
Comment=Also known as "As you type search"
X-KDE-Library=ktexteditor_isearch
ServiceTypes=KTextEditor/Plugin
Type=Service
InitialPreference=8
MimeType=text/plain
