[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesymbolviewerplugin
X-Kate-Version=2.8
Name=Kate Symbol Viewer
Name[ca]=Visualitzador de símbols del Kate
Name[da]=Kate symbolfremviser
Name[de]=Kate-Symbolbetrachter
Name[el]=Προβολέας συμβόλων Kate
Name[es]=Visor de símbolos para Kate
Name[et]=Kate sümbolite näitaja
Name[fr]=Afficheur de symboles pour Kate
Name[ga]=Amharcán Siombailí Kate
Name[gl]=Visor de símbolos para Kate
Name[hu]=Kate szimbólumböngésző
Name[it]=Visore di simboli per Kate
Name[ja]=Kate シンボルビューア
Name[km]=កម្មវិធី​មើល​និមិត្ត​សញ្ញា Kate
Name[ko]=Kate 심볼 뷰어
Name[lv]=Kate simbolu skatītājs
Name[nb]=Kate symbolviser
Name[nds]=Kate-Symboolkieker
Name[ne]=केट प्रतीक दर्शक
Name[nl]=Symbolenviewer (Kate)
Name[pl]=Przeglądarka symboli Kate
Name[pt]=Visualizador de Símbolos do Kate
Name[pt_BR]=Visualizador de Símbolos do Kate
Name[ru]=Просмотр символов в Kate
Name[sr]=Кејтин приказивач симбола
Name[sr@latin]=Katein prikazivač simbola
Name[sv]=Kate symbolvisning
Name[tr]=Kate Sembol Gösterici
Name[uk]=Переглядач символів Kate
Name[x-test]=xxKate Symbol Viewerxx
Name[zh_CN]=Kate 符号查看器
Name[zh_TW]=Kate 符號檢視器
Comment=This plugin extracts and shows reference symbols from source
Comment[ca]=Aquest connector extreu i visualitza símbols de referència des del codi font
Comment[da]=Dette plugin udtrækker og viser referencesymboler fra kildekode
Comment[de]=Dieses Modul extrahiert Referenzsymbole aus Quelldateien und zeigt diese an
Comment[el]=Αυτό το πρόσθετο εξάγει και εμφανίζει σύμβολα αναφορά από τον πηγαίο κώδικα
Comment[es]=Este complemento extrae y muestra símbolos de referencia del código fuente
Comment[et]=Plugin, mis hangib lähtekoodist sümbolid ja näitab neid
Comment[fr]=Ce module externe extrait et affiche des symboles de référence provenant du source
Comment[ga]=Baineann an breiseán seo siombailí tagartha amach as an mbunchód agus taispeánann sé iad
Comment[gl]=Esta extensión extrai e mostra os símbolos a partir das fontes
Comment[hu]=Referencialista készítése forráskódhoz
Comment[it]=Questa estensione estrae e visualizza i simboli di riferimento del codice sorgente
Comment[ja]=このプラグインはソースの参照シンボルを表示します
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​ស្រង់​ចេញ និង​បង្ហាញ​និមិត្តសញ្ញា​យោង​ពី​ប្រភព
Comment[ko]=이 플러그인은 원본 코드에서 참조 기호를 추출하고 보여 줍니다
Comment[lv]=Šis spraudnis no pirmkoda izdala sibmolus un parāda tos
Comment[nds]=Dit Moduul treckt Betogsymbolen ut Borns rut un wiest disse
Comment[ne]=यो प्लगइनले स्रोतबाट सन्दर्भ प्रतीकहरू छोड्छ र देखाउँछ
Comment[nl]=Deze plugin toont referentiesymbolen uit de broncode
Comment[pl]=Ta wtyczka znajduje i pokazuje symbole ze źródeł
Comment[pt]=Este 'plugin' extrai e mostra os símbolos de referência do código
Comment[pt_BR]=Este plugin extrai e mostra os símbolos de referência do código
Comment[ru]=Извлекает и показывает идентификаторы C/C++ из исходного кода
Comment[sr]=Ова прикључак извлачи и приказује симболе из извора
Comment[sr@latin]=Ova priključak izvlači i prikazuje simbole iz izvora
Comment[sv]=Insticksprogram som hämtar och visar referenssymboler från källkoden
Comment[tr]=Bu eklenti kaynak dosyadaki sembolleri açar ve gösterir
Comment[uk]=Цей втулок добуває і показує символи з джерельного коду
Comment[x-test]=xxThis plugin extracts and shows reference symbols from sourcexx
Comment[zh_CN]=此插件能从源代码中提取并显示相关的符号
Comment[zh_TW]=這個外掛程式展開並顯示程式源碼中的參考符號
