[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesymbolviewerplugin
X-Kate-Version=2.8
Name=Symbol Viewer
Name[de]=Symbolbetrachter
Name[el]=Προβολέας συμβόλων
Name[es]=Visor de símbolos
Name[et]=Sümbolite näitaja
Name[ga]=Amharcán Siombailí
Name[nds]=Symboolkieker
Name[pt]=Visualizador de Símbolos
Name[pt_BR]=Visualizador de Símbolos
Name[sv]=Symbolvisning
Name[tr]=Sembol Gösterici
Name[uk]=Переглядач символів
Name[x-test]=xxSymbol Viewerxx
Name[zh_CN]=符号查看器
Name[zh_TW]=符號檢視器
Comment=Extract and show reference symbols from source
Comment[de]=Referenzsymbole aus Quelldateien extrahieren und anzeigen
Comment[el]=Εξαγωγή και εμφάνιση συμβόλων αναφοράς από τον πηγαίο κώδικα
Comment[es]=Extraer y mostrar símbolos de referencia del código fuente
Comment[et]=Plugin, mis hangib lähtekoodist sümbolid ja näitab neid
Comment[ga]=Baineann an breiseán seo siombailí tagartha amach as an mbunchód agus taispeánann sé iad
Comment[nds]=Betogsymbolen ut Borns ruttrecken un wiesen
Comment[pt]=Extrair e mostrar os símbolos de referência do código
Comment[pt_BR]=Extrair e mostrar os símbolos de referência do código
Comment[sv]=Hämta och visa referenssymboler från källkod
Comment[uk]=Добування і показ символів з джерельного коду
Comment[x-test]=xxExtract and show reference symbols from sourcexx
Comment[zh_CN]=从源代码中提取并显示相关的符号
Comment[zh_TW]=展開並顯示程式源碼中的參考符號
