[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesymbolviewerplugin
X-Kate-Version=2.8
Name=Kate Symbol Viewer
Name[it]=Visore di simboli per Kate
Name[x-test]=xxKate Symbol Viewerxx
Comment=This plugin extracts and shows reference symbols from source
Comment[it]=Questo plugin estrae e visualizza i simboli di riferimento del codice sorgente
Comment[x-test]=xxThis plugin extracts and shows reference symbols from sourcexx
