[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_ktexteditor_docwordcompletion
X-KDE-FactoryName=kcm_ktexteditor_docwordcompletion
X-KDE-ParentComponents=ktexteditordocwordcompletion

Name=Behavior
Name[ar]=السلوك
Name[de]=Verhalten
Name[es]=Comportamiento
Name[ja]=挙動
Name[sl]=Obnašanje
Name[sv]=Beteende
Name[zh_TW]=行為
