[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-Library=ktexteditor_docwordcompletion
X-KDE-FactoryName=ktexteditor_docwordcompletion_config
X-KDE-ParentComponents=ktexteditordocwordcompletion

Name=Behavior
Name[ar]=السلوك
Name[csb]=Zachòwónié
Name[de]=Verhalten
Name[el]=Συμπεριφορά
Name[es]=Comportamiento
Name[ga]=Oibriú
Name[he]=פעולה
Name[ja]=挙動
Name[ko]=동작
Name[nds]=Bedregen
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[sl]=Obnašanje
Name[sv]=Beteende
Name[th]=พฤติกรรม
Name[zh_CN]=行为
Name[zh_TW]=行為
