[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=ktexteditor_docwordcompletion
X-KDE-ParentComponents=ktexteditordocwordcompletion

Name=Behavior
Name[ar]=السلوك
Name[be]=Паводзіны
Name[bn_IN]=আচরণ
Name[br]=Emzalc'h
Name[ca]=Comportament
Name[cs]=Chování
Name[csb]=Zachòwónié
Name[de]=Verhalten
Name[el]=Συμπεριφορά
Name[es]=Comportamiento
Name[et]=Käitumine
Name[eu]=Portaera
Name[fi]=Käyttäytyminen
Name[ga]=Oibriú
Name[he]=פעולה
Name[hu]=Működés
Name[it]=Comportamento
Name[ja]=挙動
Name[kk]=Тәртібі
Name[km]=ឥរិយាបថ
Name[kn]=ವರ್ತನೆ
Name[ko]=동작
Name[lt]=Elgsena
Name[lv]=Izturēšanās
Name[mk]=Однесување
Name[nb]=Oppførsel
Name[nds]=Bedregen
Name[ne]=ब्यवहार
Name[nl]=Gedrag
Name[nn]=Åtferd
Name[oc]=Compòrtament
Name[pa]=ਰਵੱਈਆ
Name[pl]=Zachowanie
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[se]=Láhtten
Name[sl]=Obnašanje
Name[sr]=Понашање
Name[sr@latin]=Ponašanje
Name[sv]=Beteende
Name[ta]=பண்பு
Name[th]=พฤติกรรม
Name[uk]=Поведінка
Name[wa]=Dujhance
Name[x-test]=xxBehaviorxx
Name[zh_CN]=行为
Name[zh_TW]=行為
