[Desktop Entry]
Encoding=UTF-8
Name=KTextEditor Word Completion Plugin
Description=Reuse words allready typed
X-KDE-Library=ktexteditor_docwordcompletion
ServiceTypes=KTextEditor/Plugin
Type=Service
InitialPreference=8
MimeType=text/plain
