[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=ktexteditor_docwordcompletion
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktexteditordocwordcompletion
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=speaker
Name=Word Completion
Name[csb]=Dofùlowaniô słowów
Name[de]=Wortkomplettierung
Name[el]=Συμπλήρωση λέξεων
Name[es]=Completado de palabras
Name[ja]=単語補完
Name[nl]=Woordaanvulling
Name[sv]=Ordkomplettering
Name[te]=పదం పూరణ
Name[zh_CN]=单词补全
Name[zh_TW]=單字補完
Comment=Directional or popup-based completion from words in the document
Comment[af]=Direksionele of opspring gebaseerde woord voltooiïng van woorde in die dokument
Comment[be]=Простае заканчэнне словаў ці выплыўнае вакно з варыянтамі заканчэння
Comment[ca]=Compleció de paraules del document dirigida o basada en emergents
Comment[cs]=Přímé nebo vyskakovací doplňování slov v dokumentu
Comment[csb]=Dofùlowanié na spòdlëm lëstë słowów w dokùmence
Comment[da]=Retnings- eller popop-baseret fuldstændiggørelse ud fra ord i dokumentet
Comment[de]=Richtungs- oder über Aufklappfenstergesteuerte automatische Vervollständigung von Wörtern in Dokumenten
Comment[el]=Κατευθυντική ή μέσω αναδυόμενων μενού συμπλήρωση από λέξεις μέσα στο έγγραφο
Comment[eo]=Regula aŭ ekfenestra tutigo de vortoj en la dokumento
Comment[es]=Completado de palabras direccional o de menú emergente en el documento.
Comment[et]=Lõpetamine vastavalt suunale või hüpikvariantide alusel dokumendi sõnade põhjal
Comment[eu]=Dokumentuko hitzen osaketarako plugin-a
Comment[fa]=تکمیل جهت‌دار یا مبنی بر بالاپر از کلمات موجود در سند
Comment[fi]=Asiakirjasta löytyvillä sanoilla täydentäminen
Comment[fr]=Complètement basé sur la direction ou un menu à partir des mots du document
Comment[fy]=kompleet meitsje fan wurden yn it dokumint op Direktsjeneel of popup-basearje 
Comment[gl]=Completado direccional ou  baseada en popup a partir de palabras no documento
Comment[he]=השלמת מילים כיווניות או מבוססת תיבת מוקפצות של מילים מהמסמך
Comment[hr]=Usmjereno ili pop-up zasnovano dovršavanje iz riječi u dokumentu
Comment[hu]=Irány szerinti vagy felbukkanó kiegészítés dokumentum szavai alapján
Comment[is]=Áttvíst forrit sem getur líka opnað glugga með orðatillögum
Comment[it]=Completamento direzionale o con finestre a comparsa di parole nel documento
Comment[ja]=ポップアップまたはユーザの指示によってドキュメントの単語から補完します
Comment[kk]=Құжаттағы сөздерді аяқтау модулі
Comment[km]=ការបំពេញ​ពាក្យ​ដោយ​ផ្ទាល់ ឬ តាម​រយៈ​ការលេចឡើង​នៃ​ពាក្យ​ដែល​មាន​ក្នុង​ឯកសារ
Comment[lb]=Direktional oder Opklapp-Fënster-baséiert Vervollstännegung vu Wierder am Dokument
Comment[lt]=Žodžių pabaigimas rašant dokumente pasiūlymus teikiant eilutėje arba iššokančiame meniu
Comment[lv]=Vārdu automātiska pabeigšana izmantojot dokumentā jau esošos vārdus
Comment[mk]=Насочено или скок-базирано довршување од зборови во документот
Comment[ms]=Penyelesaian berarah atau berasaskan popup daripada perkataan dalam dokumen
Comment[nb]=Retningsbestemt eller sprettopp-basert fullføring av ord i dokumentet
Comment[nds]=Richten- oder Opdukbaseert Kompletteren vun Wöör binnen dat Dokment
Comment[ne]=कागजातमा शब्दहरूबाट दिशानिर्देशित वा पपअपमा आधारित समाप्ति
Comment[nl]=Voor het aanvullen van woorden in het document door middel van onder meer pop-ups
Comment[nn]=Retningsbestemt eller sprettopp-basert fullføring av ord i dokumentet
Comment[pa]=ਦਸਤਾਵੇਜ਼ ਵਿੱਚ ਦਿਸ਼ਾਵੀ ਜਾਂ ਪੋਪਅੱਪ ਆਧਾਰਿਤ ਸ਼ਬਦ ਪੂਰਨ
Comment[pl]=Dopełnianie na podstawie listy słów w dokumencie
Comment[pt_BR]=Complementação direcional, ou baseada em popup, de palavras do documento
Comment[ro]=Propune completarea cuvintelor din document dintr-o listă popup sau direcţională
Comment[ru]=Автодополнение слов в документе
Comment[sl]=Neposredno ali pojavno dopolnjevanje iz besed v dokumentu
Comment[sr]=Директна или искачућа допуна од речи у документу
Comment[sr@latin]=Direktna ili iskačuća dopuna od reči u dokumentu
Comment[sv]=Komplettering av ord i dokumentet baserad på ordlista eller dialogruta
Comment[ta]=ஆவணத்திலுள்ள வார்த்தைகளிலிருந்து திசைகள் அல்லது மேல்விரி-சார்ந்த நிறைவு 
Comment[te]=పత్రం లోని పదాలు వాడె, దిశా లేక పాప్ అప్ ఆధారిత పద పూరణ
Comment[tg]=Худиловакунандаи калима дар ҳуҷҷат
Comment[th]=การเติมคำให้สมบูรณ์โดยการชี้นำหรือ popup ขึ้นมา จากคำต่างๆ ในเอกสาร
Comment[tr]=Doğrusal veya açılır-kuttu abanlı kelime tamamlama
Comment[uk]=Завершення слів у документі. Пряме або на основі вигулькного меню
Comment[x-test]=xxDirectional or popup-based completion from words in the documentxx
Comment[zh_TW]=在編輯文件時的單字補完功能
