[Desktop Entry]
Encoding=UTF-8
Name=KTextEditor Word Completion Plugin
Name[af]=KTextEditor Woord Voltooiïng Inprop Module
Name[bn]=কে-টেক্সট-এডিটর শব্দ পরিপূরণ প্লাগ-ইন
Name[bs]=KTextEditor dodatak za dovršavanje riječi
Name[ca]=Endollable de completar paraules del KTextEditor
Name[da]=KTextEditor 'ord-kompletterings'-plugin
Name[de]=KTextEditor-Plugin für Wortergänzungen
Name[el]=Προσθέτο συμπλήρωσης λέξεων του KTextEditor
Name[eo]=KTextEditor Vortotutiga kromaĵo
Name[es]=Plugin de completado de palabras de KTextEditor
Name[et]=KTextEditori sõna lõpetamise plugin
Name[eu]=KTextEditor-en hitzen osaketarako plugina
Name[fi]=KTextEditorin sanojen täydennyslaajennus
Name[fr]=Module externe de complètement des mots de KTextEditor
Name[fy]=KTextEditor plugin foar it kompleet meitje fan wurden
Name[gl]=Plugin de Completazón de Palabras de KTextEditor
Name[he]=תוסף השלמה אוטומטית של מילים עבור KTextEditor
Name[hi]=के-टेक्स्ट-एडिटर वर्ड कम्प्लीशन प्लगिन
Name[hr]=KTextEditor umetak za nadopunjavanje riječi
Name[hsb]=KTextEditor Plugin za wudospołnjenje słowow
Name[hu]=KTextEditor szókiegészítő bővítőmodul
Name[is]=KTextEditor íforrit til að klára orð
Name[it]=Plugin completamento parole di KTextEditor
Name[ja]=KTextEditor単語補完プラグイン
Name[ko]=K글월편집기 낱말 완성 플러그인
Name[lt]=KTextEditor žodžio užbaigimo priedas
Name[lv]=KTextEditor vārdu pabeigšanas spraudnis
Name[mk]=KTextEditor приклучок за довршување на зборови
Name[ms]=Plug masuk Penyudah Kata Fail KTextEditor
Name[nb]=Programtillegg for ordfullføring i KTextEditor
Name[nds]=KTextEditor-Plugin för dat Kumpletteren vun Wöör
Name[nl]=KTextEditor-plugin voor het aanvullen van woorden
Name[nn]=Programtillegg for ordfullføring i KTextEditor
Name[pa]=KTextEditor ਪਾਠ ਪੂਰਨ ਪਲੱਗਿੰਨ
Name[pl]=Wtyczka edytora do dopełniania słów
Name[pt]='Plugin' de Completação de Palavras do KTextEditor
Name[pt_BR]=Plug-in de Complementação de Palavras para Editor de textos
Name[ro]=Modul completare cuvinte pentru KTextEditor
Name[ru]=Модуль автодополнения слов KTextEditor
Name[rw]=Icomeka ry'Iyuzuza Jambo rya KMuhinduziUmwandiko
Name[se]=KTextEditor:a sátneollašuhttin lassemoduvla
Name[sk]=Modul pre doplnenie slov pre KTextEditor
Name[sl]=Vstavek KTextEditor za dopolnjevanje besed
Name[sr]=KTextEditor прикључак за довршаванје речи
Name[sr@Latn]=KTextEditor priključak za dovršavanje reči
Name[sv]=Ktexteditor-insticksprogram för att komplettera ord
Name[ta]=கேஉரைதொகுப்பாளர் கோப்பு உள்ளீட்டுச் சொருகுப்பொருள்
Name[tg]=Модули худиловакунандаи калимаҳои KTextEditor
Name[tr]=KTextEditor Kelime Tamamlama Eklentisi
Name[uk]=Втулок KTextEditor для завершення слів
Name[xx]=xxKTextEditor Word Completion Pluginxx
Name[zh_CN]=KTextEditor 单词补全插件
Comment=Directional or popup-based completion from words in the document
Comment[af]=Direksionele of opspring gebaseerde woord voltooiïng van woorde in die dokument
Comment[bg]=Автоматично завършване на думи, базирано на използваните вече думи в документа
Comment[bn]=ডকুমেন্ট-এর অন্যান্য শব্দের উপর ভিত্তি করে পরিপূরণ
Comment[bs]=Direkcionalno ili popup-bazirano dovršavanje za riječi u dokumentu
Comment[ca]=Compleció de paraules del document dirigida o basada en emergents
Comment[da]=Retnings- eller popop-baseret fuldstændiggørelse ud fra ord i dokumentet
Comment[de]=Richtungs- oder über Aufklappfenster gesteuerte automatische Vervollständigung von Wörtern in Dokumenten
Comment[el]=Κατευθυντική ή μέσω αναδυόμενων μενού συμπλήρωση από λέξεις μέσα στο έγγραφο
Comment[eo]=Regula aŭ ekfenestra tutigo de vortoj en la dokumento
Comment[es]=Completado de palabras direccional o de menú emergente en el documento.
Comment[et]=Lõpetamine vastavalt suunale või hüpikvariantide alusel dokumendi sõnade põhjal
Comment[eu]=Dokumentuko hitzen osaketarako plugina
Comment[fi]=Asiakirjasta löytyvillä sanoilla täydentäminen
Comment[fr]=Complètement basé sur la direction ou un menu à partir des mots du document
Comment[fy]=kompleet meitsje fan wurden yn it dokumint op Direktsjeneel of popup-basearje 
Comment[gl]=Completazón direccional ou  baseada en popup a partir de palabras no documento
Comment[hi]=डायरेक्शनल या पॉपअप-आधारित दस्तावेज़ में शब्द से कम्पलीशन.
Comment[hr]=Direkcijsko ili popup bazirano dovršavanje iz riječi u dokumentu
Comment[hsb]=Direktionalne abo na pop-up bazowace wudospołnjowanje za słowa w dokumenće
Comment[hu]=Irány szerinti vagy felbukkanó kiegészítés dokumentum szavai alapján
Comment[is]=Áttvíst forrit sem getur líka opnað glugga með orðatillögum
Comment[it]=Completamento direzionale o con finestre a comparsa di parole nel documento
Comment[ja]=ドキュメントで単語から指向性またはポップアップベース補完をします
Comment[lt]=Žodžių pabaigimas rašant dokumente pasiūlymus teikiant eilutėje arba iššokančiame meniu
Comment[lv]=Vārdu automātiska pabeigšana izmantojot dokumentā jau esošos vārdus
Comment[mk]=Насочено или скок-базирано довршување од зборови во документот
Comment[nb]=Retningsbestemt eller sprettopp-basert fullføring av ord i dokumentet
Comment[nds]=Richten- oder Popup-baseert Kumpletteren vun Wöör binnen dat Dokment
Comment[nl]=Voor het aanvullen van woorden in het document door middel van onder meer pop-ups
Comment[nn]=Retningsbestemt eller sprettopp-basert fullføring av ord i dokumentet
Comment[pa]=ਦਸਤਾਵੇਜ਼ ਵਿੱਚ ਦਿਸ਼ਾਵੀ ਜਾਂ ਪੋਪਅੱਪ ਆਧਾਰਿਤ ਸ਼ਬਦ ਪੂਰਨ
Comment[pl]=Dopełnianie na podstawie listy słów w dokumencie
Comment[pt]=Completação direccional ou por lista de palavras no documento
Comment[pt_BR]=Complementação direcional, ou baseada em popup, de palavras do documento
Comment[ro]=Propune completarea cuvintelor din document dintr-o listă popup sau direcţională
Comment[ru]=Автодополнение слов в документе
Comment[rw]=Irangiza mfatacyerekezo cyangwa rishingiye-kwirambura biva ku magambo yo mu nyandiko
Comment[sk]=Dopĺňanie slov v dokumente priame alebo pomocou dialógu
Comment[sl]=Neposredno ali pojavno dopolnjevanje iz besed v dokumentu
Comment[sr]=Директна или искачућа допуна од речи у документу
Comment[sr@Latn]=Direktna ili iskačuća dopuna od reči u dokumentu
Comment[sv]=Komplettering av ord i dokumentet baserad på ordlista eller dialogruta
Comment[ta]=ஆவணத்திலுள்ள வார்த்தைகளிலிருந்து திசைகள் அல்லது மேல்விரி-சார்ந்த நிறைவு 
Comment[tg]=Худиловакунандаи калима дар ҳуҷҷат
Comment[tr]=Doğrusal veya açılır-kuttu abanlı kelime tamamlama
Comment[uk]=Завершення слів у документі. Пряме або на основі вигулькного меню
Comment[xx]=xxDirectional or popup-based completion from words in the documentxx
Comment[zh_CN]=在文档中基于方向或弹出补全单词
X-KDE-Library=ktexteditor_docwordcompletion
ServiceTypes=KTextEditor/Plugin
Type=Service
InitialPreference=8
MimeType=text/plain
