[Desktop Entry]
Encoding=UTF-8
X-Kate-Version=2.8
X-KDE-Library=katetabifyplugin
ServiceTypes=Kate/Plugin
Type=Service
Icon=korganizer
Name=Tabify
Comment=Adds a tab bar to Kate's main window
