[Desktop Entry]
X-Kate-Version=2.8
X-KDE-Library=katetabifyplugin
ServiceTypes=Kate/Plugin
Type=Service
Icon=korganizer
Name=Tab Bar
Comment=Adds a standard tab bar to Kate's main window
author=Abhishek Patil, abhishekworld@gmail.com
