<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="assistant" library="assistant" version="1" translationDomain="assistant">
    <MenuBar>
        <Menu name="tools">
            <text>&amp;Tools</text>
            <Action name="assistant_test_action" group="test_group"/>
        </Menu>
    </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
