[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katecloseexceptplugin
X-KDE-Version=4.0
X-Kate-Version=2.9
X-Kate-Load=True
Name=Close Except/Like
Name[ar]=إغلاق ما عدا/يشابه
Name[ast]=Zarru de quitante/como
Name[bs]=Zatvori Osim/Kao
Name[ca]=Tancament excepte/com
Name[ca@valencia]=Tancament excepte/com
Name[cs]=Zavřít kromě/jako
Name[da]=Luk undtagen/lignende
Name[de]=Bedingtes Schließen
Name[el]=Κλείσιμο Except/Like
Name[en_GB]=Close Except/Like
Name[es]=Cerrar excepto/como
Name[et]=Selliste/teistsuguste sulgemine
Name[eu]=Itxi ezik/bezalako
Name[fi]=Sulje samanlaiset kuin / muut kuin
Name[fr]=Fermer les exclusions / inclusions
Name[gl]=Pechar agás/como
Name[he]=סגור דומה/למעט
Name[hu]=Kivétel/Like bezárása
Name[ia]=Claude Excepte/Simile
Name[id]=Tutup Kecuali/Layak
Name[it]=Chiudi escludendo/includendo
Name[kk]=Шарт бойынша жабу
Name[ko]=다음을 제외한/다음과 같은 것 닫기
Name[lt]=Uždaryti Išskyrus/Kaip
Name[nb]=Lukk unntatt/lik
Name[nds]=Liek/Anner Dateien tomaken
Name[nl]=Behalve/zoals sluiten
Name[nn]=Lukk utanom/lik
Name[pl]=Zamknij oprócz/podobne
Name[pt]=Fechar Excluindo/Incluindo
Name[pt_BR]=Fechamento com exclusão/inclusão
Name[ro]=Închide excepția/precum
Name[ru]=Закрыть кроме/только...
Name[sk]=Zatvoriť okrem/ako
Name[sl]=Zapri razen/kot
Name[sr]=Затварање осим/према
Name[sr@ijekavian]=Затварање осим/према
Name[sr@ijekavianlatin]=Zatvaranje osim/prema
Name[sr@latin]=Zatvaranje osim/prema
Name[sv]=Stäng förutom/som
Name[tr]=Hariç/Benzerlerini Kapat
Name[uk]=Додаток закриття за критерієм
Name[x-test]=xxClose Except/Likexx
Name[zh_CN]=关闭除/类似
Name[zh_TW]=關閉「例外/喜歡」
Comment=Close group of documents based on a common path or file extension
Comment[ar]=تُغلق مجموعة مستندات حسب مسار عامّ أو امتدادها
Comment[ast]=Zarra'l grupu de documentos según un camín o estensión comunes
Comment[bs]=Zatvori grupu dokumenara na bazi zajedniočke staye ili ekstenzije datoteke
Comment[ca]=Tanca un grup de documents basats en un camí comú o en l'extensió del fitxer
Comment[ca@valencia]=Tanca un grup de documents basats en un camí comú o en l'extensió del fitxer
Comment[cs]=Zavřít skupinu dokumentů podle společné cesty nebo přípony
Comment[da]=Luk gruppe af dokumenter baseret på en fælles sti eller filendelse
Comment[de]=Eine Gruppe von Dokumenten auf der Basis eines gemeinsamen Pfades oder einer Dateierweiterung schließen
Comment[el]=Κλείσιμο ομάδας εγγράφων με βάση κοινή διαδρομή ή κατάληξη ονόματος αρχείου
Comment[en_GB]=Close group of documents based on a common path or file extension
Comment[es]=Cerrar un grupo de documentos según una ruta común o una extensión de archivo
Comment[et]=Rühma ühise asukoha või faililaiendiga dokumentide sulgemine
Comment[eu]=Itxi dokumentuen talde bat bide-izen edo fitxategi luzapen berean oinarrituta
Comment[fi]=Sulje joukko tiedostoja niille yhteisen polun tai tiedostopäätteen perusteella
Comment[fr]=Fermer un groupe de documents reposant sur un emplacement ou une extension de fichier communs
Comment[gl]=Pecha un grupo de documentos baseado nunha ruta ou extensión de ficheiro común
Comment[he]=סגור קבוצה של מסמכים בהתאם לנתיב משותף או סיומת
Comment[hu]=Közös útvonalon vagy fájlkiterjesztésen alapuló dokumentumok csoportjának bezárása
Comment[ia]=Claude gruppo de documentos basate su un commun percurso o extension de file
Comment[id]=Tutup kelompok dokumen berdasarkan alur biasa atau ekstensi file 
Comment[it]=Chiudi gruppo di documenti con percorso o estensione comune
Comment[kk]=Ортақ жолы не жұрнағы негізінде құжаттар тобын жабу
Comment[ko]=공통 경로나 확장자를 기준으로 문서 그룹 닫기
Comment[lt]=Uždaryti dokumentų grupę remianti bendruoju keliu ar failo plėtiniu
Comment[nb]=Lukk en gruppe dokumenter basert på en felles sti eller etternavn
Comment[nds]=Mehr Dateien op eenmaal tomaken, wenn se en gemeen Padd oder de sülve Ennen hebbt
Comment[nl]=Groep documenten sluiten gebaseerd op een gemeenschappelijk pad of bestandsextensie
Comment[nn]=Lukk ei gruppe dokument basert på felles mappeadresse eller filetternamn
Comment[pl]=Zamknij grupę dokumentów w oparciu o wspólną ścieżkę lub rozszerzenie pliku
Comment[pt]=Fecha um grupo de documentos com base numa localização ou extensão de ficheiros comum
Comment[pt_BR]=Fecha um grupo de documentos com base em localização comum ou extensão do arquivo
Comment[ro]=Închide grupul de documente având la bază o cale sau extensie de fișier comune
Comment[ru]=Закрывает группу документов, в зависимости от пути или расширения
Comment[sk]=Zatvoriť skupinu dokumentov založenú na spoločnej ceste alebo koncovke súboru
Comment[sl]=Zapre skupino dokumentov, ki temeljijo na skupni poti ali priponi datoteke
Comment[sr]=Затворите групу докумената на основу заједничке путање или проширења фајла
Comment[sr@ijekavian]=Затворите групу докумената на основу заједничке путање или проширења фајла
Comment[sr@ijekavianlatin]=Zatvorite grupu dokumenata na osnovu zajedničke putanje ili proširenja fajla
Comment[sr@latin]=Zatvorite grupu dokumenata na osnovu zajedničke putanje ili proširenja fajla
Comment[sv]=Stäng grupp av dokument baserat på en gemensam sökväg eller filändelse
Comment[tr]=Ortak yol veya dosya uzantısına bağlı belge gruplarını kapat
Comment[uk]=Закриває групу документів, які зберігаються у одному каталозі або мають однаковий суфікс назви.
Comment[x-test]=xxClose group of documents based on a common path or file extensionxx
Comment[zh_CN]=根据路径或文件扩展名关闭一组文档
Comment[zh_TW]=關閉相同路徑或相同副檔名的文件
