[Desktop Entry]
X-KDE-Library=ktexteditor_autobrace
X-KDE-PluginKeyword=ktexteditor_autobrace
X-KDE-PluginInfo-Author=Jakob Petsovits
X-KDE-PluginInfo-Email=jpetso@gmx.at
X-KDE-PluginInfo-Name=ktexteditorautobrace
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=ktexteditorautobrace
Name=AutoBrace
Name[pt]=Parêntesis Automáticos
Name[uk]=Автоматичні дужки
Name[x-test]=xxAutoBracexx
Comment=Insert closing braces on pressing Enter
Comment[pt]=Inserir os parêntesis de fecho ao carregar em Enter
Comment[uk]=Вставляє завершальні дужки після натискання Enter
Comment[x-test]=xxInsert closing braces on pressing Enterxx
