[Desktop Entry]
X-KDE-Library=ktexteditor_autobrace
X-KDE-PluginKeyword=ktexteditor_autobrace
X-KDE-PluginInfo-Author=Jakob Petsovits
X-KDE-PluginInfo-Email=jpetso@gmx.at
X-KDE-PluginInfo-Name=ktexteditorautobrace
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=ktexteditorautobrace
Name=AutoBrace
Name[bg]=Автоматични скоби
Name[ca]=Parèntesis automàtics
Name[da]=AutoKlamme
Name[el]=Αυτόματες παρενθέσεις
Name[en_GB]=AutoBrace
Name[es]=AutoBrace
Name[et]=Automaatsulud
Name[hu]=Automatikus járójelbezáró
Name[nb]=AutoBrace
Name[nds]=AutoKlemmen
Name[pt]=Auto-Parêntesis
Name[pt_BR]=Parênteses automático
Name[sv]=Automatisk parentes
Name[uk]=AutoBrace
Name[x-test]=xxAutoBracexx
Name[zh_CN]=自动加括号
Name[zh_TW]=自動產生括號
Comment=Insert closing braces on pressing Enter
Comment[bg]=Вмъкване на затварящи скоби при натискане на Enter
Comment[ca]=Insereix els parèntesis de tancament en prémer Retorn
Comment[da]=Insæt afsluttende klammer ved tryk på Retur
Comment[el]=Εισαγωγή τελικής παρένθεσης με την πίεση του Enter
Comment[en_GB]=Insert closing braces on pressing Enter
Comment[es]=Insertar llaves de cierre al pulsar Intro
Comment[et]=Lõpetavate sulgude lisamine Enteri vajutamisel
Comment[hu]=Az Enter megnyomásakor beszúr egy bezáró zárójelet
Comment[nb]=Sett inn avsluttende krøllparentes når Enter trykkes
Comment[nds]=Afsluten Klemmen mit de Ingaavtast infögen
Comment[pt]=Colocar os parêntesis de fecho ao carregar em Enter
Comment[pt_BR]=Inserir parênteses de fechamento ao pressionar Enter
Comment[sv]=Infoga avslutande parenteser när returtangenten trycks
Comment[uk]=Вставляє завершальні дужки після натискання Enter
Comment[x-test]=xxInsert closing braces on pressing Enterxx
Comment[zh_CN]=按下回车键可插入一对括号
Comment[zh_TW]=按下 Enter 時自動插入關閉（右側）括號
