[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=ktexteditor_autobrace
X-KDE-PluginKeyword=ktexteditor_autobrace_config
X-KDE-ParentComponents=ktexteditorautobrace
Name=AutoBrace Configuration
Name[cs]=Nastavení automatických závorek
Name[de]=Einstellungen zu automatischer Klammersetzung
Name[en_GB]=AutoBrace Configuration
Name[et]=Automaatsete sulgude seadistamine
Name[gl]=Configuración dos parénteses automáticos
Name[ia]=Configuration de AutoBrace (Parentheses Automatic)
Name[ja]=AutoBrace の設定
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ AutoBrace
Name[nb]=Oppsett for automatisk parenteslukking
Name[nds]=Auto-Klemmen instellen
Name[nl]=Configuratie voor automatische haakjes
Name[pt]=Configuração dos Parêntesis Automáticos
Name[pt_BR]=Configuração automática dos parênteses
Name[ru]=Настройка автоматического закрытия скобок
Name[sv]=Automatisk parentesinställning
Name[tg]=Танзимоти часпаки худкор
Name[tr]=AutoBrace Yapılandırması
Name[ug]=AutoBrace سەپلىمە
Name[uk]=Налаштування автоматичних дужок
Name[wa]=Apontiaedje d' AutoBrace
Name[x-test]=xxAutoBrace Configurationxx
Name[zh_TW]=AutoBrace 組態
