[Desktop Entry]
X-KDE-Library=ktexteditor_autobrace
X-KDE-PluginKeyword=ktexteditor_autobrace
X-KDE-PluginInfo-Author=Jakob Petsovits
X-KDE-PluginInfo-Email=jpetso@gmx.at
X-KDE-PluginInfo-Name=ktexteditorautobrace
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=ktexteditorautobrace
Name=AutoBrace
Name[bg]=Автоматични скоби
Name[bs]=Autozagrade
Name[ca]=Parèntesis automàtics
Name[ca@valencia]=Parèntesis automàtics
Name[cs]=Automatické závorky
Name[da]=AutoBrace
Name[de]=AutoKlammern
Name[el]=AutoBrace
Name[en_GB]=AutoBrace
Name[es]=AutoLlaves
Name[et]=Automaatsulud
Name[eu]=Parentesi automatikoak
Name[fi]=Automaattisulutus
Name[fr]=Accolades automatiques
Name[ga]=AutoBrace
Name[gl]=Parénteses automáticos
Name[hu]=Automatikus zárójelbezáró
Name[ia]=AutoBrace (Parentheses Automatic)
Name[it]=Parentesi automatiche
Name[ja]=AutoBrace
Name[kk]=АвтоЖақшаЖабу
Name[km]=AutoBrace
Name[ko]=자동 괄호
Name[lt]=Automatiniai skliaustai
Name[lv]=Autom. figūriekavas
Name[nb]=AutoBrace
Name[nds]=Auto-Klemmen
Name[nl]=AutoHaakjes
Name[pa]=ਆਟੋ-ਬਰੈਕਟ
Name[pl]=Auto-klamrowanie
Name[pt]=Parêntesis Automáticos
Name[pt_BR]=Parênteses automático
Name[ro]=Închidere Automată a Acoladei
Name[ru]=Автоматическое закрытие скобок
Name[si]=AutoBrace
Name[sk]=AutoBrace
Name[sl]=Samodejni oklepaji
Name[sr]=Аутоматске заграде
Name[sr@ijekavian]=Аутоматске заграде
Name[sr@ijekavianlatin]=Automatske zagrade
Name[sr@latin]=Automatske zagrade
Name[sv]=Automatisk parentes
Name[tg]=Қавсҳои худкор
Name[tr]=AutoBrace
Name[ug]=AutoBrace
Name[uk]=Автоматичні дужки
Name[wa]=AutoBrace
Name[x-test]=xxAutoBracexx
Name[zh_CN]=自动括号
Name[zh_TW]=自動產生括號
Comment=Insert closing braces on pressing Enter
Comment[bg]=Затваряне на скобите при натискане на "Enter"
Comment[bs]=Ubacuje zatvarajuće zagrade pritiskom na Enter
Comment[ca]=Insereix els parèntesis de tancament en prémer Retorn
Comment[ca@valencia]=Insereix els parèntesis de tancament en prémer Retorn
Comment[cs]=Vložit uzavírací závorky při stisku Enter
Comment[da]=Indsæt afsluttende klammer ved tryk på Retur
Comment[de]=Beim Drücken der Eingabetaste schließende Klammer einfügen
Comment[el]=Κλείσιμο παρενθέσεων πιέζοντας το Enter
Comment[en_GB]=Insert closing braces on pressing Enter
Comment[es]=Insertar llaves de cierre al presionar Intro
Comment[et]=Lõpetavate sulgude lisamine Enteri vajutamisel
Comment[eu]=Txertatu itxierako parentesia Sartu sakatzean
Comment[fi]=Lisää lopettavat sulut painettaessa Enteriä
Comment[fr]=Insère des accolades fermantes lorsqu'on appuie sur Entrée
Comment[ga]=Ionsáigh lúibín deiridh nuair a bhrúitear Enter
Comment[gl]=Insire os parénteses de peche ao premer Intro
Comment[hu]=Az Enter megnyomásakor beszúr egy zárójelet
Comment[ia]=Inserta un parentheses claudente quando on preme Enter
Comment[it]=Inserisce parentesi di chiusura quando si preme Invio
Comment[kk]=Enter пернені басқанда жақшаны жабу
Comment[km]=បញ្ចូល​ដោយ​បិទ braces ដោយ​ចុច​បញ្ចូល​
Comment[ko]=Enter 키를 누를 때 닫는 괄호 넣기
Comment[lt]=Įterpti uždarančius skliaustus paspaudus Enter
Comment[lv]=Nospiežot Enter, ievietot aizverošās figūriekavas 
Comment[nb]=Sett inn avsluttende krøllparentes når Enter trykkes
Comment[nds]=Afsluten Klemmen mit de Ingaavtast infögen
Comment[nl]=Voert afsluithaakjes in bij indrukken van Enter
Comment[pa]=ਐਂਟਰ ਦੱਬਣ ਉੱਤੇ ਬਰੈਕਟ ਬੰਦ ਕਰੋ
Comment[pl]=Wstaw klamrę zamykającą przy naciśnięciu Enteru
Comment[pt]=Inserir os parêntesis de fecho ao carregar em Enter
Comment[pt_BR]=Insere parênteses de fechamento ao pressionar Enter
Comment[ro]=Inserează acoladele de închidere la apăsarea Enter
Comment[ru]=Вставка парной скобки при нажатии клавиши Enter
Comment[si]=Enter යතුර එබීමේදී රැඳවුම් වසාදැමීම එක් කරන්න
Comment[sk]=Vložiť koniec zátvorky stlačením Enter
Comment[sl]=Vstavi zaklepaje ob pritisku na tipko Enter
Comment[sr]=Умеће затварајуће заграде кад се притисне Enter
Comment[sr@ijekavian]=Умеће затварајуће заграде кад се притисне Enter
Comment[sr@ijekavianlatin]=Umeće zatvarajuće zagrade kad se pritisne Enter
Comment[sr@latin]=Umeće zatvarajuće zagrade kad se pritisne Enter
Comment[sv]=Infoga avslutande parenteser när returtangenten trycks
Comment[tg]=Қавсҳои хотимавиро бо зеркунии тугмаи Enter ворид кунед
Comment[tr]=Enter'a basıldığında parantezi kapat
Comment[ug]=Enter بېسىلغاندا يېپىلغان braces قىستۇر
Comment[uk]=Вставляє завершальні дужки після натискання Enter
Comment[wa]=Stitchî des acolådes cloyantes å tchôcaedje d' Intrêye
Comment[x-test]=xxInsert closing braces on pressing Enterxx
Comment[zh_CN]=按下回车后插入反括号
Comment[zh_TW]=按下 Enter 時自動插入關閉（右側）括號
