[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=ktexteditor_autobrace
X-KDE-PluginKeyword=ktexteditor_autobrace_config
X-KDE-ParentComponents=ktexteditorautobrace
Name=AutoBrace Configuration
Name[cs]=Nastavení automatických závorek
Name[en_GB]=AutoBrace Configuration
Name[et]=Automaatsete sulgude seadistamine
Name[gl]=Configuración dos parénteses automáticos
Name[ia]=Configuration de AutoBrace (Parentheses Automatic)
Name[ja]=AutoBrace の設定
Name[nds]=Auto-Klemmen instellen
Name[nl]=Configuratie voor automatische haakjes
Name[pt]=Configuração dos Parêntesis Automáticos
Name[pt_BR]=Configuração automática dos parênteses
Name[sv]=Automatisk parentesinställning
Name[uk]=Налаштування автоматичних дужок
Name[x-test]=xxAutoBrace Configurationxx
Name[zh_TW]=AutoBrace 組態
