[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=ktexteditor_autobrace
X-KDE-PluginKeyword=ktexteditor_autobrace_config
X-KDE-ParentComponents=ktexteditorautobrace
Name=AutoBrace Configuration
Name[ca]=Configuració dels parèntesis automàtics
Name[en_GB]=AutoBrace Configuration
Name[es]=Configuración de los paréntesis automáticos
Name[ia]=Configuration de AutoBrace (Parentheses Automatic)
Name[kk]=АвтоЖақшаЖабу баптауы
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ AutoBrace
Name[nb]=Oppsett for automatisk parenteslukking
Name[nds]=Auto-Klemmen instellen
Name[nl]=Configuratie voor automatische haakjes
Name[pt]=Configuração dos Parêntesis Automáticos
Name[pt_BR]=Configuração automática do parêntesis
Name[sv]=Automatisk parentesinställning
Name[uk]=Налаштування автоматичних дужок
Name[x-test]=xxAutoBrace Configurationxx
Name[zh_TW]=AutoBrace 組態
