[Desktop Entry]
X-KDE-Library=ktexteditor_exporter
X-KDE-PluginKeyword=ktexteditor_exporter
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-Email=mail@milianw.de
X-KDE-PluginInfo-Name=ktexteditorexporter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=ktexteditorexporter
Name=Exporter
Name[ca]=Exportador
Name[da]=Eksport
Name[el]=Εξαγωγέας
Name[en_GB]=Exporter
Name[es]=Exportador
Name[et]=Eksport
Name[eu]=Esportatzailea
Name[hu]=Exportáló
Name[nb]=Exporter
Name[nds]=Export
Name[pt]=Exportação
Name[pt_BR]=Exportação
Name[sv]=Export
Name[uk]=Інструмент експортування
Name[x-test]=xxExporterxx
Name[zh_CN]=导出器
Name[zh_TW]=匯出器
Comment=Export highlighted document to HTML
Comment[ca]=Exporta el document ressaltat a HTML
Comment[da]=Eksportér fremhævet dokument til HTML
Comment[el]=Εξαγωγή επιλεγμένου εγγράφου σε HTML
Comment[en_GB]=Export highlighted document to HTML
Comment[es]=Exportar documento resaltado a HTML
Comment[et]=Esiletõstetud dokumenti eksport HTML-i
Comment[eu]=Esportatu nabarmendutako dokumentua HTML-ra
Comment[hu]=HTML formátumban exportálja a kijelölt dokumentumot
Comment[nb]=Eksporterer fremhevede dokumenter til HTML
Comment[nds]=Syntaxmarkeert Dokment as HTML exporteren
Comment[pt]=Exportar o documento seleccionado para HTML
Comment[pt_BR]=Exportar o documento selecionado para HTML
Comment[sv]=Exportera markerat dokument till HTML
Comment[uk]=Експорт позначеного документа до HTML
Comment[x-test]=xxExport highlighted document to HTMLxx
Comment[zh_CN]=导出加亮显示的文档到 HTML
Comment[zh_TW]=將突顯的文件匯出為 HTML
