[Desktop Entry]
X-KDE-Library=ktexteditor_exporter
X-KDE-PluginKeyword=ktexteditor_exporter
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-Email=mail@milianw.de
X-KDE-PluginInfo-Name=ktexteditorexporter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=ktexteditorexporter
Name=Exporter
Name[ar]=المصدّر
Name[ast]=Exporter
Name[bg]=Изнасяне
Name[ca]=Exportador
Name[ca@valencia]=Exportador
Name[cs]=Exportér
Name[da]=Eksport
Name[de]=Exporter
Name[el]=Εξαγωγέας
Name[en_GB]=Exporter
Name[eo]=Eksportilo
Name[es]=Exportador
Name[et]=Eksport
Name[eu]=Esportatzailea
Name[fi]=Viejä
Name[fr]=Exportation
Name[ga]=Easpórtálaí
Name[gl]=Exportador
Name[hr]=Izvoznik
Name[hu]=Exportáló
Name[ia]=Exportator
Name[id]=Pengekspor
Name[is]=Útflytjari
Name[it]=Esportatore
Name[ja]=エクスポート
Name[kk]=Экспорттау
Name[km]=កម្មវិធីនាំចេញ
Name[ko]=내보내기
Name[lt]=Eksportas
Name[nb]=Exporter
Name[nds]=Export
Name[nl]=Exportprogramma
Name[nn]=Eksporter
Name[pa]=ਐਕਸਪੋਰਟਰ
Name[pl]=Eksportowanie
Name[pt]=Exportação
Name[pt_BR]=Exportação
Name[ro]=Exportator
Name[ru]=Экспорт
Name[sk]=Export
Name[sl]=Izvoznik
Name[sr]=Извозник
Name[sr@ijekavian]=Извозник
Name[sr@ijekavianlatin]=Izvoznik
Name[sr@latin]=Izvoznik
Name[sv]=Export
Name[tg]=Содирот
Name[th]=ตัวส่งออก
Name[tr]=Exporter
Name[uk]=Інструмент експортування
Name[x-test]=xxExporterxx
Name[zh_CN]=导出器
Name[zh_TW]=匯出器
Comment=Export highlighted document to HTML
Comment[ar]=صدر المستند المبرز إلى HTML
Comment[bg]=Изнасяне на избрания документ към HTML
Comment[ca]=Exporta el document ressaltat a HTML
Comment[ca@valencia]=Exporta el document ressaltat a HTML
Comment[da]=Eksportér fremhævet dokument til HTML
Comment[de]=Hervorgehobenes HTML-Dokument exportieren
Comment[el]=Εξαγωγή επιλεγμένου εγγράφου σε HTML
Comment[en_GB]=Export highlighted document to HTML
Comment[es]=Exportar documento resaltado a HTML
Comment[et]=Esiletõstetud dokumenti eksport HTML-i
Comment[eu]=Esportatu nabarmendutako dokumentua HTML-ra
Comment[fi]=Vie korostettu asiakirja HTML-muotoon
Comment[fr]=Exporte le document sélectionné en HTML
Comment[ga]=Easpórtáil an cháipéis aibhsithe mar HTML
Comment[gl]=Exporta o documento realzado a HTML
Comment[hr]=Izvezi osvijetljene dokumente u HTML
Comment[hu]=HTML formátumban exportálja a kijelölt dokumentumot
Comment[ia]=Il Exporta le documento evidentiate a HTML
Comment[id]=Ekspor dokumen tersorot ke HTML
Comment[is]=Flytur ljómaða skjalið í HTML
Comment[it]=Esporta in HTML il documento evidenziato
Comment[ja]=選択した文書を HTML にエクスポートします
Comment[kk]=Белгіленген құжатты HTML-ге экспорттау
Comment[km]=នាំចេញ​ឯកសារ​ដែលបានបន្លិច​ទៅ HTML
Comment[ko]=강조한 문서를 HTML로 내보내기
Comment[lt]=Eksportuoti pažymėtą dokumentą į HTML
Comment[nb]=Eksporterer fremhevede dokumenter til HTML
Comment[nds]=Syntaxmarkeert Dokment as HTML exporteren
Comment[nl]=Geaccentueerd document exporteren naar HTML
Comment[nn]=Eksporter det valde dokumentet til HTML
Comment[pa]=ਹਾਈਲਾਈਟ ਕੀਤਾ ਡੌਕੂਮੈਂਟ HTML ਐਕਸਪੋਰਟ ਕਰੋ
Comment[pl]=Eksportuje podświetlone dokumenty do HTML
Comment[pt]=Exportar o documento seleccionado para HTML
Comment[pt_BR]=Exportar o documento selecionado para HTML
Comment[ro]=Exportă documentul evidențiat în HTML
Comment[ru]=Экспорт документов в HTML
Comment[sk]=Exportuje zvýraznený dokument do HTML
Comment[sl]=Izvozi označen dokument v HTML
Comment[sr]=Извози документе с истицањем у ХТМЛ
Comment[sr@ijekavian]=Извози документе с истицањем у ХТМЛ
Comment[sr@ijekavianlatin]=Izvozi dokumente s isticanjem u HTML
Comment[sr@latin]=Izvozi dokumente s isticanjem u HTML
Comment[sv]=Exportera markerat dokument till HTML
Comment[tg]=Ҳуҷҷати интихобшударо ба HTML захира кунед
Comment[th]=ส่งออกเอกสารที่ถูกเน้นไปเป็นรูปแบบ HTML
Comment[tr]=Açık olan belgeyi HTML olarak dışa aktar
Comment[uk]=Експорт позначеного документа до HTML
Comment[x-test]=xxExport highlighted document to HTMLxx
Comment[zh_CN]=导出加亮显示的文档到 HTML
Comment[zh_TW]=將突顯的文件匯出為 HTML
