[Desktop Entry]
X-KDE-Library=ktexteditor_exporter
X-KDE-PluginKeyword=ktexteditor_exporter
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-Email=mail@milianw.de
X-KDE-PluginInfo-Name=ktexteditorexporter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=ktexteditorexporter
Name=Exporter
Comment=Export highlighted document to HTML
