[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefilebrowserplugin
X-Kate-Version=2.8
Name=File system browser
Comment=File system browser tool view
