[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefilebrowserplugin
X-Kate-Version=2.8
Name=File system browser
Name[de]=Dateisystem-Browser
Name[it]=Browser del filesystem
Name[x-test]=xxFile system browserxx
Comment=File system browser tool view
Comment[de]=Werkzeugansicht für Dateisystem-Browser
Comment[it]=Strumento di visualizzazione del filesystem
Comment[x-test]=xxFile system browser tool viewxx
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
