[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefilebrowserplugin
X-Kate-Version=2.8
Name=File system browser
Name[de]=Dateisystem-Browser
Name[el]=Περιηγητής συστήματος αρχείων
Name[es]=Navegador del sistema de archivos
Name[et]=Failisüsteemi sirvija
Name[fr]=Explorateur de système de fichiers
Name[it]=Browser del filesystem
Name[ja]=ファイルシステムブラウザ
Name[ne]=फाइल प्रणाली ब्राउजर
Name[nl]=Bestandssysteembrowser
Name[pt]=Navegador do sistema de ficheiros
Name[pt_BR]=Navegador do sistema de arquivos
Name[sr]=Прегледач фајлова
Name[sr@latin]=Pregledač fajlova
Name[sv]=Filsystembläddrare
Name[uk]=Навігатор файлової системи
Name[x-test]=xxFile system browserxx
Name[zh_CN]=文件系统浏览器
Name[zh_TW]=檔案系統瀏覽器
Comment=File system browser tool view
Comment[de]=Werkzeugansicht für Dateisystem-Browser
Comment[el]=Εργαλείο περιήγησης συστήματος αρχείων
Comment[es]=Herramienta de visualización del navegador del sistema de archivos
Comment[et]=Failisüsteemi sirvija tööriistavaade
Comment[fr]=Vue des outils pour l'explorateur de système de fichiers
Comment[it]=Strumento di visualizzazione del filesystem
Comment[ja]=ファイルシステムブラウザ・ツールビュー
Comment[ne]=फाइल प्रणाली ब्राउजर उपकरण दृश्य
Comment[nl]=Blader door het bestandssysteem
Comment[pt]=Janela de navegação no sistema de ficheiros
Comment[pt_BR]=Janela de navegação no sistema de arquivos
Comment[sr]=Приказ прегледача фајлова
Comment[sr@latin]=Prikaz pregledača fajlova
Comment[sv]=Verktygsvy för filsystembläddring
Comment[uk]=Перегляд засобу навігатора файлової системи
Comment[x-test]=xxFile system browser tool viewxx
Comment[zh_CN]=文件系统浏览器工具视图
Comment[zh_TW]=「檔案系統瀏覽器」工具檢視
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
