[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateprojectplugin
X-Kate-Version=2.9
X-Kate-Load=True
Name=Project Plugin
Comment=Project plugin for Kate
