<!DOCTYPE kpartgui>
<gui name="kateproject" library="libkateprojectplugin" version="3">
<!-- merge in main toolbar -->
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="open_project" group="switch_document"/>
</ToolBar>
</gui>
