[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katebacktracebrowserplugin
X-Kate-Version=3.0
Name=Backtrace Browser
Name[ca]=Navegador de traça inversa
Name[da]=Backtrace-browser
Name[de]=Backtrace-Browser
Name[el]=Περιήγηση Backtrace
Name[en_GB]=Backtrace Browser
Name[es]=Navegador de trazado inverso
Name[et]=Tagasijälituse brauser
Name[fr]=Explorateur de piles d'appels
Name[gl]=Navegador de trazados inversos
Name[it]=Browser di backtrace
Name[ja]=バックトレースブラウザ
Name[lv]=Atpakaļceļa pārlūks
Name[nds]=Fehlerspoorkieker
Name[nl]=Terugweg bladerprogramma
Name[nn]=Tilbakelogg-visar
Name[pt]=Navegação de Estoiros
Name[pt_BR]=Navegação de Estouros
Name[ru]=Просмотрщик протокола сбоя
Name[sr]=Прегледач контратрага
Name[sr@latin]=Pregledač kontratraga
Name[sv]=Bläddring i bakåtspårning
Name[tr]=Geri İz Tarayıcı
Name[uk]=Переглядач зворотного трасування
Name[x-test]=xxBacktrace Browserxx
Name[zh_CN]=回溯浏览器
Name[zh_TW]=回溯追蹤瀏覽器
Comment=Backtrace navigation tool view
Comment[ca]=Eina de vista del navegador de traça inversa
Comment[da]=Værktøjsvisning til gennemse backtrace
Comment[de]=Ansicht zur Navigation in Backtraces
Comment[el]=Προβολή εργαλείου περιήγησης Backtrace
Comment[en_GB]=Backtrace navigation tool view
Comment[es]=Vista de la herramienta del navegador de trazado inverso
Comment[et]=Tagasijälituse liikumistööriista vaade
Comment[fr]=Vue des outils de navigation de piles d'appels
Comment[gl]=Vista da ferramenta de navegación por trazados inversos
Comment[hu]=Eszköznézet visszakövetéshez
Comment[it]=Vista degli strumenti di navigazione di backtrace
Comment[ja]=バックトレースを調べるためのツールビュー
Comment[km]=ទិដ្ឋភាព​ឧបករណ៍​រុករក​ដាន​ថយក្រោយ
Comment[ko]=역추적 탐색기 도구 보기
Comment[lv]=Atpakaļceļa navigācijas rīka skats
Comment[nds]=Ansicht för't Dörkieken vun Fehlersporen
Comment[nl]=Backtrace navigatieweergave
Comment[nn]=Navigeringsverktøy for tilbakeloggar
Comment[pl]=Widok śladu wykonanych czynności
Comment[pt]=Janela da ferramenta de navegação dos estoiros
Comment[pt_BR]=Janela da ferramenta de navegação dos estouros
Comment[ru]=Инструмент навигации протоколов сбоя
Comment[sr]=Алатка приказа за кретање кроз контратраг
Comment[sr@latin]=Alatka prikaza za kretanje kroz kontratrag
Comment[sv]=Navigeringsverktyg med vy av bakåtspårning
Comment[tr]=Geri iz tarayıcı görünümü
Comment[uk]=Перегляд за допомогою навігатора зворотного трасування
Comment[x-test]=xxBacktrace navigation tool viewxx
Comment[zh_CN]=回溯导航工具视图
Comment[zh_TW]=回溯追蹤導覽工具檢視
author=Dominik Haumann, dhdev@gmx.de
