[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katebacktracebrowserplugin
X-Kate-Version=3.0
Name=Kate Backtrace Browser
Name[nds]=Kate-Fehlerspoorkieker
Name[pt]=Navegação de Estoiros do Kate
Name[pt_BR]=Navegação de Estoiros do Kate
Name[uk]=Переглядач зворотного трасування Kate
Comment=Backtrace navigation tool view
Comment[nds]=Ansicht för't Dörkieken vun Fehlersporen
Comment[pt]=Janela da ferramenta de navegação dos estoiros
Comment[pt_BR]=Janela da ferramenta de navegação dos estoiros
Comment[uk]=Перегляд за допомогою навігатора зворотного трасування
author=Dominik Haumann, dhdev@gmx.de
