[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katebacktracebrowserplugin
X-Kate-Version=3.0
Name=Kate Backtrace Browser
Name[de]=Backtrace-Browser für Kate
Name[el]=Περιήγηση Backtrace του Kate
Name[es]=Navegador de trazado inverso de Kate
Name[et]=Kate tagasijälituse brauser
Name[fr]=Explorateur de piles d'appels de Kate
Name[gl]=Navegador de trazados inversos para Kate
Name[km]=កម្មវិធី​រុករក​ដាន​ថយក្រោយ​របស់ Kate
Name[ko]=Kate 역추적 탐색기
Name[nds]=Kate-Fehlerspoorkieker
Name[pt]=Navegação de Estoiros do Kate
Name[pt_BR]=Navegação de Estoiros do Kate
Name[sv]=Bläddring i bakåtspårning med Kate
Name[tr]=Kate Geri İz Tarayıcı
Name[uk]=Переглядач зворотного трасування Kate
Name[x-test]=xxKate Backtrace Browserxx
Name[zh_CN]=Kate 回溯浏览器
Name[zh_TW]=Kate 回溯追蹤瀏覽器
Comment=Backtrace navigation tool view
Comment[de]=Ansicht zur Navigation in Backtraces
Comment[el]=Προβολή εργαλείου περιήγησης Backtrace
Comment[es]=Vista de la herramienta del navegador de trazado inverso
Comment[et]=Tagasijälituse liikumistööriista vaade
Comment[fr]=Vue des outils de navigation de piles d'appels
Comment[gl]=Vista da ferramenta de navegación por trazados inversos
Comment[km]=ទិដ្ឋភាព​ឧបករណ៍​រុករក​ដាន​ថយក្រោយ
Comment[ko]=역추적 탐색기 도구 보기
Comment[nds]=Ansicht för't Dörkieken vun Fehlersporen
Comment[pt]=Janela da ferramenta de navegação dos estoiros
Comment[pt_BR]=Janela da ferramenta de navegação dos estoiros
Comment[sv]=Navigeringsverktyg med vy av bakåtspårning
Comment[tr]=Geri iz tarayıcı görünümü
Comment[uk]=Перегляд за допомогою навігатора зворотного трасування
Comment[x-test]=xxBacktrace navigation tool viewxx
Comment[zh_CN]=回溯导航工具视图
Comment[zh_TW]=回溯追蹤導覽工具檢視
author=Dominik Haumann, dhdev@gmx.de
