[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katecloseexceptplugin
X-KDE-Version=4.0
X-Kate-Version=2.9
X-Kate-Load=True
Name=Close Except/Like
Name[ca]=Tancament excepte/com
Name[el]=Κλείσιμο Except/Like
Name[es]=Cerrar excepto/como
Name[fr]=Fermer les exclusions / inclusions
Name[lt]=Uždaryti Išskyrus/Kaip
Name[nl]=Behalve/Like sluiten
Name[pt]=Fechar Excluindo/Incluindo
Name[pt_BR]=Fechamento com exclusão/inclusão
Name[ru]=Закрыть кроме/только...
Name[sk]=Zatvoriť okrem/ako
Name[sr]=Затварање осим/према
Name[sr@ijekavian]=Затварање осим/према
Name[sr@ijekavianlatin]=Zatvaranje osim/prema
Name[sr@latin]=Zatvaranje osim/prema
Name[sv]=Stäng förutom/som
Name[tr]=Hariç/Benzerlerini Kapat
Name[uk]=Додаток закриття за критерієм
Name[x-test]=xxClose Except/Likexx
Comment=Close group of documents based on a common path or file extension
Comment[ca]=Tanca un grup de documents basats en un camí comú o en l'extensió del fitxer
Comment[de]=Eine Gruppe von Dokumenten auf der Basis eines gemeinsamen Pfades oder einer Dateierweiterung schließen
Comment[el]=Κλείσιμο ομάδας εγγράφων με βάση κοινή διαδρομή ή κατάληξη ονόματος αρχείου
Comment[es]=Cerrar un grupo de documentos según una ruta común o una extensión de archivo
Comment[fr]=Fermer un groupe de documents reposant sur un emplacement ou une extension de fichier communs
Comment[lt]=Uždaryti dokumentų grupę remianti bendruoju keliu ar failo plėtiniu
Comment[nl]=Groep documenten sluiten gebaseerd op een gemeenschappelijk pad of bestandsextensie
Comment[pt]=Fecha um grupo de documentos com base numa localização ou extensão de ficheiros comum
Comment[pt_BR]=Fecha um grupo de documentos com base em localização comum ou extensão do arquivo
Comment[ru]=Закрывает группу документов, в зависимости от пути или расширения
Comment[sk]=Zatvoriť skupinu dokumentov založenú na spoločnej ceste alebo koncovke súboru
Comment[sr]=Затворите групу докумената на основу заједничке путање или проширења фајла
Comment[sr@ijekavian]=Затворите групу докумената на основу заједничке путање или проширења фајла
Comment[sr@ijekavianlatin]=Zatvorite grupu dokumenata na osnovu zajedničke putanje ili proširenja fajla
Comment[sr@latin]=Zatvorite grupu dokumenata na osnovu zajedničke putanje ili proširenja fajla
Comment[sv]=Stäng grupp av dokument baserat på en gemensam sökväg eller filändelse
Comment[tr]=Ortak yol veya dosya uzantısına bağlı belge gruplarını kapat
Comment[uk]=Закриває групу документів, які зберігаються у одному каталозі або мають однаковий суфікс назви.
Comment[x-test]=xxClose group of documents based on a common path or file extensionxx
