[Desktop Entry]
Name=Kate Session Applet
Comment=Kate Session Launcher

Type=Service
Icon=kate
X-KDE-ServiceTypes=Plasma/DataEngine

X-KDE-Library=plasma_engine_clipboard


X-KDE-PluginInfo-Author=Joseph Wenninger
X-KDE-PluginInfo-Email=jowenn@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.katesessions
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
