[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katefiletreeplugin
Name=Documents
Comment=Displays the open documents in a file tree
