[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katefiletreeplugin
Name=Documents
Name[ca]=Documents
Name[ca@valencia]=Documents
Name[cs]=Dokumenty
Name[de]=Dokumente
Name[es]=Documentos
Name[gl]=Documentos
Name[nl]=Documenten
Name[nn]=Dokument
Name[pl]=Dokumenty
Name[pt]=Documentos
Name[pt_BR]=Documentos
Name[sk]=Dokumenty
Name[sv]=Dokument
Name[uk]=Документи
Name[x-test]=xxDocumentsxx
Comment=Displays the open documents in a file tree
Comment[ca]=Mostra els documents oberts en un arbre de fitxers
Comment[ca@valencia]=Mostra els documents oberts en un arbre de fitxers
Comment[cs]=Zobrazí otevřené dokumenty ve stromu souborů
Comment[de]=Zeigt geöffnete Dokumente als Dateibaum an
Comment[es]=Muestra los documentos abiertos en un árbol de archivos
Comment[gl]=Mostra os documentos abertos nunha árbore de ficheiros.
Comment[nl]=Toont de geopende documenten in een boomstructuur
Comment[nn]=Viser dei opne dokumenta i eit filtre
Comment[pl]=Wyświetla otwarte dokumenty w drzewie plików
Comment[pt]=Mostra os documentos abertos numa árvore de ficheiros
Comment[pt_BR]=Exibe os documentos abertos em uma árvore de arquivos
Comment[sk]=Ukázať otvorené dokumenty v strome
Comment[sv]=Visar öppna dokument i ett filträd
Comment[uk]=Показує відкриті документи у ієрархії файлів
Comment[x-test]=xxDisplays the open documents in a file treexx
