[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katereplicodeplugin

Name=Replicode
Name[ar]=ريپلكود
Name[ast]=Replicode
Name[ca]=Replicode
Name[ca@valencia]=Replicode
Name[cs]=Replicode
Name[da]=Replicode
Name[de]=Replicode
Name[el]=Replicode
Name[en_GB]=Replicode
Name[es]=Replicode
Name[et]=Replicode
Name[eu]=Replicode
Name[fa]=جایگزینی
Name[fi]=Replicode
Name[fr]=Replicode
Name[gl]=Replicode
Name[hu]=Replicode
Name[ia]=Replicode
Name[id]=Replicode
Name[it]=Replicode
Name[ko]=Replicode
Name[nb]=Replicode
Name[nds]=Replicode
Name[nl]=Replicode
Name[nn]=Replicode
Name[pl]=Replicode
Name[pt]=Replicode
Name[pt_BR]=Replicode
Name[ro]=Replicode
Name[ru]=Replicode
Name[sk]=Replikovať
Name[sl]=Replicode
Name[sr]=Репликод
Name[sr@ijekavian]=Репликод
Name[sr@ijekavianlatin]=Replicode
Name[sr@latin]=Replicode
Name[sv]=Replicode
Name[tr]=Replicode
Name[uk]=Replicode
Name[x-test]=xxReplicodexx
Name[zh_CN]=Replicode
Name[zh_TW]=Replicode
Comment=Replicode
Comment[ar]=ريپلكود Replicode
Comment[ast]=Replicode
Comment[ca]=Replicode
Comment[ca@valencia]=Replicode
Comment[cs]=Replicode
Comment[da]=Replicode
Comment[de]=Replicode
Comment[el]=Replicode
Comment[en_GB]=Replicode
Comment[es]=Replicode
Comment[et]=Replicode
Comment[eu]=Replicode
Comment[fa]=جایگزینی
Comment[fi]=Replicode
Comment[fr]=Replicode
Comment[gl]=Replicode
Comment[hu]=Replicode
Comment[ia]=Replicode
Comment[id]=Kode mundur
Comment[it]=Replicode
Comment[ko]=Replicode
Comment[nb]=Replicode
Comment[nds]=Replicode
Comment[nl]=Replicode
Comment[nn]=Replicode
Comment[pl]=Replicode
Comment[pt]=Replicode
Comment[pt_BR]=Replicode
Comment[ro]=Replicode
Comment[ru]=Replicode
Comment[sk]=Replikovať
Comment[sl]=Replicode
Comment[sr]=Репликод
Comment[sr@ijekavian]=Репликод
Comment[sr@ijekavianlatin]=Replicode
Comment[sr@latin]=Replicode
Comment[sv]=Replicode
Comment[tr]=Replicode
Comment[uk]=Replicode
Comment[x-test]=xxReplicodexx
Comment[zh_CN]=Replicode
Comment[zh_TW]=Replicode
GenericName=Replicode
GenericName[ar]=ريپلكود Replicode
GenericName[ast]=Replicode
GenericName[ca]=Replicode
GenericName[ca@valencia]=Replicode
GenericName[cs]=Replicode
GenericName[da]=Replicode
GenericName[de]=Replicode
GenericName[el]=Replicode
GenericName[en_GB]=Replicode
GenericName[es]=Replicode
GenericName[et]=Replicode
GenericName[eu]=Replicode
GenericName[fa]=جایگزینی
GenericName[fi]=Replicode
GenericName[fr]=Replicode
GenericName[gl]=Replicode
GenericName[hu]=Replicode
GenericName[ia]=Replicode
GenericName[id]=Replicode
GenericName[it]=Replicode
GenericName[ko]=Replicode
GenericName[nb]=Replicode
GenericName[nds]=Replicode
GenericName[nl]=Replicode
GenericName[nn]=Replicode
GenericName[pl]=Replicode
GenericName[pt]=Replicode
GenericName[pt_BR]=Replicode
GenericName[ro]=Replicode
GenericName[ru]=Replicode
GenericName[sk]=Replikovať
GenericName[sl]=Replicode
GenericName[sr]=Репликод
GenericName[sr@ijekavian]=Репликод
GenericName[sr@ijekavianlatin]=Replicode
GenericName[sr@latin]=Replicode
GenericName[sv]=Replicode
GenericName[tr]=Replicode
GenericName[uk]=Replicode
GenericName[x-test]=xxReplicodexx
GenericName[zh_CN]=Replicode
GenericName[zh_TW]=Replicode
