[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katereplicodeplugin

# More information about Replicode: https://github.com/sandsmark/replicode

Name=Replicode
Name[ar]=ريپلكود
Name[ast]=Replicode
Name[ca]=Replicode
Name[ca@valencia]=Replicode
Name[cs]=Replicode
Name[da]=Replicode
Name[de]=Replicode
Name[el]=Replicode
Name[en_GB]=Replicode
Name[es]=Replicode
Name[et]=Replicode
Name[eu]=Replicode
Name[fa]=جایگزینی
Name[fi]=Replicode
Name[fr]=Replicode
Name[gl]=Replicode
Name[hu]=Replicode
Name[ia]=Replicode
Name[id]=Replicode
Name[it]=Replicode
Name[ko]=Replicode
Name[nb]=Replicode
Name[nds]=Replicode
Name[nl]=Replicode
Name[nn]=Replicode
Name[pl]=Replicode
Name[pt]=Replicode
Name[pt_BR]=Replicode
Name[ro]=Replicode
Name[ru]=Replicode
Name[sk]=Replikovať
Name[sl]=Replicode
Name[sr]=Репликод
Name[sr@ijekavian]=Репликод
Name[sr@ijekavianlatin]=Replicode
Name[sr@latin]=Replicode
Name[sv]=Replicode
Name[tr]=Replicode
Name[uk]=Replicode
Name[zh_CN]=Replicode
Name[zh_TW]=Replicode
Comment=Replicode (constructivist AI language and runtime)
Comment[ca]=Replicode (llenguatge i executable constructivista d'IA)
Comment[ca@valencia]=Replicode (llenguatge i executable constructivista d'IA)
Comment[de]=Replicode, eine konstruktivistische KI-Programmiersprache und Laufzeitumgebung)
Comment[el]=Replicode (κονστρουκτιβιστική ΑΙ γλώσσα και εκτελέσιμη εφαρμογή)
Comment[en_GB]=Replicode (constructivist AI language and runtime)
Comment[es]=Replicode (lenguaje y biblioteca en tiempo de ejecución de IA constructivista)
Comment[et]=Replicode (konstruktivistliku AI keel ja käitus)
Comment[eu]=Replicode (AI lengoaia eta exekuzio garaiko liburutegi eraikitzailea)
Comment[fi]=Replicode (konstruktivistinen AI-kieli ja -ajonaikaisympäristö)
Comment[fr]=Replicode (langage et exécutif IA constructive)
Comment[gl]=Replicode (linguaxe de intelixencia artificial constructivista e motor)
Comment[ia]=Replicode (Linguage de AI constructivista e tempore de execution)
Comment[id]=Replicode (runtime dan bahasa AI konstruktivis)
Comment[it]=Replicode (linguaggio costruttivista per IA ed l'esecuzione)
Comment[ko]=Replicode(건설적 AI 언어 및 런타임)
Comment[nl]=Replicode (constructivistische AI taal en runtime)
Comment[nn]=Replicode (konstruktivistisk AI-språk og køyremiljø)
Comment[pl]=Replicode (konstruktywistyczny język AI i biblioteka uruchomieniowa)
Comment[pt]=Replicode (linguagem e ambiente de execução de linguagens de IA construtivas)
Comment[pt_BR]=Replicode (ambiente de execução e linguagens de IA construtivas)
Comment[ru]=Replicode (конструктивистский язык программирования ИИ и исполняемые модули)
Comment[sk]=Replicode (konštruktívny jazyk AI a runtime)
Comment[sl]=Razmnoži kodo (konstrukcijski jezik umetne inteligence in podpora ob izvajanju)
Comment[sv]=Replicode (konstruktivistiskt AI-språk och körprogram)
Comment[tr]=Replicode (yapılandırmacı YZ dili ve çalıştırma zamanı)
Comment[uk]=Replicode (конструктивістська мова та середовище виконання ШІ)
Comment[zh_CN]=Replicode (构建主义的 AI 语言和运行时)
Comment[zh_TW]=Replicode（建構型 AI 語言和其執行庫）
GenericName=Replicode
GenericName[ar]=ريپلكود Replicode
GenericName[ast]=Replicode
GenericName[ca]=Replicode
GenericName[ca@valencia]=Replicode
GenericName[cs]=Replicode
GenericName[da]=Replicode
GenericName[de]=Replicode
GenericName[el]=Replicode
GenericName[en_GB]=Replicode
GenericName[es]=Replicode
GenericName[et]=Replicode
GenericName[eu]=Replicode
GenericName[fa]=جایگزینی
GenericName[fi]=Replicode
GenericName[fr]=Replicode
GenericName[gl]=Replicode
GenericName[hu]=Replicode
GenericName[ia]=Replicode
GenericName[id]=Replicode
GenericName[it]=Replicode
GenericName[ko]=Replicode
GenericName[nb]=Replicode
GenericName[nds]=Replicode
GenericName[nl]=Replicode
GenericName[nn]=Replicode
GenericName[pl]=Replicode
GenericName[pt]=Replicode
GenericName[pt_BR]=Replicode
GenericName[ro]=Replicode
GenericName[ru]=Replicode
GenericName[sk]=Replikovať
GenericName[sl]=Replicode
GenericName[sr]=Репликод
GenericName[sr@ijekavian]=Репликод
GenericName[sr@ijekavianlatin]=Replicode
GenericName[sr@latin]=Replicode
GenericName[sv]=Replicode
GenericName[tr]=Replicode
GenericName[uk]=Replicode
GenericName[zh_CN]=Replicode
GenericName[zh_TW]=Replicode
