[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=pateplugin
X-Kate-Version=2.8
Name=Python Plugins
Name[cs]=Moduly Pythonu
Name[he]=תוספי Python
Name[hu]=Python bővítmények
Name[nb]=Python programtillegg
Name[nl]=Python-plug-ins
Name[pt]='Plugins' de Python
Name[pt_BR]=Plugins de Python
Name[sk]=Pluginy Python
Name[sv]=Python-insticksprogram
Name[uk]=Додатки Python
Name[x-test]=xxPython Pluginsxx
Comment=Pâté host for Python plugins
Comment[he]=מארח Pâté עבור תוספי Python
Comment[nb]=Pâté-vert for Python programtillegg
Comment[nl]=Pâté-host voor Python-plug-ins
Comment[pt]=Máquina do Pâté para os 'plugins' de Python
Comment[pt_BR]=Máquina do Pâté para os plugins de Python
Comment[sk]=Pâté host pre pluginy Python
Comment[sv]=Pâté värddator för Python-insticksprogram
Comment[uk]=Вузол Pâté для додатків Python
Comment[x-test]=xxPâté host for Python pluginsxx
X-KDE-PluginInfo-Author=Paul Athanasios Giannaros
X-KDE-PluginInfo-Email=paul@giannaros.org
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-License=GPL
