[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=pateplugin
X-Kate-Version=2.8
Name=Python Plugins
Name[ca]=Connectors del Python
Name[da]=Python-plugins
Name[de]=Python-Module
Name[el]=Πρόσθετα του Python
Name[et]=Pythoni pluginad
Name[hu]=Python bővítmények
Name[ia]=Plugins de Python
Name[km]=កម្មវិធី​ជំនួយ Python
Name[nl]=Python-plug-ins
Name[pl]=Wtyczki Pythona
Name[pt]='Plugins' de Python
Name[pt_BR]=Plugins do Python
Name[sl]=Vstavki za Python
Name[sr]=Питонски прикључци
Name[sr@ijekavian]=Питонски прикључци
Name[sr@ijekavianlatin]=Python priključci
Name[sr@latin]=Python priključci
Name[sv]=Python-insticksprogram
Name[tr]=Python eklentileri
Name[uk]=Додатки Python
Name[x-test]=xxPython Pluginsxx
Name[zh_CN]=Python 插件
Name[zh_TW]=Kate 的 Python 外掛程式
Comment=Pâté host for Python plugins
Comment[ca]=Connectors del Python
Comment[da]=Python-plugins
Comment[de]=Python-Module
Comment[el]=Πρόσθετα του Python
Comment[et]=Pythoni pluginad
Comment[hu]=Python bővítmények
Comment[ia]=Plugins de Python
Comment[km]=កម្មវិធី​ជំនួយ Python
Comment[nl]=Python-plug-ins
Comment[pl]=Wtyczki Pythona
Comment[pt]='Plugins' de Python
Comment[pt_BR]=Plugins do Python
Comment[sl]=Vstavki za Python
Comment[sr]=Питонски прикључци
Comment[sr@ijekavian]=Питонски прикључци
Comment[sr@ijekavianlatin]=Python priključci
Comment[sr@latin]=Python priključci
Comment[sv]=Python-insticksprogram
Comment[tr]=Python eklentileri
Comment[uk]=Додатки Python
Comment[x-test]=xxPâté host for Python pluginsxx
Comment[zh_CN]=Python 插件
Comment[zh_TW]=Kate 的 Python 外掛程式
X-KDE-PluginInfo-Author=Paul Athanasios Giannaros
X-KDE-PluginInfo-Email=paul@giannaros.org
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-License=GPL
