[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=pateplugin
X-Kate-Version=2.8
Name=Python Plugins
Name[cs]=Moduly Pythonu
Name[da]=Python-plugins
Name[de]=Python-Module
Name[el]=Python πρόσθετα
Name[es]=Complementos de Python
Name[he]=תוספי Python
Name[hu]=Python bővítmények
Name[ia]=Plugins de Python
Name[nb]=Python programtillegg
Name[nl]=Python-plug-ins
Name[pt]='Plugins' de Python
Name[pt_BR]=Plugins de Python
Name[sk]=Pluginy Python
Name[sr]=Питонски прикључци
Name[sr@ijekavian]=Питонски прикључци
Name[sr@ijekavianlatin]=Python priključci
Name[sr@latin]=Python priključci
Name[sv]=Python-insticksprogram
Name[uk]=Додатки Python
Name[x-test]=xxPython Pluginsxx
Name[zh_CN]=Python 插件
Name[zh_TW]=Python 外掛程式
Comment=Pâté host for Python plugins
Comment[da]=Pâté-vært for Python-plugins
Comment[el]=Υπολογιστής Pâté για Python πρόσθετα
Comment[he]=מארח Pâté עבור תוספי Python
Comment[hu]=Pâté gép a Python bővítményekhez
Comment[ia]=Hospite de Pâté pro plugins de Python
Comment[nb]=Pâté-vert for Python programtillegg
Comment[nl]=Pâté-host voor Python-plug-ins
Comment[pt]=Máquina do Pâté para os 'plugins' de Python
Comment[pt_BR]=Máquina do Pâté para os plugins de Python
Comment[sk]=Pâté host pre pluginy Python
Comment[sr]=Паштета као домаћин питонских прикључака
Comment[sr@ijekavian]=Паштета као домаћин питонских прикључака
Comment[sr@ijekavianlatin]=Pašteta kao domaćin Python priključaka
Comment[sr@latin]=Pašteta kao domaćin Python priključaka
Comment[sv]=Pâté värddator för Python-insticksprogram
Comment[uk]=Вузол Pâté для додатків Python
Comment[x-test]=xxPâté host for Python pluginsxx
Comment[zh_TW]=Python 外掛程式的 Pâté host
X-KDE-PluginInfo-Author=Paul Athanasios Giannaros
X-KDE-PluginInfo-Email=paul@giannaros.org
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-License=GPL
