[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-PluginInfo-Author=Joseph Wenninger
X-KDE-PluginInfo-Email=jowenn@kde.org
X-KDE-PluginInfo-Name=ktexteditorinsanehtml_le
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.kate-editor.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=ktexteditor_insanehtml_le
X-KDE-Version=4.0
Name=Insane (not ZEN) HTML coding (light edition)
Name[bs]=Luđačko (ne ZEN) HTML kodiranje (lako izdanje)
Name[ca]=Codi (edició lleugera) HTML insà (no ZEN)
Name[ca@valencia]=Codi (edició lleugera) HTML insà (no ZEN)
Name[da]=Insane (ikke ZEN) HTML-kodning (light-udgave)
Name[de]=Irrsinnige HTML-Kodierung (nicht ZEN, Basisversion)
Name[en_GB]=Insane (not ZEN) HTML coding (light edition)
Name[et]=Hullumeelne (mitte ZEN) HTML kodeering (kerge versioon)
Name[fi]=Hullu (ei ZEN) HTML-koodaus (perusversio)
Name[gl]=Código HTML Insane (non ZEN) (edición light)
Name[ia]=Codifica Insane (non ZEN) de HTML (edition legier)
Name[kk]=Жынды (дзен емес) HTML коды (жеңілдеткен нұсқасы)
Name[km]=មិន​​អាច​សម្រេច​បាន​ (គ្មាន ZEN) ការ​សរសេរ​កូដ​​ HTML (កំណែ​មិន​ពេញលេញ)
Name[ko]=Insane (ZEN 아님) HTML 코딩 (가벼운 버전)
Name[lt]=Nesveikas (ne ZEN) HTML kodo rašymas (paprasta versija)
Name[nb]=Spinnvill (ikke ZEN) HTML-koding (lett utgave)
Name[nds]="Insane"-HTML-Koderen (nich "ZEN") (Eenfach-Verschoon)
Name[nl]=Insane (niet ZEN) HTML-codering (lichte editie)
Name[pl]=Kodowanie HTML insane (nie ZEN) (lekkie wydanie)
Name[pt]=Codificação louca (não ZEN) de HTML (edição leve)
Name[pt_BR]=Codificação de HTML louca (não ZEN) HTML (edição leve)
Name[ro]=Programare HTML Insane (nu ZEN) (versiunea simplă)
Name[ru]=Insane-набор HTML (простая реализация)
Name[sr]=Лудо кодирање ХТМЛ‑а (лагано издање)
Name[sr@ijekavian]=Лудо кодирање ХТМЛ‑а (лагано издање)
Name[sr@ijekavianlatin]=Ludo kodiranje HTML‑a (lagano izdanje)
Name[sr@latin]=Ludo kodiranje HTML‑a (lagano izdanje)
Name[sv]=Insane (inte ZEN) HTML-kodning (enkel version)
Name[tg]=Рамзгузории HTML (нашри хурд) Insane (ғайри ZEN) 
Name[tr]=Insane (ZEN olmayan) HTML kodlama (hafif sürüm)
Name[ug]=Insane (ZEN بولمىغان) HTML كودلاش (light نەشرى)
Name[uk]=Божевільне (не дзен) HTML-програмування (спрощена версія)
Name[wa]=Côdaedje HTML Insane (nén ZEN, ledjire modêye)
Name[x-test]=xxInsane (not ZEN) HTML coding (light edition)xx
Name[zh_TW]=Insane（非 ZEN）HTML 編碼（輕量版）
Comment=A plugin, which does zen-coding like selector completion
Comment[bs]=Dodatak koji obavlja zen-kodiranje kao kompletiranje izbornika
Comment[ca]=Un connector que genera codi zen, com un selector de compleció 
Comment[ca@valencia]=Un connector que genera codi zen, com un selector de compleció 
Comment[da]=Et plugin som udfører zen-coding-lignende udvælgerfuldførelse
Comment[de]=Ein Modul zur ZEN-ähnlichen Auswahlvervollständigung
Comment[en_GB]=A plugin, which does zen-coding like selector completion
Comment[et]=Plugin, mis kasutab zen-kodeerimise laadset selektori lõpetamist
Comment[fi]=zen-koodaustyyppistä valitsintäydennystä tekevä liitännäinen
Comment[gl]=Un engadido que fai selección de completado de código estilo zen
Comment[ia]=Un plugin, que il face completion de selector al modo de codifica zen.
Comment[kk]=Толықтыруды таңдау секілді дзен-кодтауын іске асыратын плагині
Comment[km]=កម្មវិធី​ជំនួយ ​ណាមួយ​ដែល​មិន​សរសេរ​កូដ zen ដូច​ជា​ការ​បញ្ចប់​កម្មវិធី​ជ្រើស​
Comment[ko]=zen-coding과 비슷한 선택자 비교 플러그인
Comment[lt]=Priedas, kuris vykdo zen tipo kodo užbaigimą iš pasirinkimo
Comment[nb]=Et programtillegg som gjør velgerfullføring som i zen-coding
Comment[nds]=En Moduul för ZEN-liek Koderen, a.B. Köörkompletteren
Comment[nl]=Een plugin, die zen-codering doet zoals keuze-voltooiing
Comment[pl]=Wtyczka, która dokonuje kodowania zen tak jak uzupełnianie selektora
Comment[pt]=Um 'plugin' que faz uma completação de selectores como na codificação Zen
Comment[pt_BR]=Um plug-in que efetua uma codificação zen, como a completação de seletores
Comment[ro]=Un modul, care face completare de selector CSS ca și zen-coding
Comment[ru]=Расширение для zen-подобного набора тегов HTML
Comment[sr]=Прикључак за проширивање налик на зен‑кодирање
Comment[sr@ijekavian]=Прикључак за проширивање налик на зен‑кодирање
Comment[sr@ijekavianlatin]=Priključak za proširivanje nalik na zen‑kodiranje
Comment[sr@latin]=Priključak za proširivanje nalik na zen‑kodiranje
Comment[sv]=Ett insticksprogram som utför zen-kodning, såsom komplettering av selektorer
Comment[tr]=zen kodlama benzeri seçim tamamlama sağlayan bir eklenti
Comment[uk]=Додаток дзен-програмування, подібний до заповнення варіантів вибору
Comment[wa]=On tchôke-divins ki fwait do completaedje di tchoes al môde do côdaedje zen
Comment[x-test]=xxA plugin, which does zen-coding like selector completionxx
Comment[zh_TW]=一個執行類似 zen-coding 選擇器補完的外掛程式
