[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-PluginInfo-Author=Joseph Wenninger
X-KDE-PluginInfo-Email=jowenn@kde.org
X-KDE-PluginInfo-Name=ktexteditorinsanehtml_le
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.kate-editor.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=ktexteditor_insanehtml_le
X-KDE-Version=4.0
Name=Insane (not ZEN) HTML coding (light edition)
Name[bg]=Insane (не ZEN) HTML-кодиране (олекотена версия)
Name[ca]=Codi (edició lleugera) HTML insà (no ZEN)
Name[ca@valencia]=Codi (edició lleugera) HTML insà (no ZEN)
Name[da]=Insane (ikke ZEN) HTML-kodning (light-udgave)
Name[de]=Irrsinnige HTML-Kodierung (nicht ZEN, Basisversion)
Name[el]=Insane (όχι ZEN) κωδικοποίηση HTML (ελαφριά έκδοση)
Name[en_GB]=Insane (not ZEN) HTML coding (light edition)
Name[es]=Codificación HTML insensata (no zen) (edición ligera)
Name[et]=Hullumeelne (mitte ZEN) HTML kodeering (kerge versioon)
Name[gl]=Código HTML Insane (non ZEN) (edición light)
Name[ia]=Codifica Insane (non ZEN) de HTML (edition legier)
Name[id]=Pengodean HTML (edisi ringan) Insane (bukan ZEN)
Name[is]=Insane (ekki ZEN) HTML kóðun (léttútgáfa)
Name[ja]= 非正常 (ZENではありません) HTML コーディング (ライトエディション)
Name[kk]=Жынды (дзен емес) HTML коды (жеңілдеткен нұсқасы)
Name[km]=Insane (មិនមែន ZEN) HTML coding (light edition)
Name[nb]=Spinnvill (ikke ZEN) HTML-koding (lett utgave)
Name[nds]="Insane"-HTML-Koderen (nich "ZEN") (Eenfach-Verschoon)
Name[nl]=Insane (niet ZEN) HTML-codering (lichte editie)
Name[pt]=Codificação de HTML louca (não ZEN) HTML (edição leve)
Name[pt_BR]=Codificação de HTML louca (não ZEN) HTML (edição leve)
Name[sr]=Лудо кодирање ХТМЛ‑а (лагано издање)
Name[sr@ijekavian]=Лудо кодирање ХТМЛ‑а (лагано издање)
Name[sr@ijekavianlatin]=Ludo kodiranje HTML‑a (lagano izdanje)
Name[sr@latin]=Ludo kodiranje HTML‑a (lagano izdanje)
Name[sv]=Insane (inte ZEN) HTML-kodning (enkel version)
Name[tr]=Insane (ZEN olmayan) HTML kodlama (hafif sürüm)
Name[uk]=Божевільне (не дзен) HTML-програмування (спрощена версія)
Name[x-test]=xxInsane (not ZEN) HTML coding (light edition)xx
Name[zh_CN]=疯狂 HTML 代码(轻量级)
Name[zh_TW]=Insane（非 ZEN）HTML 編碼（輕量版）
Comment=A plugin, which does zen-coding like selector completion
Comment[bg]=Приставка, която осигурява подобно на zen автоматично завършване
Comment[ca]=Un connector que genera codi zen, com un selector de compleció 
Comment[ca@valencia]=Un connector que genera codi zen, com un selector de compleció 
Comment[da]=Et plugin som udfører zen-coding-lignende udvælgerfuldførelse
Comment[de]=Ein Modul zur ZEN-ähnlichen Auswahlvervollständigung.
Comment[el]=Ένα πρόσθετο, το οποίο δημιουργεί κωδικοποίηση τύπου zen όπως είναι η συμπλήρωση επιλογέα
Comment[en_GB]=A plugin, which does zen-coding like selector completion
Comment[es]=Un complemento que realiza codificación zen, como el selector de terminación
Comment[et]=Plugin, mis kasutab zen-kodeerimise laadset selektori lõpetamist
Comment[gl]=Unha extensión que fai selección de completado de código estilo zen
Comment[ia]=Un plugin, que il face completion de selector al modo de codifica zen.
Comment[id]=Plugin, yang melakukan penyelesaian pemilih seperti pengodean zen
Comment[is]=Íforrit sem framkvæmir zen-kóðun á borð við valklárun
Comment[ja]=zen-コーディングに似たセレクタ補完を行うプラグイン
Comment[kk]=Толықтыруды таңдау секілді дзен-кодтауын іске асыратын плагині
Comment[km]=កម្មវិធី​ជំនួយ ដែល​ zen-coding ដូច​ជា​កា​របំពេញ​កម្មវិធី​ជ្រើស
Comment[nb]=Et programtillegg som gjør velgerfullføring som i zen-coding
Comment[nds]=En Moduul för ZEN-liek Koderen, a.B. Köörkompletteren
Comment[nl]=Een plugin, die zen-codering doet zoals keuze-voltooiing
Comment[pt]=Um 'plugin' que efectua uma codificação 'zen, como a completação de selectores
Comment[pt_BR]=Um plug-in que efetua uma codificação zen, como a completação de seletores
Comment[sr]=Прикључак за проширивање налик на зен‑кодирање
Comment[sr@ijekavian]=Прикључак за проширивање налик на зен‑кодирање
Comment[sr@ijekavianlatin]=Priključak za proširivanje nalik na zen‑kodiranje
Comment[sr@latin]=Priključak za proširivanje nalik na zen‑kodiranje
Comment[sv]=Ett insticksprogram som utför zen-kodning, såsom komplettering av selektorer
Comment[tr]=zen kodlama benzeri seçim tamamlama sağlayan bir eklenti
Comment[uk]=Додаток дзен-програмування подібний до заповнення варіантів вибору
Comment[x-test]=xxA plugin, which does zen-coding like selector completionxx
Comment[zh_CN]=一个类似 zen-coding 工具的选择器补全插件
Comment[zh_TW]=一個執行類似 zen-coding 選擇器補完的外掛程式
