[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateinsertcommandplugin
X-Kate-Version=2.9
Name=Kate InsertCommand
Name[x-test]=xxKate InsertCommandxx
Comment=Insert shell command output into a document
Comment[x-test]=xxInsert shell command output into a documentxx
