[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kateinsertcommandplugin
X-Kate-Version=2.9
Name=Kate InsertCommand
Name[ca]=Kate - Inserció d'ordres
Name[de]=Kate-Befehlseingabe
Name[el]=Εντολή εισαγωγής Kate
Name[es]=Insertar orden de Kate
Name[et]=Kate käsulisaja
Name[fr]=InsertCommand pour Kate
Name[gl]=Inserción de comandos en Kate
Name[hu]=Kate parancsbeszúró
Name[it]=Inserimento dei comandi di Kate
Name[ja]=Kate コマンド挿入
Name[ko]=Kate 삽입 명령
Name[lt]=Kate įdėti komandą
Name[nb]=Kate sett-inn kommando
Name[nds]=Kate-Befehlutgaav
Name[ne]=केट घुसाउने आदेश
Name[nl]=Commando invoegen (Kate)
Name[pl]=Kate: wstaw polecenie
Name[pt]=Kate - Inserção de Comandos
Name[pt_BR]=Kate - Inserção de Comandos
Name[ru]=Вставка вывода команды в Kate
Name[sr]=Кејтино уметање из наредбе
Name[sr@latin]=Kateino umetanje iz naredbe
Name[sv]=Kate infoga kommando
Name[tr]=Kate Komut Ekle
Name[uk]=Команда вставляння Kate
Name[x-test]=xxKate InsertCommandxx
Name[zh_CN]=Kate 命令插入
Name[zh_TW]=Kate 插入指令
Comment=Insert shell command output into a document
Comment[ca]=Insereix la sortida d'ordres del shell en un document
Comment[da]=Indsæt output fra skalkommando i et dokument
Comment[de]=Fügt die Ausgabe eines Shell-Befehls in das Dokument ein
Comment[el]=Εισαγωγή εξόδου εντολής κελύφους σε ένα έγγραφο
Comment[es]=Insertar la salida de una orden de la consola en un documento
Comment[et]=Shellikäsu väljundi lisamine dokumenti
Comment[fr]=Insère la sortie d'une commande shell dans un document
Comment[ga]=Ionsáigh aschur ó ordú blaoisce isteach i gcáipéis
Comment[gl]=Insere a saída de comandos da shell nun documento
Comment[hu]=Konzolos parancs kimenetének beszúrása
Comment[it]=Inserisci l'uscita di un comando della shell in un documento
Comment[ja]=文書にシェルコマンドの出力を挿入します
Comment[km]=បញ្ចូល​ទិន្នផល​ពាក្យ​បញ្ជា​សែល​ទៅ​ក្នុង​ឯកសារ
Comment[ko]=문서에 셸 명령의 출력 삽입
Comment[lt]=Įdėti apvalkalo komandos išvestį į dokumentą
Comment[lv]=Ievieto čaulas komandas izvadu dokumentā
Comment[nb]=Sett inn utdata fra skall-kommando i et dokument
Comment[nds]=De Utgaav vun en Konsoolbefehl na en Dokment infögen
Comment[ne]=कागजातमा शेल आदेश निर्गत घुसाउनुहोस्
Comment[nl]=Voeg de uitvoer van een commando in een document
Comment[pl]=Wstaw wynik polecenia terminala do dokumentu
Comment[pt]=Insere o resultado de um comando da consola num documento
Comment[pt_BR]=Insere o resultado de um comando da console em um documento
Comment[ru]=Вставить вывод команды в документ
Comment[sr]=Уметните излаз наредбе шкољке у документ
Comment[sr@latin]=Umetnite izlaz naredbe školjke u dokument
Comment[sv]=Infoga utmatning från skalkommando i ett dokument
Comment[tr]=Bir kabuk komutunun çıktısını bir belgeye ekler
Comment[uk]=Вставити в документ вивід команди оболонки
Comment[x-test]=xxInsert shell command output into a documentxx
Comment[zh_CN]=将 shell 命令的输出插入到文档中
Comment[zh_TW]=將指令的輸出插入文件中
