[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=tabswitcherplugin
Name=Document switcher
Name[ca]=Commutador de documents
Name[cs]=Přepínač dokumentů 
Name[hu]=Dokumentumváltó
Name[nl]=Documentwisselaar
Name[pl]=Przełącznik dokumentów
Name[pt]=Selector de documentos
Name[sk]=Prepínač dokumentov
Name[sv]=Dokumentbyte
Name[uk]=Перемикач між документами
Name[x-test]=xxDocument switcherxx
Name[zh_TW]=文件切換器
Comment=Quick document switching with ALT+Tab behavior
Comment[ca]=Canvia ràpidament de document amb el comportament de ALT+Tab
Comment[cs]=Rychlé přepínání dokumentů s chováním jako ALT+Tab
Comment[hu]=Gyors dokumentumváltás az ALT+Tab működésével
Comment[nl]=Snel van document wisselen met ALT+Tab
Comment[pl]=Szybkie przełączanie dokumentów przy użyciu klawiszy Alt+Tab
Comment[pt]=Mudança rápida de documentos com o comportamento do Alt+Tab
Comment[sk]=Rýchle prepínanie dokumentov so správaním Alt+Tab
Comment[sv]=Snabbt dokumentbyte med Alt+Tabulator beteende
Comment[uk]=Поведінка швидкого перемикача між документами за Alt+Tab
Comment[x-test]=xxQuick document switching with ALT+Tab behaviorxx
Comment[zh_TW]=用 Alt+Tab 快速切換文件的行為
