[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=tabswitcherplugin
Name=Document Switcher
Name[ca]=Commutador de documents
Name[ca@valencia]=Commutador de documents
Name[de]=Dokumentumschalter
Name[nl]=Documentenwisselaar
Name[pt]=Selector de Documentos
Name[sk]=Prepínač dokumentov
Name[sv]=Dokumentbyte
Name[uk]=Перемикач між документами
Name[x-test]=xxDocument Switcherxx
Comment=Quick document switching with Alt+Tab behavior
Comment[ca]=Canvia ràpidament de document amb el comportament d'Alt+Tab
Comment[ca@valencia]=Canvia ràpidament de document amb el comportament d'Alt+Tab
Comment[de]=Schnellwechsler für Dokumente mit Alt+Tabulator
Comment[nl]=Snel van document wisselen met Alt+Tab
Comment[pt]=Mudança rápida de documentos com o comportamento do Alt+Tab
Comment[sk]=Rýchle prepínanie dokumentov so správaním Alt+Tab
Comment[sv]=Snabbt dokumentbyte med Alt+Tabulator beteende
Comment[uk]=Поведінка швидкого перемикача між документами за Alt+Tab
Comment[x-test]=xxQuick document switching with Alt+Tab behaviorxx
