[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_utils
Name=Python Utilities
Name[ast]=Utilidaes Python
Name[bs]=Python alati
Name[ca]=Utilitats de Python
Name[ca@valencia]=Utilitats de Python
Name[cs]=Nástroje Pythonu
Name[da]=Python-værktøjer
Name[de]=Python-Werkzeuge
Name[el]=Εργαλεία Python
Name[en_GB]=Python Utilities
Name[es]=Utilidades de Python
Name[et]=Pythoni tööriistad
Name[fi]=Python-työkalut
Name[fr]=Utilitaires Python
Name[gl]=Utilidades de Python
Name[he]=שירותיות Python
Name[hu]=Python segédprogramok
Name[ia]=Utilitates de Python
Name[it]=Programmi per Python
Name[kk]=Python утилиталары
Name[ko]=파이썬 유틸리티
Name[lt]=Python pagalbininkai
Name[mr]=पायथोन युटिलिटीज
Name[nb]=Python-verktøy
Name[nds]=Python-Warktüüch
Name[nl]=Hulpprogramma's in Python
Name[pl]=Narzędzia Python
Name[pt]=Utilitários de Python
Name[pt_BR]=Utilitários de Python
Name[ro]=Utilitare Python
Name[ru]=Утилиты Python
Name[sk]=Nástroje Python
Name[sl]=Potrebščine za Python
Name[sr]=Питонске алатке
Name[sr@ijekavian]=Питонске алатке
Name[sr@ijekavianlatin]=Python alatke
Name[sr@latin]=Python alatke
Name[sv]=Python-verktyg
Name[tr]=Python Yardımcı Programları
Name[uk]=Інструменти Python
Name[x-test]=xxPython Utilitiesxx
Name[zh_CN]=Python 工具
Name[zh_TW]=Python 工具
Comment=Parse Checker, PEP8 Checker, Pyflakes Checker, Snippets
Comment[bs]=Parse provjera, PEP8 provjera, Pyflakes provjera, Isječci
Comment[ca]=Verificador de l'anàlisi, verificador de PEP8, verificador de Pyflakes, retalls
Comment[ca@valencia]=Verificador de l'anàlisi, verificador de PEP8, verificador de Pyflakes, retalls
Comment[da]=Fortolkningstjekker, PEP8-tjekker, Pyflakes-tjekker, Tekststumper
Comment[de]=Python-Werkzeuge: Parse-Überprüfung, PEP8-Überprüfung, Pyflakes-Überprüfung, Textbausteine
Comment[el]=Ελεγκτής ανάλυσης, ελεγκτής PEP8, ελεγκτής Pyflakes, αποσπάσματα κώδικα
Comment[en_GB]=Parse Checker, PEP8 Checker, Pyflakes Checker, Snippets
Comment[es]=Comprobación de análisis sintáctico, comprobador de PEP8, comprobador de Pyflakes, fragmentos de código
Comment[et]=Parsimiskontroll, PEP8 kontroll, Pyflakesi kontroll, koodijupid
Comment[fi]=Jäsennystarkistin, PEP8-tarkistin, Pyflakes-tarkistin, koodikatkelmia
Comment[fr]=Vérificateur d'analyse, vérificateur PEP8, vérificateur Pyflakes, fragments
Comment[gl]=Análise sintáctica, comprobacións PEP8, Pyflakes e Snippets
Comment[hu]=Feldolgozás ellenőrző, PEP8 ellenőrző, Pyflakes ellenőrző, kódtöredékek
Comment[ia]=Verificator syntactic, verificator PEP8, verificator Pyflakes, fragmentos
Comment[it]=Controllo di analisi, controllo PEP8, controllo Pyflakes, frammenti
Comment[kk]=Талдауды тексеру, PEP8 тексеру, Pyflakes тексеру, Үзінділер
Comment[ko]=파싱 확인, PEP8 확인, Pyflakes 확인, 스니펫
Comment[nb]=Tolker-sjekker, PEP8-sjekker, Pyflakes-sjekker, Tekstbiter
Comment[nds]=Inleesprööv, PEP8-Prööv, Pyflakes-Prööv, Snippels
Comment[nl]=Parse Checker, PEP8 Checker, Pyflakes Checker, Fragmenten
Comment[pl]=Sprawdzanie przetwarzania, Sprawdzanie PEP8, Sprawdzanie Pyflakes, Wstawki
Comment[pt]=Verificação do Processamento, PEP8, Pyflakes, Excertos
Comment[pt_BR]=Verificação de análise, PEP8, Pyflakes e Trechos
Comment[ru]=Синтаксическая проверка, проверки PEP8 и Pyflakes, фрагменты кода
Comment[sk]=Parse Checker, PEP8 Checker, Pyflakes Checker, úryvky
Comment[sl]=Preverjalniki Parse, PEP8 in Pyflakes, izrezki
Comment[sr]=Оверивач рашчлањивања, оверивач ПЕП‑а 8, оверивач Пи‑флејкса, исечци
Comment[sr@ijekavian]=Оверивач рашчлањивања, оверивач ПЕП‑а 8, оверивач Пи‑флејкса, исечци
Comment[sr@ijekavianlatin]=Overivač raščlanjivanja, overivač PEP‑a 8, overivač PyFlakesa, isečci
Comment[sr@latin]=Overivač raščlanjivanja, overivač PEP‑a 8, overivač PyFlakesa, isečci
Comment[sv]=Tolkningskontroll, PEP8-kontroll, Pyflakes-kontroll, snuttar
Comment[tr]=Ayıklama Denetleyici, PEP8 Denetleyici, Pyflakes Denetleyici, Kod Parçacıkları
Comment[uk]=Перевірка обробки, перевірка PEP8, перевірка Pyflakes, фрагменти
Comment[x-test]=xxParse Checker, PEP8 Checker, Pyflakes Checker, Snippetsxx
Comment[zh_CN]=Parse 检查器，PEP8 检查器，Pyflakes 检查器
Comment[zh_TW]=剖析檢查器，PEP8 檢查器，Pyflakes 檢查器，片段
X-Python-2-Compatible=true
X-Python-Dependencies=pep8(>=1.4.2),pyflakes(>=0.7.3)
