[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=expand
Name=User defined text expansions
Name[bs]=Korisnički-definisana proširenja teksta
Name[ca]=Expansions de text definides per l'usuari
Name[de]=Benutzerdefinierte Texterweiterungen
Name[es]=Expansiones de texto definidas por el usuario
Name[fi]=Käyttäjän määrittämät tekstilaajennukset
Name[fr]=Expansions de texte définies par l'utilisateur
Name[gl]=Expansións de texto definidas polo usuario
Name[he]=הרחבות טקסט מגדרות על ידי המשתמש
Name[hu]=Felhasználó által meghatározott kiterjesztések
Name[ia]=Expansiones de texto definite per le usator
Name[it]=Espansioni del testo definite dall'utente
Name[kk]=Пайдаланушы анықтаған мәтін кеңейтулері
Name[nb]=Brukerdefinerte tekst-utvidelser
Name[nds]=Bruker-Textsnippels
Name[nl]=Gebruikergedefinieerde tekstexpansies
Name[pl]=Wyrażenia tekstowe określone przez użytkownika
Name[pt]=Expansões de texto definidas pelo utilizador
Name[pt_BR]=Expansões de texto definidas pelo usuário
Name[ru]=Доп. макросы разворачивания текста
Name[sk]=Používateľom definované rozšírenia textu
Name[sl]=Uporabniško določene razširitve besedil
Name[sr]=Кориснички дефинисана проширења текста
Name[sr@ijekavian]=Кориснички дефинисана проширења текста
Name[sr@ijekavianlatin]=Korisnički definisana proširenja teksta
Name[sr@latin]=Korisnički definisana proširenja teksta
Name[sv]=Användardefinierad textexpansion
Name[tr]=Kullanıcı tanımlı metin açılımları
Name[uk]=Визначені користувачем засоби розгортання коду
Name[x-test]=xxUser defined text expansionsxx
Name[zh_CN]=用户定义的文本展开
Name[zh_TW]=使用預定義的文字擴展
Comment=Execute expansion function and insert output into a document
Comment[bs]=Izvrši funkciju proširenja i ubaci izlaz u dokument
Comment[ca]=Executa funcions d'expansió i inserció de sortida en un document
Comment[de]=Führt die Erweiterungsfunktion aus und fügt die Ausgabe in ein Dokument ein
Comment[es]=Ejecutar la función de expansión e insertar la salida en un documento
Comment[fi]=Suorita laajennusfunktio ja lisää tuloste tiedostoon
Comment[fr]=Exécuter la fonction d'expansion et insérer la sortie dans un document
Comment[gl]=Executa funcións de expansión e insire a saída nun documento
Comment[he]=הפעל פונקציית הרחבה והכנס את הפלט אל המסמך
Comment[hu]=Kiterjesztés függvény végrehajtása és a kimenet beszúrása a dokumentumba
Comment[ia]=Executa function de expansion e inserta exito in un documento
Comment[it]=Esegui la funzione di espansione e inserisci il risultato in un documento
Comment[kk]=Кеңейту функциясын орындап, шығысын құжатқа енгізу
Comment[nb]=Kjør utvidelsesfunksjonen og sett inn utdata i et dokument
Comment[nds]=Utfooldfunkschoon utföhren und de Utgaav na en Dokment infögen
Comment[nl]=Voeg de functie voor expansie uit en voeg de uitvoer in een document in
Comment[pl]=Wykonaj funkcję rozszerzenia i wstaw jej wynik do dokumentu
Comment[pt]=Executa a função de expansão e insere o resultado num documento
Comment[pt_BR]=Executa a função de expansão e insere o resultado em um documento
Comment[ru]=Выполняют функции разворачивания и вставляют результат в документ
Comment[sk]=Spustiť funkciu rozšírenia a vložiť výstup do dokumentu
Comment[sl]=Izvede funkcijo za razširitev in vstavi izhod v dokument
Comment[sr]=Извршава функције проширења и умеће излаз у документ
Comment[sr@ijekavian]=Извршава функције проширења и умеће излаз у документ
Comment[sr@ijekavianlatin]=Izvršava funkcije proširenja i umeće izlaz u dokument
Comment[sr@latin]=Izvršava funkcije proširenja i umeće izlaz u dokument
Comment[sv]=Utför expansionsfunktion och infoga utdata i ett dokument
Comment[tr]=Genişleme fonksiyonu uygulayın ve çıktıyı bir belgeye ekleyin
Comment[uk]=Виконати функцію розширення і вставити виведені нею дані до документа
Comment[x-test]=xxExecute expansion function and insert output into a documentxx
Comment[zh_CN]=执行展开函数并将输出插入到文档
Comment[zh_TW]=執行擴展函式並將輸出插入到文件中
X-Python-Dependencies=jinja2(>=2.7)
