[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=js_utils
Name=JavaScript Utilities
Name[ast]=Utilidaes JavaScript
Name[bs]=JavaScript alati
Name[ca]=Utilitats de JavaScript
Name[ca@valencia]=Utilitats JavaScript
Name[cs]=Nástroje JavaScript
Name[da]=JavaScript-værktøjer
Name[de]=JavaScript-Dienstprogramme
Name[el]=Εργαλεία JavaScript
Name[en_GB]=JavaScript Utilities
Name[es]=Utilidades de JavaScript
Name[et]=JavaScripti tööriistad
Name[fi]=JavaScript-työkalut
Name[fr]=Utilitaires JavaScript
Name[gl]=Utilidades de CMake
Name[he]=שירותיות JavaScript
Name[hu]=JavaScript segédprogramok
Name[ia]=Utilitates de JavaScripts
Name[it]=Programmi per JavaScript
Name[kk]=JavaScript утилиталары
Name[ko]=자바스크립트 유틸리티
Name[lt]=JavaScript pagalbininkai
Name[nb]=JavaScript-verktøy
Name[nds]=JavaScript-Warktüüch
Name[nl]=Hulpprogramma's voor JavaScript
Name[pl]=Narzędzia JavaScript
Name[pt]=Utilitários de JavaScript
Name[pt_BR]=Utilitários do JavaScript
Name[ro]=Utilitare JavaScript
Name[ru]=Утилиты для JavaScript
Name[sk]=Nástroje JavaScript
Name[sl]=Pripomočki za JavaScript
Name[sr]=Алатке за јаваскрипт
Name[sr@ijekavian]=Алатке за јаваскрипт
Name[sr@ijekavianlatin]=Alatke za JavaScript
Name[sr@latin]=Alatke za JavaScript
Name[sv]=Javascript-verktyg
Name[tr]=JavaScript Araçları
Name[uk]=Інструменти JavaScript
Name[x-test]=xxJavaScript Utilitiesxx
Name[zh_CN]=JavaScript 工具
Name[zh_TW]=JavaScript 工具
Comment=JS and jQuery autocompletion, a jQuery ready snippet, JSLint/JSHint
Comment[bs]=JS i jQuery automatsko dovršavanje,  jQuery spreman odsječak, JSLint/JSHint
Comment[ca]=Compleció automàtica de JS i jQuery, un retall «ready» de jQuery, JSLint/JSHint
Comment[ca@valencia]=Compleció automàtica de JS i jQuery, un retall «ready» de jQuery, JSLint/JSHint
Comment[da]=JS- og jQuery autofuldførelse, en jQuery-forberedt tekststump, JSLint/JSHint
Comment[de]=Auto-Vervollständigung für JS und jQuery, jQuery-Textbaustein, jSLint/JSHint
Comment[el]=Αυτόματη συμπλήρωση JS και jQuery, ένα έτοιμο προς χρήση τμήμα κώδικα jQuery, JSLint/JSHint
Comment[en_GB]=JS and jQuery autocompletion, a jQuery ready snippet, JSLint/JSHint
Comment[es]=Completado automático de JS y jQuery, un fragmento de código de jQuery preparado, JSLint/JSHint
Comment[et]=JS ja jQuery automaatne lõpetamine, jQuery valmisoleku koodijupp, JSLint/JSHint
Comment[fi]=JS- ja jQuery-automaattitäydennys, jQuery ready -koodikatkelma, JSLint/JSHint
Comment[fr]=Auto-complètement JS et jQuery, un fragment jQuery, JSLint/JSHint
Comment[gl]=Completación automática de JavaScript e jQuery, un fragmento de código preparado para usar jQuery, JSLint/JSHint.
Comment[hu]=JS és jQuery automatikus kiegészítés, egy jQuery-kész töredék, JSLint/JSHint
Comment[ia]=Autocompletion de JS e jQuery, un fragmento preste de jQuery, JSLint/JSHint
Comment[it]=Completamento automatico di JS e jQuery, un frammento pronto per jQuery, JSLint/JSHint
Comment[kk]=JS мен jQuery автотолықтыру, jQuery дайын үзіндісі, JSLint/JSHint
Comment[ko]=자바스크립트 및 jQuery 자동 완성, jQuery 읽기 스니펫, JSLint/JSHint
Comment[nb]=JS og jQuery autofullføring, en jQuery lese-bit, JSLint/JSHint
Comment[nds]=JS- un JQuery-Autokompletteren, JQuery-Snippels, JS-Lint/-Henwiesen
Comment[nl]=Automatische aanvulling van JS en jQuery, een kant-en-klaar fragment voor jQuery, JSLint/JSHint
Comment[pl]=Samouzupełnianie kodu JS i jQuery, gotowa wstawka jQuery, JSLint/JSHint
Comment[pt]=Completação automática de JS e jQuery, um excerto 'ready' para jQuery, JSLint/JSHint
Comment[pt_BR]=Completação automática de JS e jQuery, um trecho 'ready' para jQuery, JSLint/JSHint
Comment[ru]=Автодополнение JS и jQuery; шаблон ready() для jQuery; JSLint/JSHint
Comment[sk]=JS a jQuery automatické dokončovanie, jQuery pripravený snippet, JSLint/JSHint
Comment[sl]=Samodejno dopolnjevanje JS in jQuery, izrezek pripravljen za jQuery, JSLint/JSHint
Comment[sr]=Самодопуна јаваскрипта и Ј‑кверија, Ј‑кверијев ready исечак, ЈС‑линт/ЈС‑хинт
Comment[sr@ijekavian]=Самодопуна јаваскрипта и Ј‑кверија, Ј‑кверијев ready исечак, ЈС‑линт/ЈС‑хинт
Comment[sr@ijekavianlatin]=Samodopuna JavaScripta i JQueryja, JQueryjev ready isečak, JSLint/JSHint
Comment[sr@latin]=Samodopuna JavaScripta i JQueryja, JQueryjev ready isečak, JSLint/JSHint
Comment[sv]=JS och jQuery automatisk komplettering, jQuery klar kodsnutt, JSLint/JSHint
Comment[tr]=JS ve jQuery otomatik tamamlama, bir jQuery hazır kodu, JSLint/JSHint
Comment[uk]=Автодоповнення JS і jQuery, фрагмент ready jQuery, JSLint/JSHint
Comment[x-test]=xxJS and jQuery autocompletion, a jQuery ready snippet, JSLint/JSHintxx
Comment[zh_CN]=JS 和 jQuery 自动补全，jQuery 代码片段，JSLint/JSHint
Comment[zh_TW]=JS 與 jQuery 自動補完，jQuery 就緒片段，JSLint/JSHint
X-Python-2-Compatible=true
