[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=js_utils
Name=JavaScript Utilities
Comment=JS and jQuery autocompletion, a jQuery ready snippet, JSLint/JSHint
X-Python-2-Compatible=true
