# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katepybrowseplugin
X-Kate-Version=2.9
Name=Kate Python Browser Plugin
Name[ca]=Connector navegador de Python per al Kate
Name[de]=Kate-Modul für einen Python-Browser
Name[el]=Πρόσθετο περιήγησης Python του Kate
Name[es]=Complemento de navegación Python para Kate
Name[et]=Kate Pythoni sirvija plugin
Name[fr]=Module externe Kate pour un navigateur Python
Name[it]=Plugin browser Python di Kate
Name[ja]=Kate Python ブラウザプラグイン
Name[lt]=Kate Python naršyklės priedas
Name[ne]=केट पाइथोन ब्राउजर प्लगइन
Name[nl]=Python-browserplugin (Kate)
Name[pt]='Plugin' de Navegação em Python no Kate
Name[pt_BR]=Plugin de Navegação em Python no Kate
Name[sr]=Кејтин прегледач питона
Name[sr@latin]=Katein pregledač Pythona
Name[sv]=Kate Python-bläddrarinsticksprogram
Name[x-test]=xxKate Python Browser Pluginxx
Name[zh_CN]=Kate Python 浏览器插件
Name[zh_TW]=Kate Python 瀏覽器外掛程式
Comment=A Python browser plugin for Kate
Comment[ca]=Un connector de navegació de Python per al Kate
Comment[de]=Ein Python-Browser-Module für Kate
Comment[el]=Ένα πρόσθετο περιήγησης Python για το Kate
Comment[es]=Un complemento de navegación Python para Kate
Comment[et]=Kate Pythoni sirvija plugin
Comment[fr]=Un module externe de navigateur Python pour Kate
Comment[ga]=Breiseán brabhsála Python le haghaidh Kate
Comment[it]=Un plugin browser Python di Kate
Comment[ja]=Kate の Python ブラウザプラグイン
Comment[lt]=Python naršyklės priedas, skirtas Kate
Comment[ne]=केटका लागि पाइथोन ब्राउजर प्लगइन
Comment[nl]=Een Python-browserplugin voor Kate
Comment[pt]=Um 'plugin' de navegação em Python para o Kate
Comment[pt_BR]=Um plugin de navegação em Python para o Kate
Comment[sr]=Прикључак прегледача питона за Кејт
Comment[sr@latin]=Priključak pregledača Pythona za Kate
Comment[sv]=Kate Python-bläddrarinsticksprogram
Comment[x-test]=xxA Python browser plugin for Katexx
Comment[zh_CN]=一个 Kate 下的 Python 浏览器插件
Comment[zh_TW]=Kate 的 Python 瀏覽器外掛程式
