# KDE Config File
[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katepybrowseplugin
X-Kate-Version=2.9
Name=Kate Python Browser Plugin
Comment=A Python browser plugin for Kate
