# KDE Config File
[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katepybrowseplugin
X-Kate-Version=2.9
Name=Kate Python Browser Plugin
Name[el]=Πρόσθετο περιηγητή Python του Kate
Name[fr]=Module de navigation en Python pour Kate
Name[x-test]=xxKate Python Browser Pluginxx
Comment=A Python browser plugin for Kate
Comment[el]=Ένα πρόσθετο περιηγητή Python για το Kate
Comment[fr]=Un module externe de navigateur en Python pour Kate
Comment[x-test]=xxA Python browser plugin for Katexx
