[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katepybrowse
X-Kate-Version=3.0
Name=KPyBrowser
Name[ca]=KPyBrowser
Name[cs]=KPyBrowser
Name[da]=KPyBrowser
Name[de]=KPyBrowser
Name[el]=KPyBrowser
Name[en_GB]=KPyBrowser
Name[es]=KPyBrowser
Name[et]=KPyBrowser
Name[fr]=KPyBrowser
Name[ga]=KPyBrowser
Name[gl]=KPyBrowser
Name[hu]=KPyBrowser
Name[it]=KPyBrowser
Name[ja]=KPyBrowser
Name[km]=KPyBrowser
Name[ko]=KPyBrowser
Name[lt]=KPyBrowser
Name[lv]=KPyBrowser
Name[nb]=KPyBrowser
Name[nds]=KPyBrowser
Name[ne]=केडीई पाइथोन ब्राउजर
Name[nl]=KPyBrowser
Name[nn]=KPyBrowser
Name[pa]=KPyBrowser
Name[pl]=KPyBrowser
Name[pt]=KPyBrowser
Name[pt_BR]=KPyBrowser
Name[ro]=KPyBrowser
Name[ru]=KPyBrowser
Name[sr]=К‑пи‑прегледач
Name[sr@latin]=K‑Py‑pregledač
Name[sv]=Python-bläddrare
Name[tr]=KPyBrowser
Name[uk]=KPyBrowser
Name[x-test]=xxKPyBrowserxx
Name[zh_CN]=KPyBrowser
Name[zh_TW]=KPyBrowser
Comment=KPyBrowser
Comment[ca]=KPyBrowser
Comment[cs]=KPyBrowser
Comment[da]=KPyBrowser
Comment[de]=KPyBrowser
Comment[el]=KPyBrowser
Comment[en_GB]=KPyBrowser
Comment[es]=KPyBrowser
Comment[et]=KPyBrowser
Comment[fr]=KPyBrowser
Comment[ga]=KPyBrowser
Comment[gl]=KPyBrowser
Comment[it]=KPyBrowser
Comment[ja]=KPyBrowser
Comment[lv]=KPyBrowser
Comment[nb]=KPyBrowser
Comment[nds]=KDE-Pythonkieker
Comment[nl]=KPyBrowser
Comment[nn]=KPyBrowser
Comment[pl]=KPyBrowser
Comment[pt]=KPyBrowser
Comment[pt_BR]=KPyBrowser
Comment[ru]=KPyBrowser
Comment[sr]=К‑пи‑прегледач
Comment[sr@latin]=K‑Py‑pregledač
Comment[sv]=Python-bläddrare
Comment[tr]=KPyBrowser
Comment[uk]=KPyBrowser
Comment[x-test]=xxKPyBrowserxx
Comment[zh_CN]=KPyBrowser
Comment[zh_TW]=KPyBrowser
