# KDE Config File
[Desktop Entry]
Type=Application
Exec=kpybrowser -caption "%c"
Icon=kpybrowser
Comment=
Terminal=false
Name=KPyBrowser
Encoding=UTF-8
