# KDE Config File
[Desktop Entry]
Type=Application
Exec=kpybrowser -caption "%c"
Icon=kpybrowser
Comment=
Terminal=false
Name=KPyBrowser
Name[nb]=KPy-visning
Name[ne]=केडीई पाइथोन ब्राउजर
Name[sr]=К‑пи‑прегледач
Name[sr@latin]=K‑Py‑pregledač
Name[sv]=Python-bläddrare
Name[x-test]=xxKPyBrowserxx
Encoding=UTF-8
