[Desktop Entry]
X-KDE-Library=ktexteditor_kdatatool
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktexteditorkdatatool
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Category[el]=Επεξεργαστής
X-KDE-PluginInfo-Category[eo]=Redaktilo
X-KDE-PluginInfo-Category[ga]=Eagarthóir
X-KDE-PluginInfo-Category[is]=Ritill
X-KDE-PluginInfo-Category[ja]=エディタ
X-KDE-PluginInfo-Category[lv]=Redaktors
X-KDE-PluginInfo-Category[sr]=Уређивач
X-KDE-PluginInfo-Category[sr@latin]=Uređivač
X-KDE-PluginInfo-Category[th]=โปรแกรมแก้ไขข้อความ
X-KDE-PluginInfo-Category[zh_CN]=编辑器
X-KDE-PluginInfo-Category[zh_TW]=編輯器
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=tools-check-spelling
Name=Data tools
Name[ar]=أدوات للبيانات
Name[be]=Начынне дадзеных
Name[bg]=KDE Data Tool
Name[br]=Ostilhoù roadoù
Name[ca]=Eina per a la gestió de dades
Name[cs]=Datové nástroje
Name[csb]=Nôrzãdze pòdôwków
Name[de]=Datenwerkzeuge
Name[el]=Εργαλεία δεδομένων
Name[eo]=Datumilo
Name[es]=Herramientas de datos
Name[et]=Andmete tööriistad
Name[eu]=Datuen tresna
Name[fa]=ابزار داده
Name[fi]=Tekstinkäsittelytyökalut
Name[ga]=Uirlisí sonraí
Name[he]=כלי נתונים
Name[hu]=Adatkezelő programok
Name[is]=Gagnatól
Name[it]=Strumenti per i dati
Name[ja]=データツール
Name[kk]=Дерек құралдары
Name[km]=ឧបករណ៍​ទិន្នន័យ
Name[kn]=ದತ್ತ ಸಲಕರಣೆಗಳು
Name[ko]=데이터 도구
Name[lt]=Duomenų įrankiai
Name[lv]=Datu rīki
Name[mk]=Податочни алатки
Name[nb]=Dataverktøy
Name[nds]=Datenwarktüüch
Name[ne]=डेटा उपकरण
Name[nl]=Datagereedschappen
Name[nn]=Dataverktøy
Name[pa]=ਡਾਟਾ ਟੂਲ
Name[pl]=Narzędzia danych
Name[pt]=Ferramentas de dados
Name[pt_BR]=Ferramenta de Dados
Name[se]=Dáhtareaiddut
Name[sl]=Podatkovna orodja
Name[sr]=Алатке за податке
Name[sr@latin]=Alatke za podatke
Name[sv]=Dataverktyg
Name[ta]=தரவுக் கருவிகள்
Name[te]=దత్తాంశపు పనిముట్లు
Name[th]=เครื่องมือข้อมูล
Name[uk]=Засоби для даних
Name[vi]=Công cụ dữ liệu
Name[wa]=Usteyes po les dnêyes
Name[x-test]=xxData toolsxx
Name[zh_CN]=数据工具
Name[zh_TW]=資料工具
Comment=Enable data tools like thesaurus and spell check (if installed)
Comment[af]=Aktiveer data nutsprogramme soos thesaurus en spel bevestig (as geïnstalleer)
Comment[ar]=فعّل أدوات البيانات مثل المكنز والتدقيق اﻹملائي (إذا كان منصبا)
Comment[be]=Інструменты працы з даннямі: тэзаўрус, спраўджванне правапісу і інш. (калі яны ўстаноўленыя)
Comment[bg]=Поддръжка на текстообработващи инструменти, като проверка на правописа и синонимен речник
Comment[ca]=Habilita les eines per a la gestió de dades, com ara el tesaurus i el corrector ortogràfic (si estan instal·lats)
Comment[cs]=Povolí datové nástroje jako tezaurus nebo kontrolu pravopisu, pokud jsou nainstalovány
Comment[csb]=Òbsłużënk nôrzãdzów ôrtu tezaurus ë sprôwdzanié pisënkù
Comment[cy]=Alluogi offer data fel theawrws a cywirydd sillafu (os maent wedi'u gosod)
Comment[da]=Aktivér dataværktøjer som begrebsordbog og stavekontrol (hvis installeret)
Comment[de]=Aktivierung von Dienstprogrammen wie Thesaurus und Rechtschreibprüfung (falls installiert)
Comment[el]=Ενεργοποίηση εργαλείων δεδομένων όπως ο θησαυρός λέξεων και ο ορθογραφικός έλεγχος (αν είναι εγκατεστημένα)
Comment[eo]=Enŝalti datumilojn kiel "thesaurus" kaj literumilo (se instalita)
Comment[es]=Habilita las herramientas de datos como el diccionario de sinónimos y la verificación ortográfica (si están instalados)
Comment[et]=Andmete tööriistad, näiteks thesaurus ja õigekirja kontroll
Comment[eu]=Gaitu thesaurus-a eta ortografia zuzentzailea bezalako tresnak (instalatua badaude)
Comment[fa]=فعال‌سازی ابزارهای داده مانند واژه‌نامه و غلط‌گیر (در صورت نصب)
Comment[fi]=Käytä tekstinkäsittelytyökaluja, kuten tekstin oikolukua ja sanakirjaa (jos asennettuna)
Comment[fr]=Activer les outils de données comme le thésaurus et la correction orthographique (s'ils sont installés)
Comment[fy]=Aktivearjen fan dataprogramma's, lykas de tesaurus en stavering (wannear't dy ynstallearre binne)
Comment[ga]=Cumasaigh uirlisí mar litreoir agus foclóir (má tá siad ar fáil)
Comment[gl]=Habilitar ferramentas de dados como sinónimos e corrección ortográfica (se están instalados)
Comment[he]=מאפשר שימוש בכלי נתונים כגון אגרון מילים ובודק איות (אם מותקנים כלים כאלה)
Comment[hr]=Omogućavanje alata poput tezaurusa i provjere pravopisa (ako su instalirani)
Comment[hu]=Adatkezelő eszközök (pl. szinonimaszótár, helyesírás-ellenőrző) támogatása
Comment[is]=Virkir gagnatól eins og stafsetningaforrit og leiðréttingar (ef uppsett)
Comment[it]=Abilita gli strumenti per i dati come il dizionario dei sinonimi e il controllo ortografico (se installati)
Comment[ja]=同義語ツールやスペルチェックなどのデータツールを有効にします (インストールされている場合)
Comment[kk]=Теузаурус пен емле тексеру секілді (егер орнатылған болса) деректерді өңдеу құралдарды пайдалануға мүмкіншілік береді
Comment[km]=បើក​ឧបករណ៍​ទិន្នន័យ​ ដូច​ជា​កម្រង​វេវចនសព្ទ និង​ពិនិត្យ​អក្ខរាវិរុទ្ធ (ប្រសិន​បើ​បាន​ដំឡើង)
Comment[kn]=ಸಮಾನಾರ್ಥಕ-ವಿರುದ್ಧಾರ್ಥಕ ಪದಕೋಶ ಹಾಗೂ ಕಾಗುಣಿತ ಪರೀಕ್ಷಣೆಯಂತಹ ದತ್ತ ಸಂಬಂಧೀ ಸಲಕರಣೆಗಳನ್ನು (ಅನುಸ್ಥಾಪನೆಗೊಂಡಿದ್ದಲ್ಲಿ), ಶಕ್ತಗೊಳಿಸು
Comment[ko]=설치되어 있다면 동의어 사전과 맞춤법 검사기 같은 데이터 도구를 사용합니다
Comment[lb]=Hëllefsprogrammer, wéi Thésaurus an Rechtschreifkontroll, uschalten (wann installéiert)
Comment[lt]=Įjungia duomenų įrankius, tokius kaip sinonimų žodynas ir rašybos tikrinimas (jei įdiegta)
Comment[lv]=Ieslēdz instalētos datu rīkus kā tēzaurs un pareizrakstības pārbaudītājs
Comment[mk]=Овозможување на алатки како енциклопедија или проверка на правопис (ако се инсталирани)
Comment[ms]=Membolehkan alatan data seperti tesaurus dan periksa ejaan(jika dipasang)
Comment[nb]=Skru på dataverktøy som ordbok og stavekontroll (hvis det er installert)
Comment[nds]=Warktüüch as Thesaurus oder Klookschriever anmaken (wenn installeert)
Comment[ne]=यदि स्थापित भएमा, पर्यायकोश र हिज्जे परीक्षण जस्तै डेटा उपकरण सक्षम पार्नुहोस् 
Comment[nl]=Activering van hulpprogramma's, zoals de thesaurus en spellingcontrole (indien geïnstalleerd)
Comment[nn]=Tilgang til dataverktøy som ordliste og stavekontroll
Comment[pa]=ਡਾਟਾ ਸੰਦ ਜਿਵੇਂ ਕਿ ਥੀਸਾਰਾਉਸ ਤੇ ਸ਼ਬਦ-ਜੋੜ ਆਦਿ ਯੋਗ (ਜੇਕਰ ਇੰਸਟਾਲ ਹੋਵੇ)
Comment[pl]=Obsługa narzędzi typu tezaurus i sprawdzanie pisowni
Comment[pt]=Activa as ferramentas de dados como os sinónimos e a verificação ortográfica (se estiverem instalados)
Comment[pt_BR]=Habilita ferramentas de dados, como dicionário de sinônimos e verificador ortográfico (se instalados)
Comment[ro]=Activează utilitare de date precum dicţionarul şi verificarea ortografică (dacă sînt instalate)
Comment[ru]=позволяет использовать утилиты словаря и проверки орфографии (если они установлены)
Comment[se]=Geavat diehtoreaidduid nugo synonymasátnelisttu ja čállindárkkisteami (jos leat sajáiduhttojuvvon)
Comment[sl]=Omogoči orodja za podatke, kot so slovar sopomenk in preverjanje črkovanja (če so nameščena)
Comment[sr]=Алатке попут синонимара и правописара (ако су инсталирани)
Comment[sr@latin]=Alatke poput sinonimara i pravopisara (ako su instalirani)
Comment[sv]=Aktivera dataverktyg som synonymordlista och stavningskontroll (om installerade)
Comment[ta]=அகராதி, எழுத்துப்பிழை திருத்தி போன்ற தகவல் கருவிகளை இயக்கும் (நிறுவப்பட்டிருந்தால்)
Comment[te]=పదకోశం మరయూ అక్షర తప్పులను పట్టుకొను పనిముట్లను ఉపయోగించు (ఇంస్టాల్ చేసిన పనిచేయును)
Comment[tg]=Иҷозаи истифодаи утилитаи луғат ва тафтиши имлоро (агар онҳо сабт карда шуда бошанд) медиҳад
Comment[th]=เปิดใช้งานเครื่องมือจัดการข้อมูลอย่างเช่น พจนานุกรมคำพ้อง หรือ ตรวจคำสะกด (ถ้าได้ติดตั้งไว้)
Comment[tr]=Thesaurus ve imla denetimi gibi araçları etkinleştir
Comment[uk]=Надає доступ до засобів на кшталт словників та перевірки правопису (якщо встановлені)
Comment[uz]=Луғат ва имлони текшириш воситаларни ёқиш (агар ўрнатилган бўлса)
Comment[vi]=Hiệu lực công cụ dữ liệu như từ điển đồng nghĩa và bộ bắt lỗi chính tả (nếu được cài đặt).
Comment[wa]=Mete en alaedje les usteyes po manaedjî les dnêyes, come les diccionaires ou les coridjreces (si astalés)
Comment[x-test]=xxEnable data tools like thesaurus and spell check (if installed)xx
Comment[xh]=Yenza izixhobo ze data ezinjenge thesaurus nomkhangeli wopelo (ukuba ifakelwe)
Comment[zh_CN]=启用像辞典和拼写检查这样的数据工具(如果安装了的话)
Comment[zh_HK]=如果有安裝的話，啟用像同義字字典和拼字檢查等的文字工具
Comment[zh_TW]=打開資料工具如同義字典與拼字檢查 (如果有安裝的話)
