[Desktop Entry]
X-KDE-Library=ktexteditor_kdatatool
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktexteditorkdatatool
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=tools-check-spelling
Name=Data Tools
Name[cs]=Datové nástroje
Name[de]=Datenwerkzeuge
Name[en_GB]=Data Tools
Name[es]=Herramientas de datos
Name[et]=Andmete tööriistad
Name[gl]=Ferramentas de datos
Name[ia]=Instrumentos de datos
Name[ja]=データツール
Name[ms]=Alatan Data
Name[nds]=Datenwarktüüch
Name[nl]=Gegevenshulpmiddelen
Name[pt]=Ferramentas de Dados
Name[pt_BR]=Ferramentas de dados
Name[ru]=Обработка данных
Name[sv]=Dataverktyg
Name[uk]=Засоби роботи з даними
Name[wa]=Usteyes po les dnêyes
Name[x-test]=xxData Toolsxx
Name[zh_TW]=資料工具
Comment=Enable data tools like thesaurus and spell check (if installed)
Comment[de]=Dienstprogrammen wie Thesaurus und Rechtschreibprüfung aktivieren (falls installiert)
Comment[en_GB]=Enable data tools like thesaurus and spell check (if installed)
Comment[et]=Andmete tööriistad, näiteks thesaurus ja õigekirja kontroll
Comment[gl]=Activar as ferramentas de datos como sinónimos e corrección ortográfica (se estiveren instaladas)
Comment[ia]=Habilita instrumentos de datos como le thesauro e le controlo orthographic (si illos es installate)
Comment[nds]=Warktüüch as Thesaurus oder Klookschriever anmaken (wenn installeert)
Comment[nl]=Activering van hulpprogramma's, zoals de thesaurus en spellingcontrole (indien geïnstalleerd)
Comment[pt]=Permitir as ferramentas de dados como a revisão gramatical e ortográfica (se instalada)
Comment[pt_BR]=Habilita ferramentas de dados, como dicionário de sinônimos e verificador ortográfico (se instalados)
Comment[ru]=Обработка данных, например, показ синонимов и проверка орфографии (если они установлены)
Comment[sv]=Aktivera dataverktyg som synonymordlista och stavningskontroll (om installerade)
Comment[uk]=Надає доступ до засобів на кшталт словників та перевірки правопису (якщо встановлені)
Comment[wa]=Mete en alaedje les usteyes po manaedjî les dnêyes, come les diccionaires ou les coridjreces (si astalés)
Comment[x-test]=xxEnable data tools like thesaurus and spell check (if installed)xx
Comment[zh_TW]=打開資料工具如同義字典與拼字檢查 (如果有安裝的話)
