[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kate/PythonPlugin
X-KDE-Derived=
Comment=Kate Python Plugin
Comment[bs]=Kate priključak za Python
Comment[ca]=Connector Python del Kate
Comment[ca@valencia]=Connector Python del Kate
Comment[cs]=Moduly Pythonu pro Kate
Comment[da]=Kate Python-plugin
Comment[de]=Python-Modul für Kate
Comment[el]=Πρόσθετο του Kate για την Python
Comment[en_GB]=Kate Python Plugin
Comment[es]=Complementos de Python para Kate
Comment[et]=Kate Pythoni plugin
Comment[fi]=Katen Python-liitännäinen
Comment[fr]=Module externe Python de Kate
Comment[gl]=Complementos de Python para Kate
Comment[he]=תוספי Python של Kate
Comment[hu]=Kate Python bővítmény
Comment[ia]=Plugins de Python pro Kate
Comment[kk]=Kate Python плагині
Comment[ko]=Kate 파이썬 플러그인
Comment[lt]=Kate Python priedas
Comment[mr]=केट पायथोन प्लगइन
Comment[nb]=Kate-tillegg for Python
Comment[nds]=Kate-Python-Moduul
Comment[nl]=Python-plugin voor Kate
Comment[pl]=Wtyczki Pythona dla Kate
Comment[pt]='Plugin' de Python do Kate
Comment[pt_BR]=Plugin de Python do Kate
Comment[ru]=Модуль Kate на языке Python
Comment[sk]=Kate Python Plugin
Comment[sl]=Vstavek Python za Kate
Comment[sr]=Питонски прикључак за Кејт
Comment[sr@ijekavian]=Питонски прикључак за Кејт
Comment[sr@ijekavianlatin]=Python priključak za Kate
Comment[sr@latin]=Python priključak za Kate
Comment[sv]=Kate Python-insticksprogram
Comment[tr]=Kate Python Eklentisi
Comment[uk]=Додаток Python для Kate
Comment[x-test]=xxKate Python Pluginxx
Comment[zh_CN]=Kate Python 插件
Comment[zh_TW]=Kate Python 外掛程式

[PropertyDef::X-Python-Dependencies]
Type=QStringList

[PropertyDef::X-Python-2-Dependencies]
Type=QStringList

[PropertyDef::X-Python-2-Compatible]
Type=bool

[PropertyDef::X-Python-2-Only]
Type=bool
