[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kate/PythonPlugin
X-KDE-Derived=
Comment=Kate Python Plugin

[PropertyDef::X-Python-Dependencies]
Type=QStringList

[PropertyDef::X-Python-2-Dependencies]
Type=QStringList

[PropertyDef::X-Python-2-Compatible]
Type=bool

[PropertyDef::X-Python-2-Only]
Type=bool
