[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katepateplugin
X-Kate-Version=2.8
Name=Python Plugins
Comment=Pâté host for Python plugins
X-KDE-PluginInfo-Author=Paul Athanasios Giannaros
X-KDE-PluginInfo-Email=paul@giannaros.org
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-License=GPL
