[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katepateplugin
X-Kate-Version=2.8
Name=Python Plugins
Name[bg]=Приставки на Python
Name[bs]=Priključak za Python
Name[ca]=Connectors en Python
Name[ca@valencia]=Connectors del Python
Name[cs]=Moduly Pythonu
Name[da]=Python-plugins
Name[de]=Python-Module
Name[el]=Python πρόσθετα
Name[en_GB]=Python Plugins
Name[es]=Complementos de Python
Name[et]=Pythoni pluginad
Name[fi]=Python-liitännäiset
Name[fr]=Module externe Python
Name[ga]=Breiseáin Python
Name[gl]=Complementos de Python
Name[he]=תוספי Python
Name[hu]=Python bővítmények
Name[ia]=Plugins de Python
Name[it]=Estensioni Python
Name[kk]=Python плагиндері
Name[km]=កម្មវិធី​ជំនួយ Python
Name[ko]=파이썬 플러그인
Name[lt]=Python įskiepiai
Name[mr]=पायथोन प्लगइन्स
Name[nb]=Python-tillegg
Name[nds]=Python-Modulen
Name[nl]=Python-plug-ins
Name[pa]=ਪਾਈਥਨ ਪਲੱਗਇਨ
Name[pl]=Wtyczki Pythona
Name[pt]='Plugins' de Python
Name[pt_BR]=Plugins de Python
Name[ro]=Extensii Python
Name[ru]=Модули Python
Name[sk]=Pluginy Python
Name[sl]=Vstavki za Python
Name[sr]=Питонски прикључци
Name[sr@ijekavian]=Питонски прикључци
Name[sr@ijekavianlatin]=Python priključci
Name[sr@latin]=Python priključci
Name[sv]=Python-insticksprogram
Name[tg]=Плагинҳои Python
Name[tr]=Python eklentileri
Name[ug]=Python قىستۇرمىلىرى
Name[uk]=Додатки Python
Name[x-test]=xxPython Pluginsxx
Name[zh_CN]=Python 插件
Name[zh_TW]=Python 外掛程式
Comment=Pâté host for Python plugins
Comment[bs]=Pâté host za Python dodatke
Comment[ca]=Màquina Pâté pels connectors en Python
Comment[ca@valencia]=Servidor Pâté pels connectors del Python
Comment[cs]=Nástroj pro použití modulů Pythonu
Comment[da]=Pâté-vært for Python-plugins
Comment[de]=Pâté-Verwaltung von Python-Modulen
Comment[el]=Υπολογιστής Pâté για Python πρόσθετα
Comment[en_GB]=Pâté host for Python plugins
Comment[es]=Servidor Pâté para complementos de Python
Comment[et]=Pythoni pluginate Pâté keskkond
Comment[fi]=Paté-isäntä Python-liitännäisille
Comment[fr]=Hôte « Pâté » pour les modules externes Python
Comment[gl]=Servidor Pâté de complementos de Python
Comment[he]=מארח Pâté עבור תוספי Python
Comment[hu]=Pâté gép a Python bővítményekhez
Comment[ia]=Hospite de Pâté pro plugins de Python
Comment[it]=Contenitore Pâté per estensioni scritte in Python
Comment[kk]=Python плагиндерінің Pâté хосты
Comment[km]=ម៉ាស៊ីន Pâté សម្រាប់​កម្មវិធី​ជំនួយ Python
Comment[ko]=파이썬 플러그인을 위한 Pâté 호스트
Comment[lt]=Pâté serveris Python įskiepiams
Comment[mr]=पायथोन प्लगइन्स करिता Pâté यजमान
Comment[nb]=Pâté-vert for Python-tillegg
Comment[nds]=Ünnerbuu Pâté för Python-Modulen
Comment[nl]=Pâté-host voor Python-plug-ins
Comment[pl]=Host Pâté dla wtyczek Pythona
Comment[pt]=Máquina do Pâté para os 'plugins' de Python
Comment[pt_BR]=Máquina do Pâté para os plugins de Python
Comment[ro]=Gazdă Pâté pentru extensii Python
Comment[ru]=Среда Pâté для модулей Python
Comment[sk]=Pâté host pre pluginy Python
Comment[sl]=Gostitelj Pâté za vstavke za Python
Comment[sr]=Паштета као домаћин питонских прикључака
Comment[sr@ijekavian]=Паштета као домаћин питонских прикључака
Comment[sr@ijekavianlatin]=Pašteta kao domaćin Python priključaka
Comment[sr@latin]=Pašteta kao domaćin Python priključaka
Comment[sv]=Pâté värddator för Python-insticksprogram
Comment[tg]=Мизбони Pâté барои плагинҳои Python
Comment[tr]=Python eklentileri için Pâté sunucusu
Comment[uk]=Вузол Pâté для додатків Python
Comment[x-test]=xxPâté host for Python pluginsxx
Comment[zh_CN]=Pâté 提供的 Python 插件
Comment[zh_TW]=Python 外掛程式的 Pâté host
X-KDE-PluginInfo-Author=Paul Athanasios Giannaros
X-KDE-PluginInfo-Email=paul@giannaros.org
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-License=GPL
