<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui xmlns="http://www.kde.org/standards/kxmlgui/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="katepate" version="2" xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0                          http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="pate" deleted="true">
      <text>&amp;Pate</text>
      <DefineGroup name="top_tools_operations"/>
      <DefineGroup name="mid_tools_operations"/>
      <DefineGroup name="bottom_tools_operations"/>
    </Menu>
    <Menu name="help">
      <text>&amp;Help</text>
      <Action name="about_pate" text="About Pate" icon="python"/>
    </Menu>
  </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
