[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katehelloworldplugin
X-Kate-Version=2.9
Name=Hello World Plugin
Name[ast]=Complementu Hola mundu
Name[bg]=Приставка "Здравей свят!"
Name[bs]=Zdravo‑svijete priključak
Name[ca]=Connector Hola món
Name[ca@valencia]=Connector Hola món
Name[cs]=Modul Hello World
Name[da]="Hello World"-plugin
Name[de]=Hello-World-Modul
Name[el]=Πρόσθετο Hello World
Name[en_GB]=Hello World Plugin
Name[es]=Complemento Hola mundo
Name[eu]=Kaixo mundua plugina
Name[fi]=Hei maailma -liitännäinen
Name[fr]=Module externe « Bonjour tout le monde »
Name[ga]=Breiseán 'Dia Dhuit a Dhomhain'
Name[gl]=Complemento de «Olá, mundo»
Name[he]=תוסך שלום עולם
Name[hu]=„Helló Világ” bővítmény
Name[ia]=Plug-in de Salute Mondo
Name[it]=Estensione Ciao Mondo
Name[ja]=Hello World プラグイン
Name[kk]=Сынақ плагині
Name[km]=សួស្ដី​កម្មវិធី​ជំនួយ​ពាក្យ​​​​​​​​​​​​​​​
Name[ko]=Hello World 플러그인
Name[lt]=Sveikas pasauli! priedas
Name[lv]=“Sveika, pasaule!” spraudnis
Name[mr]=हेल्लो वर्ल्ड प्लगइन
Name[nb]=Programtillegg-eksempel
Name[nds]="Moin-Welt"-Moduul
Name[nl]=Plug-in voor Hello World
Name[nn]=Eksempel-tillegg
Name[pa]=ਹੈਲੋ ਵਰਲਡ ਪਲੱਗਇਨ
Name[pl]=Wtyczka "Witaj świecie"
Name[pt]='Plugin' de Olá Mundo
Name[pt_BR]=Plugin de teste
Name[ro]=Modul Hello World
Name[ru]=Тестовый модуль
Name[si]=ලෝකයට ආයුබෝවන් ප්ලගිනය
Name[sk]=Hello World Plugin
Name[sl]=Vstavek »Pozdravljen svet«
Name[sr]=Здраво‑свете прикључак
Name[sr@ijekavian]=Здраво‑свијете прикључак
Name[sr@ijekavianlatin]=Zdravo‑svijete priključak
Name[sr@latin]=Zdravo‑svete priključak
Name[sv]=Hello world-insticksprogram
Name[tg]=Плагини Салом ҷаҳон
Name[tr]=Merhaba Dünya Eklentisi
Name[ug]=سالام دۇنيا قىستۇرمىسى
Name[uk]=Тестовий додаток
Name[x-test]=xxHello World Pluginxx
Name[zh_CN]=Hello World 插件
Name[zh_TW]=Hello World 外掛程式
Comment=Your short description about the plugin goes here
Comment[ast]=Equí va una descripción curtia sobro'l so complementu
Comment[bg]=Кратко описание на приставката
Comment[bs]=Ovdje ide kratak opis priključka
Comment[ca]=Aquí va una breu descripció sobre el connector
Comment[ca@valencia]=Ací va una breu descripció sobre el connector
Comment[cs]=Sem patří krátký popis vašeho modulu
Comment[da]=Din korte beskrivelse af pluginet skal være her
Comment[de]=Ihre Kurzbeschreibung des Moduls gehört hier hinein
Comment[el]=Η σύντομη περιγραφή σας σχετικά με το πρόσθετο
Comment[en_GB]=Your short description about the plugin goes here
Comment[es]=Aquí va una breve descripción sobre su complemento
Comment[eu]=Pluginari buruzko zure deskribapena hemen doa
Comment[fi]=Lyhyt kuvaus liitännäisestäsi tähän
Comment[fr]=Une courte description de votre module externe s'insère ici
Comment[ga]=Cuir do chur síos gearr ar an mbreiseán anseo
Comment[gl]=A descrición curta acerca do complemento vai aquí
Comment[he]=כאן אתה צריך להוסיף את התיאור של התוסף
Comment[hu]=A bővítőmodul rövid leírása
Comment[ia]=Tu breve description re le plug-in va hic
Comment[it]=La tua breve descrizione dell'estensione va qui
Comment[ja]=プラグインの簡単な説明をここに書きます
Comment[kk]=Мұнда плагинінің қысқа сипаттамасы болады
Comment[km]=ការ​ពិពណ៌នា​សង្ខេប​របស់​អ្នក​អំពី​កម្មវិធី​ជំនួយ​នៅ​ទីនេះ
Comment[ko]=플러그인에 대한 짧은 설명을 입력하십시오
Comment[lt]=Čia turėtų būti trumpas priedo aprašymas
Comment[lv]=Šeit jābūt nelielam spraudņa aprakstam
Comment[mr]=प्लगइन करिता थोडक्यात वर्णन
Comment[nb]=Din kortbeskrivelse av programtillegget skal legges inn her
Comment[nds]=Hier kummt Dien korte Beschrieven vun't Moduul hen
Comment[ne]=यहाँ प्लगइन जाने बारे तपाईँको छोटो वर्णन
Comment[nl]=Voer hier een korte beschrijving van uw plug-in in.
Comment[nn]=Skriv inn ei kort skildring av tillegget her
Comment[pa]=ਪਲੱਗਇਨ ਬਾਰੇ ਤੁਹਾਡੀ ਸੰਖੇਪ ਜਾਣਕਾਰੀ ਇੱਥੇ
Comment[pl]=Tutaj powinien znaleźć się krótki opis wtyczki
Comment[pt]=Aqui aparece a sua descrição breve sobre o 'plugin'
Comment[pt_BR]=Sua descrição resumida sobre o plugin aparece aqui
Comment[ro]=Aici merge o scurtă descriere a modulului
Comment[ru]=А здесь должно быть описание модуля
Comment[si]=ප්ලගිනය පිලිබඳ ඔබේ කෙටි විස්තරය මෙහි දැක්වේ
Comment[sk]=Sem ide krátky popis vášho pluginu
Comment[sl]=Sem spada kratek opis vašega vstavka
Comment[sr]=Овде иде кратак опис прикључка
Comment[sr@ijekavian]=Овдје иде кратак опис прикључка
Comment[sr@ijekavianlatin]=Ovdje ide kratak opis priključka
Comment[sr@latin]=Ovde ide kratak opis priključka
Comment[sv]=Kort beskrivning av vad insticksprogrammet gör
Comment[tg]=Шарҳи кӯтоҳи шумо дар бораи ин плагин дар ин ҷо сар мешавад
Comment[tr]=Eklenti hakkındaki kısa yorumunuzu buraya ekleyin
Comment[ug]=بۇ قىستۇرمىنىڭ قىسقىچە چۈشەندۈرۈشى
Comment[uk]=Тут слід вказати ваш короткий опис додатка
Comment[x-test]=xxYour short description about the plugin goes herexx
Comment[zh_CN]=关于此插件的简短描述
Comment[zh_TW]=在這裡描述您的外掛程式
