[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=cmake_utils
Name=CMake Utilities
Name[de]=CMake-Dienstprogramme
Name[ia]=Utilitates de CMake
Name[nl]=Hulpmiddelen voor CMake
Name[pt]=Utilitários do CMake
Name[pt_BR]=Utilitários do CMake
Name[sk]=Nástroje CMake
Name[sl]=Pripomočki za CMake
Name[sv]=CMake-verktyg
Name[uk]=Інструменти CMake
Name[x-test]=xxCMake Utilitiesxx
Comment=Code completer, cache and help browser
Comment[de]=Quelltext-Vervollständigung, Zwischenspeicher und Hilfe-Browser
Comment[ia]=Completator de codice, cache e navigator de adjuta
Comment[nl]=Broncode aanvullen, cache en browser van hulp
Comment[pt]=Completação de código, 'cache' e navegador da ajuda
Comment[pt_BR]=Completação de código, cache e navegador da ajuda
Comment[sk]=Ukončovač kódu, cache a prehliadač pomocníka
Comment[sl]=Dopolnjevalnik kode, predpomnilnik in brskalnik po pomoči
Comment[sv]=Kodkomplettering, cache och hjälpbläddrare
Comment[uk]=Доповнювач коду, переглядач кешу та довідки
Comment[x-test]=xxCode completer, cache and help browserxx
X-Python-2-Compatible=false
X-Python-3-Compatible=true
