[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=cmake_utils
Name=CMake Utilities
Name[de]=CMake-Dienstprogramme
Name[es]=Utilidades CMake
Name[fi]=CMake-työkalut
Name[gl]=Bloque
Name[ia]=Utilitates de CMake
Name[kk]=CMake утилиталары
Name[nl]=Hulpmiddelen voor CMake
Name[pt]=Utilitários do CMake
Name[pt_BR]=Utilitários do CMake
Name[sk]=Nástroje CMake
Name[sl]=Pripomočki za CMake
Name[sr]=Алатке за ц‑мејк
Name[sr@ijekavian]=Алатке за ц‑мејк
Name[sr@ijekavianlatin]=Alatke za CMake
Name[sr@latin]=Alatke za CMake
Name[sv]=CMake-verktyg
Name[tr]=CMake Araçları
Name[uk]=Інструменти CMake
Name[x-test]=xxCMake Utilitiesxx
Comment=Code completer, cache and help browser
Comment[de]=Quelltext-Vervollständigung, Zwischenspeicher und Hilfe-Browser
Comment[fi]=Koodintäydennys sekä välimuistin ja ohjeiden selain
Comment[gl]=Varias accións para axudar na edición de código
Comment[ia]=Completator de codice, cache e navigator de adjuta
Comment[kk]=Код толтырғышы, кэш пен көмек шолғышы
Comment[nl]=Broncode aanvullen, cache en browser van hulp
Comment[pt]=Completação de código, 'cache' e navegador da ajuda
Comment[pt_BR]=Completação de código, cache e navegador da ajuda
Comment[sk]=Ukončovač kódu, cache a prehliadač pomocníka
Comment[sl]=Dopolnjevalnik kode, predpomnilnik in brskalnik po pomoči
Comment[sr]=Допуњавач кода, кеш и прегледач помоћи
Comment[sr@ijekavian]=Допуњавач кода, кеш и прегледач помоћи
Comment[sr@ijekavianlatin]=Dopunjavač koda, keš i pregledač pomoći
Comment[sr@latin]=Dopunjavač koda, keš i pregledač pomoći
Comment[sv]=Kodkomplettering, cache och hjälpbläddrare
Comment[tr]=Kod tamamlayıcı, önbellek ve yardım tarayıcısı
Comment[uk]=Доповнювач коду, переглядач кешу та довідки
Comment[x-test]=xxCode completer, cache and help browserxx
