[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katesymbolviewerplugin
Name=Symbol Viewer
Name[ar]=عارض الرّموز
Name[ast]=Visor de símbolos
Name[bg]=Преглед на символи
Name[bs]=Prikazivač simbola
Name[ca]=Visor de símbols
Name[ca@valencia]=Visor de símbols
Name[cs]=Prohlížeč symbolů
Name[da]=Symbolfremviser
Name[de]=Symbolbetrachter
Name[el]=Προβολέας συμβόλων
Name[en_GB]=Symbol Viewer
Name[es]=Visor de símbolos
Name[et]=Sümbolite näitaja
Name[eu]=Ikurren ikustailea
Name[fi]=Symbolikatselin
Name[fr]=Afficheur de symboles
Name[ga]=Amharcán Siombailí
Name[gl]=Visor de símbolos
Name[he]=מציג סמלים
Name[hu]=Szimbólumnézegető
Name[ia]=Visor de symbolo
Name[id]=Penampil Simbol
Name[it]=Visore di simboli
Name[ja]=シンボルビューア
Name[kk]=Символдарды қарау құралы
Name[km]=កម្មវិធី​មើល​និមិត្ត​សញ្ញា 
Name[ko]=디버그 기호 뷰어
Name[lt]=Simbolių žiūryklė
Name[lv]=Simbolu skatītājs
Name[mr]=चिन्ह प्रदर्शक
Name[nb]=Symbolvisning
Name[nds]=Symboolkieker
Name[nl]=Symboolviewer
Name[nn]=Symbolvising
Name[pa]=ਸਿੰਬਲ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka symboli
Name[pt]=Visualizador de Símbolos
Name[pt_BR]=Visualizador de símbolos
Name[ro]=Vizualizator de simboluri
Name[ru]=Просмотр идентификаторов
Name[si]=සංකේත දර්ශකය
Name[sk]=Prehliadač symbolov
Name[sl]=Pregledovalnik simbolov
Name[sr]=Приказивач симбола
Name[sr@ijekavian]=Приказивач симбола
Name[sr@ijekavianlatin]=Prikazivač simbola
Name[sr@latin]=Prikazivač simbola
Name[sv]=Symbolvisning
Name[tg]=Намоиши аломатҳо
Name[tr]=Sembol Gösterici
Name[ug]=بەلگە كۆرگۈچ
Name[uk]=Переглядач символів
Name[vi]=Trình xem biểu tượng
Name[x-test]=xxSymbol Viewerxx
Name[zh_CN]=符号查看器
Name[zh_TW]=符號檢視器
Comment=Extract and show reference symbols from source
Comment[ar]=يستخرج ويظهر الرّموز المرجعيّة من المصدر
Comment[ast]=Estrái y amuesa los símbolos de referencia del códigu fonte
Comment[bg]=Извличане и показване на символи, използвани в кода
Comment[bs]=Izvlači i prikazuje simbole iz izvora
Comment[ca]=Extreu i visualitza símbols de referència des del codi font
Comment[ca@valencia]=Extreu i visualitza símbols de referència des del codi font
Comment[cs]=Rozbalit a ukázat referenční symboly ze zdroje
Comment[da]=Udtræk og vis referencesymboler fra kildekode
Comment[de]=Referenzsymbole aus Quelldateien extrahieren und anzeigen
Comment[el]=Εξαγωγή και εμφάνιση συμβόλων αναφοράς από τον πηγαίο κώδικα
Comment[en_GB]=Extract and show reference symbols from source
Comment[es]=Extraer y mostrar símbolos de referencia del código fuente
Comment[et]=Plugin, mis hangib lähtekoodist sümbolid ja näitab neid
Comment[eu]=Erauzi eta erakutsi iturburuko erreferentziako ikurrak
Comment[fi]=Etsii ja näyttää lähdekoodin viitesymbolit
Comment[fr]=Extrait et affiche des symboles de référence provenant d'un code source
Comment[ga]=Baineann an breiseán seo siombailí tagartha amach as an mbunchód agus taispeánann sé iad
Comment[gl]=Extrae e mostra os símbolos a partir das fontes
Comment[he]=חלץ והצג סמלים מתוך הקוד
Comment[hu]=Referencialista készítése forráskódhoz
Comment[ia]=Extrahe e monstra symbolos de referentia ex fonte
Comment[id]=Ekstraksi dan tampilkan simbol referensi dari sumber
Comment[it]=Estrae e visualizza i simboli di riferimento dal codice sorgente
Comment[ja]=ソースの参照シンボルを表示します
Comment[kk]=Бастапқы кодынан символдарды алып шығарып көрсету
Comment[km]=ស្រង់​ចេញ​ និង​បង្ហាញ​និមិត្ត​សញ្ញា​ចំណូលចិត្ត​ពី​ប្រភព​​
Comment[ko]=원본 코드에서 디버그 참조 기호를 추출하고 표시하기
Comment[lt]=Ištraukti iš šaltinio ir rodyti informacinius simbolius
Comment[lv]=Šis spraudnis no pirmkoda izdala sibmolus un parāda tos
Comment[mr]=स्रोतातून संदर्भ चिन्ह बाहेर काढतो व दर्शवितो
Comment[nb]=Plukk ut og vis referansesymboler fra kilden
Comment[nds]=Betogsymbolen ut Borns ruttrecken un wiesen
Comment[nl]=Referentiesymbolen uit de broncode halen en tonen
Comment[nn]=Plukk ut og vis referansesymbol frå kjelda
Comment[pl]=Wydobywa i pokazuje symbole odniesienia ze źródła
Comment[pt]=Extrair e mostrar os símbolos de referência do código
Comment[pt_BR]=Extrai e mostra os símbolos de referência do código
Comment[ro]=Extrage și arată simbolurile de referință din sursă
Comment[ru]=Извлекает и показывает идентификаторы C/C++ из исходного кода
Comment[si]=මූලයෙන් යොමු සංඛේත උපුටාගෙන පෙන්වන්න
Comment[sk]=Extrahovať a ukázať referenčné symboly zo zdroja
Comment[sl]=Iz izvorne kode izloči in pokaže sklicne simbole
Comment[sr]=Извлачи и приказује симболе из извора
Comment[sr@ijekavian]=Извлачи и приказује симболе из извора
Comment[sr@ijekavianlatin]=Izvlači i prikazuje simbole iz izvora
Comment[sr@latin]=Izvlači i prikazuje simbole iz izvora
Comment[sv]=Hämta och visa referenssymboler från källkod
Comment[tg]=Баровардан ва намоиши аломатҳои маълумотӣ аз мабаъ
Comment[tr]=Referans sembollerini kaynaktan çıkar ve göster
Comment[ug]=ئەسلى كودتىن مۇناسىپ بەلگىسىنى ئاجرىتىپ كۆرسىتىدۇ
Comment[uk]=Добування і показ символів з джерельного коду
Comment[vi]=Trích xuất và hiển thị biểu tượng tham chiếu từ mã nguồn
Comment[x-test]=xxExtract and show reference symbols from sourcexx
Comment[zh_CN]=从源代码中提取并显示相关的符号
Comment[zh_TW]=展開並顯示程式源碼中的參考符號
