[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katesymbolviewerplugin
Name=Symbol Viewer
Comment=Extract and show reference symbols from source
