[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjstest1
Name=Kate KJS Test 1
Name[de]=Kate KJS-Test 1
Name[el]=Kate KJS δοκιμή 1
Name[et]=Kate KJS-i test 1
Name[fr]=Test 1 du KJS pour Kate
Name[ga]=Tástáil 1 Kate KJS
Name[it]=Test 1 di KJS di Kate
Name[ja]=Kate KJS テスト 1
Name[ne]=केट KJS परीक्षण १
Name[nl]=KJS-test 1 (Kate)
Name[pt]=Teste 1 de KJS no Kate
Name[pt_BR]=Teste 1 de KJS no Kate
Name[sr]=Кејтина проба КЈС-а 1
Name[sr@latin]=Kateina proba KJS-a 1
Name[uk]=Kate KJS тест 1
Name[x-test]=xxKate KJS Test 1xx
Name[zh_CN]=Kate KJS 测试 1
Name[zh_TW]=Kate KJS 測試 1
Comment=Test  for the KJS Wrapper
Comment[de]=Test für des KJS-Wrapper
Comment[el]=Δοκιμή της εμφώλευσης του KJS
Comment[et]=KJS-i kesta test
Comment[fr]=Test pour la classe d'encapsulation KJS
Comment[ga]=Tástáil an Rapar KJS
Comment[it]=Test per il contenitore KJS
Comment[ja]=KJS ラッパーのテスト
Comment[lt]=Bandymas KJS įdėklui
Comment[ne]=KJS र्यापरका लागि परीक्षण
Comment[nl]=Test voor de KJS-wrapper
Comment[pt]=Teste para a Interface do KJS
Comment[pt_BR]=Teste para a Interface do KJS
Comment[sr]=Проба за омотач КЈС-а
Comment[sr@latin]=Proba za omotač KJS-a
Comment[sv]=Test för KJS-omslutande program
Comment[uk]=Тест для KJS Wrapper
Comment[x-test]=xxTest  for the KJS Wrapperxx
Comment[zh_CN]=测试 KJS Wrapper
Comment[zh_TW]=測試 KJS 包裝
