[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjsselect
Name=Select Smallest Enclosing Block
Name[de]=Wählt den kleinsten umgebenden Block
Name[el]=Επιλογή μικρότερου εσώκλειστου τμήματος
Name[et]=Väikseima sulgeva ploki valik
Name[fr]=Sélectionner le bloc englobant le plus petit
Name[it]=Seleziona il più piccolo blocco esterno
Name[ja]=囲っている最も内側のブロックを選択します
Name[lt]=Žymėti mažiausią bloką
Name[ne]=सबभन्दा सानो बन्द भएको खण्ड चयन गर्नुहोस्
Name[nl]=Kleinste enclosing-blok selecteren
Name[pt]=Seleccionar o Menor Bloco Envolvente
Name[pt_BR]=Selecionar o Menor Bloco Envolvente
Name[sv]=Markera minsta omgivande block
Name[x-test]=xxSelect Smallest Enclosing Blockxx
Name[zh_CN]=选择最小的装入区块
Name[zh_TW]=選擇最小的封閉區塊
