[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjsconsolewindow
Name=Kate Javascript Console Window
Name[de]=Kate-Fenster für JavaScript-Konsole
Name[it]=Finestra di console Javascript di Kate
Name[ja]=Kate Javascript コンソールウィンドウ
Name[x-test]=xxKate Javascript Console Windowxx
