[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjsselect
Name=Select Smallest Enclosing Block
