[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjstest1
Name=Kate KJS Test 1
Comment=Test  for the KJS Wrapper
