[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjsconsolewindow
Name=Kate Javascript Console Window
Name[de]=Kate-Fenster für JavaScript-Konsole
Name[el]=Παράθυρο κονσόλας Javascript του Kate
Name[ga]=Fuinneog Chonsóil Javascript Kate
Name[it]=Finestra di console JavaScript di Kate
Name[ja]=Kate Javascript コンソールウィンドウ
Name[ne]=केट जाभास्क्रिप्ट कन्सोल सञ्झ्याल
Name[nl]=JavaScript-consolevenster (Kate)
Name[pt]=Janela da Consola de JavaScript do Kate
Name[pt_BR]=Janela do Console de JavaScript do Kate
Name[sv]=Kate Javaskript terminalfönster
Name[x-test]=xxKate Javascript Console Windowxx
Name[zh_CN]=Kate Javascript 控制台窗口
Name[zh_TW]=Kate Javascript 主控台視窗
