[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjstest1
Name=Kate KJS Test 1
Name[ca]=Prova 1 del KJS per al Kate
Name[de]=Kate KJS-Test 1
Name[el]=Kate KJS δοκιμή 1
Name[es]=Prueba 1 para Kate KJS
Name[et]=Kate KJS-i test 1
Name[fr]=Test 1 du KJS pour Kate
Name[ga]=Tástáil 1 Kate KJS
Name[gl]=Kate KJS Proba 1
Name[hu]=Kate KJS - 1. teszt
Name[it]=Test 1 di KJS di Kate
Name[ja]=Kate KJS テスト 1
Name[km]=Kate KJS សាកល្បង ១
Name[ko]=Kate KJS 테스트 1
Name[lv]=Kate KJS tests 1
Name[nb]=Kate KJS-test 1
Name[nds]=Kate-KJS-Test 1
Name[ne]=केट KJS परीक्षण १
Name[nl]=KJS-test 1 (Kate)
Name[pl]=Test Kate KJS 1
Name[pt]=Teste 1 de KJS no Kate
Name[pt_BR]=Teste 1 de KJS no Kate
Name[sr]=Кејтина проба КЈС‑а 1
Name[sr@latin]=Kateina proba KJS‑a 1
Name[uk]=Kate KJS тест 1
Name[x-test]=xxKate KJS Test 1xx
Name[zh_CN]=Kate KJS 测试 1
Name[zh_TW]=Kate KJS 測試 1
Comment=Test  for the KJS Wrapper
Comment[ca]=Prova de l'embolcall KJS
Comment[da]=Test til KJS-wrapperen
Comment[de]=Test für des KJS-Wrapper
Comment[el]=Δοκιμή της εμφώλευσης του KJS
Comment[es]=Prueba para el envoltorio KJS
Comment[et]=KJS-i kesta test
Comment[fr]=Test pour la classe d'encapsulation KJS
Comment[ga]=Tástáil an Rapar KJS
Comment[gl]=Proba para a envolvente de KJS
Comment[hu]=Tesztprogram a KJS keretrendszerhez
Comment[it]=Test per il contenitore KJS
Comment[ja]=KJS ラッパーのテスト
Comment[km]=សាកល្បង​សម្រាប់​កម្មវិធី​រុំ KJS
Comment[ko]=KJS 래퍼 테스트
Comment[lt]=Bandymas KJS įdėklui
Comment[lv]=KJS ietinēja tests
Comment[nds]=Test för de Inbetten vun JavaScript na Kate
Comment[ne]=KJS र्यापरका लागि परीक्षण
Comment[nl]=Test voor de KJS-wrapper
Comment[pl]=Test nakładki KJS
Comment[pt]=Teste para a Interface do KJS
Comment[pt_BR]=Teste para a Interface do KJS
Comment[sr]=Проба за омотач КЈС‑а
Comment[sr@latin]=Proba za omotač KJS‑a
Comment[sv]=Test för KJS-omslutande program
Comment[tr]=KJS Wrapper için Test
Comment[uk]=Тест для KJS Wrapper
Comment[x-test]=xxTest  for the KJS Wrapperxx
Comment[zh_CN]=测试 KJS Wrapper
Comment[zh_TW]=測試 KJS 包裝
