[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katekjswrapperplugin
X-Kate-Version=2.2
X-Kate-PluginName=katekjsconsolewindow
Name=Kate Javascript Console Window
Name[ca]=Finestra de la consola JavaScript del Kate
Name[de]=Kate-Fenster für JavaScript-Konsole
Name[el]=Παράθυρο κονσόλας Javascript του Kate
Name[es]=Ventana de la consola Javascript de Kate
Name[et]=Kate JavaScripti konsooli aken
Name[ga]=Fuinneog Chonsóil Javascript Kate
Name[gl]=Fiestra da consola de Javascript para Kate
Name[it]=Finestra di console JavaScript di Kate
Name[ja]=Kate Javascript コンソールウィンドウ
Name[lv]=Kate JavaScript konsoles logs
Name[nds]=Kate-JavaScript-Konsoolfinster
Name[ne]=केट जाभास्क्रिप्ट कन्सोल सञ्झ्याल
Name[nl]=JavaScript-consolevenster (Kate)
Name[pl]=Okno konsoli JavaScript Kate
Name[pt]=Janela da Consola de JavaScript do Kate
Name[pt_BR]=Janela do Console de JavaScript do Kate
Name[sr]=Кејтин прозор јаваскриптног конзоле
Name[sr@latin]=Katein prozor javascript konzole
Name[sv]=Kate Javaskript terminalfönster
Name[tr]=Kate Javascript Uçbirim Penceresi
Name[uk]=Вікно консолі Javascript Kate
Name[x-test]=xxKate Javascript Console Windowxx
Name[zh_CN]=Kate Javascript 控制台窗口
Name[zh_TW]=Kate Javascript 主控台視窗
