<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui xmlns="http://www.kde.org/standards/kxmlgui/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="block" version="2"  translationDomain="pate" xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0                          http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="pate">
      <text>&amp;Pate</text>
      <Menu name="block" group="top_tools_operations">
        <text>Block Operations</text>
        <Action name="insertCharFromLineAbove" text="Insert Char From Line Above" shortcut="Meta+E"/>
        <Action name="insertCharFromLineBelow" text="Insert Char From Line Below" shortcut="Meta+W"/>
        <Separator/>
        <Action name="killRestOfLine" text="Kill Text After Cursor" shortcut="Meta+K"/>
        <Action name="killLeadOfLine" text="Kill Text Before Cursor" shortcut="Meta+U"/>
        <Separator/>
        <Action name="wrapBlockWithRoundBrackets" text="Wrap into Round Brackets" shortcut="Ctrl+("/>
        <Action name="wrapBlockWithSquareBrackets" text="Wrap into Square Brackets" shortcut="Ctrl+{"/>
        <Action name="wrapBlockWithCurveBrackets" text="Wrap into Curve Brackets" shortcut="Meta+{"/>
        <Action name="wrapBlockWithAngleBrackets" text="Wrap into Angle Brackets" shortcut="Ctrl+&lt;"/>
        <Action name="wrapBlockWithDblQuotes" text="Wrap into Double Quotes" shortcut="Ctrl+'"/>
        <Action name="wrapBlockWithQuotes" text="Wrap into Quotes" shortcut="Meta+'"/>
      </Menu>
    </Menu>
  </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
