<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui xmlns="http://www.kde.org/standards/kxmlgui/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="commentar" version="15"  translationDomain="pate" xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0                          http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="pate">
      <text>&amp;Pate</text>
      <Separator/>
      <Menu name="comments" group="top_tools_operations">
        <text>&amp;Comments</text>
        <Action name="inline_comment" text="Inline Comment" shortcut="Alt+D"/>
        <Action name="move_above" text="Move Comment Above" shortcut="Meta+Left"/>
        <Action name="move_inline" text="Move Comment Inline" shortcut="Meta+Right"/>
        <Separator lineSeparator="true"/>
        <Action name="comment_block" text="Comment Block with #if0" shortcut="Meta+D"/>
        <Action name="toggle_block" text="Toggle #if0/#if1 Block" shortcut="Meta+Shift+D"/>
        <Action name="remove_block" text="Remove #if0/#if1 Block" shortcut="Meta+R"/>
        <Action name="select_block" text="Select Current #if0/#if1 Block" shortcut="Meta+S"/>
        <Separator lineSeparator="false"/>
        <Action name="toggle_doxy_comment" text="Transform Doxygen Comments" shortcut="Meta+X"/>
        <Separator/>
        <Action name="shrink_paragraph" text="Shrink Comment Paragraph" shortcut="Meta+["/>
        <Action name="extend_paragraph" text="Extend Comment Paragraph" shortcut="Meta+]"/>
      </Menu>
    </Menu>
  </MenuBar>
  <State name="comment_actions">
    <enable>
      <Action name="inline_comment"/>
    </enable>
  </State>
  <State name="comment_actions_no_selection">
    <enable>
      <Action name="move_above"/>
      <Action name="move_inline"/>
    </enable>
  </State>
  <State name="if0_actions">
    <enable>
      <Action name="comment_block"/>
      <Action name="toggle_block"/>
      <Action name="remove_block"/>
      <Action name="select_block"/>
    </enable>
  </State>
  <State name="doxygen_actions">
    <enable>
      <Action name="toggle_doxy_comment"/>
      <Action name="shrink_paragraph"/>
      <Action name="remove_block"/>
      <Action name="extend_paragraph"/>
    </enable>
  </State>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
