[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_autocomplete_jedi
Name=Python Autocompletion
Comment=Based on the Jedi library
X-Python-2-Compatible=true
X-Python-Dependencies=jedi(>=0.7.0)
