[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=xml_pretty
Name=XML Tools
Comment=XML Pretty print
X-Python-2-Compatible=true
