[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=block
Name=Block
Comment=Various actions to help code editing
X-Python-2-Compatible=true
