[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=commentar
Name=Plugins to work with comments
Name[bs]=Dodaci za rad sw komentarima
Name[ca]=Connectors per treballar amb comentaris
Name[ca@valencia]=Connectors per treballar amb comentaris
Name[cs]=Moduly pro práci s komentáři
Name[da]=Plugins til at arbejde med kommentarer
Name[de]=Module für die Bearbeitung von Kommentaren
Name[el]=Πρόσθετα για εργασία με σχόλια
Name[en_GB]=Plugins to work with comments
Name[es]=Complementos para trabajar con comentarios
Name[et]=Pluginad kommentaaride tarbeks
Name[fi]=Liitännäisiä kommenttien kanssa työskentelyyn
Name[fr]=Module externe pour travailler avec des commentaires
Name[gl]=Complementos para traballar con comentarios
Name[he]=תוספים לעבודה עם הערות
Name[hu]=Bővítmény a megjegyzésekkel való munkához
Name[ia]=Plugins pro travaliar con commentos
Name[kk]=Түсініктемелермен жұмыс істеу плагиндары
Name[ko]=주석을 다루는 플러그인
Name[nb]=Tillegg for å arbeide med kommentarer
Name[nds]=Kommentarmodulen
Name[nl]=Plug-ins voor werken met commentaar
Name[pl]=Wtyczki działające na komentarzach
Name[pt]='Plugins' para lidar com comentários
Name[pt_BR]=Plugins para lidar com comentários
Name[ro]=Extensii pentru lucrul cu comentarii
Name[ru]=Модули для работы с комментариями
Name[sk]=Pluginy na prácu s komentármi
Name[sl]=Vstavki za delo z opombami
Name[sr]=Прикључци за рад са коментарима
Name[sr@ijekavian]=Прикључци за рад са коментарима
Name[sr@ijekavianlatin]=Priključci za rad sa komentarima
Name[sr@latin]=Priključci za rad sa komentarima
Name[sv]=Insticksprogram för att arbeta med kommentarer
Name[tr]=Yorumlarla çalışmak için eklentiler
Name[uk]=Додатки для роботи з коментарями
Name[x-test]=xxPlugins to work with commentsxx
Name[zh_CN]=作用于注释的插件
Name[zh_TW]=處理註解的外掛程式
Comment=Supported languages are C++, JS, Python, CMake, Bash
Comment[bs]=Podržani jezici su C++, JS, Python, CMake, Bash
Comment[ca]=Els llenguatges implementats són C++, JS, Python, CMake, Bash
Comment[ca@valencia]=Els llenguatges implementats són C++, JS, Python, CMake, Bash
Comment[cs]=Podporované jazyky jsou C++, JS, Python, CMake a Bash
Comment[da]=Understøttede sprog er C++, JS, Python, CMake, Bash
Comment[de]=Unterstützte Sprachen sind C++, JS, Python, CMake, Bash
Comment[el]=Υποστηριζόμενες γλώσσες είναι οι C++, JS, Python, CMake, Bash
Comment[en_GB]=Supported languages are C++, JS, Python, CMake, Bash
Comment[es]=Los lenguajes permitidos son C++, JS, Python, CMake y Bash
Comment[et]=Toetatud keeled on C++, JS, Python, CMake, Bash
Comment[fi]=Tuetut kielet ovat C++, JS, Python, CMake, Bash
Comment[fr]=Les langages gérés sont C++, JS, Python, CMake et Bash
Comment[gl]=As linguaxes admitidas son C++, JS, Python, CMake e Bash
Comment[he]=השפות הנתמכות הן: C++‎, JS, Python, CMake ו־Bash
Comment[hu]=A támogatott nyelvek a C++, JS, Python, CMake, Bash
Comment[ia]=Linguages supportate es C++,JS,Python, CMake, Bash
Comment[kk]=Қолдауы бар тілдер: C++, JS, Python, CMake, Bash
Comment[ko]=C++, 자바스크립트, 파이썬, CMake, Bash 지원
Comment[nb]=Språk som er støttet er C++, JS, Python, CMake, Bash
Comment[nds]=Ünnerstütt warrt C++, JS, Python, CMake, Bash
Comment[nl]=Ondersteunde talen zijn C++, JS, Python, CMake, Bash
Comment[pl]=Obsługiwane języki to C++, JS, Python, CMake, Bash
Comment[pt]=As linguagens suportadas são o C++, JS, Python, CMake, Bash
Comment[pt_BR]=As linguagens suportadas são o C++, JS, Python, CMake e Bash
Comment[ro]=Limbajele susținute sînt C++, JS, Python, CMake, Bash
Comment[ru]=Поддерживаются языки: C++, JS, Python, CMake, Bash
Comment[sk]=Podporované jazyky sú C++, JS, Python, CMake, Bash
Comment[sl]=Podprti jeziki so C++, JS, Python, CMake, Bash
Comment[sr]=Подржани су језици Ц++, јаваскрипт, питон, ц‑мејк, Басх
Comment[sr@ijekavian]=Подржани су језици Ц++, јаваскрипт, питон, ц‑мејк, Басх
Comment[sr@ijekavianlatin]=Podržani su jezici C++, JavaScript, Python, CMake, Bash
Comment[sr@latin]=Podržani su jezici C++, JavaScript, Python, CMake, Bash
Comment[sv]=Språk som stöds är C++, JS, Python, CMake, Bash
Comment[tr]=Desteklenen diller C++, JS, Python, CMake, Bash
Comment[uk]=Підтримуваними мовами є C++, JS, Python, CMake, Bash
Comment[x-test]=xxSupported languages are C++, JS, Python, CMake, Bashxx
Comment[zh_CN]=支持的预言有 C++，JS，Python，CMake，Bash
Comment[zh_TW]=支援的語言包括 C++，JS，Python，CMake 與 Bash
X-Python-2-Compatible=true
