[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=commentar
Name=Plugins to work with comments
Comment=Supported languages are C++, JS, Python, CMake, Bash
X-Python-2-Compatible=true
