[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=format
Name=Boost-like C++ Code Formatter
Comment=Help to format calls/templates in boost style
X-Python-2-Compatible=true
