<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui xmlns="http://www.kde.org/standards/kxmlgui/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="try-open" version="2"  translationDomain="pate" xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0                          http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
  <MenuBar>
    <Menu name="file">
      <text>&amp;File</text>
      <Action name="tryOpen" text="Open selected document" group="open_merge"/>
    </Menu>
  </MenuBar>
  <State name="has_selection">
    <enable>
      <Action name="tryOpen"/>
    </enable>
  </State>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
