[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefiletreeplugin
X-Kate-Version=2.8
X-Kate-LoadAlways=True
Name=File Tree
Comment=Displays the open documents in a tree
