[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefiletreeplugin
X-Kate-Version=2.8
X-Kate-LoadAlways=True
Name=File Tree
Name[ca]=Arbre de fitxers
Name[ca@valencia]=Arbre de fitxers
Name[da]=Filtræ
Name[de]=Dateibaum
Name[en_GB]=File Tree
Name[es]=Árbol de archivos
Name[et]=Failipuu
Name[fr]=Arborescence de fichiers
Name[it]=Albero di file
Name[km]=មែកធាង​របស់​ពុម្ព​អក្សរ​
Name[nb]=Fil-tre
Name[nds]=Dateiboom
Name[nl]=Bestandsboomstructuur
Name[pa]=ਫਾਇਲ ਟਰੀ
Name[pt]=Árvore de Ficheiros
Name[pt_BR]=Árvore de arquivos
Name[ru]=Дерево файлов
Name[sr]=Стабло фајлова
Name[sr@ijekavian]=Стабло фајлова
Name[sr@ijekavianlatin]=Stablo fajlova
Name[sr@latin]=Stablo fajlova
Name[sv]=Filträd
Name[uk]=Дерево файлів
Name[x-test]=xxFile Treexx
Name[zh_CN]=文件树
Name[zh_TW]=檔案樹狀圖
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
Comment=Displays the open documents in a tree
Comment[ca]=Mostra els documents oberts en un arbre
Comment[ca@valencia]=Mostra els documents oberts en un arbre
Comment[da]=Viser de åbne dokumenter som et træ
Comment[de]=Zeigt geöffnete Dokumente als Baum an
Comment[en_GB]=Displays the open documents in a tree
Comment[es]=Muestra los documentos abiertos en un árbol
Comment[et]=Avatud dokumentide näitamine puuna
Comment[fr]=Affiche les documents ouverts dans une arborescence
Comment[it]=Visualizza i documenti aperti in un albero
Comment[km]=បើក​បង្ហាញ​ឯកសារ​ក្នុង​មែក​ធាង​
Comment[nb]=Viser de åpne dokumentene i et tre
Comment[nds]=Boomansicht för opmaakt Dokmenten
Comment[nl]=Toont de geopende documenten in een boomstructuur
Comment[pt]=Mostra os documentos abertos em árvore
Comment[pt_BR]=Exibe os documentos aberto na árvore
Comment[sr]=Приказује отворене документе као стабло
Comment[sr@ijekavian]=Приказује отворене документе као стабло
Comment[sr@ijekavianlatin]=Prikazuje otvorene dokumente kao stablo
Comment[sr@latin]=Prikazuje otvorene dokumente kao stablo
Comment[sv]=Visar öppna dokument i ett träd
Comment[uk]=Показує ієрархію відкритих документів
Comment[x-test]=xxDisplays the open documents in a treexx
Comment[zh_CN]=以树状显示打开的文档
Comment[zh_TW]=以樹狀圖顯示開啟的文件
