[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefindinfilesplugin
X-Kate-Version=2.8
Name=Find in files tool view
Name[ca]=Cerca a la l'eina de visualització de fitxers
Name[da]=Find i filværktøjsvisning
Name[de]=Werkzeugansicht zum Suchen in Dateien
Name[el]=Προβολή εργαλείων εύρεσης σε αρχεία
Name[es]=Vista de la herramienta buscar en archivos
Name[et]=Failides otsimise tööriistavaade
Name[fr]=Chercher dans la vue des outils des fichiers
Name[ga]=Amharc uirlisí cuardaigh
Name[gl]=Vista da ferramenta de procurar en ficheiros
Name[hu]=Fájlkereső - Eszköznézet
Name[it]=Strumento di ricerca nei file
Name[ja]=複数のファイル内を検索するツールビュー
Name[km]=រក​ក្នុង​ទិដ្ឋភាព​ឧបករណ៍​ឯកសារ
Name[ko]=파일에서 찾기 도구 보기
Name[lv]=Meklēt failos rīku skats
Name[nb]=Søk i visning av filsystemet
Name[nds]=Binnen Dateien söken
Name[ne]=फाइलको उपकरण दृश्यमा फेला पार्नुहोस्
Name[nl]=In bestanden zoeken
Name[pa]=ਫਾਇਲ ਟੂਲ ਝਲਕ 'ਚ ਲੱਭੋ
Name[pl]=Narzędzie do znajdowania w plikach
Name[pt]=Área para procurar em ficheiros
Name[pt_BR]=Área para procurar em arquivos
Name[sr]=Приказ тражења по фајловима
Name[sr@latin]=Prikaz traženja po fajlovima
Name[sv]=Filsökningsverktygsvy
Name[tr]=Dosyalarda arama aracı görünümü
Name[uk]=Перегляд засобу пошуку в файлах
Name[x-test]=xxFind in files tool viewxx
Name[zh_CN]=在文件工具视图中查找
Name[zh_TW]=「在檔案中尋找」工具檢視
Comment=Toolview allowing to search in all open files or files in the filesystem
Comment[ca]=Eina de visualització que permet cercar a tots els fitxers oberts o en els fitxers del sistema de fitxers
Comment[da]=Værktøjsvisning som tillader at søge i alle åbne filer eller filer på filsystemet
Comment[de]=Werkzeugansicht, die es erlaubt, alle geöffneten Dateien oder Dateien im Dateisystem zu durchsuchen
Comment[el]=Προβολή εργαλείων που επιτρέπει την αναζήτηση σε όλα τα ανοιχτά αρχεία ή τα αρχεία του συστήματος αρχείων
Comment[es]=Vista de herramientas que permite buscar en todos los archivos abiertos o en el sistema de archivos
Comment[et]=Tööriistavaade, mis võimaldab otsida kõigis avatud või failisüsteemis leiduvates failides
Comment[fr]=La vue des outils permet d'effectuer une recherche dans tous les fichiers ouverts ou les fichiers présents dans le système de fichiers
Comment[ga]=Amharc uirlisí a cheadaíonn duit cuardach a dhéanamh i ngach comhad oscailte, nó sa chóras comhad ar fad
Comment[gl]=Ferramenta que lle permite procurar en todos os ficheiros abertos ou ficheiros no sistema de ficheiros
Comment[hu]=Eszköznézet, mely lehetővé tesz keresést a nyitott fájlokban vagy az egész fájlrendszerben
Comment[it]=Strumento che permette di cercare in tutti i file aperti o nei file del filesystem
Comment[ja]=開いているすべてのファイルまたはファイルシステムの複数のファイル内を検索するためのツールビュー
Comment[km]=Toolview អនុញ្ញាត​ឲ្យ​ស្វែងរក​ក្នុង​ឯកសារ​បើក​ទាំងអស់ ឬ​ឯកសារ​ក្នុង​ប្រព័ន្ធ​ឯកសារ
Comment[ko]=파일 시스템에 있는 파일을 검색하거나 여는 도구 보기
Comment[lv]=Rīku skats, kas ļauj meklēt visos atvērtajos failus, vai failos uz diska
Comment[nb]=Verktøy som lar deg søke i alle åpne filer eller filer i filsystemet
Comment[nds]=Mit dit Warktüüch kannst Du binnen all opmaakt Dateien söken, man ok binnen Dateien in't Dateisysteem
Comment[ne]=सबै खुल्ला फाइलहरू वा फाइलप्रणालीमा भएका फाइलहरूमा खोजी गर्न अनुमति दिइरहेको उपकरणदृश्य
Comment[nl]=Weergave waarmee u in alle geopende bestanden of bestanden op het bestandssysteem kunt zoeken.
Comment[pl]=Widok pozwalający na znajdowanie we wszystkich otwartych plikach lub w całym systemie plików
Comment[pt]=Uma área que lhe permite procurar em todos os ficheiros abertos ou no sistema de ficheiros
Comment[pt_BR]=Uma área que lhe permite procurar em todos os arquivos abertos ou no sistema de arquivos
Comment[sr]=Алатка којом можете тражити у свим отвореним фајловима или по фајл систему
Comment[sr@latin]=Alatka kojom možete tražiti u svim otvorenim fajlovima ili po fajl sistemu
Comment[sv]=Verktygsvy som möjliggör sökning i alla öppna filer i filsystemet
Comment[tr]=Bu araç görünümü açık olan dosyalar ya da tüm dosya sistemi içerisindeki dosyalarda arama yapmanızı sağlar
Comment[uk]=Перегляд засобу, що дає змогу шукати у відкритих файлах або у файлах файлової системи
Comment[x-test]=xxToolview allowing to search in all open files or files in the filesystemxx
Comment[zh_CN]=工具视图允许用户在所有打开的文件中或在文件系统上所有文件中搜索
Comment[zh_TW]=可以在所有已開啟的檔案，或在整個檔案系統裡的檔案中尋找的工具檢視
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
