[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefindinfilesplugin
X-Kate-Version=2.8
Name=Find in files tool view
Name[de]=Werkzeugansicht zum Suchen in Dateien
Name[el]=Προβολή εργαλείων εύρεσης σε αρχεία
Name[et]=Failides otsimise tööriistavaade
Name[fr]=Chercher dans la vue des outils des fichiers
Name[it]=Strumento di ricerca nei file
Name[ja]=複数のファイル内を検索するツールビュー
Name[ne]=फाइलको उपकरण दृश्यमा फेला पार्नुहोस्
Name[nl]=In bestanden zoeken
Name[pt]=Área para procurar em ficheiros
Name[pt_BR]=Área para procurar em arquivos
Name[sv]=Filsökningsverktygsvy
Name[x-test]=xxFind in files tool viewxx
Name[zh_CN]=在文件工具视图中查找
Name[zh_TW]=「在檔案中尋找」工具檢視
Comment=Toolview allowing to search in all open files or files in the filesystem
Comment[de]=Werkzeugansicht, die es erlaubt, alle geöffneten Dateien oder Dateien im Dateisystem zu durchsuchen
Comment[el]=Προβολή εργαλείων που επιτρέπει την αναζήτηση σε όλα τα ανοιχτά αρχεία ή τα αρχεία του συστήματος αρχείων
Comment[et]=Tööriistavaade, mis võimaldab otsida kõigis avatud või failisüsteemis leiduvates failides
Comment[fr]=La vue des outils permet d'effectuer une recherche dans tous les fichiers ouverts ou les fichiers présents dans le système de fichiers
Comment[it]=Strumento che permette di cercare in tutti i file aperti o nei file del filesystem
Comment[ja]=開いているすべてのファイルまたはファイルシステムの複数のファイル内を検索するためのツールビュー
Comment[ne]=सबै खुल्ला फाइलहरू वा फाइलप्रणालीमा भएका फाइलहरूमा खोजी गर्न अनुमति दिइरहेको उपकरणदृश्य
Comment[nl]=Weergave waarmee u in alle geopende bestanden of bestanden op het bestandssysteem kunt zoeken.
Comment[pt]=Uma área que lhe permite procurar em todos os ficheiros abertos ou no sistema de ficheiros
Comment[pt_BR]=Uma área que lhe permite procurar em todos os arquivos abertos ou no sistema de arquivos
Comment[sv]=Verktygsvy som möjliggör sökning i alla öppna filer i filsystemet
Comment[x-test]=xxToolview allowing to search in all open files or files in the filesystemxx
Comment[zh_CN]=工具视图允许用户在所有打开的文件中或在文件系统上所有文件中搜索
Comment[zh_TW]=可以在所有已開啟的檔案，或在整個檔案系統裡的檔案中尋找的工具檢視
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
