[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefindinfilesplugin
X-Kate-Version=2.8
Name=Find in files tool view
Name[de]=Werkzeugansicht zum Suchen in Dateien
Name[it]=Strumento di ricerca nei file
Name[x-test]=xxFind in files tool viewxx
Comment=Toolview allowing to search in all open files or files in the filesystem
Comment[de]=Werkzeugansicht, die es erlaubt, alle geöffneten Dateien oder Dateien im Dateisystem zu durchsuchen
Comment[it]=Strumento che permette di cercare in tutti i file aperti o nei file del filesystem
Comment[x-test]=xxToolview allowing to search in all open files or files in the filesystemxx
X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
