[Desktop Entry]
Encoding=UTF-8
Name=Kate Session Menu
Name[ca]=Menú de sessió del Kate
Name[de]=Kate-Sitzungsmenü
Name[el]=Μενού συνεδρίας Kate
Name[es]=Menú de sesión de Kate
Name[et]=Kate seansimenüü
Name[fr]=Menu des sessions de Kate
Name[ga]=Roghchlár Seisiúin Kate
Name[gl]=Menú de sesións de Kate
Name[it]=Menu di sessione di Kate
Name[ja]=Kate セッションメニュー
Name[lt]=Kate sesijų meniu
Name[lv]=Kate sesiju izvēlne
Name[nds]=Kate-Törnmenü
Name[ne]=केट सत्र मेनु
Name[nl]=Sessiemenu (Kate)
Name[pa]=ਕੇਟ ਸ਼ੈਸ਼ਨ ਮੇਨੂ
Name[pl]=Menu sesji Kate
Name[pt]=Menu de Sessões do Kate
Name[pt_BR]=Menu de Sessões do Kate
Name[sr]=Кејтин мени сесија
Name[sr@latin]=Katein meni sesija
Name[sv]=Kate sessionsmeny
Name[tr]=Kate Oturum Menüsü
Name[uk]=Меню сеансів Kate
Name[x-test]=xxKate Session Menuxx
Name[zh_CN]=Kate 会话菜单
Name[zh_TW]=Kate 工作階段選單
Comment=Allows you to open Kate with a specified session, or create a new one
Comment[ca]=Us permet obrir el Kate amb una sessió indicada, o crear-ne una de nova
Comment[de]=Erlaubt es, Kate mit einer bestimmten Sitzung zu starten, oder eine neue Sitzung zu erstellen
Comment[el]=Επιτρέπει το άνοιγμα του Kate με μια καθορισμένη συνεδρία, ή τη δημιουργία μιας νέας
Comment[es]=Le permite abrir Kate con una sesión especificada, o crear una nueva
Comment[et]=Võimaldab avada Kate määratud seansiga või luua uue seansi
Comment[fr]=Permet d'ouvrir Kate avec une session donnée ou d'en créer une
Comment[ga]=Leis seo is féidir leat seisiún sonraithe Kate a oscailt, nó ceann nua a chruthú
Comment[gl]=Permítelle abrir Kate cunha sesión específica, ou criar unha nova
Comment[it]=Permette di aprire Kate con una sessione specificata, o crearne una nuova
Comment[ja]=新規または既存のセッションで Kate を起動します
Comment[lt]=Leidžia atverti Kate su nurodyta sesija arba sukurti naują
Comment[nds]=Mit dit Moduul kannst Du Kate mit en angeven Törn opmaken oder en nieg Törn opstellen
Comment[ne]=निर्दिष्ट सत्रसँग केट खोल्न तपाईँलाई अनुमति दिन्छ, वा नयाँ एउटा सिर्जना गर्नुहोस्
Comment[nl]=Hiermee kunt u Kate met een opgegeven sessie openen of een nieuwe aanmaken
Comment[pl]=Pozwala uruchomić Kate z określoną sesją lub utworzyć nową
Comment[pt]=Permite-lhe abrir o Kate com uma sessão predefinida ou criar uma nova
Comment[pt_BR]=Permite abrir o Kate com uma sessão pré-definida ou criar uma nova
Comment[sr]=Покрените Кејт са наведеном сесијом, или започните нову
Comment[sr@latin]=Pokrenite Kate sa navedenom sesijom, ili započnite novu
Comment[sv]=Gör det möjligt att öppna Kate med en angiven session, eller skapa en ny
Comment[tr]=Kate uygulamasını belirli bir oturum ile açmanızı ya da yeni bir oturum oluşturmanızı sağlar
Comment[uk]=Дозволяє відкривати Kate з вказаним сеансом або створити новий
Comment[x-test]=xxAllows you to open Kate with a specified session, or create a new onexx
Comment[zh_CN]=允许您以特定会话启动 Kate，或是创建新会话
Comment[zh_TW]=允許您用指定的工作階段來開啟 Kate，或是建立新的工作階段
Icon=kate
X-KDE-Library=kickermenu_kate
X-KDE-AuthorizeAction=shell_access
