[Desktop Entry]
Encoding=UTF-8
Name=Kate Session Menu
Name[de]=Kate-Sitzungsmenü
Name[el]=Μενού συνεδρίας Kate
Name[es]=Menú de sesión de Kate
Name[it]=Menu di sessione di Kate
Name[ja]=Kate セッションメニュー
Name[ne]=केट सत्र मेनु
Name[pt]=Menu de Sessões do Kate
Name[pt_BR]=Menu de Sessões do Kate
Name[sv]=Kate sessionsmeny
Name[x-test]=xxKate Session Menuxx
Name[zh_TW]=Kate 工作階段選單
Comment=Allows you to open Kate with a specified session, or create a new one
Comment[de]=Erlaubt es, Kate mit einer bestimmten Sitzung zu starten, oder eine neue Sitzung zu erstellen
Comment[el]=Επιτρέπει το άνοιγμα του Kate με μια καθορισμένη συνεδρία, ή τη δημιουργία μιας νέας
Comment[es]=Le permite abrir Kate con una sesión especificada, o crear una nueva
Comment[it]=Permette di aprire Kate con una sessione specificata, o crearne una nuova
Comment[ja]=新規または既存のセッションで Kate を起動します
Comment[ne]=निर्दिष्ट सत्रसँग केट खोल्न तपाईँलाई अनुमति दिन्छ, वा नयाँ एउटा सिर्जना गर्नुहोस्
Comment[pt]=Permite-lhe abrir o Kate com uma sessão predefinida ou criar uma nova
Comment[pt_BR]=Permite-lhe abrir o Kate com uma sessão predefinida ou criar uma nova
Comment[sv]=Gör det möjligt att öppna Kate med en angiven session, eller skapa en ny
Comment[x-test]=xxAllows you to open Kate with a specified session, or create a new onexx
Comment[zh_TW]=允許您用指定的工作階段來開啟 Kate，或是建立新的工作階段
Icon=kate
X-KDE-Library=kickermenu_kate
X-KDE-AuthorizeAction=shell_access
