[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kategdbplugin
Name=GDB
Name[ar]=منقّح غنو GDB
Name[ast]=GDB
Name[bg]=GDB
Name[bs]=GDB
Name[ca]=GDB
Name[ca@valencia]=GDB
Name[cs]=GDB
Name[da]=GDB
Name[de]=GDB
Name[el]=GDB
Name[en_GB]=GDB
Name[es]=GDB
Name[et]=GDB
Name[eu]=GDB
Name[fa]=GDB
Name[fi]=GDB
Name[fr]=GDB
Name[ga]=GDB
Name[gl]=GDB
Name[he]=GDB
Name[hu]=GDB
Name[ia]=GDB
Name[id]=GDB
Name[is]=GDB
Name[it]=GDB
Name[kk]=GDB
Name[km]=GDB
Name[ko]=GDB
Name[lt]=GDB
Name[lv]=GDB
Name[mr]=GDB
Name[nb]=GDB
Name[nds]=GDB
Name[nl]=GDB
Name[nn]=GDB
Name[pa]=GDB
Name[pl]=GDB
Name[pt]=GDB
Name[pt_BR]=GDB
Name[ro]=GDB
Name[ru]=GDB
Name[si]=GDB
Name[sk]=GDB
Name[sl]=GDB
Name[sr]=ГДБ
Name[sr@ijekavian]=ГДБ
Name[sr@ijekavianlatin]=GDB
Name[sr@latin]=GDB
Name[sv]=GDB
Name[tg]=GDB
Name[tr]=GDB
Name[ug]=GDB
Name[uk]=GDB
Name[vi]=GDB
Name[wa]=GDB
Name[x-test]=xxGDBxx
Name[zh_CN]=GDB
Name[zh_TW]=GDB
Comment=Provides a simple GDB frontend
Comment[ar]=يوفّر صدر GDB بسيط
Comment[ast]=Apurre un frontal cenciellu de GDB
Comment[bg]=Предоставя прост интерфейс за GDB
Comment[bs]=Jednostavno pročelje za GDB
Comment[ca]=Proporciona un frontal de GDB senzill
Comment[ca@valencia]=Proporciona un frontal de GDB senzill
Comment[cs]=Poskytuje jednoduché rozhraní pro GDB
Comment[da]=Giver en enkel GDB-brugerflade
Comment[de]=Stellt eine einfache GDB-Oberfläche zur Verfügung
Comment[el]=Παρέχει ένα απλό περιβάλλον GDB
Comment[en_GB]=Provides a simple GDB frontend
Comment[es]=Proporciona una sencilla interfaz para GDB
Comment[et]=Lihtne GDB kasutajaliides
Comment[eu]=GDBren interfazea eskaintzen du
Comment[fi]=Yksinkertainen GDB-käyttöliittymä
Comment[fr]=Fournit une interface GDB simple
Comment[ga]=Soláthraíonn sé seo comhéadan simplí GDB
Comment[gl]=Fornece unha interface simple para o GDB
Comment[he]=מספק ממשק פשוט עבור GDB
Comment[hu]=Egyszerű GDB előtétprogram
Comment[ia]=Il forni un simple fronte per GDB
Comment[id]=Sediakan sebuah ujung-depan GDB sederhana
Comment[it]=Una semplice interfaccia GDB
Comment[kk]=Қарапайым GDB интерфейсі
Comment[km]=ផ្ដល់​ផ្នែក​ខាង​មុខ​របស់​ GDB សាមញ្ញ​
Comment[ko]=간단한 GDB 프론트엔드
Comment[lt]=Teikia paprastą GDB sąsają
Comment[lv]=Nodrošina vienkāršu GDB priekšpusi
Comment[mr]=सोपे GDB फ्रंटएन्ड पुरवितो
Comment[nb]=Gir en enkel brukerflate til GDB
Comment[nds]=Stellt en eenfach GDB-Böversiet praat.
Comment[nl]=Levert een eenvoudige GDB-frontend
Comment[nn]=Eit enkelt GDB-grensesnitt
Comment[pl]=Zapewnia prosty interfejs GDB
Comment[pt]=Oferece uma interface simples para o GDB
Comment[pt_BR]=Oferece uma interface simples do GDB
Comment[ro]=Oferă o interfață simplă pentru GDB
Comment[ru]=Простой интерфейс к отладчику GDB
Comment[si]=සරල GDB පෙරඉමක් ලබාදෙයි
Comment[sk]=Poskytuje jednoduchý GDB frontend
Comment[sl]=Preprosto začelje za GDB
Comment[sr]=Једноставно прочеље за ГДБ
Comment[sr@ijekavian]=Једноставно прочеље за ГДБ
Comment[sr@ijekavianlatin]=Jednostavno pročelje za GDB
Comment[sr@latin]=Jednostavno pročelje za GDB
Comment[sv]=Tillhandahåller ett enkelt gränssnitt för GDB
Comment[tg]=Намоиши GDB-и оддиро таъин мекунад
Comment[tr]=Basit bir GDB önyüzü sağlar
Comment[ug]=ئاددىي GDB ئالدى ئۇچى تەمىنلەيدۇ
Comment[uk]=Проста оболонка до GDB
Comment[x-test]=xxProvides a simple GDB frontendxx
Comment[zh_CN]=提供简单的 GDB 前端
Comment[zh_TW]=提供簡單 GDB 前端介面
