/**
 * Get value of <%= n %>.
 * @return <%= n %>
 */
<%= t %><% if (!t.match(/[&\*]$/)) { %> <% } %><%= n %> () const<% if (typeof(i)!== 'undefined') { %>
{
    return m_<%= n %>;
}<% } else { %>;<% }%>

/**
 * Set value of <%= n %>.
 * @param <%= n %> new value of <%= n %>
 */
void set<% n.capitalize(); %> (<%= t %><% if (!t.match(/[&\*]$/)) { %> <% } %><%= n %>)<% if (typeof(i)!== 'undefined') { %>
{
    m_<%= n %> = <%= n %>;
}<% } else { %>;<% }%>
