[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_autocomplete
Name=Python Autocompletion
Name[de]=Python-Autovervollständigung
Name[es]=Terminación automática de Python
Name[ia]=Autocompletion de Python
Name[kk]=Python автотолықтыруы
Name[nl]=Automatische aanvulling voor Python
Name[pt]=Completação Automática de Python
Name[pt_BR]=Completação automática de Python
Name[sk]=Automatické ukončovanie Python
Name[sl]=Samodejno dopolnjevanje za Python
Name[sv]=Python automatisk komplettering
Name[tr]=Python Otomatik Tamamlama
Name[uk]=Автодоповнення Python
Name[x-test]=xxPython Autocompletionxx
Comment=Beta, only for Python 2
Comment[de]=Beta, nur für Python 2
Comment[es]=Beta, solo para Python 2
Comment[ia]=Beta, solmente pro Python 2
Comment[kk]=Бета сынақ нұсқасы, тек Python 2 үшін
Comment[nl]=Beta, alleen voor Python 2
Comment[pt]=Beta, apenas para o Python 2
Comment[pt_BR]=Beta, apenas para o Python 2
Comment[sk]=Beta, iba pre Python 2
Comment[sl]=Beta, samo za Python 2
Comment[sv]=Beta, bara för Python 2
Comment[tr]=Beta, sadece Python 2 için
Comment[uk]=Тестова версія, лише для Python 2
Comment[x-test]=xxBeta, only for Python 2xx
X-Python-2-Compatible=true
X-Python-2-Only=true
X-Python-2-Dependencies=pysmell|>=0.7.3,pyplete|>=0.0.5
