[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_autocomplete
Name=Python Autocompletion
Name[de]=Python-Autovervollständigung
Name[nl]=Automatische aanvulling voor Python
Name[pt]=Completação Automática de Python
Name[sk]=Automatické ukončovanie Python
Name[sl]=Samodejno dopolnjevanje za Python
Name[uk]=Автодоповнення Python
Name[x-test]=xxPython Autocompletionxx
Comment=Beta, only for Python 2
Comment[de]=Beta, nur für Python 2
Comment[nl]=Beta, alleen voor Python 2
Comment[pt]=Beta, apenas para o Python 2
Comment[sk]=Beta, iba pre Python 2
Comment[sl]=Beta, samo za Python 2
Comment[uk]=Тестова версія, лише для Python 2
Comment[x-test]=xxBeta, only for Python 2xx
X-Python-2-Compatible=true
X-Python-3-Compatible=false
X-Python-Dependencies=pysmell,pyplete
