[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesearchplugin
X-Kate-Version=2.9
Name=Search Plugin
Name[bs]=Priključak za pretragu
Name[ca]=Connector de cerca
Name[cs]=Modul hledání
Name[da]=Søge-plugin
Name[de]=Such-Modul
Name[es]=Complemento de búsqueda
Name[ia]=Cerca Plug-in
Name[kk]=Іздеу плагині
Name[km]=កម្មវិធី​ជំនួយ​ស្វែងរក
Name[nb]=Søkemodul
Name[nds]=Söökmoduul
Name[nl]=Plugin voor zoeken
Name[pa]=ਖੋਜ ਪਲੱਗਇਨ
Name[pl]=Szukaj wtyczki
Name[pt]='Plugin' de Pesquisa
Name[pt_BR]=Plug-in de pesquisa
Name[ro]=Modul Căutare
Name[sl]=Vstavek za iskanje
Name[sv]=Sökinsticksprogram
Name[tr]=Arama Eklentisi
Name[ug]=قىستۇرما ئىزدەش
Name[uk]=Додаток пошуку
Name[x-test]=xxSearch Pluginxx
Name[zh_TW]=搜尋外掛程式
Comment=Find a pattern in files
Comment[bs]=Nađi uzorak u datotekama
Comment[ca]=Cerca un patró en fitxers
Comment[da]=Find et mønster i filer
Comment[de]=Dateien nach einem Muster durchsuchen
Comment[es]=Buscar un patrón en archivos
Comment[ia]=Trova un patrono in files
Comment[kk]=Файлдарда өрнекті іздеу
Comment[km]=រក​លំនាំ​នៅ​ក្នុង​ឯកសារ
Comment[nb]=Finn et mønster i filer
Comment[nl]=Naar een patroon in bestanden zoeken
Comment[pl]=Znajdź wzorzec w plikach
Comment[pt]=Procurar um padrão nos ficheiros
Comment[pt_BR]=Localizar um padrão nos arquivos
Comment[ro]=Caută un model în fișiere
Comment[sl]=V datotekah najdite vzorec
Comment[sv]=Hitta mönster i filer
Comment[tr]=Dosyalardaki desenleri ara
Comment[ug]=ھۆججەتتىن بىر ئەندىزە ئىزدەيدۇ
Comment[uk]=Пошук у файлах за шаблоном
Comment[x-test]=xxFind a pattern in filesxx
Comment[zh_TW]=在檔案中尋找樣式
