[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesearchplugin
X-Kate-Version=2.9
X-Kate-Load=True
Name=Search & Replace
Comment=Search & replace in opened documents or in files on disk
