/**
 * Class <%= n %>
 */
class <%= n %><%= typeof(p)!== 'undefined' ?  " : public " + p : '' %>
{
    public:
        /**
         * Constructor of <%= n %>
         */
        <%= n %> ();
        
        /**
         * Destructor of <%= n %>
         */
        ~<%= n %> ();
};