[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=color_tools
Name=Color Tools
Name[ar]=أدوات الألوان
Name[bs]=Alati boja
Name[ca]=Eines de color
Name[ca@valencia]=Eines de color
Name[cs]=Nástroje pro práci s barvami
Name[da]=Farveværktøjer
Name[de]=Farbenwerkzeuge
Name[el]=Εργαλεία χρωμάτων
Name[en_GB]=Colour Tools
Name[es]=Herramientas de color
Name[et]=Värvitööriistad
Name[fi]=Color Tools
Name[fr]=Outils de couleur
Name[gl]=Utilidades de cor
Name[he]=כלי צביעה
Name[hu]=Színeszközök
Name[ia]=Instrumentos de color
Name[kk]=Түс құралдары
Name[ko]=색 도구
Name[lt]=Spalvos įrankiai
Name[nb]=Fargeverktøy
Name[nds]=Klöörwarktüüch
Name[nl]=Hulpmiddelen voor kleur
Name[pl]=Narzędzia koloru
Name[pt]=Ferramentas de Cores
Name[pt_BR]=Ferramentas de cores
Name[ro]=Unelte de culoare
Name[ru]=Цветовые утилиты
Name[sk]=Farebné nástroje
Name[sl]=Orodja za barve
Name[sr]=Алатке боја
Name[sr@ijekavian]=Алатке боја
Name[sr@ijekavianlatin]=Alatke boja
Name[sr@latin]=Alatke boja
Name[sv]=Färgverktyg
Name[tr]=Renk Araçları
Name[uk]=Засоби роботи з кольорами
Name[x-test]=xxColor Toolsxx
Name[zh_CN]=颜色工具
Name[zh_TW]=色彩工具
Comment=Utilities to work with hexadecimal colors in documents
Comment[ar]=أدوات للعمل مع الألوان ذات القيم الست عشرية في المستندات
Comment[bs]=Alati za rad s heksadekadnim bojama u dokumentima
Comment[ca]=Utilitats per treballar amb colors hexadecimals en documents
Comment[ca@valencia]=Utilitats per treballar amb colors hexadecimals en documents
Comment[cs]=Nástroje pro práci s šestnáctkovými barvami v dokumentech
Comment[da]=Værktøjer til at arbejde med hexadecimale farver i dokumenter
Comment[de]=Hilfsmittel zum Umgang mit Hexadezimalwerten für Farben in Dokumenten
Comment[el]=Εργαλεία για εργασία με δεκαεξαδικά χρώματα σε έγγραφα
Comment[en_GB]=Utilities to work with hexadecimal colours in documents
Comment[es]=Utilidades para trabajar con colores en hexadecimal en los documentos
Comment[et]=Tööriistad kuueteistkümnendkoodis värvide kasutamiseks dokumentides
Comment[fi]=Työkaluja heksadesimaalisten värien kanssa työskentelyyn
Comment[fr]=Utilitaires pour travailler avec des couleurs hexadécimales dans un document
Comment[gl]=Utilidades para traballar con cores hexadecimais nos documentos
Comment[he]=שירותיות לעבודה עם צבעים הקסאדצימלים במסמכים
Comment[hu]=Segédprogramok a hexadecimális színekkel való munkához a dokumentumokban
Comment[ia]=Utilitates pro travaliar con colores hexadecimal in documentos
Comment[kk]=Құжаттарда түстермен оналтылық түрде жұмыс істеу утилиталары
Comment[ko]=문서의 16진 색상을 다루기 위한 도구
Comment[lt]=Pagalbininkai darbui su šešioliktainėmis spalvomis dokumentuose
Comment[nb]=Verktøy for å arbeide med heksadesimale farger i dokumenter
Comment[nds]=Warktüüch för't Arbeiden mit hexadezimaal Klören binnen Dokmenten
Comment[nl]=Hulpmiddelen om te werken met hexadecimale kleuren in documenten
Comment[pl]=Narzędzia do pracy z szesnastkowymi kolorami w dokumentach
Comment[pt]=Utilitários para lidar com cores hexadecimais nos documentos
Comment[pt_BR]=Utilitários para lidar com cores hexadecimais nos documentos
Comment[ro]=Utilitare pentru lucrul cu culori hexazecimale în documente
Comment[ru]=Инструменты для работы с шестнадцатеричными цветами в документах
Comment[sk]=Nástroje na prácu s hexadecimálnymi farbami v dokumentoch
Comment[sl]=Pripomočki za delo s šestnajstiškimi barvami v dokumentih
Comment[sr]=Алатке за рад са хексадекадним бојама у документима
Comment[sr@ijekavian]=Алатке за рад са хексадекадним бојама у документима
Comment[sr@ijekavianlatin]=Alatke za rad sa heksadekadnim bojama u dokumentima
Comment[sr@latin]=Alatke za rad sa heksadekadnim bojama u dokumentima
Comment[sv]=Verktyg för att arbeta med hexadecimala färger i dokument
Comment[tr]=Belgelerde onaltılık renklerle çalışmak için yardımcılar
Comment[uk]=Засоби для роботи з шістнадцятковими кольорами у документах
Comment[x-test]=xxUtilities to work with hexadecimal colors in documentsxx
Comment[zh_CN]=在文档中使用十六进制颜色的工具
Comment[zh_TW]=在文件中編輯十六進制色彩碼的工具
X-Python-2-Compatible=true
