[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=gid
Name=GNU idutils plugin
Name[bs]=Priključak za  GNU idutils
Name[ca]=Connector «idutils» de GNU
Name[ca@valencia]=Connector «idutils» de GNU
Name[cs]=Modul GNU idutils
Name[da]=GNU idutils-plugin
Name[de]=„GNU Idutils“-Modul
Name[el]=Πρόσθετο GNU idutils
Name[en_GB]=GNU idutils plugin
Name[es]=Complemento GNU idutils
Name[et]=GNU idutilsi plugin
Name[fi]=GNU idutils -liitännäinen
Name[fr]=Module externe GNU idutils de Kate
Name[gl]=Complemento das GNU idutils
Name[he]=תוסף GNU idutils
Name[hu]=GNU idutils bővítmény
Name[ia]=Plug-in de GNU idutils
Name[it]=Estensione GNU idutils
Name[kk]=GNU idutils плагині
Name[ko]=GNU idutils 플러그인
Name[lt]=GNU idutils priedas
Name[nb]=GNU idutils-tillegg
Name[nds]=GNU-IDUtils-Moduul
Name[nl]=Plug-in voor GNU idutils
Name[pl]=Wtyczka GNU idutils
Name[pt]='Plugin' do 'idutils' da GNU
Name[pt_BR]=Plugin do GNU idutils
Name[ru]=Модуль idutils (GNU)
Name[sk]=GNU idutils plugin
Name[sl]=Vstavek GNU idutils
Name[sr]=Прикључак за Гнуове ИД алатке
Name[sr@ijekavian]=Прикључак за Гнуове ИД алатке
Name[sr@ijekavianlatin]=Priključak za GNU‑ove ID alatke
Name[sr@latin]=Priključak za GNU‑ove ID alatke
Name[sv]=GNU idutils-insticksprogram
Name[tr]=GNU idutils eklentisi
Name[uk]=Додаток GNU idutils
Name[x-test]=xxGNU idutils pluginxx
Name[zh_CN]=GNU idutils 插件
Name[zh_TW]=GNU idutils 外掛程式
Comment=Browse the tokens in a GNU idutils ID file
Comment[bs]=Pregledaj tokene u GNU idutils id datoteci
Comment[ca]=Examina els testimonis en un fitxer ID amb «idutils» de GNU
Comment[ca@valencia]=Examina els testimonis en un fitxer ID amb «idutils» de GNU
Comment[da]=Gennemse poletter i en GNU idutils id-fil
Comment[de]=Durchsuchen Sie die Token in einer ID-Datei von „GNU-Idutils“
Comment[en_GB]=Browse the tokens in a GNU idutils ID file
Comment[es]=Mostrar los identificadores en un archivo GNU idutils de ID
Comment[et]=GNU idutilsi ID-faili tähiste sirvimine
Comment[fi]=Selaa GNU idutils -ohjelman ID-tiedoston lausekkeita
Comment[fr]=Explorer les jetons dans un fichier d'identification GNU idutils
Comment[gl]=Examina os tokens dun ficheiro de identificadores de GNU idutils
Comment[he]=עיין בערכים של קובץ GNU idutils ID
Comment[hu]=Tokenek tallózása egy GNU idutils ID fájlban
Comment[ia]=Explora indicios in un file de GNU idutils ID
Comment[it]=Naviga le variabili in un file ID delle GNU idutils
Comment[kk]=GNU idutils ID файлдағы өрнектерді шолу
Comment[ko]=GNU idutils ID 파일의 토큰 탐색
Comment[nb]=Bla i symbolene  i en GNU idutils ID-fl
Comment[nds]=De Marken binnen en IDUtils-ID-Datei dörkieken
Comment[nl]=Blader door de tokens in een GNU idutils ID-bestand
Comment[pl]=Przeglądaj tokeny w pliku identyfikatorów GNU idutils
Comment[pt]=Navega pelos itens de um ficheiro ID do 'idutils' da GNU
Comment[pt_BR]=Navega pelos itens de um arquivo ID do GNU idutils
Comment[ru]=Просмотр содержимого базы данных ID GNU
Comment[sk]=Prehliadať tokeny v ID súbore GNU idutils
Comment[sl]=Brskajte po žetonih v datoteki GNU idutils ID
Comment[sr]=Прегледајте токене у фајлу Гнуових ИД алатки
Comment[sr@ijekavian]=Прегледајте токене у фајлу Гнуових ИД алатки
Comment[sr@ijekavianlatin]=Pregledajte tokene u fajlu GNU‑ovih ID alatki
Comment[sr@latin]=Pregledajte tokene u fajlu GNU‑ovih ID alatki
Comment[sv]=Bläddra bland symbolerna i en GNU idutils id-fil
Comment[tr]=Bir GNU idutils kimlik dosyasına belirteçlere göz atın
Comment[uk]=Перегляд ключів у файлі ідентифікаторів GNU idutils
Comment[x-test]=xxBrowse the tokens in a GNU idutils ID filexx
Comment[zh_CN]=在 GNU idutils ID 文件中浏览密钥
Comment[zh_TW]=瀏覽 GNU idutils ID 檔裡的標記
X-Python-2-Compatible=true
