[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=expand
Name=User defined text expansions
Comment=Execute expansion function and insert output into a document
X-Python-Dependencies=jinja2(>=2.7)
