<?xml version="1.0" encoding="UTF-8"?>
<!--
    SPDX-FileCopyrightText: 2026 Christoph Cullmann <cullmann@kde.org>

    SPDX-License-Identifier: MIT
-->
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kateacpclient" version="2">

  <MenuBar>
    <Menu name="acp_client" >
      <Text>ACP Client</Text>
      <Action name="acp_new_session" />
      <Action name="acp_send_prompt" />
      <Action name="acp_show_chat" />
      <Separator/>
      <Action name="acp_list_sessions" />
      <Action name="acp_show_tools" />
      <Separator/>
      <Action name="acp_manage_servers" />
    </Menu>
  </MenuBar>

</kpartgui>
