<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kateacpclient" version="2">

  <MenuBar>
    <Menu name="acp_client" >
      <Text>ACP Client</Text>
    </Menu>
  </MenuBar>

</kpartgui>
