[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=externaltoolsplugin
Name=External Tools
Name[ar]=الأدوات الخارجية
Name[da]=Eksterne værktøjer
Name[de]=Externe Programme
Name[el]=Εξωτερικά εργαλεία
Name[en_GB]=External Tools
Name[et]=Välised tööriistad
Name[eu]=Kanpoko tresnak
Name[fi]=Ulkoiset työkalut
Name[fr]=Outils externes
Name[ga]=Uirlisí Seachtracha
Name[gl]=Utilidades externas
Name[hu]=Külső eszközök
Name[it]=Strumenti esterni
Name[kk]=Сыртқы құралдар
Name[km]=ឧបករណ៍​ខាង​ក្រៅ
Name[lv]=Ārējie rīki
Name[nds]=Extern Warktüüch
Name[ne]=बाह्य उपकरण
Name[nl]=Externe hulpmiddelen
Name[pa]=ਬਾਹਰੀ ਟੂਲ
Name[pl]=Narzędzia zewnętrzne
Name[ro]=Unelte externe
Name[si]=බාහිර මෙවලම්
Name[sv]=Externa verktyg
Name[tg]=Асбобҳои берунӣ
Name[ug]=سىرتقى قوراللار
Name[uk]=Зовнішні засоби
Name[wa]=Divantrinnès usteyes
Comment=External Tools
Comment[ar]=الأدوات الخارجية
Comment[be]=Знешнія інструменты
Comment[bg]=Външни инструменти
Comment[da]=Eksterne værktøjer
Comment[de]=Externe Programme
Comment[el]=Εξωτερικά εργαλεία
Comment[en_GB]=External Tools
Comment[et]=Välised tööriistad
Comment[eu]=Kanpoko tresnak
Comment[fi]=Ulkoiset työkalut
Comment[fr]=Outils externes
Comment[ga]=Uirlisí Seachtracha
Comment[gl]=Utilidades externas
Comment[hu]=Külső eszközök
Comment[it]=Strumenti esterni
Comment[kk]=Сыртқы құралдар
Comment[km]=ឧបករណ៍​ខាង​ក្រៅ
Comment[lv]=Ārējie rīki
Comment[mai]=बाहरी अओजार
Comment[nds]=Extern Warktüüch
Comment[ne]=बाह्य उपकरण
Comment[nl]=Externe hulpmiddelen
Comment[pa]=ਬਾਹਰੀ ਟੂਲ
Comment[pl]=Narzędzia zewnętrzne
Comment[ro]=Unelte externe
Comment[si]=බාහිර මෙවලම්
Comment[sv]=Externa verktyg
Comment[tg]=Асбобҳои берунӣ
Comment[ug]=سىرتقى قوراللار
Comment[uk]=Зовнішні інструменти
Comment[wa]=Divantrinnès usteyes
