<!DOCTYPE kpartgui>
<gui name="externaltools" library="externaltoolsplugin" version="2">
  <MenuBar>
    <Menu name="tools"><text>&amp;Tools</text>
      <Action name="tools_external" />
    </Menu>
  </MenuBar>
  <ToolBar name="externaltoolsplugin">
    <text>External Tools</text>
  </ToolBar>
</gui>
