[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=lspclientplugin
Name=LSP Client
Name[ca]=Client LSP
Name[cs]=Klient LSP
Name[de]=LSP-CLient
Name[el]=Πελάτης LSP
Name[en_GB]=LSP Client
Name[es]=Cliente LSP
Name[et]=LSP klient
Name[eu]=LSP bezeroa
Name[fr]=Client LSP
Name[gl]=Cliente de LSP
Name[ia]=Cliente LSP
Name[id]=Klien LSP
Name[it]=Client LSP
Name[ko]=LSP 클라이언트
Name[nl]=LSP-client
Name[nn]=LSP-klient
Name[pl]=Klient LSP
Name[pt]=Cliente de LSP
Name[pt_BR]=Cliente LSP
Name[ru]=Клиент LSP
Name[sk]=LSP Client
Name[sv]=LSP-klient
Name[uk]=Клієнт LSP
Name[x-test]=xxLSP Clientxx
Name[zh_CN]=LSP 客户端
Name[zh_TW]=LSP 用戶端
Comment=Language Server Protocol Client
Comment[ca]=Client del protocol de servidor de llenguatge
Comment[cs]=Klient pro Language Server Protocol
Comment[de]=Sprachserverprotokoll-Client
Comment[el]=Πελάτης Πρωτοκόλλου γλωσσικού εξυπηρετητή
Comment[en_GB]=Language Server Protocol Client
Comment[es]=Cliente del protocolo de servidor de lenguaje
Comment[et]=Keeleserveri protokolli klient
Comment[eu]=Lengoaia Zerbitzari Protokolo bezeroa
Comment[fr]=Client Language Server Protocol
Comment[gl]=Cliente do protocolo de servidor de linguaxes
Comment[ia]=Language Server Protocol Client (Cliente de protocollo de servitor de linguage)
Comment[it]=Client Language Server Protocol
Comment[ko]=언어 서버 프로토콜 클라이언트
Comment[nl]=Language Server Protocol Client
Comment[nn]=Klient for Language Server Protocol
Comment[pl]=Klient protokołu języka serwera
Comment[pt]=Cliente de Language Server Protocol (LSP)
Comment[pt_BR]=Cliente de Language Server Protocol (LSP)
Comment[ru]=Поддержка Language Server Protocol
Comment[sk]=Language Server Protocol Client
Comment[sv]=Klient för språkserverprotokollet (Language Server Protocol)
Comment[uk]=Клієнт протоколу сервера мов (LSP)
Comment[x-test]=xxLanguage Server Protocol Clientxx
Comment[zh_CN]=语言服务器协议客户端
Comment[zh_TW]=「語言伺服器協定」用戶端
