[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=gid
Name=GNU idutils plugin
Comment=Browse the tokens in a GNU idutils ID file
X-Python-2-Compatible=true
