[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katequickdocumentswitcherplugin
X-Kate-Version=2.8
Name=Kate Quick Document switcher
Name[de]=Kate Schnellwechsler für Dokumente
Name[el]=Γρήγορη εναλλαγή εγγράφου του Kate
Name[it]=Cambio veloce dei documenti di Kate
Name[sv]=Kate snabbdokumentbyte
Name[x-test]=xxKate Quick Document switcherxx
Name[zh_TW]=Kate 快速文件切換器
Comment=Quickly switch to another already opened document
Comment[de]=Zu einem anderen geöffneten Dokument springen
Comment[el]=Γρήγορη εναλλαγή σε κάποιο άλλο ήδη ανοιχτό έγγραφο
Comment[it]=Passa velocemente a un altro documento aperto
Comment[sv]=Byt snabbt till ett annat redan öppnat dokument
Comment[x-test]=xxQuickly switch to another already opened documentxx
Comment[zh_TW]=快速在已開啟文件中切換
