[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katequickdocumentswitcherplugin
X-Kate-Version=2.8
Name=Kate Quick Document switcher
Name[it]=Cambio veloce dei documenti di Kate
Name[x-test]=xxKate Quick Document switcherxx
Comment=Quickly switch to another already opened document
Comment[it]=Passa velocemente a un altro documento aperto
Comment[x-test]=xxQuickly switch to another already opened documentxx
