[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katequickdocumentswitcherplugin
X-Kate-Version=2.8
Name=Kate Quick Document switcher
Name[ca]=Commutador ràpid de documents per al Kate
Name[da]=Hurtig dokumentskifter til Kate
Name[de]=Kate Schnellwechsler für Dokumente
Name[el]=Γρήγορη εναλλαγή εγγράφου του Kate
Name[es]=Cambiador rápido de documento para Kate
Name[et]=Kate dokumentide kiirlülitaja
Name[fr]=Commutateur de documents rapide pour Kate
Name[ga]=Mearmhalairt Cháipéise Kate
Name[gl]=Mudanza rápida de documento para Kate
Name[hu]=Gyors dokumentumváltó
Name[it]=Cambio veloce dei documenti di Kate
Name[ja]=Kate クイック文書スイッチャー
Name[km]=កម្មវិធី​ប្ដូរ​ឯកសារ​រហ័ស Kate
Name[lv]=Kate ātrais dokumentu pārslēdzējs
Name[nds]=Dokmenten wesseln
Name[ne]=केट द्रुत कागजात स्विचर
Name[nl]=Snel van document wisselen (Kate)
Name[pl]=Szybkie przełączanie dokumentów
Name[pt]=Selector Rápido de Documentos do Kate
Name[pt_BR]=Seletor Rápido de Documentos do Kate
Name[sr]=Кејтино брзо пребацивање докумената
Name[sr@latin]=Kateino brzo prebacivanje dokumenata
Name[sv]=Kate snabbdokumentbyte
Name[tr]=Kate Hızlı Belge Seçici
Name[uk]=Швидкий перемикач між документами Kate
Name[x-test]=xxKate Quick Document switcherxx
Name[zh_CN]=Kate 快速文档切换
Name[zh_TW]=Kate 快速文件切換器
Comment=Quickly switch to another already opened document
Comment[ca]=Commuta ràpidament a un document obert prèviament
Comment[da]=Skift hurtigt til et andet allerede åbnet dokument
Comment[de]=Zu einem anderen geöffneten Dokument springen
Comment[el]=Γρήγορη εναλλαγή σε κάποιο άλλο ήδη ανοιχτό έγγραφο
Comment[es]=Cambio rápido a otro documento abierto
Comment[et]=Võimaldab kiiresti lülituda mõnele teisele avatud dokumendile
Comment[fr]=Passe rapidement d'un document déjà ouvert à un autre
Comment[ga]=Athraigh go cáipéis oscailte eile go tapa
Comment[gl]=Vaia rapidamente para outro documento xa aberto
Comment[hu]=Gyors váltás egy másik megnyitott dokumentumra
Comment[it]=Passa velocemente a un altro documento aperto
Comment[ja]=既に開いている他の文書に素早く切り替えることができます
Comment[km]=ប្ដូរ​រហ័ស​ទៅ​ឯកសារ​ដែល​បាន​បើក​រួចរាល់​មួយ​ផ្សេង​ទៀត
Comment[lv]=Ļauj ātri pārslēgties uz citu jau atvērtu dokumentu
Comment[nds]=Gau na en anner opmaakt Dokment wesseln
Comment[ne]=पहिल्यै खोलिएको अन्य कागजातमा द्रुत रूपमा स्विच गर्नुहोस्
Comment[nl]=Snel overschakelen naar een reeds geopend document
Comment[pl]=Szybkie przełączanie między otwartymi dokumentami
Comment[pt]=Muda rapidamente para outro documento já aberto
Comment[pt_BR]=Muda rapidamente para outro documento já aberto
Comment[sr]=Брзо се пребаците на други већ отворени документ
Comment[sr@latin]=Brzo se prebacite na drugi već otvoreni dokument
Comment[sv]=Byt snabbt till ett annat redan öppnat dokument
Comment[tr]=Zaten açık olan bir belgeye hızlıca geçmek için kullanılır
Comment[uk]=Швидко перемкнути на інший відкритий документ
Comment[x-test]=xxQuickly switch to another already opened documentxx
Comment[zh_CN]=快速切换到另一个已打开的文档
Comment[zh_TW]=快速在已開啟文件中切換
