[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kategdbplugin
X-Kate-Version=2.9
Name=GDB Plugin
Name[x-test]=xxGDB Pluginxx
Comment=Provides a simple GDB frontend for Kate
Comment[x-test]=xxProvides a simple GDB frontend for Katexx
