[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kategdbplugin
X-Kate-Version=2.9
Name=GDB
Name[ast]=GDB
Name[ca]=GDB
Name[en_GB]=GDB
Name[et]=GDB
Name[nds]=GDB
Name[pa]=GDB
Name[pt]=GDB
Name[pt_BR]=GDB
Name[sv]=GDB
Name[uk]=GDB
Name[x-test]=xxGDBxx
Name[zh_TW]=GDB
Comment=Provides a simple GDB frontend
Comment[ca]=Proporciona un frontal GDB senzill
Comment[en_GB]=Provides a simple GDB frontend
Comment[et]=Lihtne GDB kasutajaliides
Comment[nds]=Stellt en eenfach GDB-Böversiet praat.
Comment[pt]=Oferece uma interface simples para o GDB
Comment[pt_BR]=Oferece uma interface simples do GDB
Comment[sv]=Tillhandahåller ett enkelt gränssnitt för GDB
Comment[uk]=Проста оболонка до GDB
Comment[x-test]=xxProvides a simple GDB frontendxx
Comment[zh_TW]=提供簡單 GDB 前端介面
