[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=kategdbplugin
X-Kate-Version=2.9
Name=GDB
Name[ast]=GDB
Name[ca]=GDB
Name[ca@valencia]=GDB
Name[cs]=GDB
Name[da]=GDB
Name[de]=GDB
Name[en_GB]=GDB
Name[es]=GDB
Name[et]=GDB
Name[fr]=GDB
Name[gl]=GDB
Name[ia]=GDB
Name[it]=GDB
Name[km]=GDB
Name[nb]=GDB
Name[nds]=GDB
Name[nl]=GDB
Name[pa]=GDB
Name[pt]=GDB
Name[pt_BR]=GDB
Name[ro]=GDB
Name[ru]=GDB
Name[sr]=ГДБ
Name[sr@ijekavian]=ГДБ
Name[sr@ijekavianlatin]=GDB
Name[sr@latin]=GDB
Name[sv]=GDB
Name[tg]=GDB
Name[tr]=GDB
Name[ug]=GDB
Name[uk]=GDB
Name[wa]=GDB
Name[x-test]=xxGDBxx
Name[zh_CN]=GDB
Name[zh_TW]=GDB
Comment=Provides a simple GDB frontend
Comment[bs]=Jednostavno pročelje za GDB
Comment[ca]=Proporciona un frontal GDB senzill
Comment[ca@valencia]=Proporciona un frontal GDB senzill
Comment[da]=Giver en enkel GDB-brugerflade
Comment[de]=Stellt eine einfache GDB-Oberfläche zur Verfügung
Comment[en_GB]=Provides a simple GDB frontend
Comment[es]=Proporciona una sencilla interfaz para GDB
Comment[et]=Lihtne GDB kasutajaliides
Comment[fr]=Fournit une interface GDB simple
Comment[gl]=Fornece unha interface simple para o GDB
Comment[ia]=Il forni un simple fronte per GDB
Comment[it]=Una semplice interfaccia a GDB
Comment[km]=ផ្ដល់​ផ្នែក​ខាង​មុខ​របស់​ GDB សាមញ្ញ​
Comment[nb]=Gir en enkel brukerflate til GDB
Comment[nds]=Stellt en eenfach GDB-Böversiet praat.
Comment[nl]=Levert een eenvoudige GDB-frontend
Comment[pt]=Oferece uma interface simples para o GDB
Comment[pt_BR]=Oferece uma interface simples do GDB
Comment[ro]=Oferă o interfață simplă pentru GDB
Comment[ru]=Простой интерфейс к отладчику GDB
Comment[sr]=Једноставно прочеље за ГДБ
Comment[sr@ijekavian]=Једноставно прочеље за ГДБ
Comment[sr@ijekavianlatin]=Jednostavno pročelje za GDB
Comment[sr@latin]=Jednostavno pročelje za GDB
Comment[sv]=Tillhandahåller ett enkelt gränssnitt för GDB
Comment[tr]=Basit bir GDB önyüzü sağlar
Comment[ug]=ئاددىي GDB ئالدى ئۇچى تەمىنلەيدۇ
Comment[uk]=Проста оболонка до GDB
Comment[x-test]=xxProvides a simple GDB frontendxx
Comment[zh_CN]=提供简单的 GDB 前端
Comment[zh_TW]=提供簡單 GDB 前端介面
