[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=ktexteditor_timedate
X-KDE-PluginInfo-Author=Rafael Fernández López
X-KDE-PluginInfo-Email=ereslibre@gmail.com
X-KDE-PluginInfo-Name=ktexteditortimedate
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=korganizer
Name=Time & Date
Name[ga]=Am & Dáta
Name[he]=תאריך ושעה
Name[nds]=Datum un Tiet
Name[pt]=Hora & Data
Name[pt_BR]=Hora & Data
Name[zh_TW]=時間與日期
Comment=Insert current Time & Date
Comment[ga]=Ionsáigh an tAm & an Dáta reatha
Comment[he]=הוספת התאריך והשעה הנוכחיים
Comment[nds]=Aktuell Datum un Tiet infögen
Comment[pt]=Inserir a Data & Hora actual
Comment[pt_BR]=Inserir a Data & Hora actual
Comment[zh_TW]=插入目前的時間與日期
