[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=ktexteditor_timedate
X-KDE-PluginKeyword=ktexteditor_timedate_config
X-KDE-ParentComponents=ktexteditortimedate
Name=Format of Time & Date insertion
Name[cs]=Formát vložení data a času
Name[en_GB]=Format of Time & Date insertion
Name[et]=Kellaaja ja kuupäeva lisamise vorming
Name[ia]=Insertion de le formato de tempore e data 
Name[nl]=Opmaak van ingevoegde datum en tijd
Name[pt]=Formato da introdução de Datas & Horas
Name[pt_BR]=Formato da inserção da data e hora
Name[sv]=Format för att infoga tid och datum
Name[uk]=Формат часу і дати для вставлення
Name[x-test]=xxFormat of Time & Date insertionxx
