[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-Library=ktexteditor_timedate
X-KDE-FactoryName=ktexteditor_timedate_config
X-KDE-ParentComponents=ktexteditortimedate

Name=Format of Time & Date insertion
Name[ga]=Formáid Ionsáite Ama & Dáta
Name[he]=הגדרות תבנית התאריך והשעה המוספים
Name[nds]=Formaat för inföögt Datum un Tiet
Name[pt]=Formato da inserção da Data & Hora
Name[pt_BR]=Formato da inserção da Data & Hora
