[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=ktexteditor_timedate
X-KDE-PluginInfo-Author=Rafael Fernández López
X-KDE-PluginInfo-Email=ereslibre@gmail.com
X-KDE-PluginInfo-Name=ktexteditortimedate
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=kate
ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=korganizer
Name=Time & Date
Name[ca]=Data i hora
Name[de]=Uhrzeit & Datum
Name[el]=Ώρα & ημερομηνία
Name[es]=Hora y fecha
Name[ga]=Am & Dáta
Name[he]=תאריך ושעה
Name[hu]=Dátum és idő
Name[kk]=Уақыт пен күн
Name[kn]=ಸಮಯ ಮತ್ತು ದಿನಾಂಕ
Name[ko]=시간과 날짜
Name[nds]=Datum un Tiet
Name[ne]=समय र मिति
Name[nl]=Datum & tijd
Name[pt]=Hora & Data
Name[pt_BR]=Hora & Data
Name[sv]=Tid och datum
Name[th]=เวลา & วันที่
Name[zh_TW]=時間與日期
Comment=Insert current Time & Date
Comment[ca]=Insereix la data i l'hora actual
Comment[de]=Einfügen von Uhrzeit & Datum
Comment[el]=Εισαγωγή τρέχουσας ώρας & ημερομηνίας
Comment[es]=Insertar hora y fecha actuales
Comment[ga]=Ionsáigh an tAm & an Dáta reatha
Comment[he]=הוספת התאריך והשעה הנוכחיים
Comment[hu]=Az aktuális dátum és idő beszúrása
Comment[kk]=Уақыт пен күн белгісін қою
Comment[kn]=ಪ್ರಸ್ತುತ ಸಮಯ ಮತ್ತು ಮತ್ತು ದಿನಾಂಕವನ್ನು ಒಳಸೇರಿಸು
Comment[ko]=현재 시간과 날짜를 삽입합니다
Comment[nds]=Aktuell Datum un Tiet infögen
Comment[ne]=हालको समय र मिति घुसाउनुहोस्
Comment[nl]=Huidige datum en tijd invoegen
Comment[pt]=Inserir a Data & Hora actual
Comment[pt_BR]=Inserir a Data & Hora atual
Comment[sv]=Infoga aktuell tid och datum
Comment[th]=แทรกเวลาและวันที่
Comment[zh_TW]=插入目前的時間與日期
