<!DOCTYPE kpartgui>
<gui name="ktexteditor_timedate" library="ktexteditor_timedate" version="2">
<MenuBar>
 <Menu name="tools"><text>&amp;Tools</text>
    <Separator group="tools_operations" />
    <Action name="tools_insert_timedate" group="tools_operations"/>
 </Menu>
</MenuBar>
</gui>
