[Desktop Entry]
GenericName=Text Editor
GenericName[cs]=Textový editor
GenericName[en_GB]=Text Editor
GenericName[ia]=Editor de texto
GenericName[nl]=Teksteditor
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de textos
GenericName[sv]=Texteditor
GenericName[uk]=Текстовий редактор
GenericName[x-test]=xxText Editorxx
Name=KWrite
Name[cs]=KWrite
Name[en_GB]=KWrite
Name[ia]=Kwrite
Name[nl]=KWrite
Name[pt]=KWrite
Name[pt_BR]=KWrite
Name[sv]=Kwrite
Name[uk]=KWrite
Name[x-test]=xxKWritexx
MimeType=text/plain;
Exec=kwrite %U
X-KDE-StartupNotify=true
Icon=accessories-text-editor
X-DocPath=kwrite/index.html
Type=Application
Terminal=false
InitialPreference=8
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kate-editor.kwrite
Categories=Qt;KDE;Utility;TextEditor;
