[Desktop Entry]
GenericName=Text Editor
GenericName[af]=Teks Redigeerder
GenericName[ar]=محرر نصوص
GenericName[as]=লিপি সম্পাদক
GenericName[be]=Тэкставы рэдактар
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটর
GenericName[br]=Aozer skrid
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cs]=Textový editor
GenericName[csb]=Tekstowi editora
GenericName[cy]=Golygydd Testun
GenericName[da]= Teksteditor
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta redaktilo
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[fy]=Tekstbewurker
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de textos
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hne]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hsb]=Wobdźěłar tekstow
GenericName[hu]=Szövegszerkesztő
GenericName[ia]=Editor de texto
GenericName[id]=Penyunting Teks
GenericName[is]=Textaritill
GenericName[it]=Editor di testi
GenericName[ja]=テキストエディタ
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kk]=Мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​​អត្ថបទ
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtorê Nivîsan
GenericName[lt]=Teksto redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mk]=Уредувач на текст
GenericName[ml]=ടെക്സ്റ്റ് എഴുത്തിടം
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Skriveprogram
GenericName[nds]=Texteditor
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Teksteditor
GenericName[nn]=Skriveprogram
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ୟ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[se]=Čállinprográmma
GenericName[si]=පෙළ සකසුව
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@ijekavian]=Уређивач текста
GenericName[sr@ijekavianlatin]=Uređivač teksta
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Texteditor
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[tg]=Таҳриргари матн
GenericName[th]=โปรแกรมแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Редактор текстів
GenericName[uz]=Matn tahrirchi
GenericName[uz@cyrillic]=Матн таҳрирчи
GenericName[vi]=Bộ soạn văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli Wombhalo
GenericName[x-test]=xxText Editorxx
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
Name=KWrite
Name[af]=Kskryf
Name[ar]=ك.رايت
Name[as]=KWrite
Name[be]=KWrite
Name[be@latin]=KWrite
Name[bg]=KWrite
Name[bn]=কে-রাইট
Name[bn_IN]=KWrite
Name[br]=KWrite
Name[ca]=KWrite
Name[ca@valencia]=KWrite
Name[cs]=KWrite
Name[csb]=KWrite
Name[cy]=KWrite
Name[da]=KWrite
Name[de]=KWrite
Name[el]=KWrite
Name[en_GB]=KWrite
Name[eo]=KWrite
Name[es]=KWrite
Name[et]=KWrite
Name[eu]=KWrite
Name[fi]=KWrite
Name[fr]=KWrite
Name[fy]=KWrite
Name[ga]=KWrite
Name[gl]=KWrite
Name[gu]=KWrite
Name[he]=KWrite
Name[hi]=के-राइट
Name[hne]=के-राइट
Name[hr]=KWrite
Name[hsb]=KWrite
Name[hu]=KWrite
Name[ia]=Kwrite
Name[id]=KWrite
Name[is]=KWrite
Name[it]=KWrite
Name[ja]=KWrite
Name[ka]=რედაქტორი KWrite
Name[kk]=KWrite
Name[km]=KWrite
Name[kn]=ಕೆರೈಟ್
Name[ko]=KWrite
Name[ku]=KWrite
Name[lt]=KWrite
Name[lv]=KWrite
Name[mai]=के-राइट
Name[mk]=KWrite
Name[ml]=കെറൈറ്റ്
Name[mr]=केराइट
Name[ms]=KWrite
Name[nb]=KWrite
Name[nds]=KWrite
Name[ne]=केडीई राइट
Name[nl]=KWrite
Name[nn]=KWrite
Name[oc]=KWrite
Name[or]=KWrite
Name[pa]=ਕੇ-ਲੇਖਕ
Name[pl]=KWrite
Name[pt]=KWrite
Name[pt_BR]=KWrite
Name[ro]=KWrite
Name[ru]=KWrite
Name[se]=KWrite
Name[si]=KWrite
Name[sk]=KWrite
Name[sl]=KWrite
Name[sr]=К‑писање
Name[sr@ijekavian]=К‑писање
Name[sr@ijekavianlatin]=K‑pisanje
Name[sr@latin]=K‑pisanje
Name[sv]=Kwrite
Name[ta]=KWrite
Name[te]=KWrite
Name[tg]=Таҳриргари KWrite
Name[th]=KWrite
Name[tr]=KWrite
Name[uk]=KWrite
Name[uz]=KWrite
Name[uz@cyrillic]=KWrite
Name[vi]=KWrite
Name[wa]=KWrite
Name[xh]=KWrite
Name[x-test]=xxKWritexx
Name[zh_CN]=KWrite
Name[zh_TW]=KWrite
MimeType=text/plain;
Exec=kwrite %U
X-KDE-StartupNotify=true
Icon=accessories-text-editor
X-DocPath=kwrite/index.html
Type=Application
Terminal=false
InitialPreference=8
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kate-editor.kwrite
Categories=Qt;KDE;Utility;TextEditor;
