[Desktop Entry]
GenericName=Text Editor
Name=KWrite
MimeType=text/plain;
Exec=kwrite %U
X-KDE-StartupNotify=true
Icon=accessories-text-editor
X-DocPath=kwrite/index.html
Type=Application
Terminal=false
InitialPreference=8
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kwrite
Categories=Qt;KDE;Utility;TextEditor;
