[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katectagsplugin
X-Kate-Version=2.9
Name=CTags Plugin
Name[de]=CTags-Modul
Name[el]=Πρόσθετο CTags
Name[es]=Complemento CTags
Name[fr]=Module externe pour CTags
Name[gl]=Extensión de CTags
Name[nds]=CTags-Moduul
Name[pt]='Plugin' do CTags
Name[pt_BR]=Plugin do CTags
Name[sv]=Ctags-insticksprogram
Name[tr]=CTags Eklentisi
Name[uk]=Додаток CTags
Name[x-test]=xxCTags Pluginxx
Name[zh_TW]=CTags 外掛程式
Comment=Look up definitions/declarations with CTags
Comment[de]=Definition/Deklaration mit CTags nachschauen
Comment[el]=Αναζήτηση ορισμών/δηλώσεων με το CTags
Comment[es]=Buscar definiciones/declaraciones con CTags
Comment[fr]=Définitions/déclarations de recherche avec CTags
Comment[gl]=Procura de definicións/declaracións con CTags
Comment[nds]=Definitschonen/Deklaratschonen mit CTags nakieken
Comment[pt]=Procurar definições/declarações com o CTags
Comment[pt_BR]=Procurar definições/declarações com o CTags
Comment[sv]=Slå upp definitioner och deklarationer med Ctags
Comment[tr]=CTags ile bildirimlerde ve tanımlamalarda ara
Comment[uk]=Знайдіть визначення/декларації за допомогою CTags
Comment[x-test]=xxLook up definitions/declarations with CTagsxx
Comment[zh_TW]=使用 CTags 尋找定義與宣告

