[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katectagsplugin
X-Kate-Version=2.9
Name=CTags Plugin
Name[da]=Plugin til CTags
Name[de]=CTags-Modul
Name[el]=Πρόσθετο CTags
Name[es]=Complemento CTags
Name[et]=CTagsi plugin
Name[fr]=Module externe pour CTags
Name[gl]=Extensión de CTags
Name[it]=Estensione CTags
Name[ja]=CTags プラグイン
Name[km]=កម្មវិធី​ជំនួយ CTags
Name[lv]=CTags spraudnis
Name[nds]=CTags-Moduul
Name[pa]=CTags ਪਲੱਗਇਨ
Name[pt]='Plugin' do CTags
Name[pt_BR]=Plug-in do CTags
Name[ro]=Modul CTags
Name[ru]=Интеграция CTags
Name[sv]=Ctags-insticksprogram
Name[tr]=CTags Eklentisi
Name[uk]=Додаток CTags
Name[x-test]=xxCTags Pluginxx
Name[zh_CN]=CTags 插件
Name[zh_TW]=CTags 外掛程式
Comment=Look up definitions/declarations with CTags
Comment[da]=Slå definitioner/erklæringer op med CTags
Comment[de]=Definition/Deklaration mit CTags nachschauen
Comment[el]=Αναζήτηση ορισμών/δηλώσεων με το CTags
Comment[es]=Buscar definiciones/declaraciones con CTags
Comment[et]=Definitsiooni/deklaratsiooni otsimine CTagsiga
Comment[fr]=Définitions/déclarations de recherche avec CTags
Comment[gl]=Procura de definicións/declaracións con CTags
Comment[it]=Cerca definizioni e dichiarazioni con CTags
Comment[ja]=CTags を使って定義/宣言を検索します
Comment[km]=រក​មើល​និយមន័យ/កា​រប្រកាស​ជា​មួយ CTags
Comment[lv]=Uzmeklē definīcijas/deklarācijas ar CTags
Comment[nds]=Definitschonen/Deklaratschonen mit CTags nakieken
Comment[pt]=Procurar definições/declarações com o CTags
Comment[pt_BR]=Procurar definições/declarações com o CTags
Comment[ru]=Поиск определений и объявлений с помощью индекса CTags
Comment[sv]=Slå upp definitioner och deklarationer med Ctags
Comment[tr]=CTags ile bildirimlerde ve tanımlamalarda ara
Comment[uk]=Знайдіть визначення/декларації за допомогою CTags
Comment[x-test]=xxLook up definitions/declarations with CTagsxx
Comment[zh_CN]=使用 CTags 查阅代码中的定义/声明
Comment[zh_TW]=使用 CTags 尋找定義與宣告

