[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=textfilterplugin
Name=Text Filter
Name[ar]=مرشّح النّصوص
Name[ast]=Peñera de testu
Name[bg]=Текстов филтър
Name[bs]=Filter teksta
Name[ca]=Filtre de text
Name[ca@valencia]=Filtre de text
Name[cs]=Textový filtr
Name[da]=Tekstfilter
Name[de]=Textfilter
Name[el]=Φίλτρο κειμένου
Name[en_GB]=Text Filter
Name[es]=Filtro de texto
Name[et]=Tekstifilter
Name[eu]=Testuen iragazkia
Name[fa]=پالایه قرمز
Name[fi]=Tekstisuodatin
Name[fr]=Filtre de texte
Name[ga]=Scagaire Téacs
Name[gl]=Filtro de texto
Name[he]=מסנן טקסט
Name[hu]=Szövegszűrő
Name[ia]=Filtro de texto
Name[id]=Filter Teks
Name[it]=Filtro di testo
Name[ja]=テキストフィルタ
Name[kk]=Мәтін сүзгісі
Name[km]=តម្រង​អត្ថបទ
Name[ko]=텍스트 필터
Name[lt]=Teksto filtras
Name[lv]=Teksta filtrs
Name[mr]=पाठ्य गाळणी
Name[nb]=Tekstfilter
Name[nds]=Textfilter
Name[nl]=Tekstfilter
Name[nn]=Tekstfilter
Name[pa]=ਟੈਕਸਟ ਫਿਲਟਰ
Name[pl]=Filtr tekstu
Name[pt]=Filtro de Texto
Name[pt_BR]=Filtro de texto
Name[ro]=Filtru text
Name[ru]=Текстовый фильтр
Name[si]=පෙළ පෙරහන
Name[sk]=Textový filter
Name[sl]=Filter besedila
Name[sr]=Филтер текста
Name[sr@ijekavian]=Филтер текста
Name[sr@ijekavianlatin]=Filter teksta
Name[sr@latin]=Filter teksta
Name[sv]=Textfilter
Name[tg]=Филтри матн
Name[tr]=Metin Süzgeci
Name[ug]=تېكىست سۈزگۈچ
Name[uk]=Фільтр тексту
Name[vi]=Bộ lọc văn bản
Name[x-test]=xxText Filterxx
Name[zh_CN]=文本过滤
Name[zh_TW]=文字過濾器
Comment=Easy text filtering
Comment[ar]=ترشيح سهل للنّصوص
Comment[ast]=Peñera fácil de testu
Comment[bg]=Лесно филтриране на текст
Comment[bs]=Lako filtriranje teksta
Comment[ca]=Filtratge fàcil del text
Comment[ca@valencia]=Filtratge fàcil del text
Comment[cs]=Jednoduché filtrování textu
Comment[da]=Let tekst filtrering
Comment[de]=Einfacher Textfilter
Comment[el]=Εύκολο φιλτράρισμα κειμένου
Comment[en_GB]=Easy text filtering
Comment[es]=Filtrado fácil de texto
Comment[et]=Lihtne teksti filtreerimine
Comment[eu]=Testuen iragazpen erraza
Comment[fi]=Helppo tekstisuodatin
Comment[fr]=Filtrage simple de texte 
Comment[ga]=Scagadh téacs go héasca
Comment[gl]=Filtrado fácil de textos
Comment[he]=מסנן טקסט מהיר
Comment[hu]=Könnyen kezelhető szövegszűrő
Comment[ia]=Facile filtrar de texto
Comment[id]=Filter teks mudah
Comment[it]=Filtraggio semplice dei testi
Comment[ja]=簡単にテキストにフィルタをかけます
Comment[kk]=Оңай мәтінді сүзгілеу
Comment[km]=តម្រង​អត្ថបទ​ងាយ​ស្រួល
Comment[ko]=쉬운 텍스트 필터링
Comment[lt]=Paprastas teksto filtravimas
Comment[lv]=Vienkārša teksta filtrēšana
Comment[mr]=सोपी पाठ्य गाळणी
Comment[nb]=Enkel tekstfiltrering
Comment[nds]=Eenfach Texten filtern
Comment[ne]=सजिलो पाठ फिल्टरिङ
Comment[nl]=Eenvoudig tekst filteren
Comment[nn]=Enkel tekstfiltrering
Comment[pa]=ਸੌਖੇ ਟੈਕਸਟ ਫਿਲਟਰ
Comment[pl]=Łatwe filtrowanie tekstu
Comment[pt]=Filtragem de texto simples
Comment[pt_BR]=Filtragem simples de texto
Comment[ro]=Filtrare ușoară a textului
Comment[ru]=Простая фильтрация текста
Comment[si]=පහසු පෙළ පෙරහන්කරණය
Comment[sk]=Ľahké filtrovanie textu
Comment[sl]=Preprosto filtriranje besedila
Comment[sr]=Лако филтрирање текста
Comment[sr@ijekavian]=Лако филтрирање текста
Comment[sr@ijekavianlatin]=Lako filtriranje teksta
Comment[sr@latin]=Lako filtriranje teksta
Comment[sv]=Enkel textfiltrering
Comment[tg]=Филтркунии матни осон
Comment[tr]=Kolay metin filtreleme
Comment[ug]=ئاددىي تېكىست سۈزگۈچ
Comment[uk]=Просте фільтрування тексту
Comment[vi]=Lọc văn bản dễ dàng
Comment[wa]=Åjhey passaedje al passete di scrijhaedjes
Comment[x-test]=xxEasy text filteringxx
Comment[zh_CN]=简单的文本过滤器
Comment[zh_TW]=簡易文字過濾器
