[Desktop Entry]
Type=Service
Comment=Select an icon and use it as a KIcon in your source-code
Comment[bg]=Избор на икона и използване като KIcon в изходния код
Comment[bs]=Odabira ikonu i koristi je kao KIcon u izvornom kodu
Comment[ca]=Seleccioneu una icona i utilitzeu-la com a «KIcon» en el codi font
Comment[ca@valencia]=Seleccioneu una icona i utilitzeu-la com a «KIcon» en el codi font
Comment[cs]=Vyberte ikonu a použijte ji ve vašem kódu jako KIcon
Comment[da]=Vælg et ikon og brug det som et KIcon i din kildekode
Comment[de]=Wählen Sie ein Symbol und verwenden Sie dieses als KIcon in Ihrem Quelltext
Comment[el]=Επιλέξτε ένα εικονίδιο και χρησιμοποιήστε το ως KIcon στον πηγαίο σας κώδικα
Comment[en_GB]=Select an icon and use it as a KIcon in your source-code
Comment[es]=Selecciona un icono y lo utiliza como un KIcon en su código fuente
Comment[eu]=Hautatu ikono bat eta erabili KIcon bezala zure iturburu kodean
Comment[fi]=Valitse kuvake ja käytä sitä KIconina lähdekoodissasi
Comment[fr]=Sélectionne une icône et l'utilise en tant qu'icône K dans votre code source
Comment[ga]=Roghnaigh deilbhín agus bain úsáid as mar KIcon i do chód foinseach
Comment[gl]=Escoller unha icona e empregala como KIcon no código fonte
Comment[he]=בחר סמן והשתמש בו בתור KIcon בתור קוד המקור
Comment[hu]=A kiválasztott ikon használata KIconként a forráskódban
Comment[ia]=Selige un icone e usa lo como un KIcon in tu codice fonte
Comment[it]=Seleziona un'icona ed usala come KIcon nel tuo codice sorgente
Comment[kk]=Бастапқы кодыңызда KIcon ретінде қолданатын таңбашаны таңдау
Comment[km]=ជ្រើស​រូបតំណាង​ ហើយ​ប្រើ​វា​ជា​ KIcon ​នៅ​ក្នុង​កូដ​ប្រភព​របស់​អ្នក​​
Comment[ko]=아이콘을 선택하여 원본 코드에 KIcon으로 삽입
Comment[lt]=Parinkti ženkliuką ir naudoti jį kaip KIcon jūsų programos faile
Comment[lv]=Izvēlieties ikonu un izmantojiet kā KIcon savā pirmkodā
Comment[mr]=चिन्ह निवडा व तुमच्या सोर्स-कोड मध्ये के-आयकॉन प्रमाणे वापरा
Comment[nb]=Velg et ikon og bruk det som et KIcon i din kildekode
Comment[nds]=Söök en Lüttbild ut, un bruuk dat binnen Dien Bornkode as KIcon.
Comment[nl]=Selecteer een pictogram en gebruik het als een KIcon in uw broncode
Comment[pa]=ਆਈਕਾਨ ਚੁਣੋ ਅਤੇ ਇਸ ਨੂੰ KIcon ਵਜੋਂ ਆਪਣੇ ਸਰੋਤ-ਕੋਡ 'ਚ ਵਰਤੋਂ
Comment[pl]=Wybierz ikonę i użyj jej jako KIcon w twoim kodzie źródłowym
Comment[pt]=Seleccionar um ícone e usá-lo como KIcon no seu código-fonte
Comment[pt_BR]=Seleciona um ícone e usa-o como um KIcon no seu código-fonte
Comment[ro]=Selectați o pictogramă și folosiți-o ca un KIcon în codul-sursă al dumneavoastră
Comment[ru]=Вставка значка для использования как KIcon в коде программы
Comment[si]=අයිකනයක් තෝරාගෙන එය ඔබේ මූල කේතයේ KIcon ලෙස භාවිත කරන්න
Comment[sk]=Vybrať ikonu a použiť ju ako KIcon vo vašom zdrojovom kóde
Comment[sl]=Izberite ikono in jo v izvorni kodi uporabite kot KIcon
Comment[sr]=Изаберите икону која ће бити KIcon у вашем изворном коду
Comment[sr@ijekavian]=Изаберите икону која ће бити KIcon у вашем изворном коду
Comment[sr@ijekavianlatin]=Izaberite ikonu koja će biti KIcon u vašem izvornom kodu
Comment[sr@latin]=Izaberite ikonu koja će biti KIcon u vašem izvornom kodu
Comment[sv]=Välj en ikon och använd den som en KIcon i källkoden
Comment[tg]=Нишонаро интихоб кунед ва онро ҳамчун KIcon дар барномарезӣ истифода баред
Comment[tr]=Bir simge seçin ve kaynak kodunuzda KIcon olarak kullanın
Comment[ug]=مەنبە كودىڭىزدا KIcon غا ئوخشاش بىر سىنبەلگە تاللاپ ئىشلىتىڭ
Comment[uk]=Виберіть піктограму і використайте її як KIcon у коді вашої програми
Comment[wa]=Tchoezixhoz ene imådjete eyet l' eployî dins vosse côde sourdant
Comment[x-test]=xxSelect an icon and use it as a KIcon in your source-codexx
Comment[zh_CN]=选择一个图标并在代码中作为 KIcon 使用
Comment[zh_TW]=選擇一個圖示，並在您的程式碼中做為 KIcon
Name=IconInserter
Name[bs]=Ubacivač ikona
Name[ca]=Inserció d'icona
Name[ca@valencia]=Inserció d'icona
Name[cs]=Vložit ikonu
Name[da]=IconInserter
Name[de]=Symboleinfüger
Name[el]=IconInserter
Name[en_GB]=IconInserter
Name[es]=IconInserter
Name[eu]=Ikonoen txertatzailea
Name[fi]=Kuvakkeen lisäys
Name[fr]=Insertion d'icône
Name[ga]=IconInserter
Name[gl]=IconInserter
Name[he]=IconInserter
Name[hu]=Ikonbeszúró
Name[ia]=Iconinserter (Insertator de Icones)
Name[it]=Inserimento icona
Name[kk]=Таңбашаны ендіру
Name[km]=IconInserter
Name[ko]=아이콘 삽입기
Name[lt]=PiktogramosĮterpimas
Name[lv]=Ikonu ievietotājs
Name[mr]=चिन्ह-अंतर्भूत-करणारा
Name[nb]=Ikoninnsetting
Name[nds]=Lüttbild infögen
Name[nl]=PictogramInvoegen
Name[pa]=IconInserter
Name[pl]=Wstawiacz ikon
Name[pt]=Inserção de Ícone
Name[pt_BR]=Inserção de ícones
Name[ro]=InseratorPictogramă
Name[ru]=Вставка значка
Name[si]=අයිකනඇතුළත්කරනය
Name[sk]=Vkladač ikon
Name[sl]=Vstavljalnik ikon
Name[sr]=Уметач икона
Name[sr@ijekavian]=Уметач икона
Name[sr@ijekavianlatin]=Umetač ikona
Name[sr@latin]=Umetač ikona
Name[sv]=Infoga ikon
Name[tg]=Дарҷкунандаи нишонаҳо
Name[tr]=SimgeEkleyici
Name[ug]=سىنبەلگە قىستۇرغۇچ
Name[uk]=Вставка піктограм
Name[wa]=IconInserter
Name[x-test]=xxIconInserterxx
Name[zh_CN]=图标插入
Name[zh_TW]=IconInserter
GenericName=Insert Code for KIcon-Creation
GenericName[bs]=Ubaci kod za KIcon kreiranje
GenericName[ca]=Inseriu el codi per a la creació de KIcon
GenericName[ca@valencia]=Inseriu el codi per a la creació de KIcon
GenericName[cs]=Vložit kód pro vytvoření KIcon
GenericName[da]=Indsæt kode til KIcon-Creation
GenericName[de]=Quelltext zur KIcon-Erstellung einfügen
GenericName[el]=Εισαγωγή κώδικα για KIcon-Creation
GenericName[en_GB]=Insert Code for KIcon-Creation
GenericName[es]=Insertar código de creación de KIcon
GenericName[eu]=Txertatu KIcon sortzeko kodea
GenericName[fi]=Lisää koodi KIconin luontiin
GenericName[fr]=Insertion de code pour la création d'une icône K
GenericName[ga]=Ionsáigh cód le haghaidh cruthaithe KIcon
GenericName[gl]=Inserir código para a creación de KIcon
GenericName[he]=הכנס קוד עבור KIcon-Creation
GenericName[hu]=Kód beszúrása KIcon létrehozásához
GenericName[ia]=Inserta Codice pro Creation de KIcon
GenericName[it]=Inserisci il codice per creazione di KIcon
GenericName[kk]=KIcon-құру үшін кодын енгізу
GenericName[km]=ប្រើ​កូដ​សម្រាប់​ការ​បង្កើត​ KIcon
GenericName[ko]=KIcon 생성 코드 삽입
GenericName[lt]=Įterpti kodą KIcon sukūrimui
GenericName[lv]=Ievietot kodu KIcon-Creation
GenericName[mr]=के-आयकॉन-क्रियेशन करिता कोड अंतर्भूत करा
GenericName[nb]=Sett inn kode for å lage KIcon
GenericName[nds]=Kode för't KIcon-Opstellen infögen
GenericName[nl]=Voeg code in voor het aanmaken met KIcon
GenericName[pa]=KIcon-Creation ਲਈ ਕੋਡ ਸ਼ਾਮਲ ਕਰੋ
GenericName[pl]=Wstawia kod do utworzenia KIcon
GenericName[pt]=Inserir o Código de Criação do KIcon
GenericName[pt_BR]=Inserir o código de criação de KIcons
GenericName[ro]=Inserează Cod pentru Creare-KIcon
GenericName[ru]=Вставка кода для создания KIcon
GenericName[si]=KIcon-නිර්මාණයට කේතය ඇතුළත් කරන්න
GenericName[sk]=Vložiť kód pre KIcon-Creation
GenericName[sl]=Vstavi kodo za ustvaritev KIcon
GenericName[sr]=Уметање кода за стварање KIcon‑а
GenericName[sr@ijekavian]=Уметање кода за стварање KIcon‑а
GenericName[sr@ijekavianlatin]=Umetanje koda za stvaranje KIcon‑a
GenericName[sr@latin]=Umetanje koda za stvaranje KIcon‑a
GenericName[sv]=Infoga kod för att skapa en KIcon
GenericName[tg]=Рамзро барои KIcon-Creation дарҷ кунед
GenericName[tr]=KIcon-Oluşturma için Kod Ekle
GenericName[ug]=KIcon-Creation ئۈچۈن كود قىستۇر
GenericName[uk]=Додавання коду для створення KIcon
GenericName[wa]=Stitchî do côde po KIcon-Creation
GenericName[x-test]=xxInsert Code for KIcon-Creationxx
GenericName[zh_CN]=KDE 图标插入代码
GenericName[zh_TW]=插入程式碼產生 KIcon
Icon=kcoloredit
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_iconinserter
X-KDE-PluginKeyword=ktexteditor_iconinserter
X-KDE-PluginInfo-Name=kdeviconinserter
X-KDE-PluginInfo-Author=Jonathan Schmidt-Dominé (The User)
X-KDE-PluginInfo-Email=devel@the-user.org
X-KDE-PluginInfo-Website=the-user.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL_V3
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
