[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katebuildplugin
X-Kate-Version=2.9
Name=Kate Build Plugin
Name[el]=Πρόσθετο κατασκευής του Kate
Name[gl]=Extensión de construción para Kate
Name[pt]='Plugin' de Compilação do Kate
Name[pt_BR]='Plugin' de Compilação do Kate
Name[sv]=Kate bygginsticksprogram
Name[uk]=Додаток до Kate для збирання
Comment=Compile or Make and parse error messages
Comment[el]=Σφάλματα μηνυμάτων μεταγλώττισης ή εκτέλεσης Make και ανάλυσης
Comment[gl]=Compila ou Make e procesa as mensaxes de erro
Comment[pt]=Compila ou executa o Make e processa as mensagens de erro
Comment[pt_BR]=Compila ou executa o Make e processa as mensagens de erro
Comment[sv]=Kompilera eller bygg och tolka felmeddelanden
Comment[uk]=Компілює або збирає і обробляє повідомлення про помилки
