[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katebuildplugin
X-Kate-Version=2.9
Name=Kate Build Plugin
Name[el]=Πρόσθετο κατασκευής του Kate
Name[es]=Complemento de construcción de Kate
Name[gl]=Extensión de construción para Kate
Name[nds]=Kate-Buumoduul
Name[pt]='Plugin' de Compilação do Kate
Name[pt_BR]='Plugin' de Compilação do Kate
Name[sv]=Kate bygginsticksprogram
Name[tr]=Kate Derleme Eklentisi
Name[uk]=Додаток до Kate для збирання
Name[zh_TW]=Kate 編譯外掛程式
Comment=Compile or Make and parse error messages
Comment[el]=Σφάλματα μηνυμάτων μεταγλώττισης ή εκτέλεσης Make και ανάλυσης
Comment[es]=Compilar o usar make y analizar mensajes de error
Comment[gl]=Compila ou Make e procesa as mensaxes de erro
Comment[nds]=Kompileren oder "Make" utföhren un Fehlermellen inlesen
Comment[pt]=Compila ou executa o Make e processa as mensagens de erro
Comment[pt_BR]=Compila ou executa o Make e processa as mensagens de erro
Comment[sv]=Kompilera eller bygg och tolka felmeddelanden
Comment[tr]=Derleme ya da Make ve ayrıştırma hata iletileri
Comment[uk]=Компілює або збирає і обробляє повідомлення про помилки
Comment[zh_TW]=編譯或執行 make 並分析錯誤訊息
