[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katebuildplugin
X-Kate-Version=2.9
Name=Build Plugin
Comment=Compile or Make and parse error messages
