[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katetextfilterplugin
X-Kate-Version=2.8
Name=Kate TextFilter
Name[de]=Kate-Textfilter
Name[el]=Φίλτρο κειμένου Kate
Name[it]=Filtro di testo di Kate
Name[ja]=Kate テキストフィルタ
Name[x-test]=xxKate TextFilterxx
Name[zh_TW]=Kate 文字過濾器
Comment=Easy text filtering
Comment[de]=Einfacher Textfilter
Comment[el]=Εύκολο φιλτράρισμα κειμένου
Comment[it]=Filtraggio facile dei testi
Comment[ja]=簡単にテキストにフィルタをかけます
Comment[x-test]=xxEasy text filteringxx
Comment[zh_TW]=簡易文字過濾器
