[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katetextfilterplugin
X-Kate-Version=2.8
Name=Kate TextFilter
Name[de]=Kate-Textfilter
Name[el]=Φίλτρο κειμένου Kate
Name[es]=Filtro de texto para Kate
Name[it]=Filtro di testo di Kate
Name[ja]=Kate テキストフィルタ
Name[ne]=केट पाठ फिल्टर
Name[pa]=ਕੇਟ ਪਾਠ-ਫਿਲਟਰ
Name[pt]=Filtro de Texto do Kate
Name[pt_BR]=Filtro de Texto do Kate
Name[sv]=Kate textfilter
Name[x-test]=xxKate TextFilterxx
Name[zh_CN]=Kate 文本过滤
Name[zh_TW]=Kate 文字過濾器
Comment=Easy text filtering
Comment[de]=Einfacher Textfilter
Comment[el]=Εύκολο φιλτράρισμα κειμένου
Comment[es]=Filtrado fácil de texto
Comment[ga]=Scagadh téacs go héasca
Comment[it]=Filtraggio facile dei testi
Comment[ja]=簡単にテキストにフィルタをかけます
Comment[ne]=सजिलो पाठ फिल्टरिङ
Comment[pt]=Filtragem simples de texto
Comment[pt_BR]=Filtragem simples de texto
Comment[sv]=Enkel textfiltrering
Comment[x-test]=xxEasy text filteringxx
Comment[zh_CN]=简单的文本过滤器
Comment[zh_TW]=簡易文字過濾器
