[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katetextfilterplugin
X-Kate-Version=2.8
Name=Kate TextFilter
Name[el]=Φίλτρο κειμένου Kate
Name[it]=Filtro di testo di Kate
Name[ja]=Kate テキストフィルタ
Name[x-test]=xxKate TextFilterxx
Comment=Easy text filtering
Comment[it]=Filtraggio facile dei testi
Comment[ja]=簡単にテキストにフィルタをかけます
Comment[x-test]=xxEasy text filteringxx
