[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippetsplugin
X-Kate-Version=2.8
Name=Snippets tool view
Name[ca]=Vista d'eines de retalls
Name[da]=Værktøjsvisning til tekststumper
Name[el]=Προβολή εργαλείου τμημάτων κώδικα
Name[et]=Koodijuppide tööriistavaade
Name[hu]=Töredékek eszköz nézet
Name[ia]=Vista de instrumento de fragmentos
Name[nl]=Weergave van hulpmiddel voor fragmenten
Name[pt]=Área de ferramentas de excertos
Name[pt_BR]=Exibição de ferramentas de trechos
Name[sk]=Pohľad nástroja úryvkov
Name[sr]=Алатни приказ исечака
Name[sr@ijekavian]=Алатни приказ исечака
Name[sr@ijekavianlatin]=Alatni prikaz isečaka
Name[sr@latin]=Alatni prikaz isečaka
Name[sv]=Verktygsvy för kodsnuttverktyget
Name[uk]=Перегляд панелі засобу фрагментів
Name[x-test]=xxSnippets tool viewxx
Name[zh_TW]=片段工具檢視
Comment=Toolview embedding the snippets management
Comment[ca]=Eina de vista que incrusta la gestió de retalls
Comment[da]=Værktøjsvisning til indlejring af håndtering af tekststumper
Comment[el]=Προβολή εργαλείου που ενσωματώνει τη διαχείριση τμημάτων κώδικα
Comment[et]=Koodijuppide haldamist põimiv tööriistavaade
Comment[hu]=Eszköznézet, beágyazott töredékkezeléssel
Comment[ia]=Vista de instrumento includente le gestion de fragmentos
Comment[nl]=Hulpmiddelweergave met ingebed beheer van fragmenten
Comment[pt]=Área de ferramentas que incorpora a gestão dos excertos
Comment[pt_BR]=Área de ferramentas que incorpora o gerenciamento de trechos
Comment[sk]=Nástrojový pohľad obsahujúci správu úryvkov
Comment[sr]=Алатни приказ са угнежђеним прикључцима
Comment[sr@ijekavian]=Алатни приказ са угнијежђеним прикључцима
Comment[sr@ijekavianlatin]=Alatni prikaz sa ugniježđenim priključcima
Comment[sr@latin]=Alatni prikaz sa ugnežđenim priključcima
Comment[sv]=Verktygsvy med inbäddad hantering av kodsnuttar
Comment[uk]=Вбудування панелі для керування фрагментами
Comment[x-test]=xxToolview embedding the snippets managementxx
Comment[zh_TW]=嵌入片段管理的工具檢視
