[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippetsplugin
X-Kate-Version=2.9
Name=Kate Snippets
Comment=Configurable Text-Snippets for Kate
author=Stephan Möres, Erdling@gmx.net
