[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippetsplugin
X-Kate-Version=2.9
Name=Kate Snippets
Name[ca]=Retalls del Kate
Name[de]=Kate-Schnipsel
Name[el]=Δείγματα του Kate
Name[es]=Fragmentos de texto para Kate
Name[et]=Kate koodijupid
Name[fr]=Fragments de texte pour Kate
Name[ga]=Blúirí Kate
Name[gl]=Retallos para Kate
Name[it]=Ritagli di Kate
Name[ja]=Kate 定型表現
Name[lt]=Kate teksto fragmentai
Name[nds]=Kate-Snippels
Name[ne]=केट स्निपेट्स
Name[nl]=Tekstfragmenten (Kate)
Name[pl]=Kate: fragmenty
Name[pt]=Excertos do Kate
Name[pt_BR]=Trechos do Kate
Name[sr]=Кејтини исечци
Name[sr@latin]=Kateini isečci
Name[sv]=Kate snuttar
Name[x-test]=xxKate Snippetsxx
Name[zh_CN]=Kate 片段
Comment=Configurable Text-Snippets for Kate
Comment[ca]=Retalls de text configurables per al Kate
Comment[de]=Konfigurierbare Textschnipsen für Kate
Comment[el]=Ρυθμιζόμενα δείγματα για το Kate
Comment[es]=Fragmentos de texto configurables para Kate
Comment[et]=Kate seadistatavad kooditekstijupid
Comment[fr]=Fragments de texte configurables pour Kate
Comment[ga]=Blúirí Inchumraithe Téacs do Kate
Comment[gl]=Retallos de texto configurábeis para Kate
Comment[it]=Ritagli di testo configurabili per Kate
Comment[ja]=よく使う表現を登録しておきます
Comment[lt]=Konfigūruoti Kate teksto fragmentų priedą
Comment[nds]=Instellbor Textsnippels för Kate
Comment[ne]=केटका लागि कन्फिगरयोग्य पाठ-स्निपेट्स
Comment[nl]=Instelbare tekstfragmenten voor Kate
Comment[pl]=Konfigurowalne fragmenty tekstu w Kate
Comment[pt]=Excertos de texto configuráveis para o Kate
Comment[pt_BR]=Trechos de texto configuráveis para o Kate
Comment[sr]=Подесиви исечци текста за Кејт
Comment[sr@latin]=Podesivi isečci teksta za Kate
Comment[sv]=Kate anpassningsbara textsnuttar
Comment[x-test]=xxConfigurable Text-Snippets for Katexx
Comment[zh_CN]=配置 Kate 文本片段
Comment[zh_TW]=Kate 裡的可設定文字片段
author=Stephan Möres, Erdling@gmx.net
