[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippetsplugin
X-Kate-Version=2.8
Name=Snippets tool view
Comment=Toolview embedding the snippets management
