[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippetsplugin
X-Kate-Version=2.9
Name=Kate Snippets
Name[de]=Kate-Schnipsel
Name[el]=Τμήματα κειμένου Kate
Name[it]=Ritagli di Kate
Name[ja]=Kate 定型表現
Name[sv]=Kate snuttar
Name[x-test]=xxKate Snippetsxx
Comment=Configurable Text-Snippets for Kate
Comment[de]=Konfigurierbare Textschnipsen für Kate
Comment[el]=Ρυθμιζόμενα τμήματα κειμένου για το Kate
Comment[it]=Ritagli di testo configurabili per Kate
Comment[ja]=良く使う表現を登録しておきます
Comment[sv]=Kate anpassningsbara textsnuttar
Comment[x-test]=xxConfigurable Text-Snippets for Katexx
Comment[zh_TW]=Kate 裡的可設定文字片段
author=Stephan Möres, Erdling@gmx.net
