[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kterustcompletionplugin
Name=Rust code completion
Name[ar]=إكمال كود رَسْت
Name[ast]=Completáu de códigu en Rust
Name[ca]=Compleció de codi per al Rust
Name[ca@valencia]=Compleció de codi per al Rust
Name[cs]=Automatické doplňování pro Rust
Name[da]=Rust-kodefuldførelse
Name[de]=Rust-Quelltext-Vervollständigung
Name[el]=Αυτόματη συμπλήρωση Rust
Name[en_GB]=Rust code completion
Name[es]=Terminación de código para Rust
Name[et]=Rusti automaatne lõpetamine
Name[eu]=Rust-erako kode osatzea
Name[fi]=Rust-koodintäydennys
Name[fr]=Auto-complètement Rust
Name[gl]=Completación automática de Rust
Name[hu]=Rust kódkiegészítés
Name[ia]=Autocompletion de codice Rust
Name[id]=Rust code completion
Name[it]=Completamento del codice Rust
Name[ko]=Rust 자동 완성
Name[nb]=Rust kodefullføring
Name[nl]=Code-aanvulling van Rust
Name[nn]=Kodefullføring for Rust
Name[pl]=Samouzupełnianie kodu Rust
Name[pt]=Completação de código em Rust
Name[pt_BR]=Completação de código em Rust
Name[ru]=Автодополнение Rust
Name[sk]=Ukončovanie kódu Rust
Name[sl]=Samodejno dopolnjevanje za Rust
Name[sr]=Допуњавање раст кода
Name[sr@ijekavian]=Допуњавање раст кода
Name[sr@ijekavianlatin]=Dopunjavanje Rust koda
Name[sr@latin]=Dopunjavanje Rust koda
Name[sv]=Rust kodkomplettering
Name[tr]=Rust kod tamamlama
Name[uk]=Автодоповнення Rust
Name[x-test]=xxRust code completionxx
Name[zh_CN]=Rust 代码补全
Name[zh_TW]=Rust 自動補完
Comment=Code completion for Rust source code
Comment[ar]=إكمال نصوص ‍رَسْت البرمجيّة
Comment[ast]=Completáu de códigu pal códigu fonte en Rust
Comment[ca]=Compleció de codi pel codi font del Rust
Comment[ca@valencia]=Compleció de codi pel codi font del Rust
Comment[cs]=Doplňování kódu pro Rust
Comment[da]=Kodefuldførelse til Rust-kildekode
Comment[de]=Vervollständigung für Rust-Quelltext
Comment[el]=Συμπλήρωση κώδικα για πηγαίο κώδικα σε Rust
Comment[en_GB]=Code completion for Rust source code
Comment[es]=Terminación de código para código fuente en Rust
Comment[et]=Rusti lähtekoodi automaatne lõpetamine
Comment[eu]=Rust-eren iturburu koderako kode osatzea
Comment[fi]=Koodintäydennys Rust-lähdekoodille
Comment[fr]=Auto-complètement pour le code source Rust
Comment[gl]=Completación automática de código Rust.
Comment[hu]=Kódkiegészítés Rust forráskódokhoz
Comment[ia]=Completion de codice pro le codice fonte  de Rust
Comment[id]=Penyempurnaan kode untuk kode sumber Rust
Comment[it]=Completamento del codice sorgente Rust
Comment[ko]=Rust 코드 자동 완성
Comment[nb]=Kodefullføring for Rust kildekode
Comment[nl]=Code-aanvulling voor broncode in Rust
Comment[nn]=Autofullføring for Rust-programkode
Comment[pl]=Uzupełnianie kodu dla Rust
Comment[pt]=Completação de código para o código em Rust
Comment[pt_BR]=Completação de código para código-fonte em Rust
Comment[ru]=Автодополнение исходного кода на языке Rust
Comment[sk]=Ukončovanie kódu pre zdrojový kód Rust
Comment[sl]=Dopolnjevanje kode za izvorno kodo Rust
Comment[sr]=Допуњавање кода за раст изворни код
Comment[sr@ijekavian]=Допуњавање кода за раст изворни код
Comment[sr@ijekavianlatin]=Dopunjavanje koda za Rust izvorni kod
Comment[sr@latin]=Dopunjavanje koda za Rust izvorni kod
Comment[sv]=Kodkomplettering för Rust-källkod
Comment[tr]=Rust kaynak kodu için kod tamamlama
Comment[uk]=Доповнення коду для інструкцій мовою Rust
Comment[x-test]=xxCode completion for Rust source codexx
Comment[zh_CN]=Rust 源代码的代码补全
Comment[zh_TW]=Rust 程式源碼的自動補完
