[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kterustcompletionplugin
Name=Rust code completion
Name[ca]=Compleció de codi per al Rust
Name[en_GB]=Rust code completion
Name[gl]=Completación automática de Rust
Name[nl]=Code-aanvulling van Rust
Name[pl]=Samouzupełnianie kodu Rust
Name[pt]=Completação de código em Rust
Name[pt_BR]=Completação de código em Rust
Name[sk]=Ukončovanie kódu Rust
Name[sl]=Samodejno dopolnjevanje za Rust
Name[sr]=Раст допуна
Name[sr@ijekavian]=Раст допуна
Name[sr@ijekavianlatin]=Rust dopuna
Name[sr@latin]=Rust dopuna
Name[sv]=Rust kodkomplettering
Name[uk]=Автодоповнення Rust
Name[x-test]=xxRust code completionxx
Comment=Code completion for Rust source code
Comment[ca]=Compleció de codi pel codi font del Rust
Comment[en_GB]=Code completion for Rust source code
Comment[gl]=Completación automática de código Rust.
Comment[nl]=Code-aanvulling voor broncode in Rust
Comment[pl]=Uzupełnianie kodu dla Rust
Comment[pt]=Completação de código para o código em Rust
Comment[pt_BR]=Completação de código para código-fonte em Rust
Comment[sk]=Ukončovanie kódu pre zdrojový kód Rust
Comment[sl]=Dopolnjevanje kode za izvorno kodo Rust
Comment[sr]=Допуњавање кода за раст изворни код
Comment[sr@ijekavian]=Допуњавање кода за раст изворни код
Comment[sr@ijekavianlatin]=Dopunjavanje koda za Rust izvorni kod
Comment[sr@latin]=Dopunjavanje koda za Rust izvorni kod
Comment[sv]=Kodkomplettering för Rust-källkod
Comment[uk]=Доповнення коду для інструкцій мовою Rust
Comment[x-test]=xxCode completion for Rust source codexx
