<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="kterustcompletion" library="kterustcompletion" version="1" translationDomain="kterustcompletion">
  <MenuBar>
    <Menu name="edit">
      <text>&amp;Edit</text>
      <Separator/>
      <Action name="rust_find_definition"/>
      <Separator/>
    </Menu>
  </MenuBar>
  <Menu name="ktexteditor_popup" noMerge="1">
    <Separator/>
    <Action name="rust_find_definition"/>
    <Separator/>
  </Menu>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
