[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippets_tngplugin
X-Kate-Version=2.8
Name=JOWENN's Kate snippets
Name[en_GB]=JOWENN's Kate snippets
Name[et]=JOWENNi Kate jupid
Name[gl]=Retallos de texto JOWENN para Kate
Name[nds]=JOWENN sien Kate-Snippels
Name[pt]=Excertos do JOWENN para o KAte
Name[pt_BR]=Trechos de texto do JOWENN para o Kate
Name[sv]=Jowenns textsnuttar för Kate
Name[tr]=JOWENN'in Kate parçaları
Name[uk]=Фрагменти тексту JOWENN Kate
Name[x-test]=xxJOWENN's Kate snippetsxx
Comment=Snippets plugin with code completion support
Comment[en_GB]=Snippets plugin with code completion support
Comment[et]=Juppide plugin koodilõpetuse toetusega
Comment[gl]=Extensión de retallos con soporte de completado de código
Comment[nds]=Snippelsmoduul mit Ünnerstütten för Kodekompletteren
Comment[pt]='Plugin' de excertos com suporte para a completação de código
Comment[pt_BR]=Plugin de trechos de texto com suporte para o completamento de código
Comment[sv]=Insticksprogram för textsnuttar med stöd för kodkomplettering
Comment[tr]=Kod tamamlama desteğine sahip parçacık eklentisi
Comment[uk]=Додаток для роботи з фрагментами з підтримкою завершення коду
Comment[x-test]=xxSnippets plugin with code completion supportxx

X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
