[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippets_tngplugin
X-Kate-Version=2.8
Name=Kate Snippets
Name[ca]=Retalls del Kate
Name[da]=Kate tekststumper
Name[de]=Kate-Schnipsel
Name[en_GB]=Kate Snippets
Name[et]=Kate jupid
Name[gl]=Fragmentos para Kate
Name[it]=Frammenti di Kate
Name[nb]=Kate tekstbiter
Name[pt]=Excertos do Kate
Name[pt_BR]=Trechos do Kate
Name[sv]=Textsnuttar i Kate
Name[uk]=Фрагменти тексту Kate
Name[x-test]=xxKate Snippetsxx
Comment=Snippets plugin with code completion support
Comment[ca]=Connector de retalls amb implementació de compleció del codi
Comment[da]=Tekststumper-plugin med understøttelse af kodefuldførelse
Comment[en_GB]=Snippets plugin with code completion support
Comment[es]=Complemento de snippets con autocompletado de código
Comment[et]=Juppide plugin koodilõpetuse toetusega
Comment[fr]=Module externe de fragments avec prise en charge du complétement du code
Comment[gl]=Extensión de fragmentos con soporte de completado de código
Comment[it]=Estensione per frammenti con supporto per il completamento del codice
Comment[nb]=Programtillegg for tekstbiter med støtte for kodefullføring
Comment[nds]=Snippelsmoduul mit Ünnerstütten för Kodekompletteren
Comment[pt]='Plugin' de excertos com suporte para a completação de código
Comment[pt_BR]=Plugin de trechos de texto com suporte para o completamento de código
Comment[ru]=Модуль фрагментов текста с поддержкой дополнения кода
Comment[sv]=Insticksprogram för textsnuttar med stöd för kodkomplettering
Comment[tr]=Kod tamamlama desteğine sahip parçacık eklentisi
Comment[uk]=Додаток для роботи з фрагментами з підтримкою завершення коду
Comment[x-test]=xxSnippets plugin with code completion supportxx
Comment[zh_TW]=包含源碼補完支援的片段外掛程式

X-Kate-MajorProfiles=Kate
X-Kate-MinorProfiles=*
