[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katesnippets_tngplugin
X-Kate-Version=2.8
Name=Kate Snippets
Name[bs]=Kejtine isječci
Name[ca]=Retalls del Kate
Name[ca@valencia]=Retalls del Kate
Name[cs]=Ústřižky Kate
Name[da]=Kate tekststumper
Name[de]=Kate-Textbausteine
Name[el]=Αποσπάσματα κώδικα kate
Name[en_GB]=Kate Snippets
Name[es]=Snippets de Kate
Name[et]=Kate jupid
Name[eu]=Kate-ren mozkinak
Name[fi]=Kate-katkelmat
Name[fr]=Fragments de code pour Kate
Name[ga]=Blúirí Kate
Name[gl]=Fragmentos para Kate
Name[hu]=Kate töredékek
Name[ia]=Fragmentos de Kate
Name[it]=Frammenti di Kate
Name[kk]=Kate - фрагменттер
Name[km]=Kate Snippets​
Name[ko]=Kate 스니펫
Name[lt]=Kate fragmentai
Name[lv]=Kate fragmenti
Name[mr]=केट स्निपेट्स
Name[nb]=Kate tekstbiter
Name[nds]=Kate-Snippels
Name[nl]=Kate-fragmenten
Name[pa]=ਕੇਟ ਸਨਿੱਪਟ
Name[pl]=Fragmenty Kate
Name[pt]=Excertos do Kate
Name[pt_BR]=Trechos do Kate
Name[ro]=Fragmente Kate
Name[ru]=Фрагменты Kate
Name[si]=Kate කැබලි
Name[sk]=Kate úryvky
Name[sl]=Izrezki za Kate
Name[sr]=Кејтини исечци
Name[sr@ijekavian]=Кејтини исјечци
Name[sr@ijekavianlatin]=Kateini isječci
Name[sr@latin]=Kateini isečci
Name[sv]=Textsnuttar i Kate
Name[tg]=Қисмҳои Kate
Name[tr]=Kate Parçacıklar
Name[ug]=Kate پۇرۇچلىرى
Name[uk]=Фрагменти тексту Kate
Name[x-test]=xxKate Snippetsxx
Name[zh_CN]=Kate 片段
Name[zh_TW]=Kate 片段
Comment=Snippets plugin with code completion support
Comment[bs]=Priključak isječaka sa podrškom za dopunu kôda
Comment[ca]=Connector de retalls amb implementació de compleció del codi
Comment[ca@valencia]=Connector de retalls amb implementació de compleció del codi
Comment[da]=Tekststumper-plugin med understøttelse af kodefuldførelse
Comment[de]=Textbaustein-Modul mit Unterstützung für Quelltext-Vervollständigung
Comment[el]=Πρόσθετο αποσπασμάτων κώδικα με υποστήριξη συμπλήρωσης κώδικα
Comment[en_GB]=Snippets plugin with code completion support
Comment[es]=Complemento de snippets con autocompletado de código
Comment[et]=Juppide plugin koodilõpetuse toetusega
Comment[eu]=Mozkinen plugina kodea osatzeko euskarriarekin
Comment[fi]=Katkelmaliitännäinen koodintäydennystuella
Comment[fr]=Module externe de fragments avec prise en charge du complètement du code
Comment[gl]=Complemento de fragmentos con soporte de completado de código
Comment[hu]=Töredékbővítmény kódkiegészítéssel
Comment[ia]=Plugin de fragmentos con supporto de completion de codice
Comment[it]=Estensione per frammenti con supporto per il completamento del codice
Comment[kk]=Кодты толықтыру мүмкіндігі бар фрагмент өңдеу плагині
Comment[km]=កម្ម​វិធី​ជំនួយ​ Snippets ជាមួយ​​ការ​គាំ​ទ្រ​ការ​​បំពេញ​​កូដ
Comment[ko]=코드 자동 완성을 지원하는 스니펫 플러그인
Comment[lt]=Fragmentų priedas palaikantis kodo užbaigimą
Comment[lv]=Fragmentu spraudnis ar koda pabeigšanas atbalstu
Comment[mr]=कोड पूर्ण करण्याच्या समर्थनाबरोबर स्निपेट्स प्लगइन
Comment[nb]=Programtillegg for tekstbiter med støtte for kodefullføring
Comment[nds]=Snippelsmoduul mit Ünnerstütten för Kodekompletteren
Comment[nl]=Plug-in voor fragmenten met ondersteuning voor code aanvullen
Comment[nn]=Tekstbit-tillegg med autofullføring av programkode
Comment[pl]=Wtyczka fragmentów z obsługą uzupełniania kodu
Comment[pt]='Plugin' de excertos com suporte para completação de código
Comment[pt_BR]=Plugin de trechos de texto com suporte para o completamento de código
Comment[ro]=Modul Fragmente cu suport pentru completare de cod
Comment[ru]=Модуль фрагментов текста с поддержкой дополнения кода
Comment[si]=කේත පරිපූරක සහාය සමඟ කැබලිති ප්ලිනය
Comment[sk]=Plugin úryvkov s podporou dokončovania kódu
Comment[sl]=Vstavek za izrezke s podporo za dopolnjevanje kode
Comment[sr]=Прикључак исечака са подршком за допуну ко̂да
Comment[sr@ijekavian]=Прикључак исјечака са подршком за допуну ко̂да
Comment[sr@ijekavianlatin]=Priključak isječaka sa podrškom za dopunu kô̂da
Comment[sr@latin]=Priključak isečaka sa podrškom za dopunu kô̂da
Comment[sv]=Insticksprogram för textsnuttar med stöd för kodkomplettering
Comment[tg]=Плагини қисмҳо бо дастгирии рамз
Comment[tr]=Kod tamamlama desteğine sahip parçacık eklentisi
Comment[ug]=پۇرۇچلارنى تولۇقلايدىغان قىستۇرما قوللاش
Comment[uk]=Додаток для роботи з фрагментами з підтримкою завершення коду
Comment[x-test]=xxSnippets plugin with code completion supportxx
Comment[zh_CN]=支持代码补全的片段插件
Comment[zh_TW]=包含源碼補完支援的片段外掛程式

