[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kate/Plugin
X-KDE-Derived=
Comment=Kate Plugin

[PropertyDef::X-Kate-Version]
Type=QString

[PropertyDef::X-Kate-Load]
Type=bool

[PropertyDef::X-Kate-LoadAlways]
Type=bool
