[Desktop Entry]
GenericName=Advanced Text Editor
GenericName[ca]=Editor de text avançat
GenericName[ca@valencia]=Editor de text avançat
GenericName[cs]=Pokročilý textový editor
GenericName[da]=Avanceret teksteditor
GenericName[de]=Erweiterter Texteditor
GenericName[el]=Προχωρημένος επεξεργαστής κειμένου
GenericName[en_GB]=Advanced Text Editor
GenericName[es]=Editor de texto avanzado
GenericName[et]=Täiustatud tekstiredaktor
GenericName[fi]=Kehittynyt tekstimuokkain
GenericName[fr]=Éditeur de texte avancé
GenericName[ga]=Ardeagarthóir Téacs
GenericName[gl]=Editor avanzado de textos
GenericName[hr]=Napredni uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[it]=Editor di testi avanzato
GenericName[ja]=高度なテキストエディタ
GenericName[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​កម្រិត​ខ្ពស់
GenericName[ko]=고급 텍스트 편집기
GenericName[lt]=Sudėtingesnis teksto redaktorius
GenericName[lv]=Paplašinātais teksta redaktors
GenericName[nb]=Avansert skriveprogram
GenericName[nds]=Verwiedert Texteditor
GenericName[ne]=उन्नत पाठ सम्पादक
GenericName[nl]=Geavanceerde teksteditor
GenericName[nn]=Avansert skriveprogram
GenericName[pa]=ਤਕਨੀਕੀ ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Zaawansowany edytor tekstu
GenericName[pt]=Editor de Texto Avançado
GenericName[pt_BR]=Editor de Texto Avançado
GenericName[ro]=Redactor de text avansat
GenericName[ru]=Улучшенный текстовый редактор
GenericName[sl]=Napreden urejevalnik besedil
GenericName[sr]=Напредни уређивач текста
GenericName[sr@ijekavian]=Напредни уређивач текста
GenericName[sr@ijekavianlatin]=Napredni uređivač teksta
GenericName[sr@latin]=Napredni uređivač teksta
GenericName[sv]=Avancerad texteditor
GenericName[tr]=Gelişmiş Metin Düzenleyici
GenericName[uk]=Потужний текстовий редактор
GenericName[x-test]=xxAdvanced Text Editorxx
GenericName[zh_CN]=高级文本编辑器
GenericName[zh_TW]=進階文字編輯器
Name=Kate
Name[be]=Kate
Name[ca]=Kate
Name[ca@valencia]=Kate
Name[cs]=Kate
Name[da]=Kate
Name[de]=Kate
Name[el]=Kate
Name[en_GB]=Kate
Name[eo]=Kate
Name[es]=Kate
Name[et]=Kate
Name[fi]=Kate
Name[fr]=Kate
Name[ga]=Kate
Name[gl]=Kate
Name[hu]=Kate
Name[it]=Kate
Name[ja]=Kate
Name[km]=Kate
Name[ko]=Kate
Name[lt]=Kate
Name[lv]=Kate
Name[nb]=Kate
Name[nds]=Kate
Name[ne]=केट
Name[nl]=Kate
Name[nn]=Kate
Name[pa]=ਕੇਟ
Name[pl]=Kate
Name[pt]=Kate
Name[pt_BR]=Kate
Name[ro]=Kate
Name[ru]=Kate
Name[sl]=Kate
Name[sr]=Кејт
Name[sr@ijekavian]=Кејт
Name[sr@ijekavianlatin]=Kate
Name[sr@latin]=Kate
Name[sv]=Kate
Name[tr]=Kate
Name[uk]=Kate
Name[wa]=Kate
Name[x-test]=xxKatexx
Name[zh_CN]=Kate
Name[zh_TW]=Kate
MimeType=text/plain;
Exec=kate -b %U
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=kate
X-DocPath=kate/index.html
Type=Application
Terminal=false
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kate
Categories=Qt;KDE;Utility;TextEditor;
