[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/Plugin
X-KDE-Derived=
Comment=Kate Plugin
Comment[de]=Kate-Modul
Comment[el]=Πρόσθετο Kate
Comment[it]=Plugin di Kate
Comment[ja]=Kate プラグイン
Comment[sv]=Kate insticksprogram
Comment[x-test]=xxKate Pluginxx
Comment[zh_TW]=Kate 外掛程式

[PropertyDef::X-Kate-Version]
Type=QString

[PropertyDef::X-Kate-PluginName]
Type=QString

[PropertyDef::X-Kate-MajorProfiles]
Type=QStringList

[PropertyDef::X-Kate-MinorProfiles]
Type=QStringList

