[Desktop Entry]
Encoding=UTF-8
GenericName=Advanced Text Editor
GenericName[de]=Erweiterter Texteditor
GenericName[el]=Προχωρημένος επεξεργαστής κειμένου
GenericName[it]=Editor di testi avanzato
GenericName[ja]=高度なテキストエディタ
GenericName[sv]=Avancerad texteditor
GenericName[x-test]=xxAdvanced Text Editorxx
GenericName[zh_TW]=進階文字編輯器
Name=Kate
Name[x-test]=xxKatexx
MimeType=text/plain;
Exec=kate %U
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;TextEditor;
