[Desktop Entry]
Encoding=UTF-8
GenericName=Advanced Text Editor
GenericName[x-test]=xxAdvanced Text Editorxx
Name=Kate
Name[x-test]=xxKatexx
MimeType=text/plain
Exec=kate %U
X-KDE-StartupNotify=true
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;TextEditor;
