[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Kate/Plugin
X-KDE-Derived=
Comment=Kate Plugin
Comment[ca]=Connector per al Kate
Comment[de]=Kate-Modul
Comment[el]=Πρόσθετο Kate
Comment[es]=Complemento de Kate
Comment[et]=Kate plugin
Comment[fr]=Module externe pour Kate
Comment[ga]=Breiseán Kate
Comment[gl]=Extensión de Kate
Comment[it]=Plugin di Kate
Comment[ja]=Kate プラグイン
Comment[lt]=Kate priedas
Comment[lv]=Kate spraudnis
Comment[nds]=Kate-Moduul
Comment[ne]=केट प्लगइन
Comment[nl]=Kate-plugin
Comment[pa]=ਕੇਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Kate
Comment[pt]='Plugin' do Kate
Comment[pt_BR]=Plugin do Kate
Comment[sr]=Прикључак за Кејт
Comment[sr@latin]=Priključak za Kate
Comment[sv]=Kate insticksprogram
Comment[uk]=Втулка Kate
Comment[x-test]=xxKate Pluginxx
Comment[zh_CN]=Kate 插件
Comment[zh_TW]=Kate 外掛程式

[PropertyDef::X-Kate-Version]
Type=QString

[PropertyDef::X-Kate-PluginName]
Type=QString

[PropertyDef::X-Kate-MajorProfiles]
Type=QStringList

[PropertyDef::X-Kate-MinorProfiles]
Type=QStringList

