[Desktop Entry]
GenericName=Advanced Text Editor
Name=Kate
MimeType=text/plain;
Exec=kate -b %U
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=kate
X-DocPath=kate/index.html
Type=Application
Terminal=false
InitialPreference=9
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kate
Categories=Qt;KDE;Utility;TextEditor;
