[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katekonsoleplugin
Name=Terminal tool view
Name[ar]=منظور أداة الطّرفيّة
Name[ast]=Vista de ferramientes de la terminal
Name[bs]=Prikaz terminala
Name[ca]=Vista d'eina del terminal
Name[ca@valencia]=Vista d'eina del terminal
Name[cs]=Nástroj zobrazující terminál
Name[da]=Terminalværktøjsvisning
Name[de]=Werkzeugansicht für Terminal
Name[el]=Προβολή εργαλείου τερματικού
Name[en_GB]=Terminal tool view
Name[es]=Vista de la herramienta de terminal
Name[et]=Terminali tööriistavaade
Name[eu]=Terminalaren ikuspegi-tresna
Name[fi]=Päätenäkymä
Name[fr]=Vue des outils pour le terminal
Name[ga]=Amharc uirlisí teirminéil
Name[gl]=Vista da utilidade de terminal
Name[he]=כלי לתצוגה של מסוף
Name[hu]=Terminál - Eszköznézet
Name[ia]=Vista de instrumento Terminal
Name[id]=Tampilan alat terminal
Name[it]=Strumento visivo per il terminale
Name[ja]=ターミナルツールビュー
Name[kk]=Терминал құралы
Name[km]=ទិដ្ឋភាព​ឧបករណ៍​ស្ថានីយ
Name[ko]=터미널 도구 보기
Name[lt]=Terminalo įrankio rodinys
Name[lv]=Termināļa rīka skats
Name[mr]=टर्मिनल साधन दृश्य
Name[nb]=Terminal-verktøyvisning
Name[nds]=Terminal
Name[nl]=Terminalweergave
Name[nn]=Terminal-verktøyvising
Name[pa]=ਟਰਮੀਨਲ ਟੂਲ ਝਲਕ
Name[pl]=Widok narzędzia terminala
Name[pt]=Área do emulador de terminal
Name[pt_BR]=Área de ferramentas do Terminal
Name[ro]=Vizualizare de unelte Terminal
Name[ru]=Встроенный терминал
Name[si]=අග්‍ර මෙවලම් දසුන
Name[sk]=Pohľad nástroja terminálu
Name[sl]=Orodni pogled s terminalom
Name[sr]=Приказ терминала
Name[sr@ijekavian]=Приказ терминала
Name[sr@ijekavianlatin]=Prikaz terminala
Name[sr@latin]=Prikaz terminala
Name[sv]=Terminalverktygsvy
Name[tg]=Терминали намоиши асбобҳо
Name[tr]=Uçbirim görünümü
Name[ug]=تېرمىنال قورال كۆرۈنۈشى
Name[uk]=Перегляд інструмента термінала
Name[wa]=Vuwe des usteyes terminå
Name[x-test]=xxTerminal tool viewxx
Name[zh_CN]=终端工具视图
Name[zh_TW]=終端機工具檢視
Comment=Toolview embedding a terminal widget
Comment[ar]=منظور أداة تضمّن ودجة طرفيّة
Comment[ast]=Vista de ferramientes qu'empotra un widget de la terminal
Comment[bs]=Grafička kontrola ugrađenog terminala
Comment[ca]=Vista d'eina que incrusta un estri de terminal
Comment[ca@valencia]=Vista d'eina que incrusta un estri de terminal
Comment[cs]=Widget zobrazující terminál
Comment[da]=Værktøjsvisning til indlejring af en terminalkontrol
Comment[de]=Werkzeugansicht, die ein Terminalelement einbettet
Comment[el]=Προβολή εργαλείου που ενσωματώνει ένα συστατικό τερματικού
Comment[en_GB]=Toolview embedding a terminal widget
Comment[es]=Vista de herramienta que integra una ventana de terminal
Comment[et]=Terminalividinat põimiv tööriistavaade
Comment[eu]=Terminalaren trepeta kapsulatuta duen ikuspegi-tresna
Comment[fi]=Päätesovelman sisältävä työkalunäkymä
Comment[fr]=Vue des outils intégrant un composant graphique pour le terminal
Comment[ga]=Amharc uirlisí a leabaíonn giuirléid teimpléid
Comment[gl]=Vista que incorpora un trebello de terminal
Comment[he]=כלי המטמיע תצוגה של מסוף
Comment[hu]=Eszköznézet, beágyazott terminál objektummal
Comment[ia]=Vista de instrumento includente un widget de terminal
Comment[id]=Tampilan alat mencantumkan widget terminal
Comment[it]=Strumento visivo per incorporare un terminale
Comment[ja]=ターミナルウィジェットを埋め込んだツールビュー
Comment[kk]=Құрамына енетін терминал виджеті
Comment[km]=ទិដ្ឋភាព​ឧបករណ៍​បង្កប់​នៅ​ក្នុងធាតុក្រាហ្វិក​ស្ថានីយ
Comment[ko]=터미널 위젯을 포함하는 도구 보기
Comment[lt]=Įrankis su įstatytu terminalo valdikliu
Comment[lv]=Termināļa logdaļas iegulšanas rīku skats
Comment[mr]=टर्मिनल विजेट समाविष्ट करणारे साधन दृश्य
Comment[nb]=Verktøyvisning med en innebygd terminal
Comment[nds]=En inbett Konsool
Comment[nl]=Weergave met ingebedde terminal
Comment[nn]=Verktøyvising med ein innebygd terminal
Comment[pl]=Widok osadzający element interfejsu terminala
Comment[pt]=Área de ferramentas que incorpora uma janela de terminal
Comment[pt_BR]=Área de ferramentas que incorpora um console
Comment[ro]=Vizualizare de unelte ce înglobează un terminal
Comment[ru]=Служебная панель с консолью
Comment[si]=මෙවලම්දසුන අග්‍ර විජෙට්ටුවට තිළැලිව
Comment[sk]=Zobrazovací nástroj vkladajúci komponent terminálu
Comment[sl]=Orodni pogled z vgrajenim gradnikom terminala
Comment[sr]=Виџет угнежђеног терминала
Comment[sr@ijekavian]=Виџет угнијежђеног терминала
Comment[sr@ijekavianlatin]=Vidžet ugniježđenog terminala
Comment[sr@latin]=Vidžet ugnežđenog terminala
Comment[sv]=Verktygsvy med en inbäddad grafisk terminalkomponent
Comment[tg]=Асбоби намоиш бо терминали дарунсохт
Comment[tr]=Gömülü bir uçbirim parçacığı araç görünümü
Comment[ug]=بىر تېرمىنالغا سىڭدۈرۈلگەن كىچىك ئەپنىڭ قورال كۆرۈنۈشى
Comment[uk]=Вбудування віджета термінала у вікно програми
Comment[x-test]=xxToolview embedding a terminal widgetxx
Comment[zh_CN]=嵌入一个终端构件的工具视图
Comment[zh_TW]=嵌入終端機元件的工具檢視
