[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katekonsoleplugin
Name=Terminal Tool View
Comment=Have a terminal at the ready, using KDE's Konsole widget
