[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katekonsoleplugin
Name=Terminal Tool View
Name[ca]=Vista d'eina del terminal
Name[ca@valencia]=Vista d'eina del terminal
Name[de]=Werkzeugansicht für Terminal
Name[gl]=Vista da utilidade de terminal
Name[nl]=Terminalweergave
Name[nn]=Terminal-verktøyvising
Name[pt]=Área do Emulador de Terminal
Name[ru]=Встроенный терминал
Name[sk]=Pohľad nástroja terminálu
Name[sv]=Terminalverktygsvy
Name[uk]=Інструмент термінала
Name[x-test]=xxTerminal Tool Viewxx
Comment=Have a terminal at the ready, using KDE's Konsole widget
Comment[ca]=Té un terminal preparat, usant l'estri de Konsole del KDE
Comment[ca@valencia]=Té un terminal preparat, usant l'estri de Konsole del KDE
Comment[de]=Stellt ein Terminal mit KDE's Konsole bereit
Comment[gl]=Teña un terminal a man co trebello de Konsole de KDE
Comment[nl]=Een terminal gereed hebben, met gebruik van de Konsole-widget van KDE
Comment[nn]=Ha alltid terminalen for handa, med Konsole-modulen
Comment[pt]=Tenha um terminal logo disponível, usando o elemento gráfico do Konsole
Comment[sv]=Ha en terminal redo genom att använda KDE:s grafiska terminalkomponent
Comment[uk]=Термінал на основі віджета Konsole KDE
Comment[x-test]=xxHave a terminal at the ready, using KDE's Konsole widgetxx
