[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=pateplugin
X-Kate-Version=2.8
Name=Pâté
Name[hu]=Pâté
Name[ia]=Pâté
Name[nl]=Pâté
Name[pt]=Pâté
Name[pt_BR]=Pâté
Name[sv]=Pâté
Name[uk]=Pâté
Name[x-test]=xxPâtéxx
Comment=Python plugins
X-KDE-PluginInfo-Author=Paul Athanasios Giannaros
X-KDE-PluginInfo-Email=paul@giannaros.org
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-License=GPL
