[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=pateplugin
X-Kate-Version=2.8
Name=Pâté
Name[ia]=Pâté
Name[nl]=Pâté
Name[pt]=Pâté
Name[pt_BR]=Pâté
Name[sv]=Pâté
Name[uk]=Pâté
Name[x-test]=xxPâtéxx
Comment=Python plugins for Kate
Comment[ia]=Plugin de Python pro Kate
Comment[nl]=Python-plug-ins voor Kate
Comment[pt]='Plugins' de Python para o Kate
Comment[pt_BR]=Plugins do Python para o Kate
Comment[sv]=Python-insticksprogram för Kate
Comment[uk]=Додатки Python для Kate
Comment[x-test]=xxPython plugins for Katexx
X-KDE-PluginInfo-Author=Paul Athanasios Giannaros
X-KDE-PluginInfo-Email=paul@giannaros.org
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-License=GPL
