<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="keyboardmacrosplugin" library="libkeyboardmacrosplugin" version="1" translationDomain="katekeyboardmacros">
  <MenuBar>
    <Menu name="tools">
      <text>&amp;Tools</text>
      <Separator/>
      <Menu name="keyboardmacros" noMerge="1">
        <text>&amp;Keyboard Macros</text>
        <Action name="keyboardmacros_record"/>
        <Action name="keyboardmacros_cancel"/>
        <Action name="keyboardmacros_play"/>
        <Action name="keyboardmacros_save"/>
        <Separator/>
        <Action name="keyboardmacros_named_load"/>
        <Action name="keyboardmacros_named_play"/>
        <Action name="keyboardmacros_named_delete"/>
      </Menu>
    </Menu>
  </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
