<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="keyboardmacrosplugin" library="libkeyboardmacrosplugin" version="5" translationDomain="katekeyboardmacros">
  <MenuBar>
    <Menu name="tools">
      <text>&amp;Tools</text>
      <Action name="record_macro" group="tools_snippets"/>
      <Action name="run_macro" group="tools_snippets"/>
    </Menu>
  </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
