[Desktop Entry]
Type=Service
ServiceTypes=Kate/PythonPlugin
X-KDE-Library=python_console_ipython
Name=IPython Console
Comment=Interactive console for hacking kate and doing science
X-Python-2-Compatible=true
X-Python-Dependencies=IPython(>=0.13.1)
