[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=kateprojectplugin
Name=Project Plugin
Name[ar]=ملحقة المشاريع
Name[ast]=Complementu de proyeutos
Name[bg]=Приставка за проекти
Name[bs]=Priključak projekta
Name[ca]=Connector de projecte
Name[ca@valencia]=Connector de projecte
Name[cs]=Modul projektu
Name[da]=Projekt-plugin
Name[de]=Projektmodul
Name[el]=Project πρόσθετο
Name[en_GB]=Project Plugin
Name[es]=Complemento de proyecto
Name[et]=Projektiplugin
Name[eu]=Proiektu plugina
Name[fi]=Projektiliitännäinen
Name[fr]=Module externe de projet
Name[ga]=Breiseán Tionscadail
Name[gl]=Complemento de proxecto
Name[he]=תוסף פרוייקט
Name[hu]=Projekt bővítmény
Name[ia]=Plug-in de Projecto
Name[id]=Plugin Proyek
Name[is]=Verkefnaviðbót
Name[it]=Estensione di progetto
Name[kk]=Жоба плагині
Name[km]=កម្មវិធី​ជំនួយ​គម្រោង
Name[ko]=프로젝트 플러그인
Name[lt]=Projekto papildiniai
Name[mr]=परियोजना प्लगइन
Name[nb]=Tillegg for prosjekt
Name[nds]=Projektmoduul
Name[nl]=Projectplug-in
Name[nn]=Prosjekt-tillegg
Name[pa]=ਪਰੋਜੈਕਟ ਪਲੱਗਇਨ
Name[pl]=Wtyczka projektu
Name[pt]='Plugin' de Projecto
Name[pt_BR]=Plugin de projeto
Name[ro]=Modul de proiecte
Name[ru]=Модуль проектов
Name[sk]=Modul projektu
Name[sl]=Projektni vstavek
Name[sr]=Пројектни прикључак
Name[sr@ijekavian]=Пројектни прикључак
Name[sr@ijekavianlatin]=Projektni priključak
Name[sr@latin]=Projektni priključak
Name[sv]=Projektinsticksprogram
Name[tg]=Плагини лоиҳа
Name[tr]=Proje Eklentisi
Name[uk]=Додаток проектів
Name[x-test]=xxProject Pluginxx
Name[zh_CN]=工程插件
Name[zh_TW]=專案外掛程式
Comment=Project plugin for Kate
Comment[ar]=ملحقة مشاريع ل‍«كيت»
Comment[ast]=Complementu de proyeutos pa Kate
Comment[bg]=Приставка за проекти в Kate
Comment[bs]=Priključak projekta za Kate
Comment[ca]=Connector de projecte pel Kate
Comment[ca@valencia]=Connector de projecte pel Kate
Comment[cs]=Modul projektů pro Kate
Comment[da]=Projekt-plugin til Kate
Comment[de]=Projektmodul für Kate
Comment[el]=Project πρόσθετο για το Kate
Comment[en_GB]=Project plugin for Kate
Comment[es]=Complemento de proyectos para Kate
Comment[et]=Kate projektiplugin
Comment[eu]=Kate-rako proiektu plugina
Comment[fi]=Projektiliitännäinen Kateen
Comment[fr]=Module externe de projet pour Kate
Comment[ga]=Breiseán tionscadail le haghaidh Kate
Comment[gl]=Complemento de proxecto para Kate
Comment[he]=תוסף פורייקט עבור Kate
Comment[hu]=Projekt bővítmény a Kate-hez
Comment[ia]=Plugin de projecto pro Kate
Comment[id]=Plugin proyek untuk Kate
Comment[it]=Estensione di progetto per Kate
Comment[kk]=Kate жоба плагині
Comment[km]=កម្មវិធី​ជំនួយ​គម្រោង​សម្រាប់​ Kate
Comment[ko]=Kate 프로젝트 플러그인
Comment[lt]=Kate Projekto papildinys
Comment[mr]=केट करिता परियोजना प्लगइन
Comment[nb]=Prosjekt-programtillegg for Kate
Comment[nds]=Projektmoduul för Kate
Comment[nl]=Projectplug-in voor Kate
Comment[nn]=Prosjekt-tillegg for Kate
Comment[pa]=ਕੇਟ ਲਈ ਪਰੋਜੈਕਟ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka projektu dla Kate
Comment[pt]='Plugin' de projectos para o Kate
Comment[pt_BR]=Plugin de projeto para o Kate
Comment[ro]=Modul de proiecte pentru Kate
Comment[ru]=Модуль проектов для Kate
Comment[sk]=Projektový plugin pre Kate
Comment[sl]=Projektni vstavek za Kate
Comment[sr]=Пројектни прикључак за Кејт
Comment[sr@ijekavian]=Пројектни прикључак за Кејт
Comment[sr@ijekavianlatin]=Projektni priključak za Kate
Comment[sr@latin]=Projektni priključak za Kate
Comment[sv]=Projektinsticksprogram för Kate
Comment[tg]=Плагини лоиҳа барои Kate
Comment[tr]=Kate için proje eklentisi
Comment[uk]=Додаток проектів до Kate
Comment[x-test]=xxProject plugin for Katexx
Comment[zh_CN]=Kate 工程插件
Comment[zh_TW]=Kate 的專案外掛程式
