[Desktop Entry]
Encoding=UTF-8
Name=Embedded Advanced Text Editor
Name[af]=Ingebedde Gevorderde Teks Redigeerder
Name[ar]=محرر نص كيدي متقدم و مدمج
Name[az]=Daxili Mütəxəssis Mətn Editoru
Name[bg]=Разширен текстов редактор
Name[bn]=অভ্যন্তরীন উন্নত টেক্সট সম্পাদক
Name[br]=Aozer skrid barek enframmet
Name[bs]=Umetnuti napredni tekst editor
Name[ca]=Editor avançat de text, encastable
Name[cs]=Zabudovaný rozšířený editor
Name[cy]=Golygydd Testun Uwch Mewnol
Name[da]=Indlejret avanceret teksteditor
Name[de]=Erweiterte Editorkomponente
Name[el]=Ενσωματωμένος προχωρημένος επεξεργαστής κειμένου
Name[eo]=Interna tekstredaktilo
Name[es]=Editor de texto avanzado empotrable
Name[et]=Põimitud võimas tekstiredaktor
Name[eu]=Testu editore txertagarri aurreratua
Name[fa]=ویرایشگر متن پیشرفته‌ی نهفته
Name[fi]=Upotettava kehittynyt tekstieditori
Name[fr]=Éditeur de texte avancé intégré
Name[fy]=Ynsletten avensearre tekstbewurker
Name[ga]=Ard-eagarthóir téacs leabaithe
Name[gl]=Editor de Textos Avanzado Incrustado
Name[he]=עורך הטקסט המתקדם המוטבע
Name[hi]= अंतर्निहित विकसित पाठ संपादक
Name[hr]=Umetljiva komponenta za naprednu obradu teksta
Name[hsb]=Integrowany lěpši wobdźěłar teksta
Name[hu]=Beágyazott Kate szövegszerkesztő
Name[id]=Komponen Editor Teks Embedded
Name[is]=Ívefjanlegur þróaður textaritill
Name[it]=Editor di testi avanzato integrato
Name[ja]=埋め込み高機能テキストエディタ
Name[ko]=끼워넣은 고급 글월 편집기
Name[lt]=Įdėtas sudėtingesnis tekstų redaktorius
Name[lv]=Iegultais paplašinātais tekstu redaktors
Name[mk]=Вгнезден напреден текст уредувач
Name[mn]=Kate-хэрэгсэл
Name[ms]=Penyunting Teks Termaju Terimplan
Name[mt]=Editur ta' test integrat avvanzat
Name[nb]=Innebyggbart, avansert tekstredigerings-program
Name[nds]=Inbett verwiedert Texteditor
Name[nl]=Ingebed tekstinvoercomponent
Name[nn]=Inkluderbart avansert skriveprogram
Name[nso]=Mofetosi yo a Robaditswego wa Sengwalwana seo se Beetswegopele
Name[pa]=ਸ਼ਾਮਿਲ ਤਕਨੀਕੀ ਪਾਠ ਸੰਪਾਦਕ
Name[pl]=Osadzony zaawansowany edytor tekstu
Name[pt]=Editor de Texto Avançado Embebido
Name[pt_BR]=Componente integrado ao Editor de textos
Name[ro]=Editor de text avansat înglobat
Name[ru]=Встроенный текстовый редактор
Name[rw]=Muhinduzi y'Umwandiko Ihanitse Ishyizwemo 
Name[se]=Nana buorre vuojuhanláhkái čállinprográmma
Name[sk]=Vložiteľný komponent pokročilého textového editora
Name[sl]=Vgrajeni napredni urejevalnik besedil
Name[sq]=Tekst Editori i avancuar i ngulur
Name[sr]=Уграђени напредни уређивач текста
Name[sr@Latn]=Ugrađeni napredni uređivač teksta
Name[sv]=Inbäddningsbar avancerad texteditor
Name[ta]=உட்பொதிந்த மேம்பட்ட உரை தொகுப்பாளர்
Name[tg]=Муҳаррири матнии эҷодшуда
Name[th]=เครื่องมิอแก้ไขข้อความขั้นก้าวหน้าที่ฝังได้
Name[tr]=Gelişmiş Metin Düzenleyici
Name[uk]=Вмонтований потужний текстовий редактор
Name[uz]=Кенгайтирилган ички матн таҳрирчи
Name[ven]=Musengulusi wa manwalwa a nthesa o dzheniswaho
Name[wa]=Ravalé aspougneu di tecse avancî
Name[xh]=Umhleli Wombhalo Obhekisa phambili Olungiselweyo
Name[xx]=xxEmbedded Advanced Text Editorxx
Name[zh_CN]=嵌入式 KDE 高级文本编辑器
Name[zh_TW]=嵌入式進階文字編輯器
Name[zu]=Umlungisi Wezinga Eliphezulu Oshuthekiwe
X-KDE-Library=katepart
Icon=kate
ServiceTypes=KParts/ReadOnlyPart,Browser/View,KParts/ReadWritePart,KTextEditor/Document
Type=Service
InitialPreference=8
MimeType=text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-diff;text/x-adasrc;text/x-chdr;text/x-csrc;text/css;application/x-desktop;text/x-diff;text/x-fortran;text/html;text/x-java;text/x-tex;text/x-makefile;text/x-objcsrc;text/x-pascal;application/x-perl;application/x-perl-module;application/x-php;text/vnd.wap.wml;application/x-python;application/x-ruby;text/sgml;text/xml;model/vrml
