[Desktop Entry]
Name=Embedded KDE Advanced Text Editor Component
Name[af]=ingebedde kde gevorderde teks redigeerder komponent
Name[ara]=مكون محرر نص KDE المتقدم و المدمج
Name[az]=Daxili Ətraflı Mətn Editor Komponenti
Name[cs]=Zabudovaná komponenta rozšířeného editoru
Name[da]=Indlejret KDE avanceret tekstredigerings komponent
Name[de]=Einbettungsfähige Editorkomponente
Name[el]=Ενσωματώσιμο Άρθρωμα Προχωρημένου Διορθωτή Κειμένου KDE
Name[eo]=Implantebla redaktokomponento
Name[es]=Componente incrustado Editor de textos avanzado de KDE
Name[et]=Põimitud KDE võimsa tekstiredaktori komponent
Name[fi]=Upotettava Katen komponentti
Name[fr]=Composant incorporé d'édition de texte avancée
Name[he]=רכיב מוטבע של עורך הטקסט המתקדם של KDE
Name[hu]=Beágyazható szövegszerkesztő-komponens
Name[is]=Ásetjanlegur KDE textaritill
Name[it]=Componente Editor di testi avanzato di KDE (Kate)
Name[ko]=다른 곳에 끼워져서 글월을 고칠 수 있게하는 콤포넌트
Name[lt]=Įdedamas Kate tekstų redaktoriaus komponentas
Name[lv]=Iegultā KDE Advancētā Tekstu Redaktora Komponente
Name[mt]=Editur integrat KDE avvanzat
Name[nl]=Inbedbare KDE geadvanceerde tekstverwerkercomponent
Name[no_NY]=Inkluderbart komponent for avansert tekstredigering
Name[pl]=Osadzony składnik edytora tekstu
Name[pt]=Componente embebível do editor avançado do KDE
Name[pt_BR]=Componente embebível do editor avançado do KDE
Name[ro]=Componentă de editare avansată de text înglobată
Name[ru]=Элемент редактора текста
Name[sk]=Vložiteľný komponent KDE pokročilého textového editora
Name[sl]=Vgradna komponenta urejevalnika besedil
Name[sv]=Inbäddningsbar avancerad KDE-texteditor komponent
Name[ta]=¯ð¦À¡¾¢ó¾ §ÁõÀð¼ ¯¨Ã ¦¾¡ÌôÒì ÜÚ
Name[tr]=Gömülü Geliştirilmiş KDE Metin Düzenleyici Bileşeni
Name[xxx]=xx
Name[zh_CN.GB2312]=嵌入的 KDE 高级文本编辑器部件
X-KDE-Library=libkatepart
Icon=kate
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-diff;
ServiceTypes=KParts/ReadWritePart,Browser/View,KTextEditor/Document
Type=Service
